$class div.page_navi
{
	text-align:center;
	background-color:white;
	border-bottom:  1px solid #6699FF;
	border-top:     1px solid #6699FF;
	margin-bottom:  5px;
	margin-top:     5px;
}

$class div.filelist_page {
	border-top:1px solid maroon;
	border-bottom:1px dotted;
	padding: 5px;
	text-align: left;
	font-weight: bold;
	background-color: white;
}

$class div.attach_list table {
	table-layout: fixed;
	width: 100%;
}

$class div.attach_list td {
	vertical-align: middle;
	word-wrap: break-word;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
}

$class div.attach_list img {
	margin: 0;
	max-width: 100%;
	height: auto;
}

$class div.attach_list .readable {
	padding-left: 18px;
}

$class div.attach_list .attachable {
	padding-left: 18px;
	background: #ddffdd url("loader.php?src=upload_16.png") no-repeat;
}

/* fileuploader */
.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 12em; padding: 7px 0; text-align:center;
    background:#880000; border-bottom:1px solid #ddd;color:#fff;
}
.qq-upload-button-hover {background:#cc0000;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:fixed; top:0; left:0; width:100%; height:auto; z-index:2;
    background:#ffdddd; text-align:center;
    padding-top: 30px !important; padding-bottom: 30px !important;
	-moz-opacity: 0.8;
	opacity: 0.8;
}
.qq-upload-drop-area span {
    display:block; font-size:16px;
}
.qq-upload-drop-area-active {background:#ddffdd;}

.qq-upload-list {
	margin:15px 10px 15px 35px; padding:20px; list-style:disc;
	position:fixed; top:-10px; left:0; height:auto; z-index:2;
	border: 1px solid gray;
	background-color: #fff;
	-moz-opacity: 0.9;
	opacity: 0.9;
	visibility: hidden;
}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loader.php?src=loading_15.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}