#xpwiki_loading {
	background-color: yellow;
	position: absolute;
	text-align: center;
	z-index: 200;
	filter:alpha(opacity=20);
	-moz-opacity: 0.2;
	opacity: 0.2;
	cursor: wait;
}

#xpwiki_loading_text {
	color: #000;
	font-size: 40px;
	font-weight: bold;
	position: relative;
	text-align: center;
	top: 20%;
}

#XpWikiPopup {
	border-left: solid gray 1px;
	background-color: white;
}

#XpWikiPopupHeader {
	background-color: #9C9C9C;
	color: white;
	font-weight:bold;
}

#XpWikiPopupBody {
	background-color: white;
}

body.popup_body_default {
	font-size:75%;
}

div.resizableResizeX {
	position: absolute;
	right: -5px;
	width: 4px;
	top: 0px;
	height:100%;
	border: none;
	padding: 0px;
	margin: 0px;
	background-color: #b0c4de;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

div.resizableResizeY {
	position: absolute;
	bottom: -5px;
	height: 4px;
	left: 0px;
	width:100%;
	border: none;
	padding: 0px;
	margin: 0px;
	background-color: #b0c4de;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	overflow: hidden;	/* for IE6 */
}

div.resizableResizeXY {
	position: absolute;
	bottom: -5px;
	height: 6px;
	right: -5px;
	width: 6px;
	border: none;
	padding: 0px;
	margin: 0px;
	background-color: #b0c4de;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	overflow: hidden;	/* for IE6 */
}

img.xpwikiFavicon {
	border: none;
	padding: 0px 1px 0px 0px;
	margin: 0px;
}

div.xpwikiWrapBtn {
	float: right;
	width: auto;
	font-size: 11px;
	margin-top: 2px;
	margin-right: 1px;
	padding: 1px 5px;
	border: 1px solid gray;
	cursor: pointer;
	background: #F5F5F5 url(./loader.php?src=buttonbg.gif) repeat-x scroll center bottom;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
div.xpwikiWrapBtn:hover {
	padding: 0px 4px;
	border: 2px solid orange;
	border-top-color: gold;
	border-left-color: gold;
}

div.xpwikiFckBtn {
	float: right;
	width: auto;
	font-size: 11px;
	margin-top: 2px;
	margin-right: 1px;
	padding: 1px 5px;
	border: 1px solid gray;
	cursor: pointer;
	background: #F5F5F5 url(./loader.php?src=buttonbg.gif) repeat-x scroll center bottom;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
div.xpwikiFckBtn:hover {
	padding: 0px 4px;
	border: 2px solid orange;
	border-top-color: gold;
	border-left-color: gold;
}

/* contents (Functionality) */
div.toc_pin {
	float: right;
	width: 16px;
	height: 16px;
	background-image : url(loader.php?src=pin.gif);
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	cursor: pointer;
}
span.toc_handle {
	margin-left: -1.3em;
	margin-right: 0.2em;
	cursor: pointer;
}
div.contentsFixed {
	float: none;
	border: none;
	margin: 0px;
	position: fixed;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
