/* CSS for the box starts here */  
$class .round_box {	 
	padding:0 12px 0 0;	 
	background:#fff url(loader.php?src=borders.gif) 100% 0 repeat-y;  
}
$class .round_content {	 
	margin:0; 
	background:#fff;
}	 
$class .round_bi {	
	padding:0 0 0 12px;	 
	background:#fff url(loader.php?src=borders.gif) 0 0 repeat-y;  
}  
$class .round_bt {	
	height:17px;  
	margin:0 -12px;	 
	background:url(loader.php?src=box.gif) 100% 0 no-repeat;  
}  
$class .round_bt div {	
	width:18px;	 
	height:17px;  
	background:url(loader.php?src=box.gif) 0 0 no-repeat;  
}  
$class .round_bb {	
	height:17px;  
	margin:0 -12px;	 
	background:url(loader.php?src=box.gif) 100% 100% no-repeat;	 
}  
$class .round_bb div {	
	width:18px;	 
	height:17px;  
	background:url(loader.php?src=box.gif) 0 100% no-repeat;  
}

$class div.wiki_body_block_tate
{
	width:600px;
	height:430px;
	/*background-color: #FAFAFA;*/
	border:1px solid silver;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	font-family:monospace;
	text-align:left;
	text-underline-position:below;
	line-height:2em;
	unicode-bidi:bidi-override;
	writing-mode:tb-rl;
	overflow: auto;
	overflow-x:auto;
	overflow-y:hidden;
	word-break: break-all;
	-moz-box-sizing:border-box;
}

$class div.block_round {
	padding: 10px;
	margin: 30px 40px 40px 30px;
	border: solid 1px #ccc;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius:10px;
	-moz-box-shadow: 5px 5px 10px #999;
	-webkit-box-shadow: 5px 5px 10px #999;
	-ms-box-shadow: 5px 5px 10px #999;
	box-shadow: 5px 5px 10px #999;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

$class div.block_info {
	background:url(loader.php?src=info_32.png) 10px 10px no-repeat;
	padding: 10px 10px 10px 40px;
}
$class_mobile div.block_info {
	min-width: 90%;
}

$class div.block_caution {
	background:url(loader.php?src=caution_32.png) 10px 10px no-repeat;
	padding: 10px 10px 10px 40px;
}
$class_mobile div.block_caution {
	min-width: 90%;
}

$class div.block_ban {
	background:url(loader.php?src=ban_32.png) 10px 10px no-repeat;
	padding: 10px 10px 10px 40px;
}
$class_mobile div.block_ban {
	min-width: 90%;
}

