@charset "UTF-8"; 
/**
 * PukiWiki Plugin Code highlight
 *
 */

/* オペレータ */
$class span.code_operator {color: blue;}
/* 識別子 */
$class span.code_identifier {color: darkblue;}

/* 制御構文 */
$class span.code_control  {color: navy;}
/* 標準関数 */
$class span.code_function {color: blue;}
/* 定数 */
$class span.code_constant {color: teal;}

/* module, import, 将来対応する pragma */
$class span.code_pragma {color: #008080;}
/* __stdcall などの処理系専用の奴とか */
$class span.code_system {color: #5f0000;}
/* 環境変数  */
$class span.code_environment {color: #777777;}
/* 文字列 */
$class span.code_string {color: green;}
/* コメント */
$class span.code_comment {color: darkorange;}

/* 個々のハイライト専用 */
/* for TeX */
$class span.code_formula {color: teal;}
/* for diff*/
$class span.code_changed {color: green;}
$class span.code_added   {color: blue;}
$class span.code_removed {color: red;}
/* for make*/
$class span.code_execute {color: teal;}
$class span.code_target  {color: darkblue;}
$class span.code_src     {color: darkgreen;}
/* for PukiWiki */
$class span.code_header{color: blue;}
$class span.code_table {color: darkgreen;}
$class span.code_list  {color: navy;}
$class span.code_pre   {color: teal;}
$class span.code_quote {color: #777700;}

/* ソースコード表示部分の設定 */
/* 段組をしない場合の設定 */
$class pre.code {
    background: #EEFFFF;
    margin: 1em 2em 0.5em 1em;
    padding: 0.5em;
    border-top:    #DDDDEE 1px solid;
    border-right:  #888899 1px solid;
    border-bottom: #888899 1px solid;
    border-left:   #DDDDEE 1px solid;
	white-space: pre;
	word-wrap: normal;
	overflow: visible;
    line-height: 120%;
}
/* 段組をした場合の設定 */
$class table.code_table pre.code,
$class div.code_table pre.code,
$class table.code_table pre.pre_body,
$class div.code_src pre.pre_body
{
    background-color: transparent;
    margin: 0;
    padding: 0;
    margin-left: 0.5em;
    border: none;
    line-height: 120%;
    width: 100%;
}

/* 行番号表示 */
$class table.code_table pre.code_number,
$class table.code_table pre.pre_number
{
    background: #F0F8FF;
    margin: 0;
    padding: 0;
    padding-right: 0.5ex;
    border: none;
    /*border-right: 1px solid #CCDDDD;*/
    line-height: 120%;
    /*min-width: 3.5ex;*/
}

/* アウトライン表示 */
$class table.code_table pre.code_outline {
    margin:  0;
    padding: 0;
    border: none;
    /*border-right: 1px solid #F5FFFF;*/
    width: 10px;
    text-align: center;
    background: #E0F5F5;
    line-height: 120%;
}

/* 枠組 */
$class div.code_table,
$class div.pre_table
{
    color: black;
    background-color: #F8F8FF;
    border-top:    #DDDDEE 1px solid;
    border-right:  #888899 1px solid;
    border-bottom: #888899 1px solid;
    border-left:   #DDDDEE 1px solid;
    margin: 0px;
    white-space: pre;
    word-wrap: normal;
    width: auto;
}
$class table.code_table,
$class table.code_table td {
    background-color: #F8F8F8;

}

/* 段組要素の設定無効化 */
$class table.code_table,
$class table.code_table td,
$class div.code_number pre,
$class div.code_outline pre,
$class div.code_src pre,
$class div.pre_number pre,
$class div.pre_body pre
{
    margin:  0;
    padding: 0;
    border: none;
}

/* tableによる段組 */
td.code_src,
td.pre_body 
{width:100%;}

/* divによる分割の定義  */
$class div.code_number,
$class div.code_outline,
$class div.code_src,
$class div.pre_number,
$class div.pre_body
{
    position: relative;
    margin: 0;
    padding: 0;
    left: 0;
    float: left;
}

/**
 * アウトライン・メニューの設定
 */

/* icon */ 
$class div.code_menu {
    background-color: #d4d0c8;
}

/* アウトラインが閉じた時のイメージ */
img.code_dotimage {width:20px;height:8px;margin:0;padding:0;}

/* アウトラインの設定 */
$class a.code_outline{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #888888;
    text-decoration: none;
}
$class a.code_outline:link
{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #888888;
    text-decoration: none;
}
$class a.code_outline:visited
{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #888888;
    text-decoration: none;
}
$class a.code_outline:hover
{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #888888;
    text-decoration: none;
}
$class a.code_outline:active
{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #888888;
    text-decoration: none;
}

/* mobile profile */
$class_mobile table.code_table pre.code_number,
$class_mobile table.code_table pre.pre_number,
$class_mobile table.code_table pre.code_outline {
	display: none !important;
}
$class_mobile div.pre,
$class_mobile div.code_table,
$class_mobile div.pre_table,
$class_mobile pre,
$class_mobile code {
	/*font-size: 10pt !important;*/
	height: auto !important;
	max-height: none !important;
	width: auto !important;
	max-width: none !important;
	padding 0 !important;
	margin 0 !important;
    white-space: pre-wrap !important;
    white-space: -moz-pre-wrap !important;
    white-space: -o-pre-wrap !important;
    white-space: -pre-wrap !important;
    word-wrap: break-word !important;
    overflow: visible !important;
    /*overflow-x: hidden !important;*/
    letter-spacing: 0px !important;
    /*page-break-before: avoid !important;*/
}