@charset "$charset";

$class {
	background-color:inherit;
	width:100%;
}

$class h1,
$class h2,
$class h3,
$class h4,
$class h5,
$class h6,
$class pre,
$class dl,
$class p,
$class div,
$class blockquote { line-height:150%; }

$class div,
$class p {
	font-size: 100%;
	border: medium none;
	margin: 0;
	padding: 0;
}

$class p {
	margin-top: 1em;
	margin-bottom: 1em;
}

$class > p,
$class div > p {
	margin-left: 1em;
}


$class blockquote {
	border: 1px dotted gray;
	margin-left: 32px;
}

$class .maxwidth_none img {
	max-width: none;
}

/* for render mode on XOOPS */
$class div.xoopsQuote blockquote {
	border: none;
	margin: 0;
	padding-left: 1em;
}

$class div.xoopsQuote p {
	margin-left: 0;
	margin-bottom: 0;
}

$class blockquote > p:first-child {
	margin-top: 0;
}

$class div.paragraph {
	margin: 1em;
}

$class table { width: auto; }

$class,
$class td {
	color:black;
	/*background-color:white;*/
	font-size:100%;
	font-family:verdana, arial, helvetica, Sans-Serif;
}

$class a:link {
	color:#215dc6;
	background-color:inherit;
	text-decoration:none;
	font-weight: inherit;
}

$class a:active {
	color:#215dc6;
	background-color:#CCDDEE;
	text-decoration:none;
	font-weight: inherit;
}

$class a:visited {
	color:#a63d21;
	background-color:inherit;
	text-decoration:none;
	font-weight: inherit;
}

$class a:hover {
	color:#215dc6;
	background-color:#CCDDEE;
	text-decoration:underline;
	font-weight: inherit;
}

$class a.ext {
	border-bottom: 1px blue dotted;
	background-image: url(./loader.php?src=ext.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 12px;
}

$class a.extWithFavicon {
	border-bottom: 1px blue dotted;
}

$class a.pagelink {
	/*border-bottom: 1px silver dotted;*/
}
$class a.pagelink_popup {
	/*border-bottom: 1px silver dotted;*/
	cursor: help;
}
$class a.autolink {
	/*border-bottom: 1px silver dotted;*/
}
$class a.autolink_popup {
	/*border-bottom: 1px silver dotted;*/
	cursor: help;
}

$class a.ext_autolink {
	border-bottom: 1px silver dotted;
	color: inherit;
	font-weight: inherit;
}

$class .nowrap {
	white-space: nowrap;
}

$class div.level1 {}
$class div.level2 {}
$class div.level3 {
	margin-left: 1em;
}
$class div.level4 {
	margin-left: 2em;
}
$class div.level3 div.level4 {
	margin-left: 1em;
}
$class div.level5 {
	margin-left: 3em;
}
$class div.level3 div.level5 {
	margin-left: 2em;
}
$class div.level4 div.level5 {
	margin-left: 1em;
}
$class div.level6 {
	margin-left: 4em;
}
$class div.level3 div.level6 {
	margin-left: 3em;
}
$class div.level4 div.level6 {
	margin-left: 2em;
}
$class div.level5 div.level6 {
	margin-left: 1em;
}

$class_mobile div.level1 {}
$class_mobile div.level2 {}
$class_mobile div.level3 {
	margin-left: 0em;
}
$class_mobile div.level4 {
	margin-left: .2em;
}
$class_mobile div.level3 div.level4 {
	margin-left: 0em;
}
$class_mobile div.level5 {
	margin-left: .4em;
}
$class_mobile div.level3 div.level5 {
	margin-left: .2em;
}
$class_mobile div.level4 div.level5 {
	margin-left: 0em;
}
$class_mobile div.level6 {
	margin-left: .6em;
}
$class_mobile div.level3 div.level6 {
	margin-left: .4em;
}
$class_mobile div.level4 div.level6 {
	margin-left: 0em;
}
$class_mobile div.level5 div.level6 {
	margin-left: 0em;
}

$class .highlight {
	background-color: #ffe4e1;
}

$class h1,
$class h2 {
	font-family:verdana, arial, helvetica, Sans-Serif;
	color:inherit;
	/*background-color:lightgrey;*/
	background: #F5F5F5 url(./loader.php?src=shadow.png) repeat-x scroll center bottom;
	border-top:     none;
	border-bottom:  none;
	border-left:   20px solid lightgrey;
	border-right: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: .3em .3em .5em .5em;
	margin:1em 0px 1.5em 0px;
	text-align: left;
	clear:none !important;
}
* html $class h1,
* html $class h2 {
	/* for < IE6 */
	background-image: url(./loader.php?src=shadow.gif);
}

$class h3 {
	font-family:verdana, arial, helvetica, Sans-Serif;
	border-top:     none;
	border-bottom:  2px dotted lightgrey;
	border-left:   15px solid lightgrey;
	border-right: none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color:inherit;
	/*background-color:#FFFFFF;*/
	padding: .3em .3em .1em .5em;
	margin:1em 0px 1em 0px;
	text-align: left;
}
$class h4 {
	font-family:verdana, arial, helvetica, Sans-Serif;
	border-top:     none;
	border-bottom:  1px dotted lightgrey;
	border-left:   10px solid lightgrey;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color:inherit;
	background-color:#FFFFFF;
	padding: .3em .3em .1em .5em;
	margin:1em 0px 1em 0px;
	text-align: left;
}
$class h5,
$class h6 {
	font-size: 100%;
	font-family:verdana, arial, helvetica, Sans-Serif;
	color:inherit;
	/*background-color:#DDEEFF;*/
 	padding: .3em .3em .1em .5em;
	border-top:     none;
	border-bottom:  1px dotted lightgrey;
	border-left:   5px solid lightgrey;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
 	margin:.5em 0px .5em 0px;
	text-align: left;
}

$class h1.title {
	font-size: 30px;
	font-weight:bold;
	background-color:transparent;
	background-image: none;
	padding: 0px 0px 0px 0px;
	border: none;
	margin: 0px 0px 15px 0px;
}

$class h1.none,
$class h2.none,
$class h3.none,
$class h4.none,
$class h5.none,
$class h6.none {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

$class dl {
	margin-left:1em;
}

$class dt {
	font-weight:bold;
	margin-top:1em;
}

$class dd {
	margin-left:1em;
}

$class sub {
	vertical-align: text-bottom;
	font-size: 70%;
	line-height: 100%;
}

$class sup {
	vertical-align: text-top;
	font-size: 70%;
	line-height: 100%;
}

/* contents */
$class div.contents {
	float: right;
	width: 30%;
	font-size: 80%;
	border: none;
	margin: 0px 0px 5px 20px;
	padding: 5px;
}
$class_mobile div.contents {
	float: none;
	width: auto;
}
$class div.contents span.toc_open,
$class div.contents span.toc_close {
	border: 0.4em solid #F5F5F5;
	display: block;
	float: right;
	margin: 0.4em 3px 0 0;
}
$class div.contents span.toc_open {
	border-top: 0.4em solid #0000CD;
	margin-top: 0.4em;
}
$class div.contents span.toc_close {
	border-bottom: 0.4em solid #0000CD;
	margin-top: 0px;
}
$class div.contents span.toc_open span,
$class div.contents span.toc_close span {
	display: none;
}
$class div.toc_header {
	font-size: 120%;
	font-weight: bold;
	background-color: #F5F5F5;
	border: gray 1px solid;
	padding: 2px 2px 2px 5px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
$class div.toc_body {
	font-weight: normal;
	background-color: #FDFDFF;
	border: gray 1px solid;
	border-top: none;
	padding: 0.4em 0.2em 0 0.4em;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
$class div.contents ul,
$class div.contents ol {
	margin-left: 0.5em;
	padding-left: 0.5em;
}

$class div.contents ul.list1,
$class div.contents ol.list1 {
	margin-top: 0;
	margin-bottom: 0;
}

body.popup_body_default $class div.contents {
	min-width: 30%;
	width: auto;
}

/* Pre base */
$class div.pre {
	width: $pre_width;
	overflow: auto;
	margin: 10px;
}

$class pre {
	border-top:#DDDDEE 1px solid;
	border-bottom:#888899 1px solid;
	border-left:#DDDDEE 1px solid;
	border-right:#888899 1px solid;
	padding:.5em;
	margin-left:1em;
	margin-right:2em;
	color:black;
	background-color:#F0F8FF;
	width: auto;

	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3 */
	word-wrap: break-word;      /* IE 5.5+ */
}

/* For renderer on XOOPS */
$class div.xoopsCode pre {
	border: none;
	padding: 0px;
	margin: 3px;
	color:black;
	background-color:transparent;

	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3 */
	word-wrap: break-word;      /* IE 5.5+ */
}

$class img {
	border:none;
	vertical-align:middle;
}

$class form {
	margin-top: 10px;
	margin-bottom: 10px;
}

$class form label {
	cursor: pointer;
}

$class em { font-style:italic; }

$class strong { font-weight:bold; }

$class thead td.style_td,
$class tfoot td.style_td {
	color:inherit;
	background-color:#D0D8E0;
}
$class thead th.style_th,
$class tfoot th.style_th {
	color:#000;
	background-color:#E0E8F0;
}
$class .style_table {
	padding:0px;
	border:0px;
	margin: 10px auto;
	text-align:left;
	color:inherit;
	background-color:#ccd5dd;
}
$class .style_th {
	padding:5px;
	margin:1px;
	text-align:center;
	color:inherit;
	background-color:#EEEEEE;
}
$class .style_td {
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#FDFDFF;
}

$class ul,
$class ol {
	margin-left: 1em;
	padding-left: 1em;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	line-height:150%;

	list-style-type:inherit;
	list-style-position:outside;
	list-style-image:none;
	marker-offset:auto;
	color: inherit;
}

$class ul.list1,
$class ol.list1 {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1.5em;
	padding-left: 1.5em;
}

$class li {
	list-style-type:inherit;
	list-style-position:outside;
	list-style-image:none;
	marker-offset:auto;
	color: inherit;
	margin: 0.3em 0;
}

$class li.list_none {
	list-style: none none inside !important;
	margin: 0px !important;
	padding: 0px !important;
	display: inline;
	/*height: 0px;
	width: 0px;*/
}

$class ul.list1 li { list-style-type:disc; }
$class ol.list1 li { list-style-type:decimal; }

$class ul.list2 li { list-style-type:circle; }
$class ol.list2 li { list-style-type:lower-roman; }

$class ul.list3 li { list-style-type:square; }
$class ol.list3 li { list-style-type:lower-alpha; }

$class ul.list4 li { list-style-type:disc; }
$class ol.list4 li { list-style-type:decimal; }

$class ul.list5 li { list-style-type:circle; }
$class ol.list5 li { list-style-type:lower-roman; }

$class ul.list6 li { list-style-type:square; }
$class ol.list6 li { list-style-type:lower-alpha; }

$class ul.list7 li { list-style-type:disc; }
$class ol.list7 li { list-style-type:decimal; }

$class ul.list8 li { list-style-type:circle; }
$class ol.list8 li { list-style-type:lower-roman; }

$class ul.list9 li { list-style-type:square; }
$class ol.list9 li { list-style-type:lower-alpha; }

$class li.pcmt {
	list-style-type: none !important;
}

$class div.ie5 { text-align:center; }

$class span.noexists {
	color:inherit;
	background-color:#FFFACC;
}

$class .small { font-size:80%; }

$class .modest {
	font-size: 7pt;
	color: gray;
}

$class .super_index {
	color:#DD3333;
	background-color:inherit;
	font-weight:bold;
	font-size:60%;
	vertical-align:super;
}

$class a.note_super {
	color:#DD3333;
	background-color:inherit;
	font-weight:bold;
	font-size:60%;
	vertical-align:super;
}

$class div.jumpmenu {
	font-size: 60%;
	float: right;
}

$class hr.full_hr {
	border-style:ridge;
	border-color:#333333;
	border-width:1px 0px;
}
$class hr.note_hr {
	/*width:90%;
	text-align:center;*/
	margin:1em auto 0em auto;
	border-width: 1px 0px 0px 0px;
	border-style: dotted;
	border-color: #333333;
	height: 1px;
}

$class span.size1 {
	font-size:xx-small;
	line-height:150%;
	text-indent:0px;
	display:inline;
}
$class span.size2 {
	font-size:x-small;
	line-height:150%;
	text-indent:0px;
	display:inline;
}
$class span.size3 {
	font-size:small;
	line-height:150%;
	text-indent:0px;
	display:inline;
}
$class span.size4 {
	font-size:medium;
	line-height:150%;
	text-indent:0px;
	display:inline;
}
$class span.size5 {
	font-size:large;
	line-height:150%;
	text-indent:0px;
	display:inline;
}
$class span.size6 {
	font-size:x-large;
	line-height:150%;
	text-indent:0px;
	display:inline;
}
$class span.size7 {
	font-size:xx-large;
	line-height:150%;
	text-indent:0px;
	display:inline;
}

$class div.commentbody {
	margin-left:30px;
	margin-right:10px;
}

$class div.commentbody h2 {
	font-size: 13pt;
	border-top:     0px solid lightgrey;
	border-bottom:  2px dotted lightgrey;
	border-left:   15px solid lightgrey;
	border-right: none;
	background-image: none;
	background-color: transparent;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: .3em .3em .1em .5em;
	margin:0px 0px .5em 0px;
}

$class div.commentbody textarea {
	height: 7em;
	line-height: 1.5;
}

$class div.system_notification {
	margin-left:30px;
	margin-right:10px;
}

$class div.system_notification h4 {
	/*
	background-color: transparent;
	border: none;
	*/
}

div.system_notification table {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

/* html.php/catbody() */
$class strong.word0 {
	background-color:#FFFFB3;
	color:black;
}
$class strong.word1 {
	background-color:#D1FFB3;
	color:black;
}
$class strong.word2 {
	background-color:#B3FFC2;
	color:black;
}
$class strong.word3 {
	background-color:#B3FFF0;
	color:black;
}
$class strong.word4 {
	background-color:#B3E1FF;
	color:black;
}
$class strong.word5 {
	background-color:#B3B3FF;
	color:black;
}
$class strong.word6 {
	background-color:#E1B3FF;
	color:black;
}
$class strong.word7 {
	background-color:#FFB3F0;
	color:black;
}
$class strong.word8 {
	background-color:#FFB3C2;
	color:black;
}
$class strong.word9 {
	background-color:#FFD1B3;
	color:black;
}
$class div.commentbody table {
	width: 100%;
}
$class div.context {
	background-color: #FFFFEE;
	border: 1px dotted blue;
	font-size: 90%;
	margin: 5px 5px 5px 25px;
	padding: 3px 10px;
	text-align: left;
}

/* html.php/edit_form() */
$class .edit_form {
	clear: both;
	/*overflow-y: auto;*/
}
$class .edit_form textarea {
	font-size: 100%;
	width: 98%;
	max-height: 350px;
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
}
$class .edit_form_ajax {
	border: 1px gray solid;
	padding: 5px;
	overflow-y: auto;
}
$class .edit_form_ajax textarea {
	font-size: 100%;
	width: 98%;
	max-height: 250px;
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
}
$class div.edit_form_cancel {
	float: left;
}
$class span.edit_form_title {
	font-weight: bold;
}
$class span.edit_form_note {
	font-weight: normal;
}
/* pukiwiki.skin.php */
$class div.header {
	font-weight: normal;
	padding:0px;
	margin:0px;
	background-color: transparent;
}
$class div.header a {
	font-weight: normal;
}

$class div.navigator {
	clear:both;
	padding:0px 0px 0px 0px;
	margin:0px;
	font-size:90%;
}

$class div.navigator_wiki {
	width: auto;
	float: right;
	/*padding-top: 15px;*/
	padding-left: 1em;
}

$class div.navigator_page {
	text-align: left;
	font-size: 12px;
	color: gray;
	background: #F5F5F5 url(./loader.php?src=shadow.png) repeat-x scroll center bottom;
	padding: 2px 10px;
	margin: 0 0 8px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
* html $class div.navigator_page {
	/* for < IE6 */
	background-image: url(./loader.php?src=shadow.gif);
}

$class div.navigator_page a {
	background-color: transparent;
}

$class div.navigator_page span.noexists {
	background-color: transparent;
}

$class div.navigator_path {
	font-size: 85%;
}

$class div.navigator_info {
	float: right;
	text-align: right;
	margin-bottom: 10px;
}

$class div.navigator_hr {
	clear: both;
	margin: 0 0 2em 0;
	height: 15px;
	background: #FFF url(./loader.php?src=buttonbg.gif) repeat-x scroll center bottom;
	overflow: hidden;
}

$class div.navigator_hr hr {
	position: relative;
	top: 7px;
	border: none;
	height: 0;
	margin: 0;
	padding: 0;
	color: transparent;
}

$class span.button {
	color: black;
	font-size: 10pt;
	font-weight: normal;
	line-height: 2.0;
	margin-top: 2px;
	margin-right: 1px;
	padding: 1px 5px;
	border: 1px solid gray;
	cursor: pointer;
	white-space: nowrap;
	background: #F5F5F5 url(./loader.php?src=buttonbg.gif) repeat-x scroll center bottom;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
$class span.button:hover {
	padding: 0px 4px;
	border: 2px solid orange;
	border-top-color: gold;
	border-left-color: gold;
}
$class span.button a {
	color: black;
	font-weight: normal;
	background-color: transparent;
}
$class_mobile span.button {
	padding: 5px 10px;
}
$class_mobile span.button:hover {
	padding: 4px 9px;
}

$class td.menubar {
	width:10em;
	vertical-align:top;
}

$class div.menubar {
	/*width:9em;*/
	padding:0px;
	margin:4px;
	word-break:break-all;
	font-size:90%;
	overflow:hidden;
}

$class div.menubar ul {
	margin:0px 0px 0px .5em;
	padding:0px 0px 0px .5em;
}

$class div.menubar ul li { line-height:110%; }

$class div.menubar h4 { font-size:110%; }

$class div.body {
	padding:0px;
	margin:0px 0px 0px 0px;
}

$class div.footnotes {
	clear:both;
	padding:0px;
	margin:0px;
}

$class div.footnote_category {
	margin-top: 0.5em;
	margin-bottom: 0.3em;
	font-size: 85%;
}

$class div.footnote_category_nobr {
	display: inline;
	width: auto;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1em;
	margin-right: 0.5em;
}

$class div.attach {
	clear:both;
	padding:0px;
	margin:0px;
	font-size:90%;
}

$class div.toolbar {
	clear:both;
	padding:0px;
	margin:0px;
	text-align:right;
}

$class div.lastmodified {
	font-size:80%;
	padding:0px;
	margin:0px;
}

$class div.related {
	font-size:80%;
	padding:0px;
	margin:16px 0px 0px 0px;
}

$class div.footer {
	text-align: right;
	font-size: x-small;
	padding:0px;
	margin:10px 10px 0px 0px;
	clear: both;
}

$class table.footer_pginfo {
	border: 1px solid gray;
	width: auto;
	max-width: 50%;
	margin: 1em 0.5em 1em 1em;
	float: right;
}

$class table.footer_pginfo th,
$class table.footer_pginfo td {
	font-size: x-small;
	padding: 0;
}

$class div.banner {
	float:right;
	margin-top:24px;
}

$class div.preview {
	color:inherit;
	background-color:#F5F8FF;
	overflow: auto;
	max-height: 300px;
}

$class div.ajax_preview {
	overflow: auto;
	max-height: 250px;
	border: 1px gray solid;
}

$class img.logo {
	float:left;
	margin-right:20px;
}

/* aname.inc.php */
$class .anchor {}
$class .anchor_super {
	font-size:xx-small;
	vertical-align:super;
}

/* backup.inc.php */
$class ul li.edit_summary {
	list-style-type: none;
	margin: 0;
	color: green;
}

/* br.inc.php */
$class br.spacer {}

/* calendar_viewer.inc.php */
$class div.calendar_viewer {
	color:inherit;
	background-color:inherit;
	margin-top:20px;
	margin-bottom:10px;
	padding-bottom:10px;
}
$class span.calendar_viewer_left {
	color:inherit;
	background-color:inherit;
	float:left;
}
$class span.calendar_viewer_right {
	color:inherit;
	background-color:inherit;
	float:right;
}

/* clear.inc.php */
$class .clear {
	margin:0px;
	clear:both;
}
$class .clear_left {
	margin:0px;
	clear:left;
}
$class .clear_right {
	margin:0px;
	clear:right;
}

/* counter.inc.php */
$class div.counter { font-size:70%; }

/* diff.inc.php */
$class span.diff_added {
	color:blue;
	background-color:inherit;
}

$class span.diff_removed {
	color:red;
	background-color:inherit;
}

/* hr.inc.php */
$class hr.short_line {
	text-align:center;
	width:80%;
	border-style:solid;
	border-color:#333333;
	border-width:1px 0px;
}

/* include.inc.php */
$class h5.side_label { text-align:center; }

/* navi.inc.php */
$class ul.navi {
	margin:0px;
	padding:0px;
	text-align:center;
}
$class li.navi_none {
	display:inline;
	float:none;
}
$class li.navi_left {
	display:inline;
	float:left;
	text-align:left;
}
$class li.navi_right {
	display:inline;
	float:right;
	text-align:right;
}

/* new.inc.php */
$class span.comment_date { font-size:x-small; }
$class span.new1 {
	color:red;
	background-color:transparent;
	font-size:x-small;
}
$class span.new5 {
	color:green;
	background-color:transparent;
	font-size:xx-small;
}

/* popular.inc.php */
$class span.counter { font-size:70%; }
$class ul.popular_list {
/*
	padding:0px;
	border:0px;
	margin:0px 0px 0px 1em;
	word-wrap:break-word;
	word-break:break-all;
*/
}

/* recent.inc.php,showrss.inc.php */
$class ul.recent_list {
/*
	padding:0px;
	border:0px;
	margin:0px 0px 0px 1em;
	word-wrap:break-word;
	word-break:break-all;
*/
}

/* ref.inc.php */
$class .img_margin {
	margin: 10px;
}

$class_mobile img.img_margin {
	height: auto;
}

$class div.ref_use_caption {
	margin-bottom: 0px;
}

$class div.ref_caption {
	text-align:center;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

$class span.ref_caption {
	text-align: center;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

$class span.ref_block {
	text-align: center;
	display: inline-block;
	width: auto;
	margin-bottom: 10px;
}

$class span.ref_use_caption {
	text-align: center;
	display: inline-block;
	width: auto;
	margin-bottom: 10px;
}


/* ruby.inc.php */
$class rt, $class rp {
	font-size: 65%;
	font-weight: normal;
}

/* vote.inc.php */
$class td.vote_label {
	color:inherit;
	background-color:#FFCCCC;
}
$class td.vote_td1 {
	color:inherit;
	background-color:#DDE5FF;
}
$class td.vote_td2 {
	color:inherit;
	background-color:#EEF5FF;
}
