<div class="ui-dev-mode"><{$smarty.template}></div>

<div id="xupdate">


    <{include file="admin_breadcrumbs.html"}>

    <{include file="admin_menunavi.html"}>

    <h2><{$smarty.const._AD_XUPDATE_LANG_THEME_FINDER}></h2>


    <{include file="admin_tips.html"}>

    <div class="ui-card-full">
    <div id="themeFinder">
        <form action="<{$themeFinderUrl}>" method="post" target="themeFinderIframe" id="themeFinderForm">
            <input type="hidden" name="api_version" value="<{$themeFinderApiVersion}>"/>
            <input type="hidden" name="callback_url" value="<{$addonManagerInstallUrl}>"/>
        </form>
        <iframe frameborder="0" name="themeFinderIframe" id="themeFinderIframe"
                style="border:0; width:100%; height: 800px; display:none;"></iframe>
    </div>
    <noscript>You must have JavaScript enabled to view this page as intended.</noscript>

</div><!-- ui-card-full -->
</div>


