<div class="ui-dev-mode"><{$smarty.template}></div>


<div class="adminnavi">
    <a href="./index.php?action=ModuleStore"><{$smarty.const._MI_XUPDATE_ADMENU_ADDONSTORE}></a>
    &raquo;&raquo; <span class="page-title"><a href="./index.php?action=ThemeFinder"><{$smarty.const._MI_XUPDATE_ADMENU_ADDONSTOREDEC}></a></span>
</div>

<div id="xupdate">
    <div id="contentBody">


        <{include file="admin_menunavi.html"}>

        <h2><{$smarty.const._AD_XUPDATE_LANG_THEMES}> <{$smarty.const._MI_XUPDATE_ADMENU_ADDONSTORE}></h2>


        <{include file="admin_tips.html"}>

        <div class="ui-card-full">
            <div class="confirm"><{$smarty.const._AD_XUPDATE_LANG_THEME_FINDER}><{$smarty.const._INSTALL}></div>
            <{if $actionForm->hasError() && $actionForm->getErrorMessages()}>
            <div class="error">
                <ul>
                    <{foreach item=message from=$actionForm->getErrorMessages()}>
                    <li><{$message|xoops_escape}></li>
                    <{/foreach}>
                </ul>
            </div>
            <{/if}>
            <form action="index.php?action=ThemeFinderInstall" method="post">
                <{xoops_token form=$actionForm}>
                <{xoops_input type=hidden name=confirm value=1}>

                <table class="outer">

                    <thead>
                    <tr>
                        <th>name</th>
                        <th>value</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td class="list_select"><{$smarty.const._MI_XUPDATE_FTP_ADDON_URL}></td>
                        <td class="list_select">
                            <{xoops_input type=hidden name=addon_url value=$addon_url }>
                            <{$addon_url|xoops_escape:show}>
                        </td>
                    </tr>
                    <tr>
                        <td class="list_select">target_key</td>
                        <td class="list_select">
                            <{xoops_input type=hidden name=target_key value=$target_key }>
                            <{$target_key|xoops_escape:show}>
                        </td>
                    </tr>
                    <tr>
                        <td class="list_select"><{$smarty.const._AD_XUPDATE_LANG_TYPE}></td>
                        <td class="list_select">
                            <{xoops_input type=hidden name=target_type value=$target_type }>
                            <{$target_type|xoops_escape:show}>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="foot">
                        <td colspan="2">
                            <input class="formButton" type="submit" value="<{$smarty.const._BACK}>" name="_form_control_cancel">
                            <input class="formButton" type="submit" value="<{$smarty.const._MI_XUPDATE_DEPLOY}>">
                        </td>
                    </tr>
                    </tfoot>

                </table>

            </form>

            <div id="xupdate_boxes">
                <!-- #customize your modal window here -->
                <div id="xupdate_dialog" class="window">
                    <{$smarty.const._MI_XUPDATE_PROG_PROCESSING}>
                    <div class="progress_bar"><img src="../images/progress-bar.gif" alt=""></div>
                </div>
                <!-- Do not remove div#mask, because you'll need it to fill the whole screen -->
                <div id="xupdate_mask"></div>
            </div>

        </div><!-- ui-card-full -->

    </div><!-- id="contentBody" -->
</div><!-- id="xupdate" -->

