<div class="ui-dev-mode"><{$smarty.template}></div>

<div id="xupdate">


    <{include file="admin_breadcrumbs.html"}>

    <{include file="admin_menunavi.html"}>

    <h2><{$smarty.const._AD_XUPDATE_LANG_PRELOADS}></h2>
    <{* <p>"Finish Download"|t}></p> *}>

    <{include file="admin_tips.html"}>

    <div class="ui-card-full">
        <div id="xupdate_content">
            <{$xupdate_content}>
        </div>

        <{if $xupdate_nextlink}>
        <div class="toptab">
            <{$xupdate_nextlink}>
        </div>

        <{/if}>

        <div id="xupdate_message">
            <{$xupdate_message}>
        </div>

    </div><!-- ui-card-full -->

</div>
