<div class="ui-dev-mode"><{$smarty.template}></div>

<div class="adminnavi">
    <a href="./index.php?action=ModuleStore"><{$smarty.const._MI_XUPDATE_ADMENU_ADDONSTORE}></a>
    &raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=ThemeFinder"><{$smarty.const._MI_XUPDATE_ADMENU_ADDONSTOREDEC}></a></span>
</div>


<div id="xupdate">
    <{* <p>"Finish Download"|t}></p> *}>

    <{include file="admin_menunavi.html"}>

    <h2 class="admintitle"><{$smarty.const._AD_XUPDATE_LANG_THEMES}> <{$smarty.const._MI_XUPDATE_ADMENU_ADDONSTORE}></h2>


    <{include file="admin_tips.html"}>

    <div class="ui-card-full">
        <div id="xupdate_content">
            <{$xupdate_content}>
        </div>

        <{if $xupdate_nextlink}>
        <div class="toptab">
            <div id="xupdate_addModule" class="button">
                <{$xupdate_nextlink}>
            </div>
        </div>
        <div style="clear:both;"></div>
        <{/if}>

        <div id="xupdate_message">
            <{$xupdate_message}>
        </div>

    </div><!-- ui-card-full -->

</div>
