<div id="xupdate">
	<{include file="admin_navi.html"}>
	
	<h3 class="admintitle"><{$smarty.const._AD_XUPDATE_LANG_MODULES}></h3>
	<{include file="admin_menunavi.html"}>
	<{include file="admin_tips.html"}>
	
	<{if $storeObject}>
	<h4><{$storeObject->getShow('name')}></h4>
	<{/if}>
	
	<ul class="toptab">
	  <li class="addModule"><a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=ThemeList"><{$smarty.const._AD_LEGACY_LANG_THEME}><{$smarty.const._MI_XUPDATE_MANAGE}></a></li>
	</ul>
	
	<{if $actionForm->hasError()}>
	<div class="error">
	  <ul>
	    <{foreach item=message from=$actionForm->getErrorMessages()}>
	      <li><{$message|xoops_escape}></li>
	    <{/foreach}>
	  </ul>
	</div>
	<{/if}>
	
	<div class="filtermenu">
	<ul class="submenunavi">
		<li><a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$sort_query}>"><{$smarty.const._MI_XUPDATE_ALL}></a></li>
		<li><a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$sort_query}>filter=installed"><{$smarty.const._MI_XUPDATE_INSTALLED}></a></li>
		<li><a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$sort_query}>filter=updated"><{$smarty.const._MI_XUPDATE_UPDATED}></a></li>
		<li><a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$sort_query}>filter=future"><{$smarty.const._MI_XUPDATE_FUTURE}></a></li>
	</ul>
	</div>
	
	<{if $pageNavi->getPerpage() < $pageNavi->getTotalItems() }>
	<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
	<{/if}>
	
	<form  action="index.php?action=ThemeStore" method="post" >
	    <{xoops_input type=hidden name=sid value=$sid}>
	
	    <table class="outer">
	  <tr>
	    <!--
	    <th>id
	      <a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=<{$smarty.const.MODULE_SORT_KEY_ID}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
	      <a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=-<{$smarty.const.MODULE_SORT_KEY_ID}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
	      </th>
	    -->
	    <{if !$sid}>
	    <th><{$smarty.const._MD_XUPDATE_LANG_SID}>
	      <a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=<{$smarty.const.MODULE_SORT_KEY_SID}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
	      <a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=-<{$smarty.const.MODULE_SORT_KEY_SID}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
	      </th>
	    <{/if}>
	    <th><div><{$smarty.const._AD_LEGACY_LANG_THEME}>
	        <a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=<{$smarty.const.MODULE_SORT_KEY_DIRNAME}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
	        <a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=-<{$smarty.const.MODULE_SORT_KEY_DIRNAME}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
	      </div>
	      <div><{$smarty.const._AD_LEGACY_LANG_VERSION}>
	        <a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=<{$smarty.const.MODULE_SORT_KEY_VERSION}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
	        <a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=-<{$smarty.const.MODULE_SORT_KEY_VERSION}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
	      </div>
	      <div><{$smarty.const._AD_XUPDATE_LANG_LICENSE}>
	        <a href="index.php?action=ModuleStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=<{$smarty.const.MODULE_SORT_KEY_LICENSE}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
	        <a href="index.php?action=ModuleStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=-<{$smarty.const.MODULE_SORT_KEY_LICENSE}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
	      </div>
	    </th>
	   <th><{$smarty.const._AD_LEGACY_LANG_LASTUPDATE}>
	      <a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=<{$smarty.const.MODULE_SORT_KEY_LASTUPDATE}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
	      <a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=-<{$smarty.const.MODULE_SORT_KEY_LASTUPDATE}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
	      </th>
	    <th><{$smarty.const._AD_LEGACY_LANG_PACKAGE}>
	      <a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=<{$smarty.const.MODULE_SORT_KEY_TARGET_KEY}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
	      <a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=-<{$smarty.const.MODULE_SORT_KEY_TARGET_KEY}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
	      </th>
	    <!--
	    <th><{$smarty.const._AD_XUPDATE_LANG_TYPE}>
	      <a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=<{$smarty.const.MODULE_SORT_KEY_TARGET_TYPE}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
	      <a href="index.php?action=ThemeStore&amp;<{$pageNavi->getPrefix()}><{$sid_query}><{$filter_query}>sort=-<{$smarty.const.MODULE_SORT_KEY_TARGET_TYPE}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
	      </th>
	    -->
	    <th><{$smarty.const._AD_LEGACY_LANG_CONTROL}></th>
	      <th><{$smarty.const._AD_XUPDATE_LANG_MESSAGE_BATCH_INSTALL}><br><input id="rapidInstallCheckboxAll" type="checkbox" /></th>
	  </tr>
	  <{foreach item=module from=$moduleObjects}>
	    <tr class="<{cycle values='odd,even'}>">
	      <!--<td class="legacy_list_id"><{$module->getShow('id')}></td>-->
	      <{if !$sid}><td class="legacy_list_id"><a href="index.php?action=ThemeStore&amp;sid=<{$module->getShow('sid')}>"><{$module->getShow('sid')}></a></td><{/if}>
	      <td>
	      <div class="legacy_list_image">
	          <input type="hidden" size="24" name="dirname[<{$module->get('id')}>]" value="<{$module->get('dirname')}>" />
	         <{$module->getShow('dirname')}>
	      </div>
	      <{assign var="hasupdate" value=0}>
	      <div class="legacy_list_order">
	        <{if $module->hasNeedUpdate()}>
	          <{assign var="hasupdate" value=1}>
	          <{$module->mModule->getRenderedVersion()}> &rarr; <strong class="legacy_module_versionMsg"><{$module->getRenderedVersion()}></strong>
	        <{else}>
	          <{$module->getRenderedVersion()}>
	        <{/if}>
	      </div>
	      <{if $module->options.detailed_version}>
	      <div class="legacy_list_control">
	        <{if $module->hasNeedUpdateDetail()}>
	          <{assign var="hasupdate" value=1}>
	          <{$module->modinfo.detailed_version}> &rarr; <strong class="legacy_module_versionMsg"><{$module->options.detailed_version}></strong>
	        <{else}>
	          <{$module->options.detailed_version}>
	        <{/if}>
	      </div>
	      <{/if}>
	      <{if $hasupdate && $module->options.changes_url}>
	      <div class="legacy_list_control">
	          <a href="<{$module->options.changes_url|escape:'html'}>" target="_blank"><{$smarty.const._AD_XUPDATE_RECENTCHANGES}></a>
	      </div>
	      <{/if}>
	      <div class="legacy_list_control">
	            <{$module->getShow('license')}>
	      </div>
	      </td>
	     <td class="legacy_list_date">
	        <{if $module->getVar('last_update')}>
	        <{$module->getVar('last_update')|xoops_formattimestamp:l}>
	        <{/if}>
	      </td>
	      <td class="legacy_list_select">
	          <{if $module->getShow('detail_url')}>
	            <a href="<{$module->getShow('detail_url')}>" target="_blank"><{if $module->options.screen_shot}><img src="<{$module->options.screen_shot}>" align="middle" height="60" /> <{/if}><{$module->getShow('target_key')}></a>
	          <{else}>
	            <{if $module->options.screen_shot}><img src="<{$module->options.screen_shot}>" align="middle" height="60" /> <{/if}><{$module->getShow('target_key')}>
	          <{/if}>
	        <br/><{$module->get('description')}>
	      </td>
	      <!--
	      <td class="legacy_list_select">
	        <{$module->getShow('target_type')}>
	      </td>
	      -->
	      <td class="legacy_list_control">
	      <{if $xupdate_writable.result==true}>
	        <{if $module->getVar('isactive') > 0}>
	          <a href="<{$module->get_StoreUrl()}>" title="<{$smarty.const._AD_LEGACY_LANG_UPDATE}>"><img src="<{"icons/update.png"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_UPDATE}>" /></a>
	          <a href="<{$module->get_UpdateUrl()}>"></a>
	        <{else}>
	          <a href="<{$module->get_StoreUrl()}>" title="<{$smarty.const._AD_LEGACY_LANG_INSTALL}>"><img src="<{"icons/module_add.png"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_INSTALL}>" /></a>
	          <a href="<{$module->get_InstallUrl()}>"></a>
	        <{/if}>
	     <{/if}>
	      </td>
	        <td class="legacy_list_select">
	            <{if $xupdate_writable.result==true}>
	            <{if $module->mModule && $module->mModule->getVar('mid') > 0 }>
	            <{if $module->mModule->getVar('isactive') && $module->isDirnameError() == false}>
	            <input type="checkbox" class="rapidInstallCheckbox" />
	            <{/if}>
	            <{else}>
	            <input type="checkbox" class="rapidInstallCheckbox" />
	            <{/if}>
	            <{/if}>
	        </td>
	    </tr>
	  <{/foreach}>
	    <tr>
	        <td class="foot" colspan="<{if $sid}>3<{else}>4<{/if}>">
	            <{xoops_token form=$actionForm}>
	       </td>
	        <td class="foot" colspan="2">
	            <{if $xupdate_writable.result==true}>
	            <input class="formButton" type="submit" value="<{$smarty.const._AD_XUPDATE_LANG_MESSAGE_BATCH_INSTALL}>"  id="rapidModuleInstallButton" />
	            <{/if}>
	        </td>
	    </tr>
	</table>
	</form>
	<{if $pageNavi->getPerpage() < $pageNavi->getTotalItems() }>
	<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
	<{/if}>
	
	<{include file="admin_tagcloud.html"}>
	
</div>
