<div class="adminnavi">
  <a href="./index.php"><{$smarty.const._MI_XUPDATE_ADMENU_ADDONSTORE}></a>
  &raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=ModuleStore"><{$smarty.const._MI_XUPDATE_ADMENU_ADDONSTOREDEC}></a></span>
</div>

<h3 class="admintitle"><{$smarty.const._AD_XUPDATE_LANG_MODULES}></h3>

<div class="tips">
<ul>
<li>
<{$smarty.const._AD_LEGACY_LANG_MOD_TOTAL}>: <{$ModuleTotal}>
</li>
	<li><{$smarty.const._MI_XUPDATE_TEMP_PATH}> <{$xupdate_writable.path}>&nbsp;:&nbsp;
	<{if $xupdate_writable.result==true}>
		(<span style="color:green;font-weight:bold;"><{$smarty.const._AD_XUPDATE_LANG_WRITABLE_RESULT}> OK</span>)
	<{else}>
		(<span style="color:red;font-weight:bold;"><{$smarty.const._AD_XUPDATE_LANG_WRITABLE_RESULT}> NG</span>)
	<{/if}>
	</li>
</ul>
</div>

<ul class="toptab">
  <li class="addModule"><a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=InstallList"><{$smarty.const._AD_LEGACY_LANG_MODINSTALL}></a></li>
</ul>

<{if $actionForm->hasError()}>
<div class="error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>
<{if isset($pageNavi) }>
<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
<{/if}>
<form method="post" action="">
<{xoops_token form=$actionForm}>
<table class="outer">
  <tr>
    <th>id
      <a href="index.php?action=ModuleStore&amp;sort=<{$smarty.const.MODULE_SORT_KEY_ID}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="index.php?action=ModuleStore&amp;sort=-<{$smarty.const.MODULE_SORT_KEY_ID}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
      </th>
    <th><{$smarty.const._AD_LEGACY_LANG_MOD_NAME}>
      <a href="index.php?action=ModuleStore&amp;sort=<{$smarty.const.MODULE_SORT_KEY_DIRNAME}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="index.php?action=ModuleStore&amp;sort=-<{$smarty.const.MODULE_SORT_KEY_DIRNAME}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
      </th>
    <th><{$smarty.const._AD_LEGACY_LANG_VERSION}>
      <a href="index.php?action=ModuleStore&amp;sort=<{$smarty.const.MODULE_SORT_KEY_VERSION}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="index.php?action=ModuleStore&amp;sort=-<{$smarty.const.MODULE_SORT_KEY_VERSION}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
      </th>
    <th><{$smarty.const._AD_LEGACY_LANG_LASTUPDATE}>
      <a href="index.php?action=ModuleStore&amp;sort=<{$smarty.const.MODULE_SORT_KEY_LASTUPDATE}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="index.php?action=ModuleStore&amp;sort=-<{$smarty.const.MODULE_SORT_KEY_LASTUPDATE}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
      </th>
    <th>TRUST or <{$smarty.const._AD_LEGACY_LANG_MOD_NAME}>
      <a href="index.php?action=ModuleStore&amp;sort=<{$smarty.const.MODULE_SORT_KEY_ROOTDIRNAME}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="index.php?action=ModuleStore&amp;sort=-<{$smarty.const.MODULE_SORT_KEY_ROOTDIRNAME}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
      </th>
    <th>タイプ
      <a href="index.php?action=ModuleStore&amp;sort=<{$smarty.const.MODULE_SORT_KEY_TYPE}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="index.php?action=ModuleStore&amp;sort=-<{$smarty.const.MODULE_SORT_KEY_TYPE}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
      </th>
    <th><{$smarty.const._AD_LEGACY_LANG_CONTROL}></th>
    <th>一括インストール<br><input id="rapidInstallCheckboxAll" type="checkbox" /></th>
  </tr>
  <{foreach item=module from=$moduleObjects}>
    <tr class="<{cycle values='odd,even'}>">
      <td class="legacy_list_id"><{$module->getVar('id')}></td>
      <td class="legacy_list_image">
<{*      <img src="<{$xoops_url}>/modules/<{$module->getVar('dirname')}>/<{$module->modinfo.image}>" alt="<{$module->getVar('dirname')}>" />*}>
        <{if $module->getVar('type') == 'TrustModule' }>
<{*        <input type="text" size="24" name="rootdirname[<{$module->getVar('id')}>]" value="<{$module->getVar('dirname')}>" />*}>
         <{$module->getVar('dirname')}>
        <{else}>
          <{$module->getVar('dirname')}>
        <{/if}>
      </td>
      <td class="legacy_list_order">
        <{if $module->hasNeedUpdate()}>
          <strong class="legacy_module_versionMsg"><{$module->getRenderedVersion()}></strong>
        <{else}>
          <{$module->getRenderedVersion()}>
        <{/if}>
      </td>
      <td class="legacy_list_date"><{$module->getVar('last_update')|xoops_formattimestamp:l}></td>
      <td class="legacy_list_select">
          <{$module->getVar('rootdirname')}>
      </td>
      <td class="legacy_list_select">
        <{$module->getVar('type')}>
      </td>
      <td class="legacy_list_control">
      <{if $xupdate_writable.result==true}>
        <{if $module->mModule->getVar('mid') > 0}>
          <{if $module->mModule->getVar('isactive')}>
          <a href="<{$module->get_StoreUrl()}>" title="<{$smarty.const._AD_LEGACY_LANG_UPDATE}>"><img src="<{"icons/update.png"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_UPDATE}>" /></a>
          <a href="<{$module->get_UpdateUrl()}>"></a>
          <{else}>
          <img src="<{"icons/error.png"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_BLOCK_INACTIVETOTAL}>" title="<{$smarty.const._AD_LEGACY_LANG_BLOCK_INACTIVETOTAL}>" />
          <{/if}>
        <{else}>
          <a href="<{$module->get_StoreUrl()}>" title="<{$smarty.const._AD_LEGACY_LANG_INSTALL}>"><img src="<{"icons/module_add.png"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_INSTALL}>" /></a>
          <a href="<{$module->get_InstallUrl()}>"></a>
        <{/if}>
     <{/if}>
      </td>
      <td class="legacy_list_select">
      <{if $xupdate_writable.result==true}>
        <{if $module->mModule->getVar('mid') > 0 }>
          <{if $module->mModule->getVar('isactive')}>
         <input type="checkbox" class="rapidInstallCheckbox" />
          <{/if}>
        <{/if}>
     <{else}>
         <input type="checkbox" class="rapidInstallCheckbox" />
     <{/if}>
      </td>
    </tr>
  <{/foreach}>
  <tr>
    <td class="foot" colspan="7">
<{*      <input type="submit" value="<{$smarty.const._AD_LEGACY_LANG_UPDATE}>" class="formButton" />*}>
    </td>
    <td class="foot">
    <{if $xupdate_writable.result==true}>
      <input type="submit" value="一括インストール"  id="rapidModuleInstallButton" class="formButton" />
    <{/if}>
    </td>
  </tr>
</table>
</form>
