<{* **************************  usage ****************************
 	The template tag of the following list can be used. 
		<{$block.err_message}> 					// When the block cannot be displayed, this outputs the reason. Please do not delete it.
 		<{$block.calender}>						// Displays Calender
   ************************* End of usage ************************ *}>
<{* Start Template *}>

<div class="xpress_block">
	<{$block.err_message}>
	<div class="xpress_calender_block">
		<{$block.calender}>
	</div>
</div>
