<h3><{$smarty.const._MD_MESSAGE_SETTINGS}></h3>
<br />
<form action="index.php?action=settings" method="post">
<table class="outer">
<tr>
<th width="30%"><{$smarty.const._MD_MESSAGE_SETTINGS_MSG1}></th>
<td class="odd">
<{xoops_input type=radio name=usepm default=$mActionForm->get('usepm') value=1}><label for="legacy_xoopsform_usepm_1"><{$smarty.const._YES}></label>
<{xoops_input type=radio name=usepm default=$mActionForm->get('usepm') value=0}><label for="legacy_xoopsform_usepm_0"><{$smarty.const._NO}></label>
</td>
</tr>
<tr>
<th><{$smarty.const._MD_MESSAGE_SETTINGS_MSG2}></th>
<td class="even">
<{xoops_input type=radio name=tomail default=$mActionForm->get('tomail') value=1}><label for="legacy_xoopsform_tomail_1"><{$smarty.const._YES}></label>
<{xoops_input type=radio name=tomail default=$mActionForm->get('tomail') value=0}><label for="legacy_xoopsform_tomail_0"><{$smarty.const._NO}></label>
</td>
</tr>
<tr>
<th><{$smarty.const._MD_MESSAGE_SETTINGS_MSG7}></th>
<td class="odd">
<{xoops_input type=radio name=viewmsm default=$mActionForm->get('viewmsm') value=1}><label for="legacy_xoopsform_viewmsm_1"><{$smarty.const._YES}></label>
<{xoops_input type=radio name=viewmsm default=$mActionForm->get('viewmsm') value=0}><label for="legacy_xoopsform_viewmsm_0"><{$smarty.const._NO}></label>
</td>
</tr>
<tr>
<th><{$smarty.const._MD_MESSAGE_SETTINGS_MSG8}></th>
<td class="even">
<{xoops_input type=text name=pagenum value=$mActionForm->get('pagenum')}>
<{$smarty.const._MD_MESSAGE_SETTINGS_MSG9}>
</td>
</tr>
<tr>
<th><{$smarty.const._MD_MESSAGE_SETTINGS_MSG10}></th>
<td class="even">
<{xoops_input type=text name=blacklist value=$mActionForm->get('blacklist') maxlength=255 size=60}>
<a href="index.php?action=blacklist"><{$smarty.const._MD_MESSAGE_SETTINGS_MSG18}></a>
<br /><{$smarty.const._MD_MESSAGE_SETTINGS_MSG11}>
</td>
</tr>

<tr><td colspan="2" class="foot" align="center"><{legacy_button id=Submit Text=$smarty.const._SUBMIT}></td></tr>
</table>
<{xoops_token form=$mActionForm}>
</form>
