<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<nav aria-label="breadcrumb">
<ul>
    <li><a href="<{$xoops_url}>/">
        <img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" alt=""></a></li>
    <li><a href="index.php">
        <img class="svg inbox" src="<{$xoops_url}>/images/icons/inbox.svg"> <span data-self="sm-hide"><{$smarty.const._MI_MESSAGE_NAME}></span></a></li>
    <li aria-current="page"><{$smarty.const._MD_MESSAGE_TEMPLATE7}></li>
</ul>
</nav>

<div id="tabs-mail">

<{include file="db:message_nav.html"}>

    <div id="mail-outbox-list">

        <div class="ui-tab-content">

            <form method="post" action="index.php?action=send">

                <div class="grid-2">

                    <select name="touid">
                        <option value="0">-<{$smarty.const._MD_MESSAGE_TEMPLATE9}></option>
                        <{foreach item=fuser from=$select}>
                        <option value="<{$fuser.uid}>"<{if $fuser.select==true}> selected="selected"<{/if}>><{$fuser.uname|xoops_escape}></option>
                        <{/foreach}>
                    </select>

                    <input type="text" name="subject" size="25" value="<{$subject|xoops_escape}>" placeholder="<{$smarty.const._MD_MESSAGE_TEMPLATE3}>">

                    <button type="submit" class="outline" role="button" name="subbtn" value="<{$smarty.const._MD_MESSAGE_SEARCH}>">
                        <img class="svg search" src="<{$xoops_url}>/images/icons/search.svg"> <{$smarty.const._MD_MESSAGE_SEARCH}>
                    </button>

                </div>

            </form>


        <hr>


            <form method="post" action="index.php?action=deleteall">
                <input type="hidden" name="inout" value="out">

                <{foreach item=val from=$ListData}>

                <div id="printhis" class="grid-left mail-list-item">

                    <div class="mail-list-author">

                        <input type="checkbox" name="delmsg[]" value="<{$val.outbox_id}>">

                        <img class="mail-list-avatar" src="<{$val.to_uid|xoops_user_avatarize}>" alt="avatar">

                        <{$val.fromname}>

                    </div>

                    <div class="flex-justify">
                        <{* SUBJECT TRUNCATE:46 - CHANGE THIS VALUE OR USE CSS text-overflow: ellipsis; *}>
                        <a href="index.php?action=view&amp;inout=out&amp;outbox=<{$val.outbox_id}>" class="mail-list-subject"><{$val.title|truncate:46:"..."}></a>
                        <span class="mail-list-date"><{$val.utime|xoops_formattimestamp:l}></span>
                    </div>

                </div>

                <{/foreach}>

                <footer class="action-control">
                    <div><{* ! wrap [role=button] with div for small button *}>
                        <button type="submit" role="button" class="outline secondary delete" name="subbtn" value="<{$smarty.const._DELETE}>">
                            <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt="delete"> <{$smarty.const._DELETE}></button>
                    </div>
                    <nav class="pagination" aria-label="pagination"><{xoops_pagenavi pagenavi=$pageNavi}></nav>
                </footer>

            </form>

        </div><{* ------- /ui-tab-content *}>

    </div><{* ------- /mail-outbox-list *}>

</div><{* ------- /tabs-mail *}>


