<{* set tab inbox to active *}>
<{assign var="inboxView" value="ui-tabs-active ui-state-active"}>

<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<nav aria-label="breadcrumb">
<ul>
    <li><a href="<{$xoops_url}>/"><img class="svg" src="<{$xoops_url}>/images/icons/home.svg" width="1em" height="1em" alt="home"></a></li>
    <li><a href="index.php"><img class="svg" src="<{$xoops_url}>/images/icons/inbox.svg" width="1em" height="1em" alt="inbox"> <span data-self="sm-hide"><{$smarty.const._MI_MESSAGE_NAME}></span></a></li>
    <li><a href="index.php"><{$smarty.const._MD_MESSAGE_TEMPLATE15}></a></li>
    <li aria-current="page"><{$smarty.const._MD_MESSAGE_TEMPLATE11}></li>
</ul>
</nav>


<article id="mail-inbox-view">

    <header>
        <{include file=db:message_nav.html}>
    </header>

    <div id="printhis">

      <h3 class="mail-title"><{$msgdata.title}></h3>

      <div class="mail-body">
        <div class="mail-author">
            <{$smarty.const._MD_MESSAGE_TEMPLATE12}> : <img src="<{$msgdata.from_uid|xoops_user_avatarize}>" width="24px" data-self="radius-circle" class="avatar">
            <{$msgdata.fromname}>
        </div>

        <div class="defaultdate"><{$smarty.const._MD_MESSAGE_TEMPLATE10}> : <span class="badge"><{$msgdata.utime|xoops_formattimestamp:l}></span></div>
        <div class="mail-date"><{$msgdata.utime|xoops_formattimestamp:l}></span></div>
        <hr>

        <div class="mail-content" aria-label="<{$smarty.const._MD_MESSAGE_TEMPLATE4}>">
            <{$msgdata.message}>
        </div>
      </div>

    </div>

    <footer class="action-control">

        <form method="post" id="msgDelete" action="index.php?action=delete&amp;inout=in">
            <input type="hidden" name="inbox" value="<{$msgdata.inbox_id}>">
            <{if $msgdata.is_read==2}>
            <button type="submit" class="outline secondary delete" name="subbtn" value="<{$smarty.const._DELETE}>" aria-label="<{$smarty.const._MD_MESSAGE_TEMPLATE14}> <{$smarty.const._MD_MESSAGE_TEMPLATE19}>" disabled>
                <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt=""> <span data-self="sm-hide"><{$smarty.const._MD_MESSAGE_TEMPLATE19}></span>
            </button>
            <{else}>
            <button type="submit" class="outline secondary delete" name="subbtn" value="<{$smarty.const._DELETE}>">
                <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt=""> <span data-self="sm-hide"><{$smarty.const._DELETE}></span>
            </button>
            <{/if}>
            <span id="delete-status"></span>
        </form>

        <form method="post" id="msgLock" action="index.php">
            <input type="hidden" name="inbox" value="<{$msgdata.inbox_id}>">
            <input type="hidden" name="inout" value="in">
            <input type="hidden" name="cmd" value="lock">
            <input type="hidden" name="action" value="view">
            <{if $msgdata.is_read==1}>
            <input type="hidden" name="lock" value="1">
            <button type="submit" class="outline" value="<{$smarty.const._MD_MESSAGE_TEMPLATE19}>">
                <img class="svg mail-lock" src="<{$xoops_url}>/images/icons/mail-lock.svg" width="1em" height="1em" alt="Mail lock">
                <span data-self="sm-hide"><{$smarty.const._MD_MESSAGE_TEMPLATE19}></span>
            </button>
            <{else}>
            <input type="hidden" name="lock" value="0">
            <button type="submit" class="outline" value="<{$smarty.const._MD_MESSAGE_TEMPLATE20}>">
                <img class="svg mail-off" src="<{$xoops_url}>/images/icons/mail-off.svg" width="1em" height="1em" alt="Mail off">
                <span data-self="sm-hide"><{$smarty.const._MD_MESSAGE_TEMPLATE20}></span>
            </button>
            <{/if}>
        </form>

        <form method="post" action="index.php" id="forward_message">
            <input type="hidden" name="inbox" value="<{$msgdata.inbox_id}>">
            <input type="hidden" name="inout" value="in">
            <input type="hidden" name="cmd" value="mail">
            <input type="hidden" name="action" value="view">

            <a href="#" onclick="submitForm()" class="outline primary" role="button">
                <img class="svg mail-send" src="<{$xoops_url}>/images/icons/mail-send.svg" alt="Forward">
                <span data-self="sm-hide"><{$smarty.const._MD_MESSAGE_TEMPLATE21}></span></a>
            <script type="text/javascript">
                function submitForm() {
                    let form = document.getElementById("forward_message");
                    form.submit();
                }
            </script>
        </form>

        <div>
            <a href="#!" class="outline primary" role="button" value="<{$smarty.const._MD_MESSAGE_TEMPLATE13}>" onclick="location.href='index.php?action=new&amp;res=<{$msgdata.inbox_id}>'">
                <img class="svg mail-edit" src="<{$xoops_url}>/images/icons/mail-edit.svg" alt="Reply">
                <span data-self="sm-hide"><{$smarty.const._MD_MESSAGE_TEMPLATE13}></span>
            </a>
            <span id="msg-nav">
              <{if $msgdata.prev_id}>
              <a href="#" onclick="loadMessage('<{$msgdata.prev_id}>', '<{$msgdata.param}>', '<{$msgdata.inout_short}>'); return false;">&laquo; Previous</a>
              <{/if}>
              <{if $msgdata.next_id}>
              <a href="#" onclick="loadMessage('<{$msgdata.next_id}>', '<{$msgdata.param}>', '<{$msgdata.inout_short}>'); return false;">Next &raquo;</a>
              <{/if}>
            </span>
        </div>

    </footer>

</article>

<{* Add JavaScript for ajax *}>
<script type="text/javascript">
  function loadMessage(id, param, inout) {
      fetch('index.php?action=view&' + param + '=' + id + '&inout=' + inout + '&ajax=1')
          .then(response => response.json())
          .then(data => {
              if (data.error) {
                  alert(data.error);
                  return;
              }
              
              // Update message content
              document.querySelector('.mail-title').innerHTML = data.subject;
              
              // Update author with avatar
              const authorElement = document.querySelector('.mail-author');
              if (authorElement) {
                  // Use the avatar_url from the response
                  authorElement.innerHTML = '<{$smarty.const._MD_MESSAGE_TEMPLATE12}> : ' + 
                      '<img src="' + (data.avatar_url || '<{$xoops_url}>/modules/user/images/no_avatar.gif') + 
                      '" width="24px" data-self="radius-circle" class="avatar"> ' + 
                      data.from;
              }
              
              document.querySelector('.mail-content').innerHTML = data.body;
              document.querySelector('.mail-date').innerHTML = data.date;
              
              // Update form values for delete, lock, and forward forms
              document.querySelectorAll('input[name="inbox"]').forEach(input => {
                  input.value = id;
              });
              
              // Update lock/unlock button based on message status
              const lockForm = document.getElementById('msgLock');
              if (lockForm && data.is_read !== undefined) {
                  // Clear existing inputs and create new ones
                  const lockInput = lockForm.querySelector('input[name="lock"]');
                  const lockButton = lockForm.querySelector('button[type="submit"]');
                  
                  if (data.is_read == 1) {
                      // Message is read but not locked - show lock button
                      if (lockInput) lockInput.value = "1";
                      if (lockButton) {
                          lockButton.innerHTML = '<img class="svg mail-lock" src="<{$xoops_url}>/images/icons/mail-lock.svg" width="1em" height="1em" alt="Mail lock">' +
                              '<span data-self="sm-hide"><{$smarty.const._MD_MESSAGE_TEMPLATE19}></span>';
                          lockButton.value = '<{$smarty.const._MD_MESSAGE_TEMPLATE19}>';
                      }
                  } else if (data.is_read == 2) {
                      // Message is locked - show unlock button
                      if (lockInput) lockInput.value = "0";
                      if (lockButton) {
                          lockButton.innerHTML = '<img class="svg mail-off" src="<{$xoops_url}>/images/icons/mail-off.svg" width="1em" height="1em" alt="Mail off">' +
                              '<span data-self="sm-hide"><{$smarty.const._MD_MESSAGE_TEMPLATE20}></span>';
                          lockButton.value = '<{$smarty.const._MD_MESSAGE_TEMPLATE20}>';
                      }
                  }
              }
              
              // Update delete button state based on message status
              const deleteForm = document.getElementById('msgDelete');
              if (deleteForm && data.is_read !== undefined) {
                  const deleteButton = deleteForm.querySelector('button[type="submit"]');
                  if (deleteButton) {
                      // Disable delete button if message is locked (is_read == 2)
                      if (data.is_read == 2) {
                          deleteButton.disabled = true;
                          deleteButton.setAttribute('aria-label', '<{$smarty.const._MD_MESSAGE_TEMPLATE14}> <{$smarty.const._MD_MESSAGE_TEMPLATE19}>');
                          deleteButton.innerHTML = '<img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt="">' +
                              '<span data-self="sm-hide"><{$smarty.const._MD_MESSAGE_TEMPLATE19}></span>';
                      } else {
                          deleteButton.disabled = false;
                          deleteButton.removeAttribute('aria-label');
                          deleteButton.innerHTML = '<img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt="">' +
                              '<span data-self="sm-hide"><{$smarty.const._DELETE}></span>';
                      }
                  }
              }
              
              // Update reply link
              const replyLink = document.querySelector('a[onclick^="location.href=\'index.php?action=new&res="]');
              if (replyLink) {
                  replyLink.setAttribute('onclick', "location.href='index.php?action=new&res=" + id + "'");
              }
              
              // Update navigation buttons
              let navHtml = '';
              if (data.prev_id) {
                  navHtml += `<a href="#" onclick="loadMessage('${data.prev_id}', '${data.param}', '${data.inout_short}'); return false;">&laquo; Previous</a> `;
              }
              if (data.next_id) {
                  navHtml += `<a href="#" onclick="loadMessage('${data.next_id}', '${data.param}', '${data.inout_short}'); return false;">Next &raquo;</a>`;
              }
              document.getElementById('msg-nav').innerHTML = navHtml;
              
              // Update URL without reloading
              history.pushState({}, '', 'index.php?action=view&' + param + '=' + id + '&inout=' + inout);
          })
          .catch(error => {
              console.error('Error loading message:', error);
              alert('Error loading message. Please try again.');
          });
  }

  // AJAX delete functionality
  document.addEventListener('DOMContentLoaded', function() {
      const deleteForm = document.getElementById('msgDelete');
      const deleteStatus = document.getElementById('delete-status');
      
      if (deleteForm) {
          deleteForm.addEventListener('submit', function(event) {
              event.preventDefault();
              
              // Get the message ID from the form
              const messageId = deleteForm.querySelector('input[name="inbox"]').value;
              const inout = 'in'; // For inbox view
              
              // Show deleting status
              if (deleteStatus) deleteStatus.textContent = 'Deleting...';
              
              // Send AJAX request
              fetch('index.php?action=delete&inout=' + inout + '&ajax=1', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/x-www-form-urlencoded',
                  },
                  body: 'inbox=' + encodeURIComponent(messageId)
              })
              .then(response => response.json())
              .then(data => {
                  if (data.success) {
                      // Success - redirect to inbox
                      if (deleteStatus) deleteStatus.textContent = data.message || 'Message deleted successfully.';
                      
                      // Redirect to inbox after a short delay
                      setTimeout(function() {
                          window.location.href = 'index.php?action=index';
                      }, 1000); // Redirect to inbox after a shorter delay (can be reduced from 1000ms to 500ms)
                  } else {
                      // Error
                      if (deleteStatus) deleteStatus.textContent = data.error || 'Error deleting message.';
                      console.error('Delete error:', data);
                  }
              })
              .catch(error => {
                  console.error('Network error:', error);
                  if (deleteStatus) deleteStatus.textContent = 'Network error. Please try again.';
              });
          });
      }
      
      // Add AJAX functionality to the lock/unlock form
      const lockForm = document.getElementById('msgLock');
      if (lockForm) {
          lockForm.addEventListener('submit', function(event) {
              event.preventDefault();
              
              // Get form data
              const formData = new URLSearchParams(new FormData(lockForm));
              const messageId = lockForm.querySelector('input[name="inbox"]').value;
              const lockValue = lockForm.querySelector('input[name="lock"]').value;
              const inout = lockForm.querySelector('input[name="inout"]').value;
              const param = inout === 'in' ? 'inbox' : 'outbox';
              
              // Show status indicator (could add a span for this)
              const lockButton = lockForm.querySelector('button[type="submit"]');
              const originalButtonHtml = lockButton.innerHTML;
              lockButton.innerHTML = '<img class="svg spinner" src="<{$xoops_url}>/images/icons/spinner.svg" width="1em" height="1em" alt="Loading...">';
              lockButton.disabled = true;
              
              fetch('index.php?action=view&ajax=1', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/x-www-form-urlencoded',
                  },
                  body: formData
              })
              .then(response => {
                  if (!response.ok) {
                      throw new Error('Server returned ' + response.status);
                  }
                  return response.json();
              })
              .then(data => {
                  // Re-enable button
                  lockButton.disabled = false;
                  
                  // Update the button UI based on the new lock state
                  if (lockValue === "1") {
                      // We just locked the message, update to show unlock button
                      lockForm.querySelector('input[name="lock"]').value = "0";
                      lockButton.innerHTML = '<img class="svg mail-off" src="<{$xoops_url}>/images/icons/mail-off.svg" width="1em" height="1em" alt="Mail off">' +
                          '<span data-self="sm-hide"><{$smarty.const._MD_MESSAGE_TEMPLATE20}></span>';
                      lockButton.value = '<{$smarty.const._MD_MESSAGE_TEMPLATE20}>';
                      
                      // Disable delete button
                      const deleteButton = document.querySelector('#msgDelete button[type="submit"]');
                      if (deleteButton) {
                          deleteButton.disabled = true;
                          deleteButton.setAttribute('aria-label', '<{$smarty.const._MD_MESSAGE_TEMPLATE14}> <{$smarty.const._MD_MESSAGE_TEMPLATE19}>');
                          deleteButton.innerHTML = '<img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt="">' +
                              '<span data-self="sm-hide"><{$smarty.const._MD_MESSAGE_TEMPLATE19}></span>';
                      }
                  } else {
                      // We just unlocked the message, update to show lock button
                      lockForm.querySelector('input[name="lock"]').value = "1";
                      lockButton.innerHTML = '<img class="svg mail-lock" src="<{$xoops_url}>/images/icons/mail-lock.svg" width="1em" height="1em" alt="Mail lock">' +
                          '<span data-self="sm-hide"><{$smarty.const._MD_MESSAGE_TEMPLATE19}></span>';
                      lockButton.value = '<{$smarty.const._MD_MESSAGE_TEMPLATE19}>';
                      
                      // Enable delete button
                      const deleteButton = document.querySelector('#msgDelete button[type="submit"]');
                      if (deleteButton) {
                          deleteButton.disabled = false;
                          deleteButton.removeAttribute('aria-label');
                          deleteButton.innerHTML = '<img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt="">' +
                              '<span data-self="sm-hide"><{$smarty.const._DELETE}></span>';
                      }
                  }
              })
              .catch(error => {
                  console.error('Error updating lock status:', error);
                  alert('Error updating message status. Please try again.');
                  
                  // Restore button state
                  lockButton.disabled = false;
                  lockButton.innerHTML = originalButtonHtml;
              });
          });
      }
      
      // Add AJAX functionality to the forward form
      const forwardForm = document.getElementById('forward_message');
      if (forwardForm) {
          const forwardLink = forwardForm.querySelector('a[onclick]');
          if (forwardLink) {
              forwardLink.onclick = function(e) {
                  e.preventDefault();
                  
                  const formData = new URLSearchParams(new FormData(forwardForm));
                  
                  fetch('index.php?action=view&ajax=1', {
                      method: 'POST',
                      headers: {
                          'Content-Type': 'application/x-www-form-urlencoded',
                      },
                      body: formData
                  })
                  .then(response => response.json())
                  .then(data => {
                      alert('Message forwarded to your email.');
                  })
                  .catch(error => {
                      console.error('Error forwarding message:', error);
                      alert('Error forwarding message. Please try again.');
                  });
              };
          }
      }
  });
</script>
