<{* ------- User profile column with user-data *}>
<div class="col-lg-4 col-xlg-3 col-md-5">

    <div class="card">

        <div class="card-body text-center">

            <{* ---------- ---------- ---------- User Avatar *}>
            <figure class="figure">

                <{if $thisUser->get('user_avatar') != "blank.gif" }>
                <img class="figure-img img-fluid rounded-circle" src="<{$smarty.const.XOOPS_UPLOAD_URL}>/<{$thisUser->getShow('user_avatar')}>" alt="<{$smarty.const._MD_USER_LANG_AVATAR}>" title="<{$smarty.const._MD_USER_LANG_AVATAR}>" width="128">
                <{else}>
                <img class="figure-img img-fluid rounded-circle" src="<{$smarty.const.XOOPS_URL}>/modules/user/images/no_avatar.gif" alt="No Avatar" title="No Avatar" width="128">
                <{/if}>

                <{if $user_ownpage == true}>
                <figcaption class="figure-caption">
                    <a href="<{$xoops_url}>/edituser.php?op=avatarform&amp;uid=<{$thisUser->getShow('uid')}>">
                        <svg class="person-bounding-box" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg> <{$smarty.const._MD_USER_LANG_AVATAR_EDIT}></a>
                </figcaption>
                <{/if}>

            </figure>

            <{* ---------- ---------- ---------- User Data *}>
            <ul class="list-group list-group-flush small">
                <li class="list-group-item d-flex justify-content-between align-items-center"><{$smarty.const._MD_USER_LANG_UNAME}> <span class="badge text-bg-secondary"><{$thisUser->getShow('uname')}></span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center"><{$smarty.const._MD_USER_LANG_NAME}> <span class="badge text-bg-secondary"><{$thisUser->getShow('name')}></span></li>
                <{if $rank != null}>
                <li class="list-group-item d-flex justify-content-between align-items-center"><{$smarty.const._MD_USER_LANG_RANK}> <span class="badge text-bg-secondary"><{$rank->getShow('rank_title')}></span></li>
                <{/if}>
                <li class="list-group-item d-flex justify-content-between align-items-center"><{$smarty.const._MD_USER_LANG_POSTS}> <span class="badge text-bg-secondary"><{$thisUser->getShow('posts')}></span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center"><{$smarty.const._MD_USER_LANG_LAST_LOGIN}> <span class="badge text-bg-secondary"><{$thisUser->get('last_login')|xoops_formattimestamp:l}></span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center"><{$smarty.const._MD_USER_LANG_USER_REGDATE}> <span class="badgetext-bg-secondary"><{$thisUser->get('user_regdate')|xoops_formattimestampGMT}></span></li>
                <{if $xoops_isuser == true && $pmliteUrl !=''}>
                <li class="list-group-item d-flex justify-content-between align-items-center"><{$smarty.const._MD_USER_LANG_PM}>
                    <a href="<{$pmliteUrl|xoops_escape:link}>">
                        <svg class="envelope" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <title><{$smarty.const._SENDPMTO|replace:"%s":$thisUser->getShow('uname')}></title>
                            <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                            <path d="M.05 3.555C.017 3.698 0 3.847 0 4v.697l5.803 3.546L0 11.801V12c0 .306.069.596.192.856l6.57-4.027L8 9.586l1.239-.757 6.57 4.027c.122-.26.191-.55.191-.856v-.2l-5.803-3.557L16 4.697V4c0-.153-.017-.302-.05-.445L8 8.414.05 3.555z"/>
                        </svg>
                    </a>
                </li>
                <{/if}>
            </ul>


        </div>
        <{* /card-body *}>

        <{* ---------- ---------- ---------- User Custom Fields (module profile - create fields) *}>
        <div class="card-footer py-3">

            <small class="text-muted p-t-30 db">
                <svg class="building" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15.285.089A.5.5 0 0 1 15.5.5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5H1a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .418-.493l5.582-.93V3.5a.5.5 0 0 1 .324-.468l8-3a.5.5 0 0 1 .46.057zM7.5 3.846V8.5a.5.5 0 0 1-.418.493l-5.582.93V15h8v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.222l-7 2.624z"/>
                    <path fill-rule="evenodd" d="M6.5 15.5v-7h1v7h-1z"/>
                    <path d="M2.5 11h1v1h-1v-1zm2 0h1v1h-1v-1zm-2 2h1v1h-1v-1zm2 0h1v1h-1v-1zm6-10h1v1h-1V3zm2 0h1v1h-1V3zm-4 2h1v1h-1V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm-2 2h1v1h-1V7zm2 0h1v1h-1V7zm-4 0h1v1h-1V7zm0 2h1v1h-1V9zm2 0h1v1h-1V9zm2 0h1v1h-1V9zm-4 2h1v1h-1v-1zm2 0h1v1h-1v-1zm2 0h1v1h-1v-1z"/>
                </svg> Address</small>
            <h6>
                <svg class="geo-alt" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg> Palais des Nations, 1211 Genève, Suisse</h6>
<!--            <div class="map-box">-->
<!--                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2760.3730868765037!2d6.136761051356186!3d46.222924890413424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c64e40faf1f7f%3A0xa8dc0d85dc221c7d!2sPlace%20des%20Nations%2C%201202%20Gen%C3%A8ve!5e0!3m2!1sen!2sch!4v1592746731623!5m2!1sen!2sch" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
<!--            </div>-->

            <small class="text-muted p-t-30 db"><{$smarty.const._MD_USER_LANG_USER_SIG}></small>
            <h6><{$thisUser->getShow('user_sig')}></h6>

            <!-- Extra Fields -->
            <{legacy_profile uid=$thisUser->getShow('uid')}>
            <!-- Extra Fields -->

            <small class="text-muted p-t-30 db">Social Profile</small>
            <br>
            <button class="btn btn-circle btn-secondary"><i class="facebook"></i></button>
            <button class="btn btn-circle btn-secondary"><i class="twitter"></i></button>
            <button class="btn btn-circle btn-secondary"><i class="youtube"></i></button>

        </div><{* /card-footer *}>

    </div><{* /card *}>

</div><{* ------- /user-data column *}>
