/* mailjob */
.user_mailjob_count {
	color:#ff0000;
}

/* for List Table */
.user_list_id {
	text-align:center;
}
.user_list_control {
	text-align:center;
}
.user_list_image {
	text-align:center;
}
.user_list_imagetitle {
	text-align:center;
	font-weight:bold;
}
.user_list_type {
	text-align:center;
}
.user_list_date {
	text-align:center;
}
.user_list_number {
	text-align:right;
	padding-right:5px;
}
.user_list_order {
	text-align:center;
}
.user_list_title , .user_list_title a , .user_list_title a:visited {
	text-align:left;
	padding-left:5px;
	font-weight:bold;
}
.user_list_name {
	text-align:left;
	padding-left:5px;
}
.user_list_description {
	text-align:left;
	padding-left:5px;
}
.user_list_select {
	text-align:center;
}
.user_module_error {
	color:#ff0000;
}