<div class="item">
  <div class="itemHead">
    <span class="itemTitle">
      <a href="<{$mydirurl}>/index.php?storytopic=<{$topic_id}>"><{$topic_title}></a>
    </span>
  </div>
  <ul>
  <hr />
  <{foreach item=c from=$comments}>
    <li><b><{$c.uname}></b>&nbsp;&nbsp;<{$c.post_time|date_format:'%Y/%m/%e %H:%m'}><br />
      <a href="<{$mydirurl}>/index.php?page=article&amp;storyid=<{$c.storyid}>">
        <{$c.post_text}>
      </a>
    </li>
<{*	<div id="iine"><{iine_button dirname=bulletin id=$c.storyid}></div>*}>
	<hr />
  <{/foreach}>
  </ul>
</div>