<{strip}>

<div style="float:right">
 |&nbsp;<a href="<{$mydirurl}>/index.php?page=archive" title="<{$smarty.const._MD_ARCHIVES}>"><{$smarty.const._MD_ARCHIVES}></a>
    &nbsp;
<{if $can_post}>
|&nbsp;<a href="<{$mydirurl}>/index.php?page=submit" title="<{$smarty.const._MD_SUBMITNEWS}>"><{$smarty.const._MD_SUBMITNEWS}></a>
    &nbsp;
<{/if}>
  <{if $disp_rss_link}>
    |&nbsp;<a href="<{$mydirurl}>/index.php?page=rss" title="<{$smarty.const._MD_RSS}>"><{$smarty.const._MD_RSS}></a>
  <{/if}>
  &nbsp;|
</div>
<div style="clear: both ; height:0px; visibility:hidden;"></div>
<{/strip}>