<div style="font-size: small;">
<form action="<{$block.target_page}>" method="post">
  <ul><{foreach item=category from=$block.categories}>
  <li><{foreach name=inner item=event from=$category.events}>
    <{if $smarty.foreach.inner.first}>
      <{$category.title}><br />
    <{/if}>
    <{counter assign=index}>
    <input type="hidden" name="not_list[<{$index}>][params]" value="<{$category.name}>,<{$category.itemid}>,<{$event.name}>" />
    <div style="<{$smarty.const.MBX_FS_XSMALL}>">
      <input type="checkbox" name="not_list[<{$index}>][status]" value="1" <{if $event.subscribed}>checked="checked"<{/if}> />
      <{$event.caption}>
    </div>
  <{/foreach}></li>
  <{$smarty.const.MBX_BLANK_TAG}>
  <{/foreach}></ul>

  <input type="hidden" name="not_redirect" value="<{$block.redirect_script}>" />
  <input type="submit" name="not_submit" value="<{$block.submit_button}>" />
  <{$smarty.const.MBX_BLANK_TAG}>

</form>

</div>
