<div class="ui-dev-mode"><{$smarty.template}></div>

<div class="adminnavi" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <a href="./index.php?action=BlockList"><{$smarty.const._MI_LEGACY_MENU_BLOCKLIST}></a>
    &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><{$smarty.const._AD_LEGACY_LANG_BLOCK_EDIT}></span>
</div>

<h2 class="admintitle"><{$smarty.const._AD_LEGACY_LANG_BLOCK_EDIT}></h2>


<{if $actionForm->hasError()}>
<div class="error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>

<form action="index.php?action=BlockEdit" method="post">
    <{xoops_token form=$actionForm}>
    <{xoops_input type=hidden name=bid value=$actionForm->get('bid')}>
    <{if !$hasVisibleOptionForm && $optionForm != null}>
    <{$optionForm}>
    <{/if}>

    <{* *}>
    <table class="outer">
        <thead>
        <tr>
            <th colspan="2"><{$smarty.const._AD_LEGACY_LANG_BLOCK_EDIT}></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_NAME}></td>
            <td>
                <{$object->get('name')|xoops_escape}>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_TITLE}></td>
            <td>
                <{xoops_input type=text name=title value=$actionForm->get('title') size=50 maxlength=191}>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_SIDE}></td>
            <td>
                <select name="side">
                    <{xoops_optionsArray id=side from=$columnSideArr label=name value=id
                    default=$actionForm->get('side')}>
                </select>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_WEIGHT}></td>
            <td>
                <{xoops_input type=text name=weight value=$actionForm->get('weight') size=5 class=list_number}>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_BCACHETIME}></td>
            <td>
                <select name='bcachetime'>
                    <{xoops_optionsArray id=bcachetime from=$cachetimeArr value=cachetime label=label
                    default=$actionForm->get('bcachetime')}>
                </select>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_TARGET_MODULES}></td>
            <td>
                <select size='5' name='bmodule[]' multiple='multiple'>
                    <{xoops_optionsArray id=bmodule[] from=$moduleArr value=mid label=name
                    default=$actionForm->get('bmodule')}>
                </select>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_TARGET_GROUPS}></td>
            <td>
                <select size='5' name='groupid[]' multiple='multiple'>
                    <{xoops_optionsArray id=groupid[] from=$groupArr value=groupid label=name
                    default=$actionForm->get('groupid')}>
                </select>
            </td>
        </tr>
        <{if $hasVisibleOptionForm && $optionForm != null}>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_OPTIONS}></td>
            <td>
                <{$optionForm}>
            </td>
        </tr>
        <{/if}>

        <tr>
            <td class="head"><{$smarty.const._AD_LEGACY_LANG_TEMPLATE}></td>
            <td>
            <{xoops_input type=text name=template value=$actionForm->get('template') size=32 class=legacy_list_number}>
            </td>
        </tr>


        </tbody>

        <tfoot>
        <tr class="foot">
            <td colspan="2">
                <input class="button-cancel" type="submit" value="<{$smarty.const._BACK}>" name="_form_control_cancel">
                <input class="button-submit" type="submit" value="<{$smarty.const._SUBMIT}>">
            </td>
        </tr>
        </tfoot>

    </table>

</form>
