<div class="ui-dev-mode"><{$smarty.template}></div>

<nav class="ui-breadcrumbs" aria-label="breadcrumb">
    <a class="button" href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
    &raquo;&raquo; <a class="button" href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <span class="page-title"><a href="./index.php?action=BlockList" aria-current="page"><{$smarty.const._MI_LEGACY_MENU_BLOCKLIST}></a></span>
</nav>


<{include file="./components/block-overview.html"}>


<h2><{$smarty.const._MI_LEGACY_MENU_BLOCKLIST}></h2>


<div class="tips">
    <{$smarty.const._AD_LEGACY_TIPS_ADD_CUSTOM_BLOCK}> <{$smarty.const._AD_LEGACY_TIPS_BLOCK}>
</div>


<{if $actionForm->hasError()}>
<div class="error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>

<{* ////— ACTION-CONTROL —\\\\ *}>
<section data-layout="rows center-justify" class="action-control">

    <div>
        <a class="button" href="index.php?action=BlockInstallList"><i class="i-add"></i><{$smarty.const._AD_LEGACY_LANG_BLOCK_INSTALL}></a>
        <a class="button" href="index.php?action=CustomBlockEdit"><i class="i-edit"></i><{$smarty.const._AD_LEGACY_LANG_ADD_CUSTOM_BLOCK}></a>
    </div>

    <div class="control-view">

        <button id="grid" class="button button-icon" data-id="2" type="button" aria-label="View Grid">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M16 5v6h5V5m-11 6h5V5h-5m6 13h5v-6h-5m-6 6h5v-6h-5m-6 6h5v-6H4m0-1h5V5H4v6Z"/></svg>
        </button>

        <button id="list" class="button button-icon" data-id="1" type="button" aria-label="View List">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M3 5h18v4H3V5m0 5h18v4H3v-4m0 5h18v4H3v-4Z"/></svg>
        </button>

        <{* ////— DROPDOWN FILTER-SORT —\\\\ *}>
        <div class="dropdown button-icon" id="drop-filter">
            <a href="#" class="dropdown-toggle button" aria-label="filter sort">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="filter" role="img"><path d="M18 21l-4-4h3V7h-3l4-4l4 4h-3v10h3M2 19v-2h10v2M2 13v-2h7v2M2 7V5h4v2H2z" fill="currentColor"></path></svg>            </a>
            <div class="dropdown-content drop-top">
                <{include file="./components/block-filter.html"}>
            </div><{* ----- /Dropdown-content *}>
        </div><{* ----- /Dropdown *}>

        <{* ////— DROPDOWN SEARCH —\\\\ *}>
        <div class="dropdown button-icon" id="drop-search">
            <a href="#" class="dropdown-toggle button" aria-label="search">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path d="M19.31 18.9l3.08 3.1L21 23.39l-3.12-3.07c-.69.43-1.51.68-2.38.68c-2.5 0-4.5-2-4.5-4.5s2-4.5 4.5-4.5s4.5 2 4.5 4.5c0 .88-.25 1.71-.69 2.4m-3.81.1a2.5 2.5 0 0 0 0-5a2.5 2.5 0 0 0 0 5M21 4v2H3V4h18M3 16v-2h6v2H3m0-5V9h18v2h-2.03c-1.01-.63-2.2-1-3.47-1s-2.46.37-3.47 1H3z" fill="currentColor"/></svg>
            </a>
            <div class="dropdown-content drop-top">
                <{include file="./components/block-search.html"}>
            </div><{* ----- /Dropdown-content *}>
        </div><{* ----- /Dropdown *}>

<{* TODO check all
<!--            <div aria-label="<{$smarty.const._AD_LEGACY_LANG_UNINSTALL}> <{$smarty.const._AD_LEGACY_LANG_CONTROL}>">-->
<!--                <input name="allbox" id="allbox" onclick="with(document.blockform){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].disabled==false&&elements[i].name.indexOf('uninstall')>=0){elements[i].checked=this.checked;}}}" type="checkbox" value="Check All">-->
<!--            </div>-->
*}>
        <button class="help-admin button-icon" type='button' data-module='legacy' data-help-article='#help-blocks' aria-label="<{$smarty.const._HELP}>"><b>?</b></button>
    </div>

</section>

<hr>

<form id="blockform" name="blockform" method="post" action="./index.php?action=BlockList">
    <{xoops_token form=$actionForm}>

    <{* ---------- ---------- ui-data-render *}>
    <div class="ui-data-render view">
    <{foreach item=obj from=$objects}>
        <{include file="./components/block-card.html"}>
    <{/foreach}>
    </div>
    <{* ----- ui-data-render *}>

    <hr>

    <{* Alert Dialog *}>
    <div class="alert-submit" style="display: none">
        <div class="danger" data-layout="row center-justify">
        <{$smarty.const._AD_LEGACY_MESSAGE_CONFIRM_CHANGES}>
        <input class="button-submit" type="submit" value="<{$smarty.const._SUBMIT}>">
        </div>
    </div>

    <div class="ui-card-full" data-layout="row center-justify sm-column">
        <div data-self="size-x1 centered">
        <input class="button-submit" type="submit" value="<{$smarty.const._SUBMIT}>">
        </div>
        <{* Smarty generates nav pagination + ul pagenavi *}>
        <nav class="pagination" data-self="center-right"><{xoops_pagenavi pagenavi=$pageNavi}></nav>
    </div>
</form>

