<div class="ui-dev-mode"><{$smarty.template}></div>

<nav class="ui-breadcrumbs" aria-label="breadcrumb">
    <a class="button" href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
    &raquo;&raquo; <a class="button" href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <a class="button" href="./index.php?action=BlockList"><{$smarty.const._MI_LEGACY_MENU_BLOCKLIST}></a>
    &raquo;&raquo; <span class="page-title" aria-current="page"><{$smarty.const._AD_LEGACY_LANG_BLOCK_UNINSTALL}></span>
</nav>


<h2><{$smarty.const._AD_LEGACY_LANG_BLOCK_UNINSTALL}></h2>


<div class="error"><{$smarty.const._AD_LEGACY_MESSAGE_CONFIRM_DELETE}></div>

<div class="tips">
    <{if $object->get('block_type') == 'C'}>
    <{$smarty.const._AD_LEGACY_TIPS_CUSTOM_BLOCK_UNINSTALL}>
    <{else}>
    <{$smarty.const._AD_LEGACY_TIPS_BLOCK_UNINSTALL}>
    <{/if}>
</div>

<form method="post" action="./index.php?action=BlockUninstall">
    <{xoops_token form=$actionForm}>
    <{xoops_input type=hidden name=bid value=$actionForm->get('bid')}>

    <table class="outer">

        <thead>
        <tr>
            <th colspan="2"><{$smarty.const._AD_LEGACY_LANG_BLOCK_UNINSTALL}></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_BID}></td>
            <td><{$object->getShow('bid')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_BLOCK_MOD}></td>
            <td><{$object->getShow('mid')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_FUNC_NUM}></td>
            <td><{$object->getShow('func_num')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_OPTIONS}></td>
            <td><{$object->getShow('options')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_NAME}></td>
            <td><{$object->getShow('name')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_TITLE}></td>
            <td><{$object->getShow('title')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_CONTENT}></td>
            <td><{$object->getShow('content')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_SIDE}></td>
            <td>
                <{if $object->mColumn}><{$object->mColumn->getShow('name')}><{/if}>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_WEIGHT}></td>
            <td><{$object->getShow('weight')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_VISIBLE}></td>
            <td>
                <{if $object->getShow('visible') == 1}>
                <{$smarty.const._YES}>
                <{else}>
                <{$smarty.const._YES}>
                <{/if}>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_BLOCK_TYPE}></td>
            <td><{$object->getShow('block_type')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_C_TYPE}></td>
            <td><{$object->getShow('c_type')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_ISACTIVE}></td>
            <td>
                <{if $object->getShow('isactive') == 1}>
                <{$smarty.const._YES}>
                <{else}>
                <{$smarty.const._YES}>
                <{/if}>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_DIRNAME}></td>
            <td><{$object->getShow('dirname')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_FUNC_FILE}></td>
            <td><{$object->getShow('func_file')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_SHOW_FUNC}></td>
            <td><{$object->getShow('show_func')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_EDIT_FUNC}></td>
            <td><{$object->getShow('edit_func')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_TEMPLATE}></td>
            <td><{$object->getShow('template')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_BCACHETIME}></td>
            <td>
                <{if $object->mCachetime}><{$object->mCachetime->getShow('label')}><{/if}>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_LAST_MODIFIED}></td>
            <td><{$object->get('last_modified')|xoops_formattimestamp:l}></td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td colspan="2">
                <input class="button-cancel" type="submit" value="<{$smarty.const._BACK}>" name="_form_control_cancel">
                <input class="button-uninstall" type="submit" value="<{$smarty.const._AD_LEGACY_LANG_UNINSTALL}>">
            </td>
        </tr>
        </tfoot>

    </table>

</form>
