<div class="ui-dev-mode"><{$smarty.template}></div>


<div class="adminnavi" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <a href="./index.php?action=BlockList"><{$smarty.const._MI_LEGACY_MENU_BLOCKLIST}></a>
    &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><{$smarty.const._MI_LEGACY_MENU_BLOCKINSTALL}></span>
</div>


<{include file="./components/block-overview.html"}>


<h2 class="admintitle"><{$smarty.const._MI_LEGACY_MENU_BLOCKINSTALL}></h2>


<div class="tips">
    <ul>
        <li><{$smarty.const._AD_LEGACY_TIPS_INSTALL_BLOCK}></li>
        <li><{$smarty.const._AD_LEGACY_TIPS_BLOCK2}></li>
    </ul>
</div>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section data-layout="row center-justify" class="action-control">

    <{include file="./components/block-search-install.html"}>

    <div class="control-view">
        <a class="button" href="index.php?action=CustomBlockEdit"><{$smarty.const._AD_LEGACY_LANG_ADD_CUSTOM_BLOCK}></a>
        <button class="help-admin button" type='button' data-module='legacy' data-help-article='#help-blocks' aria-label="<{$smarty.const._HELP}>">
            <b>?</b> </button>
    </div>
</section>
<{* -----/ CONTROL-ACTION *}>


<table class="outer">
    <thead>
    <tr>
        <th>
        <{* ////— DROPDOWN SORT —\\\\ *}>
        <div class="dropdown" id="filter-sort">

            <a href="#" class="dropdown-toggle button" aria-label="sort filter">
                <img class="svg" src="<{$xoops_url}>/images/icons/list-tree.svg" width="24px" height="24px" alt="options">
            </a>

            <div class="dropdown-content drop-left" style="min-width: 280px; padding:.5em">
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACY_LANG_BID}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.NEWBLOCKS_SORT_KEY_BID}>"
                           class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.NEWBLOCKS_SORT_KEY_BID}>"
                           class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACY_LANG_BLOCK_MOD}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.NEWBLOCKS_SORT_KEY_MID}>"
                           class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.NEWBLOCKS_SORT_KEY_MID}>"
                           class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;
                        </a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACY_LANG_TITLE}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.NEWBLOCKS_SORT_KEY_TITLE}>"
                           class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.NEWBLOCKS_SORT_KEY_TITLE}>"
                           class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACY_LANG_TEMPLATE}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.NEWBLOCKS_SORT_KEY_TEMPLATE}>"
                           class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.NEWBLOCKS_SORT_KEY_TEMPLATE}>"
                           class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
            </div><{* ----- /Dropdown-content *}>
        </div><{* ----- /Dropdown *}>
        </th>
        <th><{$smarty.const._AD_LEGACY_LANG_BLOCK_MOD}></th>
        <th><{$smarty.const._AD_LEGACY_LANG_TITLE}></th>
        <th><{$smarty.const._AD_LEGACY_LANG_TEMPLATE}></th>
        <th class="list_control"><{$smarty.const._AD_LEGACY_LANG_CONTROL}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=obj from=$objects}>
    <tr>
        <td class="list_id"><{$obj->getShow('bid')}></td>
        <td class="list_name">
            <{if $obj->mModule}>
            <span class="legacy_blocktype_module"><{$obj->mModule->getShow('name')}></span>
            <{else}>
            <span class="ui-blocktype-custom">
          <{if $obj->get('c_type') == "H"}><{$smarty.const._AD_LEGACY_LANG_CUSTOM_HTML}>
          <{elseif $obj->get('c_type') == "P"}><{$smarty.const._AD_LEGACY_LANG_CUSTOM_PHP}>
          <{elseif $obj->get('c_type') == "S"}><{$smarty.const._AD_LEGACY_LANG_CUSTOM_WITH_SMILIES}>
          <{elseif $obj->get('c_type') == "T"}><{$smarty.const._AD_LEGACY_LANG_CUSTOM_WITHOUT_SMILIES}>
          <{/if}>
          </span>
            <{/if}>
        </td>
        <td class="list_title"><{$obj->getShow('title')}></td>
        <td class="list_text">
            <{if $obj->getShow('template')}>
            <a href="<{$xoops_url}>/modules/legacyRender/admin/index.php?action=TplfileList&amp;tpl_file=<{$obj->getShow('template')}>"><{$obj->getShow('template')|xoops_escape}></a>
            <{/if}>
        </td>
        <td class="list_control">
            <{if $obj->get('block_type') == 'C'}>
            <a href="./index.php?action=CustomBlockEdit&amp;bid=<{$obj->getShow('bid')}>"
               aria-label="<{$smarty.const._AD_LEGACY_LANG_INSTALL}>">
                <img class="svg edit" src="<{"icons/icon-edit.svg"|theme}>" width="1em" height="1em" alt="edit">
            </a>
            <a href="./index.php?action=CustomBlockDelete&amp;bid=<{$obj->getShow('bid')}>"
               aria-label="<{$smarty.const._DELETE}>" class="bg-red">
                <img class="svg delete" src="<{'icons/icon-delete.svg'|theme}>" width="1em" height="1em" alt="delete">
            </a>
            <{else}>
            <a href="./index.php?action=BlockInstallEdit&amp;bid=<{$obj->getShow('bid')}>"
               aria-label="<{$smarty.const._AD_LEGACY_LANG_INSTALL}>">
                <img class="svg block-install" src="<{"icons/icon-block-install.svg"|theme}>" width="1em" height="1em" alt="install">
            </a>
            <{/if}>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
    <tfoot>
        <tr><td colspan="5"><{include file="./components/pagenavi.html"}></td></tr>
    </tfoot>
</table>
