<div class="adminnavi">
  <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
  &raquo;&raquo; <a href="./index.php?action=BlockList"><{$smarty.const._MI_LEGACY_MENU_BLOCKLIST}></a>
  &raquo;&raquo; <span class="adminnaviTitle"><{$smarty.const._AD_LEGACY_LANG_BLOCK_EDIT}></span>
</div>

<h3 class="admintitle"><{$smarty.const._AD_LEGACY_LANG_BLOCK_EDIT}></h3>

<{if $actionForm->hasError()}>
<div class="error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>

<form action="index.php?action=BlockEdit" method="post">
  <{xoops_token form=$actionForm}>
  <{xoops_input type=hidden name=bid value=$actionForm->get('bid')}>
  <{if !$hasVisibleOptionForm && $optionForm != null}>
    <{$optionForm}>
  <{/if}>
  <table class="outer">
    <tr>
      <th colspan="2"><{$smarty.const._AD_LEGACY_LANG_BLOCK_EDIT}></th>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_LEGACY_LANG_NAME}></td>
      <td class="<{cycle values="odd,even"}>">
        <{$object->get('name')|xoops_escape}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_LEGACY_LANG_TITLE}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text name=title value=$actionForm->get('title') size=50 maxlength=255}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_LEGACY_LANG_SIDE}></td>
      <td class="<{cycle values="odd,even"}>">
        <select name="side">
          <{xoops_optionsArray id=side from=$columnSideArr label=name value=id default=$actionForm->get('side')}>
        </select>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_LEGACY_LANG_WEIGHT}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text name=weight value=$actionForm->get('weight') size=5 class=legacy_list_number}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_LEGACY_LANG_BCACHETIME}></td>
      <td class="<{cycle values="odd,even"}>">
        <select name='bcachetime'>
          <{xoops_optionsArray id=bcachetime from=$cachetimeArr value=cachetime label=label default=$actionForm->get('bcachetime')}>
        </select>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_LEGACY_LANG_TARGET_MODULES}></td>
      <td class="<{cycle values="odd,even"}>">
        <select  size='5' name='bmodule[]' multiple='multiple'>
          <{xoops_optionsArray id=bmodule[] from=$moduleArr value=mid label=name default=$actionForm->get('bmodule')}>
        </select>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_LEGACY_LANG_TARGET_GROUPS}></td>
      <td class="<{cycle values="odd,even"}>">
        <select  size='5' name='groupid[]' multiple='multiple'>
          <{xoops_optionsArray id=groupid[] from=$groupArr value=groupid label=name default=$actionForm->get('groupid')}>
        </select>
      </td>
    </tr>
    <{if $hasVisibleOptionForm && $optionForm != null}>
      <tr>
        <td class="head"><{$smarty.const._AD_LEGACY_LANG_OPTIONS}></td>
        <td class="<{cycle values="odd,even"}>">
          <{$optionForm}>
        </td>
      </tr>
    <{/if}>
    <tr>
      <td class="foot" colspan="2">
        <input class="formButton" type="submit" value="<{$smarty.const._SUBMIT}>" />
        <input class="formButton" type="submit" value="<{$smarty.const._BACK}>" name="_form_control_cancel" />
      </td>
    </tr>
  </table>
</form>
