<div class="ui-dev-mode"><{$smarty.template}></div>

<nav class="ui-breadcrumbs" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <span class="page-title" aria-current="page">
    <a href="./index.php?action=CommentList"><{$smarty.const._MI_LEGACY_MENU_COMMENT_MANAGE}></a>
    </span>
</nav>


<{include file="./components/comment-overview.html"}>


<h2><{$smarty.const._MI_LEGACY_MENU_COMMENT_MANAGE}></h2>


<div class="tips">
    <{$smarty.const._AD_LEGACY_TIPS_COMMENT}>
</div>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section data-layout="rows center-justify" class="action-control">

<div><a class="button" href="<{$xoops_url}>/modules/d3forum/admin/index.php"><i class="i-view"></i>D3Forum Integration</a></div>

    <div class="control-view">
        <{* ////— DROPDOWN SORT —\\\\ *}>
        <div class="dropdownn button-icon" id="filter-sort">
            <a href="#" class="dropdown-toggle button" aria-label="sort filter">
                <img class="svg" src="<{'icons/icon-list-order.svg'|theme}>" width="1em" height="1em" alt="options">
            </a>
            <div class="dropdown-content drop-top">
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACY_LANG_ID}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.COMMENT_SORT_KEY_COM_ID}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.COMMENT_SORT_KEY_COM_ID}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._MD_LEGACY_LANG_COM_MODID}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.COMMENT_SORT_KEY_COM_MODID}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.COMMENT_SORT_KEY_COM_MODID}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;
                        </a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._MD_LEGACY_LANG_COM_TITLE}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.COMMENT_SORT_KEY_COM_TITLE}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.COMMENT_SORT_KEY_COM_TITLE}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACY_LANG_COM_CREATED}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.COMMENT_SORT_KEY_COM_CREATED}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.COMMENT_SORT_KEY_COM_CREATED}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACY_LANG_COM_MODIFIED}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.COMMENT_SORT_KEY_COM_MODIFIED}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.COMMENT_SORT_KEY_COM_MODIFIED}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACY_LANG_COM_UID}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.COMMENT_SORT_KEY_COM_UID}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.COMMENT_SORT_KEY_COM_UID}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._MD_LEGACY_LANG_COM_IP}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.COMMENT_SORT_KEY_COM_IP}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.COMMENT_SORT_KEY_COM_IP}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACY_LANG_COM_STATUS}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.COMMENT_SORT_KEY_COM_STATUS}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.COMMENT_SORT_KEY_COM_STATUS}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
            </div><{* ----- /Dropdown-content *}>
        </div><{* ----- /Dropdown *}>
        <{* ////— DROPDOWN SEARCH —\\\\ *}>
        <div class="dropdown button-icon" id="drop-search">
            <a href="#" class="dropdown-toggle button" aria-label="sort filter">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path d="M19.31 18.9l3.08 3.1L21 23.39l-3.12-3.07c-.69.43-1.51.68-2.38.68c-2.5 0-4.5-2-4.5-4.5s2-4.5 4.5-4.5s4.5 2 4.5 4.5c0 .88-.25 1.71-.69 2.4m-3.81.1a2.5 2.5 0 0 0 0-5a2.5 2.5 0 0 0 0 5M21 4v2H3V4h18M3 16v-2h6v2H3m0-5V9h18v2h-2.03c-1.01-.63-2.2-1-3.47-1s-2.46.37-3.47 1H3z" fill="currentColor"/></svg>
            </a>
            <div class="dropdown-content drop-top">
                <{include file="./components/comment-search.html"}>
            </div><{* ----- /Dropdown-content *}>
        </div><{* ----- /Dropdown *}>
        <button class="help-admin button-icon" type='button' data-module='legacy' data-help-article='#help-comments' aria-label="<{$smarty.const._HELP}>"><b>?</b></button>
    </div>

</section>
<{* -----/ CONTROL-ACTION *}>


<form name="commentlistform" method="post" action="./index.php?action=CommentList">
    <{xoops_token form=$actionForm}>

<table class="outer">
    <thead>
    <tr>
        <th><{$smarty.const._AD_LEGACY_LANG_ID}></th>
        <th><{$smarty.const._MD_LEGACY_LANG_COM_MODID}></th>
        <th><{$smarty.const._MD_LEGACY_LANG_COM_TITLE}></th>
        <th><{$smarty.const._AD_LEGACY_LANG_COM_CREATED}></th>
        <th><{$smarty.const._AD_LEGACY_LANG_COM_MODIFIED}></th>
        <th><{$smarty.const._AD_LEGACY_LANG_COM_UID}></th>
        <th><{$smarty.const._MD_LEGACY_LANG_COM_IP}></th>
        <th><{$smarty.const._AD_LEGACY_LANG_COM_STATUS}></th>
        <th><{$smarty.const._DELETE}><br>
            <input name="allbox" id="allbox"
                   onclick="with(document.smilesform){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].disabled==false&&elements[i].name.indexOf('delete')>=0){elements[i].checked=this.checked;}}}"
                   type="checkbox" value="Check All"></th>
        <th><{$smarty.const._AD_LEGACY_LANG_CONTROL}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=obj from=$objects}>
    <tr>
        <td class="legacy_list_id"><{$obj->getShow('com_id')}></td>
        <td class="legacy_list_name">
            <{if $obj->mModule}>
                <{$obj->mModule->getShow('name')}>
            <{/if}>
        </td>
        <td class="legacy_list_title">
            <{if $obj->getShow('com_icon')}>
                <img src="<{$smarty.const.XOOPS_URL}>/images/subject/<{$obj->getShow('com_icon')}>" alt="">
            <{else}>
                <img src="<{$smarty.const.XOOPS_URL}>/images/icons/no_posticon.svg" alt="">
            <{/if}>
            <a href="./index.php?action=CommentView&amp;com_id=<{$obj->getShow('com_id')}>"><{$obj->getShow('com_title')}></a>
        </td>
        <td class="legacy_list_date"><{$obj->getShow('com_created')|xoops_formattimestamp:l}></td>
        <td class="legacy_list_date"><{$obj->getShow('com_modified')|xoops_formattimestamp:l}></td>
        <td class="legacy_list_name">
            <{if $obj->mUser}>
                <a href="<{$smarty.const.XOOPS_URL}>/userinfo.php?uid=<{$obj->getShow('com_uid')}>"><{$obj->mUser->getShow('uname')}></a>
            <{else}>
                <{$smarty.const._GUESTS}>
            <{/if}>
        </td>
        <td class="legacy_list_order"><{$obj->getShow('com_ip')}></td>
        <td class="legacy_list_select">
        <select name="status[<{$obj->getShow('com_id')}>]">
            <{if $obj->mStatus->getShow('id') == $smarty.const.XOOPS_COMMENT_PENDING}>
            <option value="<{$smarty.const.XOOPS_COMMENT_PENDING}>"<{if $obj->mStatus->getShow('id') == $smarty.const.XOOPS_COMMENT_PENDING}>selected="selected"<{/if}>><{$smarty.const._CM_PENDING}></option>
            <{/if}>
            <option value="<{$smarty.const.XOOPS_COMMENT_ACTIVE}>"<{if $obj->mStatus->getShow('id') == $smarty.const.XOOPS_COMMENT_ACTIVE}>selected="selected"<{/if}>><{$smarty.const._CM_ACTIVE}></option>
            <option value="<{$smarty.const.XOOPS_COMMENT_HIDDEN}>"<{if $obj->mStatus->getShow('id') == $smarty.const.XOOPS_COMMENT_HIDDEN}>selected="selected"<{/if}>><{$smarty.const._CM_HIDDEN}></option>
        </select>
        </td>
        <td class="legacy_list_select">
            <input type="checkbox" name="delete[<{$obj->getShow('com_id')}>]" value="1">
        </td>
        <td class="list_control">
            <a class="action-view" href="./index.php?action=CommentView&amp;com_id=<{$obj->getShow('com_id')}>" aria-label="<{$smarty.const._VIEW}>">
                <img class="svg" src="<{'icons/icon-view.svg'|theme}>" width="1em" height="1em" alt="<{$smarty.const._VIEW}>">
            </a>
            <a class="action-edit" href="./index.php?action=CommentEdit&amp;com_id=<{$obj->getShow('com_id')}>" aria-label="<{$smarty.const._EDIT}>">
                <img class="svg" src="<{'icons/icon-edit.svg'|theme}>" width="1em" height="1em" alt="<{$smarty.const._EDIT}>">
            </a>
            <a class="action-delete" href="./index.php?action=CommentDelete&amp;com_id=<{$obj->getShow('com_id')}>" aria-label="<{$smarty.const._DELETE}>">
                <img class="svg" src="<{'icons/icon-delete.svg'|theme}>" width="1em" height="1em" alt="<{$smarty.const._DELETE}>">
            </a>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="10">
            <input class="button-submit" type="submit" value="<{$smarty.const._SUBMIT}>">
        </td>
    </tr>
    </tfoot>
</table>

</form>

<{include file="./components/pagenavi.html"}>
