<div class="adminnavi" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="<{$module->getAdminIndex()|xoops_escape:link}>"><{$module->mXoopsModule->getShow('name')}></a>
    &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><{$smarty.const._HELP}></span>
</div>

<h2 class="admintitle"><{$smarty.const._HELP}> »
    <a href="<{$module->getAdminIndex()|xoops_escape:link}>"><{$module->mXoopsModule->getShow('name')}></a>
</h2>

<div class="ui-dev-mode"><{$smarty.template}></div>

<div class="ui-card-full">
    <div class="help"><{$contents}></div>
</div>
