<div class="ui-dev-mode"><{$smarty.template}></div>

<div class="adminnavi" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <a href="./index.php?action=ImagecategoryList"><{$smarty.const._MI_LEGACY_MENU_IMAGE_MANAGE}></a>
    &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><{$smarty.const._AD_LEGACY_LANG_IMAGECATEGORY_LIST}></span>
</div>


<{include file="./components/image-overview.html"}>


<h2 class="admintitle"><{$smarty.const._AD_LEGACY_LANG_IMAGECATEGORY_LIST}></h2>


<div class="tips">
    <ul>
        <li>
            <{$smarty.const._AD_LEGACY_TIPS_IMGCAT}><br>
            <{$smarty.const._AD_LEGACY_LANG_IMGCAT_FILETYPETOTAL}>: <{$fileImgcatTotal}>&nbsp;&nbsp;|&nbsp; <{$smarty.const._AD_LEGACY_LANG_IMGCAT_DBTYPETOTAL}>: <{$dbImgcatTotal}>
        </li>
    </ul>
</div>



<{if $actionForm->hasError()}>
<div class="error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section data-layout="row center-justify" class="action-control">

    <div>
        <a class="button" href="index.php?action=ImagecategoryEdit"><{$smarty.const._AD_LEGACY_LANG_IMAGECATEGORY_NEW}></a>
        <a class="button" href="index.php?action=ImageUpload"><{$smarty.const._AD_LEGACY_LANG_IMAGE_UPLOAD}></a>
    </div>

    <div class="control-view">
        <{* <button id="list" class="button" data-id="1" type="button" aria-label="View List">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M9 5v4h12V5M9 19h12v-4H9m0-1h12v-4H9M4 9h4V5H4m0 14h4v-4H4m0-1h4v-4H4v4z" fill="currentColor"/></svg>
        </button>

        <button id="grid" class="button" data-id="2" type="button" aria-label="View Grid">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M16 5v6h5V5m-11 6h5V5h-5m6 13h5v-6h-5m-6 6h5v-6h-5m-6 6h5v-6H4m0-1h5V5H4v6z" fill="currentColor"/></svg>
        </button>

        <button id="filter" class="button" type="button" data-id="3" onclick="slideToggle('.module-filter', this)"  aria-label="View Filter">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z" fill="currentColor"/></svg>
        </button> *}>

        <button class="help-admin button" type='button' data-module='legacy' data-help-article='#help-images' aria-label="<{$smarty.const._HELP}>">
            <b>?</b> </button>
    </div>

</section>


<{include file="./components/image-search-category.html"}>


<form name="imagecategorylistform" method="post" action="./index.php?action=ImagecategoryList">
    <{xoops_token form=$actionForm}>
    <table class="outer">
        <thead>
        <tr>
            <th><{$smarty.const._AD_LEGACY_LANG_IMGCAT_ID}>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_ID}>">
                    <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" aria-label="<{$smarty.const._ASCENDING}>">
                </a>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_ID}>">
                    <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" aria-label="<{$smarty.const._DESCENDING}>">
                </a>
            </th>
            <th><{$smarty.const._AD_LEGACY_LANG_IMGCAT_NAME}>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_NAME}>">
                    <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" aria-label="<{$smarty.const._ASCENDING}>">
                </a>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_NAME}>">
                    <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" aria-label="<{$smarty.const._DESCENDING}>">
                </a>
            </th>
            <th><{$smarty.const._AD_LEGACY_LANG_IMGCAT_MAXSIZE}>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_MAXSIZE}>">
                    <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" aria-label="<{$smarty.const._ASCENDING}>">
                </a>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_MAXSIZE}>">
                    <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" aria-label="<{$smarty.const._DESCENDING}>">
                </a>
            </th>
            <th><{$smarty.const._AD_LEGACY_LANG_IMGCAT_MAXWIDTH}>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_MAXWIDTH}>">
                    <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" aria-label="<{$smarty.const._ASCENDING}>">
                </a>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_MAXWIDTH}>">
                    <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" aria-label="<{$smarty.const._DESCENDING}>">
                </a>
            </th>
            <th><{$smarty.const._AD_LEGACY_LANG_IMGCAT_MAXHEIGHT}>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_MAXHEIGHT}>">
                    <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" aria-label="<{$smarty.const._ASCENDING}>">
                </a>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_MAXHEIGHT}>">
                    <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" aria-label="<{$smarty.const._DESCENDING}>">
                </a>
            </th>
            <th><{$smarty.const._AD_LEGACY_LANG_IMGCAT_DISPLAY}>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_DISPLAY}>">
                    <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" aria-label="<{$smarty.const._ASCENDING}>">
                </a>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_DISPLAY}>">
                    <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" aria-label="<{$smarty.const._DESCENDING}>">
                </a>
            </th>
            <th><{$smarty.const._AD_LEGACY_LANG_IMGCAT_WEIGHT}>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_WEIGHT}>">
                    <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" aria-label="<{$smarty.const._ASCENDING}>">
                </a>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_WEIGHT}>">
                    <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" aria-label="<{$smarty.const._DESCENDING}>">
                </a>
            </th>
            <th><{$smarty.const._AD_LEGACY_LANG_IMGCAT_STORETYPE}>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_STORETYPE}>">
                    <img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" aria-label="<{$smarty.const._ASCENDING}>">
                </a>
                <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.IMAGECATEGORY_SORT_KEY_IMGCAT_STORETYPE}>">
                    <img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" aria-label="<{$smarty.const._DESCENDING}>">
                </a>
            </th>
            <th><{$smarty.const._AD_LEGACY_LANG_IMAGE_COUNT}></th>
            <th><{$smarty.const._DELETE}><br>
                <input name="allbox" id="allbox" onclick="with(document.imagecategorylistform){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].disabled==false&&elements[i].name.indexOf('delete')>=0){elements[i].checked=this.checked;}}}" type="checkbox" value="Check All">
            </th>
            <th><{$smarty.const._AD_LEGACY_LANG_CONTROL}></th>
        </tr>
        </thead>
        <tbody>
        <{foreach item=obj from=$objects}>
        <{if $obj->getShow('imgcat_display') == 1}>
        <tr class="<{cycle values='odd,even'}> active">
            <{else}>
        <tr>
            <{/if}>
            <td class="list_id"><{$obj->getShow('imgcat_id')}></td>
            <td class="list_title">
                <input type="text" size="12" name="name[<{$obj->getShow('imgcat_id')}>]" value="<{$obj->getShow('imgcat_name')}>">
            </td>
            <td class="list_number">
                <input type="text" size="6" maxlength="10" name="maxsize[<{$obj->getShow('imgcat_id')}>]" value="<{$obj->getShow('imgcat_maxsize')}>" class="list_number"></td>
            <td class="list_number">
                <input type="text" size="4" maxlength="6" name="maxwidth[<{$obj->getShow('imgcat_id')}>]" value="<{$obj->getShow('imgcat_maxwidth')}>" class="list_number"></td>
            <td class="list_number">
                <input type="text" size="4" maxlength="6" name="maxheight[<{$obj->getShow('imgcat_id')}>]" value="<{$obj->getShow('imgcat_maxheight')}>" class="list_number"></td>
            <td class="list_select">
                <input type="checkbox" name="display[<{$obj->getShow('imgcat_id')}>]" value="1" <{if $obj->getShow('imgcat_display')}>checked="checked"<{/if}>>
            </td>
            <td class="legacy_list_order">
                <input type="text" size="4" maxlength="6" name="weight[<{$obj->getShow('imgcat_id')}>]" value="<{$obj->getShow('imgcat_weight')}>" class=legacy_list_number></td>
            <td class="legacy_list_type">
                <{$obj->getShow('imgcat_storetype')}></td>
            <td class="legacy_list_number">
                <{$obj->getImageCount()|xoops_escape}></td>
            <td class="legacy_list_select">
                <input type="checkbox" name="delete[<{$obj->getShow('imgcat_id')}>]" value="1">
            </td>
            <td class="legacy_list_control">
                <a href="./index.php?action=ImageList&amp;imgcat_id=<{$obj->getShow('imgcat_id')}>" aria-label="<{$smarty.const._AD_LEGACY_LANG_LIST}>">
                    <img src="<{"icons/icon-image-view.svg"|theme}>" class="svg" aria-label="<{$smarty.const._AD_LEGACY_LANG_LIST}>">
                </a>
                <a href="./index.php?action=ImageCreate&amp;imgcat_id=<{$obj->getShow('imgcat_id')}>" aria-label="<{$smarty.const._AD_LEGACY_LANG_IMAGE_NEW}>">
                    <img src="<{"icons/icon-image-new.svg"|theme}>" class="svg" aria-label="<{$smarty.const._AD_LEGACY_LANG_IMAGE_NEW}>">
                </a>
                <a href="./index.php?action=ImagecategoryEdit&amp;imgcat_id=<{$obj->getShow('imgcat_id')}>" aria-label="<{$smarty.const._EDIT}>">
                    <img src="<{"icons/icon-image-edit.svg"|theme}>" class="svg" aria-label="<{$smarty.const._EDIT}>">
                </a>
                <a href="./index.php?action=ImagecategoryDelete&amp;imgcat_id=<{$obj->getShow('imgcat_id')}>" aria-label="<{$smarty.const._DELETE}>">
                    <img src="<{"icons/icon-delete.svg"|theme}>" class="svg" aria-label="<{$smarty.const._DELETE}>">
                </a>
            </td>
        </tr>
        <{/foreach}>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="11" class="foot">
                <input class="button-submit" type="submit" value="<{$smarty.const._SUBMIT}>">
            </td>
        </tr>
        </tfoot>
    </table>
</form>

<{include file="./components/pagenavi.html"}>
