<div class="adminnavi">
  <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
  &raquo;&raquo; <a href="./index.php?action=ImagecategoryList"><{$smarty.const._MI_LEGACY_MENU_IMAGE_MANAGE}></a>
  &raquo;&raquo; <{$smarty.const._AD_LEGACY_LANG_IMAGE_LIST}> (<{$category->getShow('imgcat_name')}>)
  &raquo;&raquo; <span class="adminnaviTitle"><{$smarty.const._AD_LEGACY_LANG_IMAGE_UPDATECONF}></span>
</div>

<h3 class="admintitle"><{$smarty.const._AD_LEGACY_LANG_IMAGE_UPDATECONF}> (<{$category->getShow('imgcat_name')}>)</h3>

<div class="confirm"><{$smarty.const._AD_LEGACY_MESSAGE_CONFIRM_UPDATE_IMAGE}></div>

<{if $actionForm->hasError() && $actionForm->get('confirm')}>
<div class="error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>

<form method="post"  action="./index.php?action=ImageList">
  <{xoops_token form=$actionForm}>
  <{xoops_input type=hidden name=confirm value=1}>
<table class="outer">
  <tr>
    <th><{$smarty.const._AD_LEGACY_LANG_IMAGE_ID}></th>
    <th><{$smarty.const._AD_LEGACY_LANG_IMAGE_NAME}></th>
    <th><{$smarty.const._MD_LEGACY_LANG_IMAGE_MIMETYPE}></th>
    <th><{$smarty.const._AD_LEGACY_LANG_IMAGE_DISPLAY}></th>
    <th><{$smarty.const._AD_LEGACY_LANG_IMAGE_WEIGHT}></th>
    <th><{$smarty.const._DELETE}></th>
  </tr>

<{foreach item=imid from=$imids}>
  <tr class="even">
    <td class="legacy_list_id"><{$imid}></td>
    <td class="legacy_list_title">
      <{if $actionForm->get('nicename',$imid) == $imageObjects[$imid]->get('image_nicename')}>
        <{$actionForm->get('nicename',$imid)|xoops_escape}>
      <{else}>
         (<{$imageObjects[$imid]->getShow('image_nicename')}>) &raquo; <b  class="legacy_module_error"><{$actionForm->get('nicename',$imid)|xoops_escape}></b>
      <{/if}>
      <input type="hidden" name="nicename[<{$imid}>]" value="<{$actionForm->get('nicename',$imid)|xoops_escape:edit}>" />
    </td>
    <td class="legacy_list_type"><{$imageObjects[$imid]->getShow('image_mimetype')}></td>
    <td class="legacy_list_select">
      <{if $actionForm->get('display',$imid)|intval == $imageObjects[$imid]->get('image_display')}>
	<{if $imageObjects[$imid]->get('image_display') == 1 }>
          	<{$smarty.const._YES}>
        	<{else}>
          	<{$smarty.const._NO}>
        	<{/if}>
      <{else}>
        (<{if $imageObjects[$imid]->get('image_display') == 1 }>
          <{$smarty.const._YES}>
        <{else}>
          <{$smarty.const._NO}>
        <{/if}>) 
        &raquo;
        
        <{if $actionForm->get('display',$imid) == 1}>
          <b class="legacy_module_error">
          <{$smarty.const._YES}>
        <{else}>
          <b class="legacy_module_warning">
          <{$smarty.const._NO}>
        <{/if}></b>
      <{/if}>
      <{if $actionForm->get('display',$imid)}>
        <input type="hidden" name="display[<{$imid}>]" value="1" />
      <{else}>
        <input type="hidden" name="display[<{$imid}>]" value="0" />
      <{/if}>
    </td>
    <td class="legacy_list_number">
      <{if $actionForm->get('weight',$imid) == $imageObjects[$imid]->get('image_weight')}>
        <{$actionForm->get('weight',$imid)|xoops_escape}>
      <{else}>
         (<{$imageObjects[$imid]->getShow('image_weight')}>) &raquo; <b  class="legacy_module_error"><{$actionForm->get('weight',$imid)|xoops_escape}></b>
      <{/if}>
      <input type="hidden" name="weight[<{$imid}>]" value="<{$actionForm->get('weight',$imid)|xoops_escape:edit}>" />
    </td>
    <td class="legacy_list_select">
        
        <{if $actionForm->get('delete',$imid) == 1}>
        <b class="legacy_module_error">
          <{$smarty.const._YES}>
        <{else}>
        <b class="legacy_module_warning">
          <{$smarty.const._NO}>
        <{/if}>
	</b>
      <{if $actionForm->get('delete',$imid)}>
        <input type="hidden" name="delete[<{$imid}>]" value="1" />
      <{else}>
        <input type="hidden" name="delete[<{$imid}>]" value="0" />
      <{/if}>
    </td>
  </tr>
<{/foreach}>
  <tr>
    <td class="foot" colspan="6">
      <input type="hidden" name="imgcatid" value="<{$category->getShow('imgcat_id')}>" />
      <input type="submit" value="<{$smarty.const._SUBMIT}>" class="formButton" />
      <input class="formButton" type="submit" value="<{$smarty.const._BACK}>" name="_form_control_cancel" />
    </td>
  </tr>
</table>
</form>
