<div class="ui-dev-mode"><{$smarty.template}></div>

<nav class="ui-breadcrumbs" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <span class="page-title" aria-current="page"><a href="./index.php?action=ActSearch"><{$smarty.const._MI_LEGACY_MENU_ACTIONSEARCH}></a></span>
</nav>


<h2><{$smarty.const._MI_LEGACY_MENU_ACTIONSEARCH}></h2>

<div class="tips">
    <{$smarty.const._AD_LEGACY_LANG_ACTIONSEARCH_INFO}>
</div>

<div class="ui-card-full">

    <div class="legacy_actionsearch_form">
        <form action="index.php" method="get">
            <{xoops_input type=hidden name=action value=ActSearch}>
            <{xoops_token form=$actionForm}>
            <input type="text" size="40" name="keywords" <{if $actionForm}>value="<{$actionForm->get('keywords')|xoops_escape:edit}>"<{/if}>>
            <button class="button-search" type="submit">
<!--                <img class="svg" src="<{'icons/icon-search.svg'|theme}>" width="1em" height="1em" alt="search">-->
                <i class="i-action-search"></i> <{$smarty.const._SEARCH}></button>
        </form>
    </div>

</div>
