<div class="ui-dev-mode"><{$smarty.template}></div>

<nav class="ui-breadcrumbs" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <span class="page-title" aria-current="page"><a href="./index.php?action=ModuleList"><{$smarty.const._MI_LEGACY_MENU_MODULELIST}></a></span>
</nav>


<{include file="./components/module-overview.html"}>


<h2><{$smarty.const._MI_LEGACY_MENU_MODULELIST}></h2>


<div class="tips">
    <{$smarty.const._AD_LEGACY_TIPS_MOD}>
</div>


<{if $actionForm->hasError()}>
<div class="error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section data-layout="row center-justify" class="action-control">

    <a class="button" href="index.php?action=InstallList">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="icon-package">
            <path d="M21 16.5c0 .38-.21.71-.53.88l-7.9 4.44c-.16.12-.36.18-.57.18c-.21 0-.41-.06-.57-.18l-7.9-4.44A.991.991 0 0 1 3 16.5v-9c0-.38.21-.71.53-.88l7.9-4.44c.16-.12.36-.18.57-.18c.21 0 .41.06.57.18l7.9 4.44c.32.17.53.5.53.88v9M12 4.15l-1.89 1.07L16 8.61l1.96-1.11L12 4.15M6.04 7.5L12 10.85l1.96-1.1l-5.88-3.4L6.04 7.5M5 15.91l6 3.38v-6.71L5 9.21v6.7m14 0v-6.7l-6 3.37v6.71l6-3.38z" fill="currentColor"></path>
        </svg> <{$smarty.const._AD_LEGACY_LANG_MODINSTALL}></a>

    <div class="control-view">

        <button id="grid" class="button button-icon" data-id="2" type="button" aria-label="View Grid">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M16 5v6h5V5m-11 6h5V5h-5m6 13h5v-6h-5m-6 6h5v-6h-5m-6 6h5v-6H4m0-1h5V5H4v6Z"/></svg>
        </button>

        <button id="list" class="button button-icon" data-id="1" type="button" aria-label="View List">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M3 5h18v4H3V5m0 5h18v4H3v-4m0 5h18v4H3v-4Z"/></svg>
        </button>

        <{* ////— DROPDOWN MODULE FILTER-SORT —\\\\ *}>
        <div class="dropdown button-icon" id="block-search">
            <a href="#" class="dropdown-toggle button" aria-label="sort filter">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="filter" role="img"><path d="M18 21l-4-4h3V7h-3l4-4l4 4h-3v10h3M2 19v-2h10v2M2 13v-2h7v2M2 7V5h4v2H2z" fill="currentColor"></path></svg>            </a>
            <{* TODO DROPDOWN POSITION - TEST : drop-left, drop-right, drop-top *}>
            <div class="dropdown-content drop-top" style="--dropdown-bg:var(--layer-1);min-width: 300px; padding:var(--space-6);">
                <{include file="./components/module-filter.html"}>
            </div><{* ----- /Dropdown-content *}>
        </div><{* ----- /Dropdown *}>



        <button class="help-admin button-icon" type='button' data-module='legacy' data-help-article='#help-modules' aria-label="<{$smarty.const._HELP}>"><b>?</b></button>
    </div>

</section>


<hr>


<{* ----- FILTER - SORT ----- *}>
<form method="post" action="" role="search">
    <{xoops_token form=$actionForm}>


<{* ----- MODULE LIST ----- *}>
<div class="ui-data-render view">

<{foreach item=module from=$moduleObjects}>

    <{include file="./components/module-card.html"}>

<{/foreach}>

</div>

    <{* Alert Dialog *}>
    <div class="alert-submit" style="display: none">
        <div class="danger"data-layout="row center-justify">
        <{$smarty.const._AD_LEGACY_MESSAGE_CONFIRM_CHANGES}>
        <input class="button-submit" type="submit" value="<{$smarty.const._SUBMIT}>">
        </div>
    </div>

    <div class="ui-card-full" data-layout="row centered sm-column">
        <input class="button-submit" type="submit" value="<{$smarty.const._SUBMIT}>">
    </div>

<{include file="./components/pagenavi.html"}>

</form>
