<div class="ui-dev-mode"><{$smarty.template}></div>

<div class="adminnavi">
    <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <a href="./index.php?action=ModuleList"><{$smarty.const._MI_LEGACY_MENU_MODULELIST}></a>
    &raquo;&raquo; <a href="./index.php?action=InstallList"><{$smarty.const._AD_LEGACY_LANG_MODINSTALL}></a>
    &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><{$smarty.const._AD_LEGACY_LANG_MODINSTALL_SUCCESS}></span>
</div>

<h2><{$smarty.const._AD_LEGACY_LANG_MODINSTALL_SUCCESS}></h2>

<div class="ui-card-full">

<h4><{$smarty.const._AD_LEGACY_LANG_MODINSTALL_LOG}></h4>

<ul style="max-height: 340px; overflow-y:auto;">
    <{foreach item=msg from=$log}>
    <{if $msg.type=="error"}>
    <li class="legacy_modinstall_error"><{$msg.message|xoops_escape}></li>
    <{elseif $msg.type=="warning"}>
    <li class="legacy_modinstall_warning"><{$msg.message|xoops_escape}></li>
    <{else}>
    <li class="legacy_modinstall_message"><{$msg.message|xoops_escape}></li>
    <{/if}>
    <{/foreach}>
</ul>

<{if $module->getAdminMenu()}>
    <ul class="toptab" style="text-align:left;">
        <li class="editFile">
            <a href="<{$xoops_url}>/modules/<{$module->get('dirname')}>/admin/"><{$module->get('name')}> - <{$smarty.const._MI_LEGACY_MENU_MODULELIST}></a>
        </li>
    </ul>
<{/if}>

<div class="legacy_module_return">

	<a href="index.php?action=ModuleEdit&amp;mid=<{$module->getShow('mid')}>" class="button">
		<img class="svg" src="<{'icons/icon-edit.svg'|theme}>" width="1em" height="1em" alt="edit"> <{$smarty.const._AD_LEGACY_LANG_MOD_EDIT}>
	</a>

    <a href="index.php?action=ModuleInfo&amp;dirname=<{$module->getShow('dirname')}>" class="button">
        <img class="svg" src="<{'icons/icon-info.svg'|theme}>" width="1em" height="1em" alt="info"> <{$smarty.const._AD_LEGACY_LANG_INFORMATION}>
    </a>

<{if $module->getInfo('blocks')}>
	<a href="index.php?action=BlockInstallList&amp;dirname=<{$module->getShow('dirname')}>" class="button">
		<img class="svg" src="<{'icons/icon-block-install.svg'|theme}>" width="1em" height="1em" alt="block-install"> <{$smarty.const._MI_LEGACY_MENU_BLOCKINSTALL}>
	</a>
<{/if}>

<{if $module->getInfo('templates')}>
	<a href="<{$xoops_url}>/modules/legacyRender/admin/index.php?action=TplfileList&amp;tpl_module=<{$module->getShow('dirname')}>&amp;sort=-9" class="button">
		<img class="svg" src="<{'icons/icon-view.svg'|theme}>" width="1em" height="1em" alt="view"> <{$smarty.const._AD_LEGACY_LANG_TEMPLATE_INFO}>
	</a>
<{/if}>

	<a href="index.php?action=ModuleList" class="button">
        <img class="svg" src="<{'icons/icon-module.svg'|theme}>" width="1em" height="1em" alt="module"> <{$smarty.const._AD_LEGACY_LANG_MODLIST}>
    </a>

	<a href="index.php?action=InstallList" class="button">
        <img class="svg" src="<{'icons/icon-install.svg'|theme}>" width="1em" height="1em" alt="update"> <{$smarty.const._AD_LEGACY_LANG_MODINSTALL}>
    </a>

</div>

</div><{* /ui-card-full *}>
