<div class="adminnavi" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <a href="./index.php?action=ModuleList"><{$smarty.const._MI_LEGACY_MENU_MODULELIST}></a>
    &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><{$smarty.const._AD_LEGACY_LANG_MODUPDATE_SUCCESS}></span>
</div>

<div class="ui-dev-mode"><{$smarty.template}></div>
<h2 class="admintitle"><{$smarty.const._AD_LEGACY_LANG_MODUPDATE_SUCCESS}></h2>


<div class="tips"><{$smarty.const._AD_LEGACY_LANG_MODUPDATE_LOG}></div>


<div class="ui-card-full">
    <div class="updateMsg">
        <ul style="max-height: 340px; overflow-y:auto;">
            <{foreach item=msg from=$log}>
            <{if $msg.type=="error"}>
            <li class="message-warning"><{$msg.message|xoops_escape}></li>
            <{elseif $msg.type=="warning"}>
            <li class="message-warning"><{$msg.message|xoops_escape}></li>
            <{else}>
            <li class="legacy_module_message"><{$msg.message|xoops_escape}></li>
            <{/if}>
            <{/foreach}>
        </ul>
    </div>



    <{if $isPhasedMode && !$isLatestUpgrade}>
    <p>&raquo; <a href="index.php?action=ModuleUpdate&amp;dirname=<{$module->getShow('dirname')}>"><b>Go to the next phased version</b></a></p>
    <{else}>

    <div class="legacy_module_return">

        <a href="index.php?action=ModuleList" class="button">
            <img src="<{"icons/icon-package-open.svg"|theme}>" class="svg"> <{$smarty.const._AD_LEGACY_LANG_MODLIST}>
        </a>

    </div>

    <{/if}>

</div>
