<div class="ui-dev-mode"><{$smarty.template}></div>

<div class="adminnavi" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><a href="./index.php?action=ModuleList"><{$smarty.const._MI_LEGACY_MENU_MODULELIST}></a></span>
</div>


<{include file="./components/module-overview.html"}>


<h2 class="admintitle"><{$smarty.const._MI_LEGACY_MENU_MODULELIST}></h2>


<div class="tips">
    <p><{$smarty.const._AD_LEGACY_TIPS_MOD}></p>
</div>


<{if $actionForm->hasError()}>
<div class="error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section layout="row center-justify" class="action-control">

    <a class="button" href="index.php?action=InstallList"><{$smarty.const._AD_LEGACY_LANG_MODINSTALL}></a>

    <div class="control-view">
        <button id="list" class="button" data-id="1" type="button" aria-label="View List">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M9 5v4h12V5M9 19h12v-4H9m0-1h12v-4H9M4 9h4V5H4m0 14h4v-4H4m0-1h4v-4H4v4z" fill="currentColor"/></svg>
        </button>

        <button id="grid" class="button" data-id="2" type="button" aria-label="View Grid">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M16 5v6h5V5m-11 6h5V5h-5m6 13h5v-6h-5m-6 6h5v-6h-5m-6 6h5v-6H4m0-1h5V5H4v6z" fill="currentColor"/></svg>
        </button>

        <button id="filter" class="button" type="button" data-id="3" onclick="slideToggle('.module-filter', this)"  aria-label="View Filter">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z" fill="currentColor"/></svg>
        </button>

        <button class="help-admin button" type='button' data-module='legacy' data-help-article='#help-modules' aria-label="<{$smarty.const._HELP}>">
            <b>?</b> </button>
    </div>

</section>


<hr>


<{* ----- FILTER - SORT ----- *}>
<form method="post" action="" role="search">
    <{xoops_token form=$actionForm}>

<div class="module-filter" style="display: none">
<{include file="./components/module-filter.html"}>
</div>



<{* ----- MODULE LIST ----- *}>
<div class="ui-data-render view">

<{foreach item=module from=$moduleObjects}>

    <{include file="./components/module-card.html"}>

<{/foreach}>

</div>

<hr>

    <div class="ui-card-full foot">
        <input class="button-submit" type="submit" value="<{$smarty.const._SUBMIT}>">
    </div>

</form>

<{include file="./components/pagenavi.html"}>
