<div class="ui-dev-mode"><{$smarty.template}></div>


<div class="adminnavi" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><a href="./index.php?action=SmilesList"><{$smarty.const._MI_LEGACY_MENU_SMILES_MANAGE}></a></span>
</div>


<h2 class="admintitle"><{$smarty.const._MI_LEGACY_MENU_SMILES_MANAGE}></h2>


<div class="tips">
    <ul>
        <li><{$smarty.const._AD_LEGACY_TIPS_SMILES}></li>
        </li>
    </ul>
</div>


<{if $actionForm->hasError()}>
<div class="error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section data-layout="row center-justify md-column" class="action-control">
    <div>
    <{include file="./components/smilies-search.html"}>
    </div>
    <div class="control-view">
        <a class="button" href="index.php?action=SmilesEdit"><{$smarty.const._AD_LEGACY_LANG_SMILES_NEW}></a>
        <a class="button" href="index.php?action=SmilesUpload"><{$smarty.const._AD_LEGACY_LANG_SMILES_UPLOAD}></a>
        <button class="help-admin button" type='button' data-module='legacy' data-help-article='#help-smilies' aria-label="<{$smarty.const._HELP}>">
            <b>?</b> </button>
    </div>

</section>
<{* -----/ CONTROL-ACTION *}>


<form name="smilesform" method="post" action="./index.php?action=SmilesList">
    <{xoops_token form=$actionForm}>

<table class="outer">
   <thead>
    <tr>
        <th>
            <{* ////— DROPDOWN SORT —\\\\ *}>
            <div class="dropdown" id="filter-sort">

                <a href="#" class="dropdown-toggle button" aria-label="sort filter">
                    <img class="svg" src="<{$xoops_url}>/images/icons/list-tree.svg" width="24px" height="24px" alt="options">
                </a>

                <div class="dropdown-content drop-left" style="min-width: 280px; padding:.5em">
                    <div data-layout="row center-justify inline">
                        <h6><{$smarty.const._AD_LEGACY_LANG_ID}></h6>
                        <div>
                            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.SMILES_SORT_KEY_ID}>"
                               class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.SMILES_SORT_KEY_ID}>"
                               class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                        </div>
                    </div>
                    <div data-layout="row center-justify inline">
                        <h6><{$smarty.const._MD_LEGACY_LANG_CODE}></h6>
                        <div>
                            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.SMILES_SORT_KEY_CODE}>"
                               class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.SMILES_SORT_KEY_CODE}>"
                               class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;
                            </a>
                        </div>
                    </div>
                    <div data-layout="row center-justify">
                        <h6><{$smarty.const._MD_LEGACY_LANG_EMOTION}></h6>
                        <div>
                            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.SMILES_SORT_KEY_EMOTION}>"
                               class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.SMILES_SORT_KEY_EMOTION}>"
                               class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                        </div>
                    </div>
                    <div data-layout="row center-justify">
                        <h6><{$smarty.const._AD_LEGACY_LANG_DISPLAY}></h6>
                        <div>
                            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.SMILES_SORT_KEY_DISPLAY}>"
                               class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                            <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.SMILES_SORT_KEY_DISPLAY}>"
                               class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                        </div>
                    </div>
                </div><{* ----- /Dropdown-content *}>
            </div><{* ----- /Dropdown *}>
        </th>
        <th><{$smarty.const._MD_LEGACY_LANG_CODE}></th>
        <th><{$smarty.const._AD_LEGACY_LANG_SMILE_URL}></th>
        <th><{$smarty.const._MD_LEGACY_LANG_EMOTION}></th>
        <th style="text-align: center"><{$smarty.const._AD_LEGACY_LANG_DISPLAY}></th>
        <th style="text-align: center"><{$smarty.const._DELETE}><br>
            <input name="allbox" id="allbox"
                   onclick="with(document.smilesform){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].disabled==false&&elements[i].name.indexOf('delete')>=0){elements[i].checked=this.checked;}}}"
                   type="checkbox" value="Check All">
        </th>
        <th style="text-align: center"><{$smarty.const._AD_LEGACY_LANG_CONTROL}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=obj from=$objects}>
        <{if $obj->get('display') == 1}>
        <tr class="active">
            <{else}>
        <tr class="inactive">
        <{/if}>
            <td class="list_id"><{$obj->getShow('id')}></td>
            <td class="list_name">
                <input type="text" size="6" name="code[<{$obj->getShow('id')}>]" value="<{$obj->getShow('code')}>">
            </td>
            <td class="list-image">
                <img src="<{$smarty.const.XOOPS_UPLOAD_URL}>/<{$obj->getShow('smile_url')}>" alt="<{$obj->getShow('emotion')}>" aria-label="<{$obj->getShow('emotion')}>">
            </td>
            <td class="list_text">
                <input type="text" size="20" name="emotion[<{$obj->getShow('id')}>]" value="<{$obj->getShow('emotion')}>">
            </td>
            <td class="list_select">
                <input type="checkbox" name="display[<{$obj->getShow('id')}>]" value="1" <{if $obj->getShow('display')}>checked="checked"<{/if}>>
            </td>
            <td class="list_select">
                <input type="checkbox" name="delete[<{$obj->getShow('id')}>]" value="1">
            </td>
            <td class="list_control">
                <a href="./index.php?action=SmilesEdit&amp;id=<{$obj->getShow('id')}>" aria-label="<{$smarty.const._EDIT}>">
                    <img class="svg" src="<{"icons/icon-edit.svg"|theme}>">
                </a>
                <a href="./index.php?action=SmilesDelete&amp;id=<{$obj->getShow('id')}>" aria-label="<{$smarty.const._DELETE}>">
                    <img class="svg" src="<{"icons/icon-delete.svg"|theme}>">
                </a>
            </td>
        </tr>
   <{/foreach}>
   </tbody>
   <tfoot>
    <tr>
        <td colspan="7" class="foot">
            <input type="submit" value="<{$smarty.const._SUBMIT}>">
        </td>
    </tr>
    </tfoot>
</table>

</form>

<{include file="./components/pagenavi.html"}>
