<div class="ui-dev-mode"><{$smarty.template}></div>


<div class="adminnavi" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
    &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><a href="./index.php?action=ThemeList"><{$smarty.const._AD_LEGACY_LANG_THEME_ADMIN}></a></span>
</div>


<h2 class="admintitle"><{$smarty.const._AD_LEGACY_LANG_THEME_ADMIN}></h2>


<div class="tips">
    <{$smarty.const._AD_LEGACY_TIPS_THEME_ADMIN}>
</div>


<{if $actionForm->hasError()}>
<div class="error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>
<style>
    .zoomA {
        /* SCREENSHOT DIMENSIONS (  OPTIONAL ) */
        width: 340px;
        height: auto;
        /* ANIMATE ZOOM ease | ease-in | ease-out | linear */
        transition: transform ease-in-out 0.3s;
    }
    /* SCREENSHOT ZOOM */
    .zoomA:hover { transform: scale(1.25); }
</style>

<{* ////— ACTION-CONTROL —\\\\ *}>
<section data-layout="row center-justify" class="action-control">

    <div>
    <a class="button" href="<{$xoops_url}>/modules/legacyRender/admin/index.php">
        <img class="svg" src="<{'icons/icon-layout.svg'|theme}>" width="1em" height="1em" alt="options"> Renderer</a>
    <a class="button" href="<{$xoops_url}>/modules/legacyRender/admin/index.php?action=TplsetList">
        <img class="svg" src="<{'icons/icon-layout.svg'|theme}>" width="1em" height="1em" alt="options"> Templates</a>
    </div>
    
    <div class="control-view">
        <{* <button id="list" class="button" data-id="1" type="button" aria-label="View List">
            <svg xmlns="http://www.w3.org/2000/svg" role="img" width="1em" height="1em" viewBox="0 0 24 24">
                <path d="M9 5v4h12V5M9 19h12v-4H9m0-1h12v-4H9M4 9h4V5H4m0 14h4v-4H4m0-1h4v-4H4v4z" fill="currentColor"/>
            </svg>
        </button>

        <button id="grid" class="button" data-id="2" type="button" aria-label="View Grid">
            <svg xmlns="http://www.w3.org/2000/svg" role="img" width="1em" height="1em" viewBox="0 0 24 24">
                <path d="M16 5v6h5V5m-11 6h5V5h-5m6 13h5v-6h-5m-6 6h5v-6h-5m-6 6h5v-6H4m0-1h5V5H4v6z"
                      fill="currentColor"/>
            </svg>
        </button>

        <button id="filter" class="button" type="button" data-id="3" onclick="slideToggle('.module-filter', this)"
                aria-label="View Filter">
            <svg xmlns="http://www.w3.org/2000/svg" role="img" width="1em" height="1em"
                 viewBox="0 0 24 24">
                <path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z" fill="currentColor"/>
            </svg>
        </button> *}>

        <button class="help-admin button" type='button' data-module='legacy' data-help-article='#help-themes' aria-label="<{$smarty.const._HELP}>">
            <b>?</b> </button>
    </div>

</section>


<form action="./index.php?action=ThemeList" method="post">
    <{xoops_token form=$actionForm}>
    <table class="outer">
        <thead>
        <tr>
            <th><{$smarty.const._AD_LEGACY_LANG_THEME}></th>
            <th><{$smarty.const._AD_LEGACY_LANG_PACKAGE}></th>
            <th colspan="2" class="list_center"><{$smarty.const._AD_LEGACY_LANG_CONTROL}></th>
        </tr>
        </thead>
        <tbody>
        <{foreach item=theme from=$themes}>
        <{if $currentThemeName == $theme->get('dirname')}>
        <tr class="active">
        <{else}>
        <tr class="inactive">
        <{/if}>
        <td class="ui-card-block-image">
            <{if $theme->get('screenshot')}>
            <img class="zoomA" src="<{$smarty.const.XOOPS_THEME_URL}>/<{$theme->getShow('dirname')}>/<{$theme->getShow('screenshot')}>"
                width="120" height="90" alt="<{$theme->getShow('name')}>" aria-label="<{$theme->getShow('name')}>">
            <{/if}>
            <div class="list_imagetitle"><{$theme->getShow('name')}></div>
        </td>
        <td class="list_text">
            <p class="list_description"><{$theme->getShow('description') != null}></p>
            <ul class="admin-theme-list">
                <{if $theme->get('themeoptions') != null}>
                <li><a href="<{$smarty.const.XOOPS_THEME_URL}>/<{$theme->getShow('dirname')}>/<{$theme->getShow('themeoptions')}>">
                    Theme Options - Custom Parameters</a></li>
                <{/if}>
                <li><{$smarty.const._AD_LEGACY_LANG_VERSION}> : <{$theme->getShow('version')}></li>
                <li><{$smarty.const._AD_LEGACY_LANG_RENDER}> : <{$theme->getShow('render_system')}></li>
                <li><{$smarty.const._AD_LEGACY_LANG_FORMAT}> : <{$theme->getShow('format')}></li>
                <li><{$smarty.const._AD_LEGACY_LANG_AUTHOR}> : <{$theme->getShow('author')}></li>
                <{if $theme->get('license')}>
                <li><{$smarty.const._AD_LEGACY_LANG_LICENCE}> : <{$theme->getShow('license')}></li>
                <{/if}>
                <{if $theme->get('url') != null}>
                <li><a href="<{$theme->getShow('url')}>"><{$smarty.const._AD_LEGACY_LANG_GET_THE_LATEST_VERSION}></a>
                </li>
                <{/if}>
            </ul>
        </td>
        <td class="list_select">
            <input type="checkbox"
                   name="select[<{$theme->getShow('dirname')}>]"
                   value="1" <{if $actionForm->get('select', $theme->get('dirname'))}>checked="checked"<{/if}>
                   aria-label="<{$smarty.const._MD_AM_ALLOWTHEME}>">
        </td>
        <td class="list_control">
            <{if $currentThemeName != $theme->get('dirname')}>
            <input class="button select"
                   name="choose[<{$theme->getShow('dirname')}>]"
                   type="submit"
                   value="<{$smarty.const._SELECT}>"
                   aria-label="<{$smarty.const._MD_AM_DTHEME}>">
            <{else}>
            <button class="button bg-green" aria-label="<{$smarty.const._AD_LEGACY_LANG_SELECTED}>">
                <img class="svg" src="<{'icons/icon-check.svg'|theme}>">
            </button>
            <{/if}>
        </td>
        </tr>
        <{/foreach}>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" class="foot">
                <input class="button-submit" type="submit"  name="submit" value="<{$smarty.const._SUBMIT}>">
            </td>
        </tr>
        </tfoot>
    </table>
</form>
