<div class="ui-dev-mode"><{$smarty.template}></div>

<nav class="ui-breadcrumbs" aria-label="breadcrumb">
	<a href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
	&raquo;&raquo; <a href="./index.php?action=DefinitionList"><{$smarty.const._MI_PROFILE_NAME}></a>
  &raquo;&raquo; <span class="page-title"><a href="./index.php?action=DataDownload"><{$smarty.const._MI_PROFILE_ADMENU_DATA_DOWNLOAD}></a></span>
</nav>


<h2><{$smarty.const._MI_PROFILE_ADMENU_DATA_DOWNLOAD}></h2>


<div class="confirm">
	<p><{$smarty.const._AD_PROFILE_TIPS_DATA_DOWNLOAD}></p>
	<p><{$smarty.const._AD_PROFILE_DATA_NUM|sprintf:$profileCount}></p>

	<form action="./index.php?action=DataDownload" method="post">
		<button class="button" type="submit"><i class="i-export"></i> <{$smarty.const._AD_PROFILE_DATA_DOWNLOAD_DO}></button>
	</form>

</div>

<h4>Example of output data (csv file)</h4>
<pre><code class="lang-bash">uid,Region,City
 1,Geneva,Switzerland
 2,Tokyo,Japan
 3,Natal,Brasil
 4,Paris,France
 ...
</code></pre>
