<a href="index.php?action=CatEdit&amp;gr_id=<{$object->getShow('gr_id')}>"><{$smarty.const._MD_LECAT_LANG_ADD_A_NEW_CAT}></a>
<dl>
  <dt><{$smarty.const._MD_LECAT_LANG_GR_ID}></dt>
  <dd><{$object->getShow('gr_id')}></dd>
  <dt><{$smarty.const._MD_LECAT_LANG_TITLE}></dt>
  <dd><{$object->getShow('title')}></dd>
  <dt><{$smarty.const._MD_LECAT_LANG_LEVEL}></dt>
  <dd><{$object->getShow('level')}></dd>
  <dt><{$smarty.const._MD_LECAT_LANG_ACTIONS}></dt>
  <dd><{$object->getShow('actions')}></dd>
</dl>

<h3><{$smarty.const._MD_LECAT_LANG_CATEGORY}></h3>
<div>
	<{lecat_tree tree=$tree dirname=$lecatDirname url="./index.php?action=CatView&amp;cat_id="}>
</div>
