<{* ---------- ---------- ---------- ---------- ---------- Block System-Info *}>

<div class="tips text-warning">
    <{$smarty.const._MB_LEGACY_SYSTEMINFO}>
</div>

    <div id="t<{$blockid}>" class="head">
       <a href="javascript:void(0)" onclick="ccToggle('<{$blockid}>')"><img src="<{"design/navy.gif"|theme}>" alt="" id="i<{$blockid}>"></a>
    </div>

    <div id="c<{$blockid}>" class="submenu">

        <img src="<{"design/menulist.gif"|theme}>" alt=""><{$smarty.const._MB_LEGACY_XCLEGACYVERSION}><br>
        &nbsp;<{$smarty.const.XOOPS_VERSION}><br>
        <img src="<{"design/menulist.gif"|theme}>" alt=""><{$smarty.const._MD_AM_DTHEME}><br>
        &nbsp;<{$siteconfig.theme_set|xoops_escape}><br>
        <img src="<{"design/menulist.gif"|theme}>" alt=""><{$smarty.const._MD_AM_DTPLSET}><br>
        &nbsp;<{$siteconfig.template_set|xoops_escape}><br>
        <img src="<{"design/menulist.gif"|theme}>" alt=""><{$smarty.const._MD_AM_LANGUAGE}><br>
        &nbsp;<{$siteconfig.language|xoops_escape}><br>
        <img src="<{"design/menulist.gif"|theme}>" alt=""><{$smarty.const._MD_AM_DEBUGMODE}><br>
        &nbsp;
        <{if $siteconfig.debug_mode == 0}>
        <{$smarty.const._MD_AM_DEBUGMODE0}>
        <{elseif $siteconfig.debug_mode == 1}>
        <{$smarty.const._MD_AM_DEBUGMODE1}>
        <{elseif $siteconfig.debug_mode == 2}>
        <{$smarty.const._MD_AM_DEBUGMODE2}>
        <{elseif $siteconfig.debug_mode == 3}>
        <{$smarty.const._MD_AM_DEBUGMODE3}>
        <{/if}>

        <br>

        <img src="<{"design/menulist.gif"|theme}>" alt=""><{$smarty.const._MB_LEGACY_OS}><br>
        &nbsp;<{$systemconfig.os|xoops_escape}><br>
        <img src="<{"design/menulist.gif"|theme}>" alt=""><{$smarty.const._MB_LEGACY_SERVER}><br>
        &nbsp;<{$systemconfig.server|xoops_escape}><br>
        <img src="<{"design/menulist.gif"|theme}>" alt=""><{$smarty.const._MB_LEGACY_USERAGENT}><br>
        &nbsp;<{$systemconfig.useragent|xoops_escape}><br>
        <img src="<{"design/menulist.gif"|theme}>" alt=""><{$smarty.const._MB_LEGACY_PHPVERSION}><br>
        &nbsp;<{$systemconfig.phpversion|xoops_escape}><br>
        <img src="<{"design/menulist.gif"|theme}>" alt=""><{$smarty.const._MB_LEGACY_MYSQLVERSION}><br>
        &nbsp;<{$systemconfig.mysqlversion|xoops_escape}><br>

    </div>
