<style>
	.menu-overlay {
		background: rgba(0, 0, 0, 0);
		border:var(--ui-widget-content-border);
		display: block;
		pointer-events: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: all 0.4s ease-out;
		transition-delay: 0.2s;
		z-index: 99999;
	}
	.menu-overlay .dialog {
		border-radius: var(--border-radius);
		background: var(--ui-dialog-bg );
		box-shadow: var(--ui-dialog-shadow );
		margin: 10% auto;
		padding: 1.75rem 1rem 1rem;
		position: relative;
		top: -1500px;
		max-width: 520px;
        overscroll-behavior: contain;
	}

	.menu-overlay:target {
		display: block;
		pointer-events: auto;
		background: rgba(0, 0, 0, 0.3);
		transition: all 0.2s ease-out;
	}
	.menu-overlay:target .dialog {
		top: -20px;
		transition: all 0.4s ease-out;
		transition-delay: 0.2s;
	}
	.menu-close{
		background: inherit;
		color: #FFFFFF;
		line-height: 25px;
		position: absolute;
		right: 8px;
		text-align: center;
		top: 1px;
		width: 24px;
		text-decoration: none;
		font-weight: bold;
		border-radius: var(--border-radius);
		box-shadow: var(--shadow-3);
		transition: all 0.4s ease-out;
		transition-delay: 0.2s;
	}
	.menu-close:hover {
		background: var(--link-hover);
		transition: all 0.4s ease-out;
	}

	ul.module-menu {
		display:grid;
		grid-template-columns: 1fr;
		list-style: none;
		margin:0;
		padding: 0;
		overflow-y: auto;
	}
	@media screen and (min-width: 720px) {
		ul.module-menu {
			display: grid;
			grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		}
	}
	ul.module-menu li {
		display: inline-flex;
		margin:0;
		padding: 0;
	}
	ul.module-menu li a.button {
		width: 100%;text-align: left;
	}
	ul.module-menu li a.button svg { margin-right:1em;}
</style>

<div data-layout="column" class="dashboard-options">

<div data-layout="rows">

<{foreach item=module from=$modules}>

<{assign var=mid value=$module->mXoopsModule->getVar('mid')}>
<{assign var=dirname value=$module->mXoopsModule->getVar('dirname', 'N')}>
<{assign var=icon value=$module->mXoopsModule->getInfo('icon')}>

<{* $module->modinfo.icon *}>

	<a href="#m_<{$mid}>">
	<div class="set-link">
		<{if $module->mXoopsModule->getInfo('icon')}>
		<span class="set-icon"><img class="svg" src="<{$xoops_url}>/modules/<{$dirname}>/<{$icon}>" width="24px" height="24px" role="img"></span>
		<{/if}>
		<span class="set-name t<{$mid}>"><{$module->mXoopsModule->getVar('name')}></span>
	</div>
	</a><{* ----- /set-link *}>

	<div id="m_<{$mid}>" class="menu-overlay">
		<div class="dialog">
		<{if $module->hasAdminIndex()}>

		<{if $module->getAdminMenu()}>


		<a href="#menu-close" title="menu-close" class="menu-close">X</a>

			<ul class="module-menu">

			<{* ---------- ---------- ---------- ---------- ---------- Module Admin Links *}>
			<{foreach item=menu from=$module->getAdminMenu()}>
			<{if $menu.show !== false}>
			<li class="module-link"><a class="button" href="<{$menu.link|xoops_escape:link}>"><{$menu.title|xoops_escape}></a></li>
			<{/if}>
			<{/foreach}>

			<{* ---------- ---------- ---------- ---------- ---------- Module Admin Options *}>

			<{* ---------- ---------- ---------- ---------- ---------- Module Edit *}>
			<li class="module-link">
			<a class="button" href="<{$xoops_url}>/modules/legacy/admin/index.php?action=ModuleEdit&amp;mid=<{$mid}>">
				<img class="svg" src="<{'icons/icon-edit.svg'|theme}>" width="1em" height="1em" alt="edit"> <{$smarty.const._EDIT}>
			</a>
			</li>

			<{* ---------- ---------- ---------- ---------- ---------- Module Blocks *}>
			<{* REMOVE FOR MODULES : if $module->mXoopsModule->getInfo('blocks') && $dirname !="legacy" && $dirname !="altsys" *}>
			<{if $module->mXoopsModule->getInfo('blocks') && $dirname !="altsys"}>
			<li class="module-link">
			<a class="button" href="<{$xoops_url}>/modules/legacy/admin/index.php?action=BlockList&amp;dirname=<{$dirname}>">
				<img class="svg" src="<{'icons/icon-block-active.svg'|theme}>" width="1em" height="1em" alt="block"><{$smarty.const._MI_LEGACY_MENU_BLOCKLIST}>
			</a>
			</li>

			<li class="module-link">
			<a class="button" href="<{$xoops_url}>/modules/legacy/admin/index.php?action=BlockInstallList&amp;dirname=<{$dirname}>">
				<img class="svg" src="<{'icons/icon-block-install.svg'|theme}>" width="1em" height="1em" alt="install"><{$smarty.const._MI_LEGACY_MENU_BLOCKINSTALL}>
			</a>
			</li>
			<{/if}>

			<{* ---------- ---------- ---------- ---------- ---------- Module Templates *}>
			<{* REMOVE FOR MODULES : if $dirname !="legacyRender" && $dirname !="altsys" && $dirname !="system" *}>
			<{if $dirname !="altsys"}>
			<{foreach item=tplmodule from=$tplmodules}>
			<{if $dirname == $tplmodule}>
			<li class="module-link">
			<a class="button" href="<{$xoops_url}>/modules/legacyRender/admin/index.php?action=TplfileList&amp;tpl_module=<{$dirname}>&amp;sort=-9">
				<img class="svg" src="<{'icons/icon-view.svg'|theme}>" width="1em" height="1em" alt="template"><{$smarty.const._AD_LEGACY_LANG_TEMPLATE_INFO}>
			</a>
			</li>
			<{/if}>
			<{/foreach}>
			<{/if}>

			<{* ---------- ---------- ---------- ---------- ---------- Module Comments *}>

			<{if $module->mXoopsModule->getInfo('hasComments')}>
			<li class="module-link">
			<a class="button" href="<{$xoops_url}>/modules/legacy/admin/index.php?action=CommentList&amp;com_modid=<{$mid}>&amp;sort=-8">
				<img class="svg" src="<{'icons/icon-comments.svg'|theme}>" width="1em" height="1em" alt="comment"><{$smarty.const._MI_LEGACY_MENU_COMMENT_MANAGE}>
			</a>
			</li>
			<{/if}>

			<{* ---------- ---------- ---------- ---------- ---------- Module Update *}>

			<{if $module->mXoopsModule->hasNeedUpdate()}>
			<li class="module-link">
			<a class="button" href="<{$xoops_url}>/modules/legacy/admin/index.php?action=ModuleUpdate&amp;dirname=<{$dirname}>">
				<img class="svg" src="<{'icons/icon-install.svg'|theme}>" width="1em" height="1em" alt="update"><{$smarty.const._AD_LEGACY_LANG_UPGRADE}>
			</a>
			</li>
			<{else}>
			<li class="module-link">
			<a class="button" href="<{$xoops_url}>/modules/legacy/admin/index.php?action=ModuleUpdate&amp;dirname=<{$dirname}>">
				<img class="svg" src="<{'icons/icon-update.svg'|theme}>" width="1em" height="1em" alt="update"><{$smarty.const._AD_LEGACY_LANG_UPGRADE}>
			</a>
			</li>
			<{/if}>

			<{* ---------- ---------- ---------- ---------- ---------- Module Info *}>

			<li class="module-link">
			<a class="button" href="<{$xoops_url}>/modules/legacy/admin/index.php?action=ModuleInfo&amp;dirname=<{$dirname}>">
				<img class="svg" src="<{'icons/icon-info.svg'|theme}>" width="1em" height="1em" alt="info"><{$smarty.const._AD_LEGACY_LANG_INFORMATION}>
			</a>
			</li>

				<{else}>

				<{* ---------- ---------- ---------- ---------- ---------- Module No-Settings *}>

				<li class="nav-module-link">
					<{$smarty.const._AD_LEGACY_LANG_NO_SETTING}>
				</li>
		</ul>




		<{/if}><{* ----- /getAdminMenu *}>

	<{/if}><{* ----- /hasAdminIndex *}>

</div>
</div>


<{/foreach}>

</div><{* ----- /rows *}>

</div><{* ----- /dashboard-options *}>


