<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<input type="hidden" name="options[0]" value="<{$mydirname}>">

<p>
	<label for="categories"><{$smarty.const._MB_PICO_CATLIMIT}></label>:
	<input type="text" size="20" name="options[1]" id="categories" value="<{$categories_imploded}>">
	<blockquote><{$smarty.const._MB_PICO_CATLIMITDSC}></blockquote>
</p>

<p>
	<label for="select_order"><{$smarty.const._MB_PICO_SELECTORDER}></label>:
	<select name="options[2]" id="select_order">
		<{html_options values=$order_options output=$order_options selected=$selected_order}>
	</select>
</p>

<p>
	<label for="contents_num"><{$smarty.const._MB_PICO_CONTENTSNUM}></label>:
	<input type="text" size="4" name="options[3]" id="contents_num" value="<{$contents_num}>">
</p>

<p>
	<label for="this_template"><{$smarty.const._MB_PICO_THISTEMPLATE}></label>:
	<input type="text" size="60" name="options[4]" id="this_template" value="<{$this_template|escape}>">
	<a href="<{$xoops_url}>/modules/<{$mydirname}>/admin/index.php?mode=admin&amp;lib=altsys&amp;page=mytplsform&amp;tpl_file=<{$this_template|escape}>"><{$smarty.const._EDIT}></a>
</p>

<p>
	<{$smarty.const._MB_PICO_DISPLAYBODY}>:
	<label for="display_body_yes"><{$smarty.const._YES}></label>
	<input type="radio" name="options[5]" id="display_body_yes" value="1" <{if $display_body}>checked="checked"<{/if}>>
	&nbsp;
	<label for="display_body_no"><{$smarty.const._NO}></label>
	<input type="radio" name="options[5]" id="display_body_no" value="0" <{if ! $display_body}>checked="checked"<{/if}>>
</p>

