
.component {
    margin-bottom   : 2rem;
    gap             : 2rem;
}

.component-ref {
    list-style      : none;
    padding         : 0;
    margin          : 0;
    background      : var(--bg-linear);
    border-left     : var(--border);
}
.component-ref li {
    /*margin-bottom   : var(--space-2);*/
    /*padding         : var(--space-2) var(--space-6);*/
}
.component-ref li:hover {
    /*background      : var(--color-2);*/
    border-color    : var(--border)
}


/* Dialog Help */
#help-data {
    display:block;
}
.xcl-progress-loading {
    width           : 70%;
    margin          : 25% auto;
    height          : 1.5em;
    border-radius   : 5px;
    border          : 1px solid;
    color           : rgba(25, 100, 190, 0.74);
    outline         : 1px solid transparent;
}
.xcl-progress-loading {
    -webkit-filter  : drop-shadow(0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5));
    filter          : drop-shadow(0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5));
}
.xcl-progress-loading:before, .xcl-progress-loading:after {
    content         : '';
    top             : .2em;
    left            : .2em;
    right           : .2em;
    bottom          : .2em;
    border-radius   : .25em;
    display         : block;
    position        : absolute;
    overflow        : hidden;
}
.xcl-progress-loading:after {
    right           : 100%;
    -webkit-animation: xcLoaderBarInfine 10s infinite linear, xcLoaderBarScroll 3s infinite linear;
    animation       : xcLoaderBarInfine 10s infinite linear, xcLoaderBarScroll 3s infinite linear;
    box-shadow      : inset 0 0.5em 0.5em rgba(25, 100, 190, 0.25), inset 0 -0.5em 0.5em rgba(8, 30, 63, 0.5);
    background-image: repeating-linear-gradient(45deg, rgb(8, 55, 86) 0px, rgb(8, 55, 86) 4px, rgb(19, 109, 151) 5px, rgb(19, 109, 151) 9px);
    background-size : 27px 13px;
}

/* XelFinder */

.xelfinder a > svg[class^="button-"] {
    background      : transparent;
    transition      : 0.5s ease;
}
.xelfinder a:hover > svg[class^="button-"],
.xelfinder a:active > svg[class^="button-"] {
    background      : transparent;
    color           : var(--link-hover);
}
.xelfinder a > .button-blue {color: #027dde;}
.xelfinder a > .button-green {color: #528742;}
.xelfinder a > .button-orange {color: #f0aa15;}


#iframe-xelfinder {border : none}

#iframe-api {
    border : none;
    width: 100%;
}

.modal-view {
    z-index         : 300;
    display         : none;
    padding-top     : 0;
    position        : fixed;
    left            : 0;
    top             : 0;

    align-items     : center;
    justify-content : center;
    width           : 100%;
    height          : 100%;
    overflow        : auto;
    background-color:rgba(21,25,27,.8);
    overscroll-behavior: contain;
}
.modal-show {
    display         : flex
}

.modal-close {
    background      : var(--button-bg);
    border          : var(--button-border);
    border-radius   : var(--button-radius);
    box-shadow      : var(--button-shadow);
    color           : var(--button-color);
    cursor          : pointer;
    padding         : var(--space-2) var(--space-4);
    position        : inherit;
    right           : 5%;
    top             : 5px;
    transition      : var(--button-transition);
}
.modal-close:hover {
    background      : var(--button-bg-on);
    border          : var(--button-border-on);
    box-shadow      : var(--button-shadow-on);
    color           : var(--button-color-on);
}


