<nav>
    <ul>
        <li>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle button" title="<{$smarty.const._CPHOME}>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/></svg>
                </a>
                <div class="dropdown-content drop-nav">
                    <div class="navbar-options">
                    <{include file="`$xoops_rootpath`/modules/legacy/admin/templates/components/admin-nav-menu.html"}>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="<{$xoops_url}>/admin.php" title="<{$smarty.const._CPHOME}>">
                <svg class="site-name" xmlns="http://www.w3.org/2000/svg" width="100%" height="44" viewBox="0 0 248 48">
                    <text x="124" y="24" text-anchor="middle" alignment-baseline="central"><{$legacy_sitename|xoops_escape}></text>
                </svg>
            </a>
        </li>
        <{* Display date_format modifier to show current date and time *}>
        <li data-self="sm-hide">
            <span class="badge"><{*  style="line-height: 24px;"*}>
                <img class="svg" src="<{'icons/icon-date-time.svg'|theme}>" width="1em" alt="date-time"> <{$smarty.now|date_format:'%Y-%m-%d %H:%M:%S'}>
            </span>
        </li>
        <li class="ui-color-mode">
            <button id="themeToggle" class="button button-icon" title="Color Mode"></button>

            <a class="button" href="<{$xoops_url}>/user.php?op=logout" target="_blank" title="<{$smarty.const._LOGOUT}>">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" role="img"><path d="M16 17v-3H9v-4h7V7l5 5l-5 5M14 2a2 2 0 0 1 2 2v2h-2V4H5v16h9v-2h2v2a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9z" fill="currentColor"></path></svg>
            </a>
        </li>

    </ul>
</nav>
