<{* ---------- ---------- ---------- ---------- ---------- Block Overview *}>
<div class="ui-card-overview">

	<div class="ui-card-small">
		<div class="ui-card-small-icon ui-icon-blue">
        <img class="svg blocks" src="<{"icons/icon-blocks.svg"|theme}>">
		</div>
		<div class="ui-card-small-info">
			<h3 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_BLOCK_TOTAL}>: <strong><{$BlockTotal}></strong></h3>

		</div>
	</div>

	<div class="ui-card-small">
		<div class="ui-card-small-icon ui-icon-green">
        <img class="svg block-active" src="<{"icons/icon-block-active.svg"|theme}>">
		</div>
		<div class="ui-card-small-info">
			<h3 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_BLOCK_ACTIVETOTAL}>: <strong><{$ActiveBlockTotal}></strong></h3>
			<p class="ui-card-small-subtitle"><{$smarty.const._AD_LEGACY_LANG_BLOCK_INSTALLEDTOTAL}>:
				<strong><{$ActiveInstalledBlockTotal}></strong> &nbsp;|&nbsp;
				<{$smarty.const._AD_LEGACY_LANG_BLOCK_UNINSTALLEDTOTAL}>: <strong><{$ActiveUninstalledBlockTotal}></strong></p>
		</div>
	</div>

	<div class="ui-card-small">
		<div class="ui-card-small-icon ui-icon-red">
        <img class="svg block-inactive" src="<{"icons/icon-block-inactive.svg"|theme}>">
		</div>
		<div class="ui-card-small-info">
			<h3 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_BLOCK_INACTIVETOTAL}>: <strong><{$InactiveBlockTotal}></strong></h3>
			<p class="ui-card-small-subtitle"><{$smarty.const._AD_LEGACY_LANG_BLOCK_INSTALLEDTOTAL}>: <strong><{$InactiveInstalledBlockTotal}></strong> &nbsp;|&nbsp;
				<{$smarty.const._AD_LEGACY_LANG_BLOCK_UNINSTALLEDTOTAL}>: <strong><{$InactiveUninstalledBlockTotal}></strong></p>
		</div>
	</div>

<!--	<div class="ui-card-small">-->
<!--		<div class="ui-card-small-icon ui-icon-orange">-->
<!--        <img class="svg block-add" src="<{"icons/icon-block-plus.svg"|theme}>">-->
<!--		</div>-->
<!--		<div class="ui-card-small-info">-->
<!--            <h3 class="ui-card-small-title"><a href="#" id="open-help"><{$smarty.const._HELP}></a></h3>-->
<!--		</div>-->
<!--	</div>-->

</div><{* Module Blocks Overview *}>
