<{* ----- -----  Image Search *}>
<form action="./index.php" method="get" role="search">
    <input type="hidden" name="action" value="ImageList">
    <input type="hidden" name="imgcat_id" value="<{$category->getShow('imgcat_id')}>">
    <div data-layout="rows">
        <label><{$smarty.const._SEARCH}></label>
        <input type="text" name="search" value="<{$filterForm->mKeyword}>">
    </div>
    <div data-layout="rows">
        <label><{$smarty.const._AD_LEGACY_LANG_IMAGE_DISPLAY}></label>
        <select name="option_field">
            <option value="all" <{if $filterForm->mOptionField == 'all'}>selected="selected"<{/if}>><{$smarty.const._ALL}></option>
            <option value="visible" <{if $filterForm->mOptionField == 'visible'}>selected="selected"<{/if}>><{$smarty.const._YES}></option>
            <option value="invisible" <{if $filterForm->mOptionField == 'invisible'}>selected="selected"<{/if}>><{$smarty.const._NO}></option>
        </select>
    </div>
    <div data-layout="rows">
        <label><{$smarty.const._MD_LEGACY_LANG_IMAGE_MIMETYPE}></label>
        <select name="option_field2">
            <option value="all" <{if $filterForm->mOptionField2 == 'all'}>selected="selected"<{/if}>><{$smarty.const._ALL}></option>
            <option value="gif" <{if $filterForm->mOptionField2 == 'gif'}>selected="selected"<{/if}>>image/gif</option>
            <option value="png" <{if $filterForm->mOptionField2 == 'png'}>selected="selected"<{/if}>>image/png</option>
            <option value="jpeg" <{if $filterForm->mOptionField2 == 'jpeg'}>selected="selected"<{/if}>>image/jpeg</option>
        </select>
    </div>
    <div data-layout="rows">
        <label><{$smarty.const._VIEW}></label>
        <select name="perpage">
            <option value="<{$smarty.const.XCUBE_PAGENAVI_DEFAULT_PERPAGE}>"><{$smarty.const._SELECT}></option>
            <{foreach item=page from=$pageArr}>
            <{if $pageNavi->mPerpage == $page && $page != 0}>
            <option value="<{$page}>" selected="selected"><{$page}></option>
            <{elseif $pageNavi->mPerpage == $page && $page == 0}>
            <option value="<{$page}>" selected="selected"><{$smarty.const._ALL}></option>
            <{elseif $pageNavi->mPerpage != $page && $page == 0}>
            <option value="<{$page}>"><{$smarty.const._ALL}></option>
            <{else}>
            <option value="<{$page}>"><{$page}></option>
            <{/if}>
            <{/foreach}>
        </select>
    </div>
    <div data-layout="rows">
        <input class="button-submit" type="submit" value="<{$smarty.const._SUBMIT}>">
    </div>
</form>
