<div class="ui-card-block">

    <div class="ui-card-block-header" data-layout="row center-justify">
        <a href="index.php?action=ModuleInfo&amp;dirname=<{$module->getVar('dirname')}>" aria-label="Mid[<{$module->getVar('mid')}>] - <{$module->getVar('dirname')}> - API <{$smarty.const._AD_LEGACY_LANG_INFORMATION}>">
            <svg class="icon-info" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2z" fill="currentColor"></path></svg>
        </a>

        <div class="ui-card-block-settings" title="<{if $module->getVar('isactive')}><{$smarty.const._AD_LEGACY_LANG_ISACTIVE}><{else}><{$smarty.const._AD_LEGACY_LANG_DEACTIVATE}><{/if}>">
            <input type="checkbox" class="switch" name="isactive[<{$module->getVar('mid')}>]" value="1" <{if $module->getVar('isactive')}>checked="checked"<{/if}>>
        </div><{* /ui-card-block-settings *}>

    </div><{* /ui-card-header *}>

    <div class="ui-card-block-image card-module-svg">
        <{if $module->getVar('hasmain') && $module->getVar('weight','e') != 0}>
            <a class="ui-module-state" href="<{$xoops_url}>/modules/<{$module->getVar('dirname')}>/<{if isset($module->modinfo.adminindex)}><{$module->modinfo.adminindex}><{else}>admin/<{/if}>">
        <{elseif $module->getVar('isactive') == 0}>
            <a class="ui-module-state ui-update-change" href="<{$xoops_url}>/modules/<{$module->getVar('dirname')}>/<{if $module->modinfo.adminindex}><{$module->modinfo.adminindex}><{else}>admin/<{/if}>">
        <{/if}>
        <img class="svg" src="<{$xoops_url}>/modules/<{$module->getVar('dirname')}>/<{$module->modinfo.image}>" width="100%" height="auto" aria-label="<{$module->getVar('name')}>">
        <{if $module->getVar('hasadmin')}>
            </a>
        <{/if}>
    </div><{* /ui-nodule-image [has-admin-active] *}>

    <div class="ui-card-block-item">
        <span aria-label="<{$smarty.const._AD_LEGACY_LANG_WEIGHT}>">
            <input type="number" size="1" maxlength="4" name="weight[<{$module->getVar('mid')}>]" value="<{$module->getVar('weight','e')}>">
        </span>
        <span aria-label="<{$smarty.const._AD_LEGACY_LANG_MOD_NAME}>">
            <input type="text" size="18" name="name[<{$module->getVar('mid')}>]" value="<{$module->getVar('name')}>">
        </span>
    </div>

    <div data-layout="rows">
		<div class="ui-card-block-item">
            <{if $module->hasNeedUpdate()}>
                <a href="index.php?action=ModuleUpdate&amp;dirname=<{$module->getVar('dirname')}>" class="ui-module-update" aria-label="<{$smarty.const._AD_LEGACY_LANG_UPGRADE}>">
                    <svg class="icon-package-update" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" aria-label="<{$smarty.const._AD_LEGACY_LANG_UPGRADE}>"><path d="M12 17l-5-5h3V8h4v4h3l-5 5m9-.5c0 .38-.21.71-.53.88l-7.9 4.44c-.16.12-.36.18-.57.18c-.21 0-.41-.06-.57-.18l-7.9-4.44A.991.991 0 0 1 3 16.5v-9c0-.38.21-.71.53-.88l7.9-4.44c.16-.12.36-.18.57-.18c.21 0 .41.06.57.18l7.9 4.44c.32.17.53.5.53.88v9M12 4.15L5 8.09v7.82l7 3.94l7-3.94V8.09l-7-3.94z" fill="currentColor"></path>
                    </svg> <strong class="ui-module-update-now"><{$module->getRenderedVersion()}></strong>
                </a>
            <{else}>
                <svg class="icon-package" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" aria-label="<{$smarty.const._AD_LEGACY_LANG_VERSION}>"><path d="M21 16.5c0 .38-.21.71-.53.88l-7.9 4.44c-.16.12-.36.18-.57.18c-.21 0-.41-.06-.57-.18l-7.9-4.44A.991.991 0 0 1 3 16.5v-9c0-.38.21-.71.53-.88l7.9-4.44c.16-.12.36-.18.57-.18c.21 0 .41.06.57.18l7.9 4.44c.32.17.53.5.53.88v9M12 4.15l-1.89 1.07L16 8.61l1.96-1.11L12 4.15M6.04 7.5L12 10.85l1.96-1.1l-5.88-3.4L6.04 7.5M5 15.91l6 3.38v-6.71L5 9.21v6.7m14 0v-6.7l-6 3.37v6.71l6-3.38z" fill="currentColor"></path>
                </svg> <small><{$smarty.const._AD_LEGACY_LANG_VERSION}> : <{$module->getRenderedVersion()}></small>
            <{/if}>
		</div>
		<div class="ui-card-block-item">
            <svg class="icon-date-time" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" aria-label="<{$smarty.const._AD_LEGACY_LANG_LASTUPDATE}>"><path d="M15 13h1.5v2.82l2.44 1.41l-.75 1.3L15 16.69V13m4-5H5v11h4.67c-.43-.91-.67-1.93-.67-3a7 7 0 0 1 7-7c1.07 0 2.09.24 3 .67V8M5 21a2 2 0 0 1-2-2V5c0-1.11.89-2 2-2h1V1h2v2h8V1h2v2h1a2 2 0 0 1 2 2v6.1c1.24 1.26 2 2.99 2 4.9a7 7 0 0 1-7 7c-1.91 0-3.64-.76-4.9-2H5m11-9.85A4.85 4.85 0 0 0 11.15 16c0 2.68 2.17 4.85 4.85 4.85A4.85 4.85 0 0 0 20.85 16c0-2.68-2.17-4.85-4.85-4.85z" fill="currentColor"></path>
            </svg> <small><{$module->getVar('last_update')|xoops_formattimestamp:l}></small>
		</div>
    </div>

    <div class="ui-card-block-item">
        <{if $module->getVar('isactive') == 1}>
        <a href="index.php?action=ModuleEdit&amp;mid=<{$module->getVar('mid')}>" class="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="edit"><path d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83l3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75L3 17.25z" fill="currentColor"></path>
            </svg> <{$smarty.const._EDIT}>
        </a>
        <{/if}>
        <{if $module->getVar('isactive') == 0}>
        <a href="index.php?action=ModuleUninstall&amp;dirname=<{$module->getVar('dirname')}>" class="button delete">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="uninstall"><path d="M21 16.5c0 .38-.21.71-.53.88l-7.9 4.44c-.16.12-.36.18-.57.18c-.21 0-.41-.06-.57-.18l-7.9-4.44A.991.991 0 0 1 3 16.5v-9c0-.38.21-.71.53-.88l7.9-4.44c.16-.12.36-.18.57-.18c.21 0 .41.06.57.18l7.9 4.44c.32.17.53.5.53.88v9M12 4.15l-1.89 1.07L16 8.61l1.96-1.11L12 4.15M6.04 7.5L12 10.85l1.96-1.1l-5.88-3.4L6.04 7.5M5 15.91l6 3.38v-6.71L5 9.21v6.7m14 0v-6.7l-6 3.37v6.71l6-3.38z" fill="currentColor"></path>
            </svg> <{$smarty.const._AD_LEGACY_LANG_UNINSTALL}>
        </a>
        <{/if}>
        <a href="index.php?action=ModuleUpdate&amp;dirname=<{$module->getVar('dirname')}>" class="button <{if $module->hasNeedUpdate()}>ui-module-update<{/if}>">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="update"><path d="M21 10.12h-6.78l2.74-2.82c-2.73-2.7-7.15-2.8-9.88-.1a6.887 6.887 0 0 0 0 9.8c2.73 2.7 7.15 2.7 9.88 0c1.36-1.35 2.04-2.92 2.04-4.9h2c0 1.98-.88 4.55-2.64 6.29c-3.51 3.48-9.21 3.48-12.72 0c-3.5-3.47-3.53-9.11-.02-12.58a8.987 8.987 0 0 1 12.65 0L21 3v7.12M12.5 8v4.25l3.5 2.08l-.72 1.21L11 13V8h1.5z" fill="currentColor"></path>
            </svg> <{$smarty.const._AD_LEGACY_LANG_UPDATE}>
        </a>
    </div>

</div><{* / ui-card-block *}>
