<{* -------------------- -------------------- Module Filter *}>

<div data-layout="row center-justify inline">
    <h6><{$smarty.const._AD_LEGACY_LANG_MOD_MID}></h6>
    <div>
        <a class="btn" href="index.php?action=ModuleList&amp;sort=<{$smarty.const.MODULE_SORT_KEY_MID}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
        <a class="btn" href="index.php?action=ModuleList&amp;sort=-<{$smarty.const.MODULE_SORT_KEY_MID}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
    </div>
</div>

<div data-layout="row center-justify inline">
    <h6><{$smarty.const._AD_LEGACY_LANG_MOD_NAME}></h6>
    <div>
        <a class="btn" href="index.php?action=ModuleList&amp;sort=<{$smarty.const.MODULE_SORT_KEY_NAME}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
        <a class="btn" href="index.php?action=ModuleList&amp;sort=-<{$smarty.const.MODULE_SORT_KEY_NAME}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
    </div>
</div>

<div data-layout="row center-justify inline">
    <h6><{$smarty.const._AD_LEGACY_LANG_VERSION}></h6>
    <div>
        <a class="btn" href="index.php?action=ModuleList&amp;sort=<{$smarty.const.MODULE_SORT_KEY_VERSION}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
        <a class="btn" href="index.php?action=ModuleList&amp;sort=-<{$smarty.const.MODULE_SORT_KEY_VERSION}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
    </div>
</div>

<div data-layout="row center-justify inline">
    <h6><{$smarty.const._AD_LEGACY_LANG_LASTUPDATE}></h6>
    <div>
        <a class="btn" href="index.php?action=ModuleList&amp;sort=<{$smarty.const.MODULE_SORT_KEY_LASTUPDATE}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
        <a class="btn" href="index.php?action=ModuleList&amp;sort=-<{$smarty.const.MODULE_SORT_KEY_LASTUPDATE}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
    </div>
</div>

<div data-layout="row center-justify inline">
    <h6><{$smarty.const._AD_LEGACY_LANG_WEIGHT}></h6>
    <div>
        <a class="btn" href="index.php?action=ModuleList&amp;sort=<{$smarty.const.MODULE_SORT_KEY_WEIGHT}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
        <a class="btn" href="index.php?action=ModuleList&amp;sort=-<{$smarty.const.MODULE_SORT_KEY_WEIGHT}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
    </div>
</div>

<div data-layout="row center-justify inline">
    <h6><{$smarty.const._AD_LEGACY_LANG_ISACTIVE}> <{$smarty.const._AD_LEGACY_LANG_CONTROL}></h6>
    <div>
        <a class="btn" href="index.php?action=ModuleList&amp;sort=<{$smarty.const.MODULE_SORT_KEY_ISACTIVE}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
        <a class="btn" href="index.php?action=ModuleList&amp;sort=-<{$smarty.const.MODULE_SORT_KEY_ISACTIVE}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
    </div>
</div>
