<{* ---------- ---------- ---------- ---------- ---------- Module Overview *}>
  <div class="ui-card-overview">

      <div class="ui-card-small">
          <div class="ui-card-small-icon ui-icon-blue">

              <img src="<{'icons/icon-package.svg'|theme}>" class="svg" aria-label="<{$smarty.const._AD_LEGACY_LANG_MOD_TOTAL}>">
          </div>
          <div class="ui-card-small-info">
              <h3 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_MOD_TOTAL}>: <strong><{$ModuleTotal}></strong></h3>

          </div>
        </div>

        <div class="ui-card-small">
          <div class="ui-card-small-icon ui-icon-green">
            <img class="svg module-active" src="<{'icons/icon-module-active.svg'|theme}>" aria-label="<{$smarty.const._AD_LEGACY_LANG_ACTIVE}>">
          </div>
          <div class="ui-card-small-info">
              <h3 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_ACTIVE}>: <strong><{$activeModuleTotal}></strong></h3>
              <p class="ui-card-small-subtitle"></p>
          </div>
        </div>

        <div class="ui-card-small">
          <div class="ui-card-small-icon ui-icon-red">
            <img class="svg module-inactive" src="<{'icons/icon-module-inactive.svg'|theme}>" aria-label="<{$smarty.const._AD_LEGACY_LANG_DEACTIVATE}>">

          </div>
          <div class="ui-card-small-info">
              <h3 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_DEACTIVATE}>: <strong><{$inactiveModuleTotal}></strong></h3>
              <p class="ui-card-small-subtitle"></p>
          </div>
        </div>

<!--        <div class="ui-card-small">-->
<!--          <div class="ui-card-small-icon ui-icon-orange">-->
<!--            <img class="svg modules" src="<{"icons/icon-modules.svg"|theme}>" aria-label="<{$smarty.const._AD_LEGACY_LANG_MODINSTALL}>">-->
<!--          </div>-->
<!--          <div class="ui-card-small-info">-->
<!--              <{*  Assign module help section#id to display with jquery ajax *}>-->
<!--              <{assign var="helpOption" value="$legacy_module article#help-modules"}>-->
<!--            <h3 class="ui-card-small-title"><a href="#" id="help-option" aria-label="<{$helpOption}>"><{$smarty.const._HELP}></a></h3>-->
<!--            <p class="ui-card-small-subtitle"></p>-->
<!--      </div>
    </div>-->

  </div><{* Modules Overview *}>
