<{* ---------- ---------- ---------- ---------- ---------- Module Overview *}>
  <div class="ui-card-overview">

      <div class="ui-card-small">
          <div class="ui-card-small-icon ui-icon-blue">
              <img class="svg" src="<{'icons/icon-module.svg'|theme}>" width="1em" height="1em" alt="modules-total">
          </div>
          <div class="ui-card-small-info">
              <h4 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_MOD_TOTAL}>: <strong><{$ModuleTotal}></strong></h4>
          </div>
        </div>

        <div class="ui-card-small">
          <div class="ui-card-small-icon ui-icon-green">
            <img class="svg" src="<{'icons/icon-module-active.svg'|theme}>" width="1em" height="1em" alt="active">
          </div>
          <div class="ui-card-small-info">
              <h4 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_ACTIVE}>: <strong><{$activeModuleTotal}></strong></h4>
              <p class="ui-card-small-subtitle"></p>
          </div>
        </div>

        <div class="ui-card-small">
          <div class="ui-card-small-icon ui-icon-red">
            <img class="svg" src="<{'icons/icon-module-inactive.svg'|theme}>" width="1em" height="1em" alt="inactive">
          </div>
          <div class="ui-card-small-info">
              <h4 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_DEACTIVATE}>: <strong><{$inactiveModuleTotal}></strong></h4>
              <p class="ui-card-small-subtitle"></p>
          </div>
        </div>

  </div><{* Modules Overview *}>
