<{* ---------- ---------- Smilies Overview *}>
<div class="ui-card-overview">

    <div class="ui-card-small">
        <div class="ui-card-small-icon ui-icon-blue">
            <img class="svg" src="<{'icons/icon-smilies.svg'|theme}>" width="1em" height="1em" alt="smilies">
        </div>
        <div class="ui-card-small-info">
            <h4 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_SMILES_TOTAL}>: <strong><{$SmilesTotal}></strong></h4>
            <p class="ui-card-small-subtitle"></p>
        </div>
    </div>

    <div class="ui-card-small">
        <div class="ui-card-small-icon ui-icon-green">
            <img class="svg" src="<{'icons/icon-smilies-active.svg'|theme}>" width="1em" height="1em" alt="smilies-active">
        </div>
        <div class="ui-card-small-info">
            <h4 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_SMILES_DISPLAYTOTAL}>: <strong><{$displaySmilesTotal}></strong></h4>
            <p class="ui-card-small-subtitle"></p>
        </div>
    </div>

    <div class="ui-card-small">
        <div class="ui-card-small-icon ui-icon-red">
            <img class="svg" src="<{'icons/icon-smilies-inactive.svg'|theme}>" width="1em" height="1em" alt="smilies-inactive">
        </div>
        <div class="ui-card-small-info">
            <h4 class="ui-card-small-title"><{$smarty.const._AD_LEGACY_LANG_SMILES_NOTDISPLAYTOTAL}>: <strong><{$notdisplaySmilesTotal}></strong></h4>
            <p class="ui-card-small-subtitle"></p>
        </div>
    </div>

</div>
