<style>
:root {
	--blue: #5A8DEE;
	--indigo: #6610F2;
	--purple: #6F42C1;
	--pink: #E83E8C;
	--red: #FF5B5C;
	--orange: #FD7E14;
	--yellow: #FDAC41;
	--green: #39DA8A;
	--teal: #20C997;
	--cyan: #00CFDD;
	--white: #FFFFFF;
	--gray: #475F7B;
	--gray-dark: #394C62;
	--primary: #5A8DEE;
	--secondary: #475F7B;
	--success: #39DA8A;
	--info: #00CFDD;
	--warning: #FDAC41;
	--danger: #FF5B5C;
	--light: #A3AFBD;
	--dark: #394C62;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: 'IBM Plex Sans',Helvetica,Arial,serif;
	--font-family-monospace: 'Rubik',Helvetica,Arial,serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-family: Rubik,Helvetica,Arial,serif;
	font-weight: 400;
	line-height: 1.2;
	color: #475F7B;
}

body.dark-layout h1, body.dark-layout h2, body.dark-layout h3, body.dark-layout h4, body.dark-layout h5, body.dark-layout h6 {
	color: #BDD1F8;
}

body.dark-layout label, body.dark-layout p, body.dark-layout small, body.dark-layout span {
	color: #8A99B5;
}

body.dark-layout hr {
	border-color: #464D5C;
}

hr {
	box-sizing: content-box;
	height: 0;
	margin-top: 1rem;
	border: 0;
	border-top: 1px solid #DFE3E7;
}
.blockquote, hr {
	margin-bottom: 1rem;
}


.customizer {
	width: 400px;
	right: -400px;
	padding: 0;
	background-color: #FFF;
	z-index: 1051;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100vh;
	-webkit-transition: right .4s cubic-bezier(.05,.74,.2,.99);
	transition: right .4s cubic-bezier(.05,.74,.2,.99);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-left: 1px solid rgba(0,0,0,.05);
	box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
}

.customizer {
	background-color: #272E48;
}


.customizer .customizer-toggle {
	background: #5A8DEE;
	color: #FFF;
	display: block;
	box-shadow: -3px 0 8px rgba(0,0,0,.1);
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	position: absolute;
	top: 50%;
	width: 38px;
	height: 38px;
	left: -39px;
	text-align: center;
	line-height: 44px;
	cursor: pointer;
}
.customizer .customizer-close {
	position: absolute;
	right: 30px;
	top: 20px;
	padding: 7px;
	width: auto;
	z-index: 10;
	color: #727E8C;
}
.customizer.open {
	right: 0;
}
.customizer .customizer-content {
	position: relative;
	height: 100%;
}



.customizer .color-box.selected {
	box-shadow: 0 0 0 3px rgba(52,144,220,.5);
}

.customizer .color-box {
	height: 35px;
	width: 35px;
	margin: .5rem;
	border-radius: .5rem;
	cursor: pointer;
}
address, dl, ol, p, pre, ul {
	margin-bottom: 1rem;
}
.customizer ul.list-inline,
.customizer  .list-unstyled {
	padding-left: 0;
	list-style: none;
}

.customizer  .radio label {
	text-transform: none;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 0;
}

.align-items-center {
	-webkit-box-align: center!important;
	-webkit-align-items: center!important;
	-ms-flex-align: center!important;
	align-items: center!important;
}

.justify-content-between {
	-webkit-box-pack: justify!important;
	-webkit-justify-content: space-between!important;
	-ms-flex-pack: justify!important;
	justify-content: space-between!important;
}
.d-flex {
	display: -webkit-box!important;
	display: -webkit-flex!important;
	display: -ms-flexbox!important;
	d
/* .p-2 {
	padding: 1.5rem!important;
}

.ps {
	overflow: hidden!important;
	overflow-anchor: none;
	-ms-overflow-style: none;
	touch-action: auto;
	-ms-touch-action: auto;
} */

</style>

<div class="customizer d-none d-md-block open">
	<a class="customizer-close" href="#"><i class="bx bx-x"></i>X</a>
	<a class="customizer-toggle" href="#"><i class="bx bx-cog bx bx-spin white"></i>X</a>

	<div class="customizer-content p-2 ps">
  <h4 class="text-uppercase mb-0">Theme Customizer</h4>
  <small>Customize &amp; Preview in Real Time</small>
  <hr>
  <!-- Theme options starts -->
  <h5 class="mt-1">Theme Layout</h5>
  <div class="theme-layouts">
    <div class="d-flex justify-content-start">
      <div class="mx-50">
        <fieldset>
          <div class="radio">
            <input type="radio" name="layoutOptions" value="false" id="radio-light" class="layout-name" data-layout="" checked="">
            <label for="radio-light">Light</label>
          </div>
        </fieldset>
      </div>
      <div class="mx-50">
        <fieldset>
          <div class="radio">
            <input type="radio" name="layoutOptions" value="false" id="radio-dark" class="layout-name" data-layout="dark-layout">
            <label for="radio-dark">Dark</label>
          </div>
        </fieldset>
      </div>
      <div class="mx-50">
        <fieldset>
          <div class="radio">
            <input type="radio" name="layoutOptions" value="false" id="radio-semi-dark" class="layout-name" data-layout="semi-dark-layout">
            <label for="radio-semi-dark">Semi Dark</label>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <!-- Theme options starts -->
  <hr>

  <!-- Menu Colors Starts -->
  <div id="customizer-theme-colors">
    <h5>Menu Colors</h5>
    <ul class="list-inline unstyled-list">
      <li class="color-box bg-primary selected" data-color="theme-primary"></li>
      <li class="color-box bg-success" data-color="theme-success"></li>
      <li class="color-box bg-danger" data-color="theme-danger"></li>
      <li class="color-box bg-info" data-color="theme-info"></li>
      <li class="color-box bg-warning" data-color="theme-warning"></li>
      <li class="color-box bg-dark" data-color="theme-dark"></li>
    </ul>
    <hr>
  </div>
  <!-- Menu Colors Ends -->
  <!-- Menu Icon Animation Starts -->
  <div id="menu-icon-animation">
    <div class="d-flex justify-content-between align-items-center">
      <div class="icon-animation-title">
        <h5 class="pt-25">Icon Animation</h5>
      </div>
      <div class="icon-animation-switch">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" checked="" id="icon-animation-switch">
          <label class="custom-control-label" for="icon-animation-switch"></label>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <!-- Menu Icon Animation Ends -->
  <!-- Collapse sidebar switch starts -->
  <div class="collapse-sidebar d-flex justify-content-between align-items-center">
    <div class="collapse-option-title">
      <h5 class="pt-25">Collapse Menu</h5>
    </div>
    <div class="collapse-option-switch">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="collapse-sidebar-switch">
        <label class="custom-control-label" for="collapse-sidebar-switch"></label>
      </div>
    </div>
  </div>
  <!-- Collapse sidebar switch Ends -->
  <hr>

  <!-- Navbar colors starts -->
  <div id="customizer-navbar-colors">
    <h5>Navbar Colors</h5>
    <ul class="list-inline unstyled-list">
      <li class="color-box bg-white border selected" data-navbar-default=""></li>
      <li class="color-box bg-primary" data-navbar-color="bg-primary"></li>
      <li class="color-box bg-success" data-navbar-color="bg-success"></li>
      <li class="color-box bg-danger" data-navbar-color="bg-danger"></li>
      <li class="color-box bg-info" data-navbar-color="bg-info"></li>
      <li class="color-box bg-warning" data-navbar-color="bg-warning"></li>
      <li class="color-box bg-dark" data-navbar-color="bg-dark"></li>
    </ul>
    <small><strong>Note :</strong> This option with work only on sticky navbar when you scroll page.</small>
    <hr>
  </div>
  <!-- Navbar colors starts -->
  <!-- Navbar Type Starts -->
  <h5>Navbar Type</h5>
  <div class="navbar-type d-flex justify-content-start">
    <div class="hidden-ele mx-50">
      <fieldset>
        <div class="radio">
          <input type="radio" name="navbarType" value="false" id="navbar-hidden">
          <label for="navbar-hidden">Hidden</label>
        </div>
      </fieldset>
    </div>
    <div class="mx-50">
      <fieldset>
        <div class="radio">
          <input type="radio" name="navbarType" value="false" id="navbar-static">
          <label for="navbar-static">Static</label>
        </div>
      </fieldset>
    </div>
    <div class="mx-50">
      <fieldset>
        <div class="radio">
          <input type="radio" name="navbarType" value="false" id="navbar-sticky" checked="">
          <label for="navbar-sticky">Fixed</label>
        </div>
      </fieldset>
    </div>
  </div>
  <hr>
  <!-- Navbar Type Starts -->

  <!-- Footer Type Starts -->
  <h5>Footer Type</h5>
  <div class="footer-type d-flex justify-content-start">
    <div class="mx-50">
      <fieldset>
        <div class="radio">
          <input type="radio" name="footerType" value="false" id="footer-hidden">
          <label for="footer-hidden">Hidden</label>
        </div>
      </fieldset>
    </div>
    <div class="mx-50">
      <fieldset>
        <div class="radio">
          <input type="radio" name="footerType" value="false" id="footer-static" checked="">
          <label for="footer-static">Static</label>
        </div>
      </fieldset>
    </div>
    <div class="mx-50">
      <fieldset>
        <div class="radio">
          <input type="radio" name="footerType" value="false" id="footer-sticky">
          <label for="footer-sticky" class="">Sticky</label>
        </div>
      </fieldset>
    </div>
  </div>
  <!-- Footer Type Ends -->
  <hr>

  <!-- Card Shadow Starts-->
  <div class="card-shadow d-flex justify-content-between align-items-center py-25">
    <div class="hide-scroll-title">
      <h5 class="pt-25">Card Shadow</h5>
    </div>
    <div class="card-shadow-switch">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" checked="" id="card-shadow-switch">
        <label class="custom-control-label" for="card-shadow-switch"></label>
      </div>
    </div>
  </div>
  <!-- Card Shadow Ends-->
  <hr>

  <!-- Hide Scroll To Top Starts-->
  <div class="hide-scroll-to-top d-flex justify-content-between align-items-center py-25">
    <div class="hide-scroll-title">
      <h5 class="pt-25">Hide Scroll To Top</h5>
    </div>
    <div class="hide-scroll-top-switch">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="hide-scroll-top-switch">
        <label class="custom-control-label" for="hide-scroll-top-switch"></label>
      </div>
    </div>
  </div>
  <!-- Hide Scroll To Top Ends-->
	<div class="ps__rail-x">
		<div class="ps__thumb-x" tabindex="0" ></div>
		</div>

		<div class="ps__rail-y">
			<div class="ps__thumb-y" tabindex="0"></div>
			</div>

		</div>
    </div>
