
<style>
  :root {
  --color-bg1: rgb(8, 10, 15);
  --color-bg2: rgb(0, 17, 32);
  --color1: 18, 113, 255;
  --color2: 0, 180, 120;
  --color3: 3, 54, 73;
  --color4: 50, 160, 220;
  --color5: 3, 101, 100;
  --color-interaction: 47, 230, 174;
  --circle-size: 80%;
  --blending: hard-light;
}
section.hero {
  background: linear-gradient(5deg,rgb(47, 230, 169) 0%, rgb(3, 101, 100) 34%, rgb(3, 54, 73) 80%);
  width: 100vw;
  height: 40vh;
  margin: 0 0 1.5rem;
  padding:0;
  position: relative;
  overflow: hidden;
}
section.hero .card-hero {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  max-width: 620px;
  padding: 2.5rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 4px 90px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
section.hero .card-hero:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 34%, white 89%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.3;
  filter: blur(0.5px);
  mix-blend-mode: hard-light;
}
section.hero .card-hero .noise {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    height: 30rem;
    width: 34rem;
    z-index: 1;
    opacity: 0.1;
}
section.hero .card-hero .content {
  position: relative;
  z-index: 2;
  text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.1);
}
section.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
section.hero p {
  line-height: 1.6;
}
@keyframes moveCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveVer {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moveHor {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
.bg-lg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
}
.bg-lg .blur {
  display: none;
}
.bg-lg .noise {
  position: absolute;
  width: 100%;
  height: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  mix-blend-mode: soft-light;
  opacity: 0.3;
}
.bg-lg .radial-grp {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}
.bg-lg .radial1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: center center;
  animation: moveVer 30s ease infinite;
  opacity: 1;
}
.bg-lg .radial2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 400px);
  animation: moveCircle 20s reverse infinite;
  opacity: 1;
}
.bg-lg .radial3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveCircle 40s linear infinite;
  opacity: 1;
}
.bg-lg .radial4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  animation: moveHor 40s ease infinite;
  opacity: 0.7;
}
.bg-lg .radial5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveCircle 20s ease infinite;
  opacity: 1;
}
.bg-lg .interaction {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-interaction), 0.8) 0, rgba(var(--color-interaction), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}
</style>

<section class="hero">

  <div class="card-hero">

    <svg viewBox="0 0 100 100" xmlns='http://www.w3.org/2000/svg' class="noise">
      <filter id='noiseFilter'>
        <feTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='6' stitchTiles='stitch' />
      </filter>
      <rect width='100%' height='100%' preserveAspectRatio="xMidYMid meet" filter='url(#noiseFilter)' />
    </svg>

    <div class="content">
      <h1><{$title}></h1>
      <p><{$slogan}></p>
    </div>
</div>

<div class="bg-lg">

  <svg viewBox="0 0 100 100" xmlns='http://www.w3.org/2000/svg' class="noise">
    <filter id='noiseFilterBg'>
      <feTurbulence type='fractalNoise' baseFrequency='0.6' stitchTiles='stitch' />
    </filter>
    <rect width='100%' height='100%' preserveAspectRatio="xMidYMid meet" filter='url(#noiseFilterBg)' />
  </svg>

  <svg xmlns="http://www.w3.org/2000/svg" class="blur">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
        <feBlend in="SourceGraphic" in2="goo" />
      </filter>
    </defs>
  </svg>
  
  <div class="radial-grp">
    <div class="radial1"></div>
    <div class="radial2"></div>
    <div class="radial3"></div>
    <div class="radial4"></div>
    <div class="radial5"></div>
    <div class="interaction"></div>
  </div>

</div>


</section>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const interBubble = document.querySelector('.interaction');
    let curX = 0;
    let curY = 0;
    let tgX = 0;
    let tgY = 0;

    const move = () => {
        curX += (tgX - curX) / 20;
        curY += (tgY - curY) / 20;
        interBubble.style.transform = `translate(${Math.round(curX)}px, ${Math.round(curY)}px)`;
        requestAnimationFrame(move);
    };

    window.addEventListener('mousemove', (event) => {
        tgX = event.clientX;
        tgY = event.clientY;
    });

    move();
});
</script>