.xelfinder_main_menu {
	text-align: center;
}

.xelfinder > h2,
.xelfinder > h3 {
	text-align: center;
	border:solid 1px #ddd;
    padding: 5px;
    border-radius: 5px;
    background: #eee;
    -moz-border-radius: 5px; /* FF */
    background: -moz-linear-gradient(top,  #fff,  #eee); /* FF */
    -webkit-border-radius: 5px;/* Webkit */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));/* Webkit */
    -pie-background:linear-gradient(top,  #fff,  #eee); /* ie */
    behavior: url(images/PIE.htc);  /* ie */
}
.xelfinder > h2,
.xelfinder > h3 span {
	border-left:5px #3cf solid;
	padding-left:10px;
}


.xelfinder > .button {
    margin: 10px;
    text-decoration: none;
    font: bold 1.2em 'Trebuchet MS',Arial, Helvetica; /*Change the em value to scale the button*/
    display: inline-block;
    text-align: center;
    color: #fff;

    border: 1px solid #9c9c9c; /* Fallback style */
    border: 1px solid rgba(0, 0, 0, 0.3);

    text-shadow: 0 1px 0 rgba(0,0,0,0.4);

    box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);

}

.xelfinder > .button,
.xelfinder > .button span {
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.xelfinder > .button span {
    border-top: 1px solid #fff; /* Fallback style */
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 0.5em 2.5em;

/* The background pattern */

    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
                      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))),
                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                      -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                      -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
                      -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);

/* Pattern settings */

    -moz-background-size: 3px 3px;
    -webkit-background-size: 3px 3px;
}

.xelfinder > .button:hover {
    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
}

.xelfinder > .button:active {
    /* When pressed, move it down 1px */
    position: relative;
    top: 1px;
}

.xelfinder > .button-blue {
    background: #4477a1;
    background: -webkit-gradient(linear, left top, left bottom, from(#81a8cb), to(#4477a1) );
    background: -moz-linear-gradient(-90deg, #81a8cb, #4477a1);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#4477a1');
}

.xelfinder > .button-blue:hover {
    background: #81a8cb;
    background: -webkit-gradient(linear, left top, left bottom, from(#4477a1), to(#81a8cb) );
    background: -moz-linear-gradient(-90deg, #4477a1, #81a8cb);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4477a1', endColorstr='#81a8cb');
}

.xelfinder > .button-blue:active {
    background: #4477a1;
}

.xelfinder > .button-orange {
    background: #F09C15;
    background: -webkit-gradient(linear, left top, left bottom, from(#F8C939), to(#F09C15) );
    background: -moz-linear-gradient(-90deg, #F8C939, #F09C15);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F8C939', endColorstr='#F09C15');
}

.xelfinder > .button-orange:hover {
    background: #F8C939;
    background: -webkit-gradient(linear, left top, left bottom, from(#F09C15), to(#F8C939) );
    background: -moz-linear-gradient(-90deg, #F09C15, #F8C939);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F09C15', endColorstr='#F8C939');
}

.xelfinder > .button-orange:active {
    background: #F09C15;
}

.xelfinder > .button-green {
    background: #428739;
    background: -webkit-gradient(linear, left top, left bottom, from(#C8DD95), to(#428739) );
    background: -moz-linear-gradient(-90deg, #C8DD95, #428739);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#C8DD95', endColorstr='#428739');
}

.xelfinder > .button-green:hover {
    background: #C8DD95;
    background: -webkit-gradient(linear, left top, left bottom, from(#428739), to(#C8DD95) );
    background: -moz-linear-gradient(-90deg, #428739, #C8DD95);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#428739', endColorstr='#C8DD95');
}

.xelfinder > .button-green:active {
    background: #428739;
}

/* color sample
.button-khaki {
    background: -moz-linear-gradient(-90deg, #BDD1B4, #A2B598) repeat scroll 0 0 transparent;
}
.button-blue {
    background: -moz-linear-gradient(-90deg, #81A8CB, #4477A1) repeat scroll 0 0 transparent;
}
.button-brown {
    background: -moz-linear-gradient(-90deg, #BF6F50, #8F3714) repeat scroll 0 0 transparent;
}
.button-green {
    background: -moz-linear-gradient(-90deg, #C8DD95, #428739) repeat scroll 0 0 transparent;
}
.button-red {
    background: -moz-linear-gradient(-90deg, #E84B6E, #D82741) repeat scroll 0 0 transparent;
}
.button-purple {
    background: -moz-linear-gradient(-90deg, #B8A9F3, #6F50E7) repeat scroll 0 0 transparent;
}
.button-black {
    background: -moz-linear-gradient(-90deg, #656565, #141414) repeat scroll 0 0 transparent;
}
.button-orange {
    background: -moz-linear-gradient(-90deg, #F8C939, #F09C15) repeat scroll 0 0 transparent;
}
.button-silver {
    background: -moz-linear-gradient(-90deg, #EAEAEA, #C5C5C5) repeat scroll 0 0 transparent;
}
*/
