#fmheader {
	display: block;
}

#fmheader span.pathlink  ul{
	list-style:none;
}

#fmheader span.pathlink  ul li {
	float: left;
}

#fmheader span.pathlink li{
	line-height: 2.2em;
	padding: 0px;
	border: thin solid #686868;
	background-color: #00016C;
	margin-left: 8px;
}

#fmheader span.pathlink li a{
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	padding-left: 8px;
	padding-right: 8px;
}

#fmheader span.pathlink li a:hover{
	text-decoration: none;
	background-color: #6359C6;
}

.closer {
		clear: both;
		height: 0px;
}

/* XCL 2.2 like botton */
ul.toptab li.fmUpload {
	background: #f2f2f2 url(../../fileManager/images/add.png) no-repeat 5px center;
}

ul.toptab li.fmAddFolder {
	background: #f2f2f2 url(../../fileManager/images/folder_add.png) no-repeat 5px center;
}

ul.toptab li.fmBack {
	background: #f2f2f2 url(../../fileManager/images/control_rewind_blue.png) no-repeat 5px center;
}

.fmFolder {
	line-height: 40px;
}

.fmFolder img{
	margin-bottom: -12px;
	margin-right: 5px;
}
