/*Based*/
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

/* Main Mneu*/
#mainTab{
	padding: 0;
	width: 100%;
	background: transparent;
	voice-family: "\"}\"";
	voice-family: inherit;
}

#mainTab ul{
	font: bold 11px Arial;
	margin:0;
	margin-left: 20px; /*margin between first menu item and left browser edge*/
	padding: 0;
	list-style: none;
}

#mainTab li{
	display: inline;
	margin: 0 2px 0 0;
	padding: 0;
	text-transform:uppercase;
}

#mainTab a{
	float: left;
	display: block;
	color: white;
	margin: 0 1px 0 0; /*Margin between each menu item*/
	padding: 5px 10px;
	text-decoration: none;
	letter-spacing: 1px;
	background-color: #6766A2; /*Default menu color*/
	border-bottom: 1px solid white;
}

#mainTab a:hover{
	background-color: #4E4D83; /*Menu hover bgcolor*/
	color: white;
}

#mainTab #current a{
	background-color: #333366; /*Brown color theme*/
	border-color: #333366; /*Brown color theme*/
}

#mainTabLine{
	clear: both;
	padding: 0;
	width: 100%;
	height: 5px;
	line-height: 5px;
	background: #333366; /*Brown color theme*/
}

/* Sub Menu */
#adminsubmenu{
	padding: 0;
	width: 100%;
	background: transparent;
	voice-family: "\"}\"";
	voice-family: inherit;
}

#adminsubmenu ul{
	font: bold 11px Arial;
	margin:0;
	margin-left: 20px; /*margin between first menu item and left browser edge*/
	padding: 0;
	list-style: none;
}

#adminsubmenu li{
	display: inline;
	margin: 0 2px 0 0;
	padding: 0;
	text-transform:uppercase;
}

#adminsubmenu a{
	float: left;
	display: ---;
	color: white;
	margin: 0 1px 0 0; /*Margin between each menu item*/
	padding: 5px 10px;
	text-decoration: none;
	letter-spacing: 1px;
	background-color: #5C5C5C; /*Default menu color*/
	border-bottom: 1px solid white;
}

#adminsubmenu a:hover{
	background-color: gray; /*Menu hover bgcolor*/
}

#adminsubmenu #current a{
	background-color: #660000; /*Brown color theme*/
	border-color: #660000; /*Brown color theme*/
}

#adminsubmenuline{
	clear: both;
	padding: 0;
	width: 100%;
	height: 5px;
	line-height: 5px;
	background: #660000; /*Brown color theme*/
}

/* Header Menu */
#headmenu {
	font-size: 7pt;
	padding-right: 20px;
	padding-bottom: 20px;
}

/* Message */
.menumsg {
	background: #F5F5F5;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	padding: 8px 8px 8px 8px;
	margin-bottom: 12px;
}


#pathlink {
	display: inline;
}

#pathlink  ul{

}

#pathlink li{
	display: inline;
	margin: 0 2px 0 0;
	padding: 5px;
	border: thin solid #686868;
}
