/*  Page Navigation */

div.boxNavi .itemBody {
	margin: 1px 2px 5px 2px;
	text-align:center;
	list-style-type: none;
	background-color: transparent;
}
div.boxNavi .itemBody li{
	display: inline;
	margin: 1px 2px 1px 2px;
	padding: 5px 0px 5px 0px;
	font-weight: bold;
	text-align:center;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	background-image: none;
}

div.boxNavi .itemBody li.txt span,
div.boxNavi .itemBody li.this span,
div.boxNavi .itemBody li a {
	margin: 0;
	padding: 5px 7px 5px 10px;
	text-decoration: none;
}
div.boxNavi .itemBody li.this span {
	background-color: #CCCCCC;
}