<{foreach item=category from=$block.categories}>
<dl>
<dt><a href="<{$block.mod_url}>/index.php?cat_id=<{$category.id}>">
	<img class="svg" src="<{$xoops_url}>/images/icons/category_0.svg" width="1em" height="1em" alt="category"> <{$category.title}></a></dt>
	<dd style="margin:0;"><ul>
	<{foreach item=forum from=$category.forums}>
		<li>
			<a href="<{$block.mod_url}>/index.php?forum_id=<{$forum.id}>" title="<{$block.lang_lastupdated}>:<{$forum.last_post_time_formatted}>">
			<img class="svg" src="<{$xoops_url}>/images/icons/forum.svg" width="1em" height="1em" alt="forum"> <{$forum.title}></a></li>
	<{/foreach}>
	</ul></dd>
</dl>
<{/foreach}>