<div class="ui-dev-mode"><{$smarty.template}></div>

<h2><{$mod_name|ucfirst}> » <{$smarty.const._MD_PICO_CATEGORY}> » <{$cat_title}></h2>

<div class="help-tips">
    <{$smarty.const._MD_A_PICO_TIPS_CONTENTS}><br>
    <{$smarty.const._MD_A_PICO_LEGEND_CONTENTSTHS}>
</div>

<{* ////— ACTION-CONTROL —\\\\ *}>
<section data-layout="row center-justify sm-column" class="action-control">

    <form name="selectcategory" action="<{$mod_url}>/admin/index.php" method="get">
        <input type="hidden" name="page" value="contents">
        <label for="select_cat_id"><{$smarty.const._MD_A_PICO_H2_CONTENTS}>. <{$smarty.const._MD_A_PICO_LABEL_SELECTCATEGORY}></label>:
        <select name="cat_id" id="select_cat_id"><{html_options options=$cat_options selected=$cat_id}></select>
        <input type="submit" value="<{$smarty.const._SUBMIT}>">
    </form>

<!--    <div class="control-view">-->
    <div data-self="right sm-full">
    <{if $cat_id >= 0}>
        <{* ////— DROPDOWN MENU —\\\\ *}>
        <div class="dropdown" id="action-contents">
            <a href="#" class="dropdown-toggle action-menu button" title="action">
                <{$smarty.const._ACTION}> <{$smarty.const._MENU}><svg class="icon-dropmenu" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="m7 10l5 5l5-5z"/></svg>
            </a>
            <div class="dropdown-content" style="min-width: 240px; padding:.5em;">
                <div data-layout="row justify-center mb-4">
                    <h6 data-self="center size-x1"><{$mydirname|ucfirst}> <{$smarty.const._ACTION}></h6>
                    <button class="help-admin button" type="button" data-module="pico" data-help-article="#help-content" title="<{$smarty.const._HELP}>"><b>?</b></button>
                </div>
                <a href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$cat_id}>" class="button">
                    <i class="i-edit"></i><{$smarty.const._EDIT}></a>
                <a href="<{$mod_url}>/admin/index.php?page=category_access&amp;cat_id=<{$cat_id}>" class="button">
                    <i class="i-lock"></i><{$smarty.const._MD_PICO_LINK_CATEGORYPERMISSIONS}></a>
                <a href="<{$mod_url}>/index.php?page=makecategory&amp;pid=<{$cat_id}>" class="button">
                    <i class="i-add"></i><{$smarty.const._MD_PICO_LINK_MAKESUBCATEGORY}></a>
                <a href="<{$mod_url}>/index.php?page=makecontent&amp;cat_id=<{$cat_id}>&amp;ret=ac<{$cat_id}>" class="button">
                    <i class="i-add"></i><{$smarty.const._MD_PICO_LINK_MAKECONTENT}></a>
                <a href="<{$mod_url}>/<{$cat_link}>" class="button">
                    <i class="i-view"></i><{$smarty.const._MD_PICO_LINK_PUBLICCATEGORYINDEX}></a>
            </div>
        </div>
    <{/if}>
    </div>

</section>

<form name="contents" action="<{$mod_url}>/admin/index.php?page=contents&amp;cat_id=<{$cat_id}>" method="post">
    <{$gticket_hidden}>

<table class="outer">
    <thead>
    <tr>
        <th class="list_id"><{$smarty.const._MD_A_PICO_TH_CONTENTSID}></th>
        <th><{$smarty.const._MD_PICO_TH_SUBJECT}></th>
        <th><{$smarty.const._MD_PICO_TH_VIRTUALPATH}></th>
        <th class="list_order"><{$smarty.const._MD_A_PICO_TH_CONTENTSWEIGHT}></th>
        <th class="list_visible"><{$smarty.const._MD_A_PICO_TH_CONTENTSVISIBLE}>
            <br>
            <input type="checkbox"
                    onclick="with(document.contents){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('col_visible_')>=0){elements[i].checked=this.checked;}}}">
        </th>
        <th><{$smarty.const._MD_A_PICO_TH_CONTENTSSHOWINNAVI}>
            <br>
            <input type="checkbox"
                    onclick="with(document.contents){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('col_show_in_navi_')>=0){elements[i].checked=this.checked;}}}">
        </th>
        <th><{$smarty.const._MD_A_PICO_TH_CONTENTSSHOWINMENU}>
            <br>
            <input type="checkbox"
                    onclick="with(document.contents){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('col_show_in_menu_')>=0){elements[i].checked=this.checked;}}}">
        </th>
        <th><{$smarty.const._MD_A_PICO_TH_CONTENTSALLOWCOMMENT}>
            <br>
            <input type="checkbox"
                    onclick="with(document.contents){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('col_allow_comment_')>=0){elements[i].checked=this.checked;}}}">
        </th>
        <th>Revision</th>
        <th style="text-align:<{$smarty.const._ALIGN_END}>">
            <{$smarty.const._MD_A_PICO_TH_CONTENTSACTIONS}>
            <input type="checkbox"
                    onclick="with(document.contents){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('col_action_')>=0){elements[i].checked=this.checked;}}}">
        </th>
    </tr>
    </thead>

    <tbody>
    <{foreach from=$contents item="content"}>
    <tr class="<{if $content.locked}>bg-red<{/if}>">
        <td class="list_id">
            <{$content.id}>
            <{if $cat_id == $smarty.const.SPECIAL_CAT_ID_ALL}>
            - <i class="i-folder" title="<{$content.cat_id}><{'--'|str_repeat:$content.cat_depth_in_tree}><{$content.cat_title}>"></i>
            <!-- <span aria-label="<{"--"|str_repeat:$content.cat_depth_in_tree}><{$content.cat_title}>">(<{$content.cat_id}>)</span> -->
            <{/if}>
        </td>
        <td class="list_center">
            <input type="text" 
            size="24" 
            name="subjects[<{$content.id}>]" 
            id="col_subject_<{$content.id}>" 
            value="<{$content.subject}>">
        </td>
        <td class="list_center">
        <{if $content.wrap_file}>
            <input type="text" 
            size="24" 
            name="vpaths[<{$content.id}>]" 
            id="col_vpath_<{$content.id}>" 
            value="<{$content.vpath}>">
            <{if strstr($content.filters,"wraps")}>*<{/if}>
            
            <br>
            <{$content.wrap_file.mtime_formatted}>
            (<{$content.wrap_file.size}> <{$smarty.const._MD_PICO_BYTE}>)
        <{/if}>
        </td>
        <td class="list_order">
            <input type="number" size="3" name="weights[<{$content.id}>]" id="col_weight_<{$content.id}>"
                   value="<{$content.weight}>" style="max-width: 8ch;">
        </td>
        <td class="list_visible">
            <input type="checkbox" name="visibles[<{$content.id}>]" id="col_visible_<{$content.id}>" value="1" title="Visible" 
            <{if $content.visible}>checked="checked"<{/if}>>
        </td>
        <td class="list_nav">
            <input type="checkbox" name="show_in_navis[<{$content.id}>]" id="col_show_in_navi_<{$content.id}>" value="1"
            <{if $content.show_in_navi}>checked="checked"<{/if}>>
        </td>
        <td class="list_menu">
            <input type="checkbox" name="show_in_menus[<{$content.id}>]" id="col_show_in_menu_<{$content.id}>" value="1"
            <{if $content.show_in_menu}>checked="checked"<{/if}>>
        </td>
        <td class="list_comments">
            <input type="checkbox" name="allow_comments[<{$content.id}>]" id="col_allow_comment_<{$content.id}>"
                   value="1" <{if $content.allow_comment}>checked="checked"<{/if}>>
        </td>
        <td class="list_date">
        
            <{if $content.is_deleted}>
            <ul class="admin-revision-list">
                <{foreach from=$content.histories item="history"}>
                <li>
                    <{$history.modified_time_formatted}>
                    -
                    <{$history.modifier_uname}>
                    (<{$history.body_size|number_format}><{$smarty.const._MD_PICO_BYTE}>)
                    <br>
                    <a class="action-view" href="<{$mod_url}>/index.php?page=viewhistory&amp;content_history_id=<{$history.id}>" title="<{$smarty.const._MD_PICO_REFERIT}>"><i class="i-view"></i></a>
                    -
                    <a class="action-download" href="<{$mod_url}>/index.php?page=downloadhistory&amp;content_history_id=<{$history.id}>" title="<{$smarty.const._MD_PICO_DOWNLOADIT}>"><i class="i-download"></i></a>
                    <{if $history.prev_id}>
                    -
                    <a class="action-diff" href="<{$mod_url}>/index.php?page=diffhistory&amp;older_history_id=<{$history.prev_id}>&amp;newer_history_id=<{$history.id}>" title="<{$smarty.const._MD_PICO_DIFFFROMPREV}>"><i class="i-download"></i></a>
                    <{/if}>
                </li>
                <{/foreach}>
            </ul>
            <{else}>

            <{if ! $content.approval}>
            <strong style="color:#F44336;"><{$smarty.const._MD_PICO_WAITINGAPPROVAL}></strong>
            <{/if}>

            <{if ! $content.visible}>
            <strong style="color:var(--color-amber,#3F51B5);"><{$smarty.const._MD_PICO_INVISIBLE}></strong>
            <{/if}>

            <{if $content.locked}>
            <strong style="color:#F44336;"><{$smarty.const._MD_PICO_ERR_LOCKEDCONTENT}></strong>
            <{/if}>

            <{if $content.created_time >= time()}>
            <strong style="color:#2196F3;"><{$smarty.const._MD_PICO_WAITINGRELEASE}></strong>
            <{/if}>

            <{if $content.expiring_time < time()}>
            <strong style="color:var(--color-red,#607D8B);"><{$smarty.const._MD_PICO_EXPIRED}></strong>
            <{/if}>            
            <br>
            <img src="<{$content.modifier_uname|xoops_user_avatarize}>" width="20px" height="20px" data-self="radius-circle" alt="avatar"> <{$content.modifier_uname}>
            <br>
            <small><span class="badge" title="<{$smarty.const._MD_PICO_MODIFIED}>"><{$content.modified_time_formatted}></span></small>
         </td>   
         <td class="list_control">
            <{if !$content.is_deleted}>
            <a class="action-view" href="<{$mod_url}>/<{$content.link}>" title="<{$smarty.const._MD_A_PICO_LABEL_MAINDISP}>">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5z" fill="currentColor"/></svg>
            </a>
            <a class="action-edit" href="<{$mod_url}>/index.php?page=contentmanager&amp;content_id=<{$content.id}>&amp;ret=ac<{$cat_id}>" title="<{$smarty.const._EDIT}>">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83l3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75L3 17.25z" fill="currentColor"/></svg>
            </a>
            <{/if}>
            <input type="checkbox" name="action_selects[<{$content.id}>]" id="col_action_<{$content.id}>" value="1">

            <{/if}>
         </td>
        </tr>
        <{/foreach}>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4"><input class="button" type="submit" name="contents_update" value="<{$smarty.const._SUBMIT}>" tabindex="0"></td>
            <td colspan="4">
            <{* ACTION BATCH - DELETE, MOVE, EXPORT *}>
                <{$smarty.const._MD_A_PICO_LABEL_CONTENTSRIGHTCHECKED}>
                <button class="button delete" type="submit" name="contents_delete" value="<{$smarty.const._MD_A_PICO_BTN_DELETE}>"
                       onclick="return confirm('<{$smarty.const._MD_A_PICO_CONFIRM_DELETE}>');"><{$smarty.const._MD_A_PICO_BTN_DELETE}></button>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <button class="button move" type="submit" name="contents_move" value="<{$smarty.const._MD_A_PICO_BTN_MOVE}>">
                    <i class="i-move"></i> <{$smarty.const._MD_A_PICO_BTN_MOVE}></button>
                <select name="dest_cat_id" id="select_dest_cat_id"><{html_options options=$cat_options4move
                    selected=$cat_id}></select>
            </td>
            <td colspan="4">
                <button type="submit" name="contents_export" value="<{$smarty.const._MD_A_PICO_BTN_EXPORT}>"
                       onclick="return confirm('<{$smarty.const._MD_A_PICO_CONFIRM_EXPORT}>');">
                       <{$smarty.const._MD_A_PICO_BTN_EXPORT}></button>
                <select name="export_mid" id="select_export_mid"><{html_options options=$module_options}></select>
            </td>
        </tr>
        </tfoot>
    </table>

</form>
