<{foreach item=category from=$block.categories}>
<dl>
	<dt style="margin:5px 0 0;padding:3px;background-color:#eee;">
		<a href="<{$block.mod_url}>/<{$category.link}>">
			<{$category.title}>
		</a>
	</dt>
	<dd style="margin:0;"><ul>
	<{foreach item=content from=$category.contents}>
		<li style="margin:0;background-color:#fff;"><a href="<{$block.mod_url}>/<{$content.link}>" title="<{$block.lang_lastupdated}>:<{$content.created_time_formatted}>"><{$content.subject}></a></li>
	<{/foreach}>
	</ul></dd>
</dl>
<{/foreach}>
