/* ToDo */
.pico_container .pico_menu {
}
ul.list-group{
    /*border-left: 1px solid #ddd;*/
    list-style-type: none;
    position: relative;
    margin:auto;
    padding: 10px;

}


/* Apply Level To Heading (Category Name) */
li.list-group-item div.level1>h4 {margin-left:20px;}
li.list-group-item div.level2>h4 {margin-left:20px;}
li.list-group-item div.level3>h4 {margin-left:30px;}
li.list-group-item div.level4>h4 {margin-left:40px;}
li.list-group-item div.level5>h4 {margin-left:50px;}

div.category-collapse {
    margin-left:10px;
    background-color: var(--color3);
    border-radius: var(--border-radius);
    padding:1em 1.5em
}
