<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>




<{include file="db:`$mydirname`_inc_breadcrumbs.html"}>


<div id="<{$mydirname}>_container"></div>

<{* ------- Module Top Message - Edit Module's preferences *}>
<{if $category.id == 0 && $mod_config.top_message !=null}>
<article>

    <{$mod_config.top_message}>

    <{if $category.isadminormod}>
    <footer>

        <div class="grid-2">

            <{if $category.isadminormod}>
            <a role="button" class="primary new" href="<{$mod_url}>/index.php?page=makecontent&amp;cat_id=<{$category.id}>&amp;ret=mc<{$category.id}>">
                <img class="svg new-topic" src="<{$xoops_url}>/images/icons/file-new.svg" width="1em" height="1em" alt="new topic">
                <{$smarty.const._MD_PICO_LINK_MAKECONTENT}>
            </a>
            <{/if}>

            <{* ----- Action controllers - Content ----- *}>
            <div>
                <details class="dropdown">
                    <summary aria-haspopup="listbox" role="button" class="outline primary">
                        Action
                    </summary>
                    <ul>

                        <{if $category.can_makesubcategory}>
                        <li><a href="<{$mod_url}>/index.php?page=makecategory&amp;pid=<{$category.id}>">
                            <img class="svg cat-new" src="<{$xoops_url}>/images/icons/folder-plus.svg" width="1em" height="1em" alt="new category">
                            <{$smarty.const._MD_PICO_LINK_MAKESUBCATEGORY}></a></li>
                        <{/if}>

                        <{if $category.can_makesubcategory}>
                        <li><a href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$category.id}>">
                            <img class="svg folder-edit" src="<{$xoops_url}>/images/icons/folder-edit.svg" width="1em" height="1em" alt="edit">
                            <{$smarty.const._MD_PICO_LINK_EDITCATEGORY}></a></li>
                        <{/if}>

                        <{if $xoops_isadmin}>
                        <li><a href="<{$mod_url}>/admin/index.php?page=category_access&amp;cat_id=<{$category.id}>">
                            <img class="svg folder-lock" src="<{$xoops_url}>/images/icons/folder-lock.svg" width="1em" height="1em" alt="permissions">
                            <{$smarty.const._MD_PICO_LINK_CATEGORYPERMISSIONS}></a></li>

                        <li><a href="<{$mod_url}>/admin/index.php?page=contents&amp;cat_id=<{$category.id}>">
                            <img class="svg file-move" src="<{$xoops_url}>/images/icons/file-move.svg" width="1em" height="1em" alt="batch">
                            <{$smarty.const._MD_PICO_LINK_BATCHCONTENTS}></a></li>
                        <{/if}>

                    </ul>
                </details>
            </div>

        </div>
    </footer>
    <{/if}>
</article>
<{/if}>



<{* ------- start categories list *}>

<article>

<{foreach item=category from=$categories}>


    <details>

        <summary>
            <img class="svg folder" src="<{$xoops_url}>/images/icons/folder.svg" width="1em" height="1em" alt="category">
            <a href="<{$mod_url}>/<{$category.link}>"><{$category.title}></a>
        </summary>

<p class="flex-justify">
    <{* ------- Activity Overview *}>
<!--    <span><{$smarty.const._MD_PICO_CATEGORYMANAGER}></span>-->
    <p class="content-activity">
        <img class="svg folder" src="<{$xoops_url}>/images/icons/folder.svg" width="1em" height="1em" alt="folder">
        <span data-self="sm-hide"><{$smarty.const._MD_PICO_SUBCATEGORIES_TOTAL}></span> <span class="badge"><{$category.redundants.subcategories_total}></span>

        <img class="svg file" src="<{$xoops_url}>/images/icons/file.svg" width="1em" height="1em" alt="file">
        <span data-self="sm-hide"><{$smarty.const._MD_PICO_CONTENTS_TOTAL}></span>
        <span class="badge"><{$category.redundants.contents_total}></span>
    </p>

    <{* ------- Action controllers *}>
    <span>
    <{if $category.can_post}>
    <a href="<{$mod_url}>/index.php?page=makecontent&amp;cat_id=<{$category.id}>&amp;ret=mm" data-tooltip="<{$smarty.const._MD_PICO_LINK_MAKECONTENT}>">
        <img class="svg file-new" src="<{$xoops_url}>/images/icons/file-new.svg" width="1.25em" height="1.25em" alt="file new">
    </a>
    <{/if}>

    <{if $category.can_makesubcategory}>
    <a href="<{$mod_url}>/index.php?page=makecategory&amp;pid=<{$category.id}>" data-tooltip="<{$smarty.const._MD_PICO_LINK_MAKESUBCATEGORY}>">
        <img class="svg folder-plus" src="<{$xoops_url}>/images/icons/folder-plus.svg" width="1.25em" height="1.25em" alt="New Category">
    </a>
    <{/if}>

    <{if $category.isadminormod}>
    <a href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$category.id}>" data-tooltip="<{$smarty.const._MD_PICO_LINK_EDITCATEGORY}>">
        <img class="svg folder-edit" src="<{$xoops_url}>/images/icons/folder-edit.svg" width="1.25em" height="1.25em" alt="edit category">
    </a>
    <{/if}>

    <{if $category.isadminormod && $category.private_contents_counter}>
    <a href="<{$mod_url}>/admin/index.php?page=contents&amp;cat_id=<{$category.id}>" data-tooltip="<{$category.private_contents_counter|string_format:$smarty.const._MD_PICO_FMT_PRIVATECOUNT}>">
        <img class="svg folder-lock" src="<{$xoops_url}>/images/icons/folder-lock.svg" width="1.25em" height="1.25em" alt="category permissions">
    </a>
    <{/if}>

    <{if $xoops_isadmin}>
    <a href="<{$mod_url}>/admin/index.php?page=category_access&amp;cat_id=<{$category.id}>" data-tooltip="<{$smarty.const._MD_PICO_LINK_CATEGORYPERMISSIONS}>">
        <img class="svg folder-lock" src="<{$xoops_url}>/images/icons/folder-lock.svg" width="1.25em" height="1.25em" alt="category permissions">
    </a>
    <{/if}>
    </span>

    <{if $mod_config.show_rss}>
    <span>
        <a href="<{$mod_url}>/index.php?page=rss&amp;cat_id=<{$category.id}>">
            <img class="svg rss" src="<{$xoops_url}>/images/icons/rss.svg" width="1.25em" height="1.25em" alt="rss">
        </a>
        </span>
    <{/if}>
</p>

<{foreach item=content from=$category.contents}>
    <p class="flex-justify">
    <a href="<{$mod_url}>/<{$content.link}>" title="<{$smarty.const._MD_PICO_CREATED}>:<{$content.created_time_formatted}>">
        <img class="svg file" src="<{$xoops_url}>/images/icons/file.svg" width="1em" height="1em" alt="file"> <{$content.subject}>
    </a>

    <{if $category.isadminormod && ! $content.approval}>
    <em class="pico_notice badge warning">(<{$smarty.const._MD_PICO_WAITINGUPDATE}>)</em>
    <{/if}>

    <{if $category.can_edit}>
    <a href="<{$mod_url}>/index.php?page=contentmanager&amp;content_id=<{$content.id}>&amp;ret=mm" data-tooltip="<{$smarty.const._MD_PICO_LINK_EDITCONTENT}>">
        <img class="svg file-edit" src="<{$xoops_url}>/images/icons/file-edit.svg" width="1em" height="1em" alt="file-edit">
    </a>
    <{/if}>
    </p>

<{foreachelse}>
    <p><{$smarty.const._MD_PICO_ERR_NOCONTENTMATCHED}></p>
<{/foreach}>

</details>

<{/foreach}>

</article>


<{* /////// NOTIFICATION \\\\\\\ *}>
<{if $xoops_isadmin}>
<{include file='db:system_notification_select.html'}>
<{/if}>
