<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<{include file="db:`$mydirname`_inc_breadcrumbs.html"}>


<{* ------- Module Top Message - Edit Module's preferences *}>
<{if $category.id == 0 && $mod_config.top_message != null}>
<article>
    <{$mod_config.top_message}>
</article>
<{/if}>


<{* ------- Category Top *}>
<article id="<{$mydirname}>_container" class="category-top">

    <header>
        <div class="headings">
            <h2>
                <span>
                    <img class="svg folder" src="<{$xoops_url}>/images/icons/folder.svg" width="1em" height="1em" alt="category">
                    <{$category.title}>
                </span>

                <{if $mod_config.show_rss}>
                <a href="<{$mod_url}>/index.php?page=rss&amp;cat_id=<{$category.id}>">
                    <img class="svg rss" src="<{$xoops_url}>/images/icons/rss.svg" width="1em" height="1em" alt="rss">
                </a>
                <{/if}>
            </h2>
            <{* ------- Activity Overview - Top Category *}>
            <p class="content-activity">

                <img class="svg folder" src="<{$xoops_url}>/images/icons/folder.svg" width="1em" height="1em" alt="folder">
                <span data-self="sm-hide"><{$smarty.const._MD_PICO_SUBCATEGORIES_TOTAL}></span> 
                <span class="badge"><{$category.redundants.subcategories_total|default:''}></span>

                <img class="svg file" src="<{$xoops_url}>/images/icons/file.svg" width="1em" height="1em" alt="file">
                <span data-self="sm-hide"><{$smarty.const._MD_PICO_CONTENTS_TOTAL}></span>
                <span class="badge"><{$category.redundants.contents_total|default:'0'}></span>

            </p>
            <{* ------- /Activity Overview *}>
        </div>

        <div class="description">
            <{$category.desc}>
        </div>

    </header>


    <{* ----- List Top Categories ----- *}>

    <{* ----- Subcategories ----- *}>
    <{if isset($subcategories)}>
    <{foreach from=$subcategories item="subcategory"}>
    <div class="list-content">
        <div class="headings">
            <h3>
            <a href="<{$mod_url}>/<{$subcategory.link}>">
                <img class="svg category" src="<{$xoops_url}>/images/icons/folder.svg" width="1em" height="1em" alt="category">
                <{$subcategory.title}>
            </a>

            <{* ----- Activity Overview - Subcategories ----- *}>
            <{* ----- if $category.isadminormod *}> <{* REMOVE SMARTY COMMENT TO MAKE ACTIVITY PRIVATE *}>
            <div>
                <span  data-tooltip="<{$smarty.const._MD_PICO_SUBCATEGORIES_TOTAL}>">
                <img class="svg folder" src="<{$xoops_url}>/images/icons/folder.svg" width="1em" height="1em" alt="folder">
                <{* ----- <span data-self="sm-hide"><{$smarty.const._MD_PICO_SUBCATEGORIES_TOTAL}></span> ----- *}>
                <span class="badge"><{$subcategory.redundants.subcategories_total > 0}></span>
                </span>

                <span data-tooltip="<{$smarty.const._MD_PICO_CONTENTS_TOTAL}>">
                <img class="svg file" src="<{$xoops_url}>/images/icons/file.svg" width="1em" height="1em" alt="file">
                <{* ----- <span data-self="sm-hide"><{$smarty.const._MD_PICO_CONTENTS_TOTAL}></span> ----- *}>
                <span class="badge"><{$subcategory.redundants.contents_total|default:'0'}></span>
                </span>

                <{if $mod_config.show_rss}>
                <a href="<{$mod_url}>/index.php?page=rss&amp;cat_id=<{$category.id}>">
                    <img class="svg rss" src="<{$xoops_url}>/images/icons/rss.svg" width="1em" height="1em" alt="rss">
                </a>
                <{/if}>
            </div>
            <{* ----- /if *}> <{* REMOVE SMARTY COMMENT TO MAKE ACTIVITY PRIVATE *}>
            <{* ----- /Activity Overview - Subcategories ----- *}>
            </h3>
        </div>

        <div class="description">
            <{$subcategory.desc}>
        </div>

    </div>
    <{/foreach}>
    <{/if}>
    <{* ----- /Subcategories ----- *}>


    <{* ----- Content ----- *}>
    <{if $contents}>

    <{foreach from=$contents item="content"}>
    <div class="list-content">
    <h4>
        <a href="<{$mod_url}>/<{$content.link}>">
            <img class="svg file" src="<{$xoops_url}>/images/icons/file.svg" width="1em" height="1em" alt="file">
            <{if $content.public}>
            <{$content.subject}>
            <{elseif $category.isadminormod}>
                <{if !$content.visible}>
                <strong class="badge warning">
                    <img class="svg view-hide" src="<{$xoops_url}>/images/icons/view-hide.svg" width="1em" height="1em" alt="invisible">
                    <{$smarty.const._MD_PICO_INVISIBLE}>
                </strong>
                <{/if}>
                <em class="pico_notice badge warning"><{$content.subject}></em>
                <{if !$content.approval}>
                <em class="pico_notice badge warning"><{$content.poster_uname}> <{$content.created_time_formatted}> </em>
                <{/if}>
            <{/if}>
        </a>
        <{if $category.can_edit}>
        <a href="<{$mod_url}>/index.php?page=contentmanager&amp;content_id=<{$content.id}>&amp;ret=mc<{$category.id}>" data-tooltip="<{$smarty.const._MD_PICO_LINK_EDITCONTENT}>">
            <img class="svg edit" src="<{$xoops_url}>/images/icons/file-edit.svg" width="1em" height="1em" alt="edit">
        </a>
        <{/if}>
    </h4>
    </div>
    <{/foreach}>

    <{/if}>
    <{* ----- /Content ----- *}>

    <{if $xoops_isuser}>
    <footer>

        <div class="grid">

            <{if $category.can_post}>
            <div>
            <a aria-busy="false" role="button" class="primary new" href="<{$mod_url}>/index.php?page=makecontent&amp;cat_id=<{$category.id}>&amp;ret=mc<{$category.id}>">
                <img class="svg new-topic" src="<{$xoops_url}>/images/icons/file-new.svg" width="1em" height="1em" alt="new topic">
                <{$smarty.const._MD_PICO_LINK_MAKECONTENT}></a>
            </div>
            <{/if}>

            <{* ----- Action controllers - Content ----- *}>
            <{if $category.can_makesubcategory or $category.isadminormod}>
            <div>
                <details  class="dropdown">
                <summary aria-haspopup="listbox" role="button" class="outline primary">
                    Action
                </summary>
                <ul>
                    <{if $category.can_makesubcategory}>
                    <li><a href="<{$mod_url}>/index.php?page=makecategory&amp;pid=<{$category.id}>">
                        <img class="svg cat-new" src="<{$xoops_url}>/images/icons/folder-plus.svg" width="1em" height="1em" alt="new category">
                        <{$smarty.const._MD_PICO_LINK_MAKESUBCATEGORY}></a></li>
                    <{/if}>

                    <{if $category.isadminormod}>
                    <li><a href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$category.id}>">
                        <img class="svg folder-edit" src="<{$xoops_url}>/images/icons/folder-edit.svg" width="1em" height="1em" alt="edit">
                        <{$smarty.const._MD_PICO_LINK_EDITCATEGORY}></a></li>
                    <{/if}>

                    <{if $xoops_isadmin}>
                    <li><a href="<{$mod_url}>/admin/index.php?page=category_access&amp;cat_id=<{$category.id}>">
                        <img class="svg folder-lock" src="<{$xoops_url}>/images/icons/folder-lock.svg" width="1em" height="1em" alt="permissions">
                        <{$smarty.const._MD_PICO_LINK_CATEGORYPERMISSIONS}></a></li>

                    <li><a href="<{$mod_url}>/admin/index.php?page=contents&amp;cat_id=<{$category.id}>">
                        <img class="svg file-move" src="<{$xoops_url}>/images/icons/file-move.svg" width="1em" height="1em" alt="batch">
                        <{$smarty.const._MD_PICO_LINK_BATCHCONTENTS}></a></li>
                    <{/if}>
                </ul>
            </details>
            </div>
            <{/if}>
        </div>
        <{* ----- /Action controllers - Content ----- *}>

    </footer>
    <{/if}>

</article>

<{* ----- NOTIFICATION ----- *}>
<{if $xoops_isuser}>
<{include file='db:system_notification_select.html'}>
<{/if}>
