<h3><{$mod_name}></h3>

<h2 class="head"><{$smarty.const._MD_A_D3FORUM_H2_POSTHISTORIES}></h2>

<form method="get" action="index.php">
	<input type="hidden" name="page" value="post_histories" />
	<input type="text" size="8" name="data" value="<{$requests.data|escape}>" />
	topic_id:<input type="text" size="8" name="topic_id" value="<{$requests.topic_id|escape}>" />
	post_id:<input type="text" size="8" name="post_id" value="<{$requests.post_id|escape}>" />
	<input type="submit" value="<{$smarty.const._GO}>" />
</form>

<{$pagenavi}>

<table class="d3forum_post_histories outer">
	<{foreach from=$histories item="history"}>
		<tr class="<{cycle values="even,odd"}>">
			<td><{$history.history_time_formatted}></td>
			<td>
				<{if $history.subject_raw}>
					<a href="<{$mod_url}>/index.php?post_id=<{$history.post_id}>"><{$history.subject_raw|escape}></a>
				<{else}>
					<a href="<{$mod_url}>/admin/index.php?page=post_history_detail&amp;history_id=<{$history.id}>"><{$smarty.const._MD_A_D3FORUM_LINK_REFERDELETED}></a>
				<{/if}>
			</td>
			<td><{$history.data.subject|escape}></td>
			<td><{$history.data.post_text|escape|nl2br}></td>
		</tr>
	<{/foreach}>
</table>
