/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL 2.3.1
	Version : 2.3.1
	Author : Nuno Luciano aka Gigamaster
	Date : 2023-01-27
	URL : https://github.com/xoopscube/

	- action-control
	- badge, badge-count
	- button
	- button-small
	- btnav
*/
/* -------------------- -------------------- ACTION CONTROL

    button border or colored e.g.:
    background: var(--color-red );
    color: var(--color-white );
*/
:is(button.action-active),
.action-active {
    border: 1px solid var(  --color-green	)
}
.action-select {}

a.action-add,
a.action-new {
    border: 1px solid var(  --color-green	);
}
a.action-cancel {
    border: 1px solid var(  --border-color	);
}
a.action-copy {
    border: 1px solid var(  --color-amber	);
}
:is(button.delete),
a.action-delete,
.action-diff {
    border: 1px solid var(  --color-red	);
}
a.action-download {
    border: 1px solid var(  --color-blue	);
}
a.action-lock {
    border: 1px solid var(  --color-red	);
}
.action-send {}

:is(button.upload),
a.action-upload {
    border: 1px solid var(  --color-amber	);
}
:is(button.edit),
a.action-edit {
    border: 1px solid var(  --color-blue	);
}
a.action-submit {
    border: 1px solid var(  --color-blue	);
}
a.action-view {
    border: 1px solid var(  --color-amber	);
}



.bg-amber {
    border: 1px solid var(  --color-amber	);
    color:var(  --color-amber	);
}
.bg-black {
    background      : var(  --color-black	);
    color           : var(  --color-white	);
}

.bg-blue {
    background      : var( --color-blue );
    color           : var( --color-white )!important;
}
.bg-green {
    background      : var( --color-green );
    color           : var( --color-white );
}
.bg-indigo {
    background      : var( --color-indigo );
    color           : var( --color-white );
}
.bg-orange {
    background      : var( --color-orange );
    color           : var( --color-white );
}
.bg-purple {
    background      : var( --color-purple );
    color           : var( --color-white ) !important;
}

.bg-red {
    background      : var( --color-red );
    color           : var( --color-white )!important;
}
.bg-white {
    background      : var( --color-white );
    color           : var( --color-black );
}
/* Background Colors */
.color-green { background: var( --color-green ); }
.color-red { background: var( --color-red );}

.color-orange {background: var( --color-orange ); var( --color-white )}

/* -------------------- --------------------  ICONS */

    /* Icons color and size */
    i[class^="i-"] {
        /* color for mask */
        background-color    : var(--button-color);
        /* set max or overwrite with container btn */
        height              : 18px;
        width               : 18px;
        /* container btn with position:relative */
        margin              : auto;
        position            : relative;
        opacity             : 0.74;
        top                 : 0;
        left                : 0;
        mask-repeat         : no-repeat;
        -webkit-mask-repeat : no-repeat;
        /*mask-size           : 20px 20px;*/
        /*-webkit-mask-size   : 20px 20px;*/
        mask-size           : 100%;
        -webkit-mask-size   : 100%;
        vertical-align      : -0.125em;
    }


    i[class|="i-"]:hover{
        background-color    : var( --button-color-hover );
        /*box-shadow          : 0 8px 6px -6px green;*/
    }

/* -------------------- --------------------  BADGE */

    /* Badge default */
    .badge,
    .badge-count {
        background      : var( --button-bg );
        border          : none;
        border-radius   : var(--border-radius);
        /*box-shadow      : var( --button-shadow );*/
        color           : var( --primary);
        display         : inline-block;
        font-size       : 0.74rem;
        font-family     : sans-serif;
        font-style      : normal;
        letter-spacing  : 0.1rem;
        line-height     : 1em;
        margin          : var( --button-margin );
        padding         : var( --space-4 ) var( --space-6 );
        position        : relative;
        text-align      : center;
        /*text-transform      : uppercase;*/
        transition      : all ease-in-out 0.2s;
        vertical-align  : baseline;
        white-space     : nowrap;
    }

    .badge-count {
        background      : var( --layer-2 );
        font-size       : 13px;
        margin          : 0 var( --space-2 );
        padding         : var( --space-1 ) var( --space-2 );
        min-width       : 4ch;
        text-align      : right;
    }

    /* Badge with icon background mask */
    .badge > i[class^="i-"]{
        mask-size           : 1.5em 1.5em;
        -webkit-mask-size   : 1.5em 1.5em;
    }
    .badge:hover > i[class^="i-"]:hover{
        filter: invert(100%);
        ---color    : currentColor;
    }
    button.badge:hover {
        filter: invert(100%);
    }
    .badge:hover {
        background      : var(  --button-bg-hover  );
    }

    button > .badge {
        border-radius   : 50%;
        box-shadow      : 1px 2px 2px -1px hsla(0, 0%, 7%, 0.9);
        padding         : 4px 7px;
        position        : absolute;
        right           : -1em;
        top             : -1em;
    }


/* -------------------- --------------------  button + jQueryUI */
/* Overwrite jQuery Components */

/*.button,*/
.button {
    background-color    : var( --button-bg     );
    border              : var( --button-border );
    border-radius       : var( --button-radius );
    box-shadow          : var( --button-shadow );
    color               : var( --button-color  );
    cursor              : pointer;
    display             : inline-block;
    font-size           : 16px;
    line-height         : 1.5;
    padding             : var( --button-padding );
    position            : relative;
    margin              : var( --button-margin  );
    min-width           : 4ch;
    text-align          : center;
    text-decoration     : none;
    touch-action        : manipulation;
    transition          : all 0.3s ease 0s;
    user-select         : none;
}
.button:active {
/*[class*="button"]:active {*/
    box-shadow          : var( --button-shadow-on );
}

/* -------------------- ui-card-block-item */

.button-small {
    color               : var( --button-color );
    font-size           : inherit;
    padding             : var(--space-2) var(--space-5) var(--space-2) var(--space-3);
}

a.button > svg.svg-ui-icon,
a.button.button-small > svg.svg-ui-icon,
[class*="button-"]> svg.svg-ui-icon {
    color               : var( --button-color );
    font-size           : 1rem;
    padding-right       : 0.25em;
    vertical-align      : middle;            /* Align icon = text  */
    width               : 1.4em !important; /* Size icon + text   */
}

.button:hover,
.button:focus,
.button.button-small:hover,
.button.button-small:focus {
    background          : var( --button-bg-hover );
    color               : var( --button-color-hover );
    box-shadow          : var( --button-shadow-on );
}

/* button icon with color black */
button[class^="btn-ico"].btn-white > i {
    background-color: var( --color-black );
}

/* -------------------- --------------------  BTNVAV */

.btnav {
    background      : none;
    border          : var( --button-border );
    border          : transparent;
    border-radius : var(--border-radius);
    color           : var( --link );
    font-size       : 20px;
    height          : 40px;
    line-height     : 40px;
    margin          : 0 var( --space-1 );
    padding         : 0;
    position        : relative;
    text-align      : center;
    touch-action    : manipulation;
    transition      : color 0.3s;
    min-width       : 40px;   /* icon */
    max-width       : 240px; /* text */
    z-index         : 1;
    backface-visibility: hidden;
}
.btnav::before {
    box-shadow      : inset 0 0 0 35px transparent;
    border-radius   : inherit;
    content         : '';
    height          : 100%;
    left            : 0;
    position        : absolute;
    top             : 0;
    transform       : scale3d(0.9, 0.9, 1);
    transition      : box-shadow 0.3s, transform 0.3s;
    width           : 100%;
    z-index         : -1;
}
.btnav > span {
    position        : absolute;
    pointer-events  : none;
    opacity         : 0;
}
.btnav:hover {
    color           : var( --link-hover  );
}
.btnav:hover::before {
    box-shadow      : inset 0 0 0 1px var( --link-hover  );
    transform       : scale3d(1, 1, 1);
}
