/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL 2.3.1
	Version : 2.3.1
	Author : Nuno Luciano aka Gigamaster
	Date : 2023-01-27
	URL : https://github.com/xoopscube/

	- action-control
	- badge, badge-count
	- button
	- nav-btn
*/
/* -------------------- -------------------- ACTION CONTROL

    button border or colored e.g.:
    background: var(--color-red );
    color: var(--color-white );
*/
:is(button.action-active),
.action-active {
    border: 1px solid var(  --color-green	)
}
.action-select {}

a.action-add,
a.action-new,
a.action-send {
    border: 1px solid var(  --color-green	);
}
a.action-cancel {
    border: 1px solid var(  --border-color	);
}
a.action-copy {
    border: 1px solid var(  --color-amber	);
}
:is(button.delete),
a.action-delete,
.action-diff {
    border: 1px solid var(  --color-red	);
}
a.action-download {
    border: 1px solid var(  --color-blue	);
}
a.action-lock {
    border: 1px solid var(  --color-red	);
}
.action-send {}

:is(button.upload),
a.action-upload {
    border: 1px solid var(  --color-amber	);
}
:is(button.edit),
a.action-edit {
    border: 1px solid var(  --color-blue	);
}
a.action-submit {
    border: 1px solid var(  --color-blue	);
}
a.action-view {
    border: 1px solid var(  --color-amber	);
}



.bg-amber {
    border: 1px solid var(  --color-amber	);
    color:var(  --color-amber	);
}
.bg-black {
    background      : var(  --color-black	);
    color           : var(  --color-white	);
}

.bg-blue {
    background      : var( --color-blue );
    color           : var( --color-white )!important;
}
.bg-green {
    background      : var( --color-green );
    color           : var( --color-white );
}
.bg-indigo {
    background      : var( --color-indigo );
    color           : var( --color-white );
}
.bg-orange {
    background      : var( --color-orange );
    color           : var( --color-white );
}
.bg-purple {
    background      : var( --color-purple );
    color           : var( --color-white ) !important;
}

.bg-red {
    background      : var( --color-red );
    color           : var( --color-white )!important;
}
.bg-white {
    background      : var( --color-white );
    color           : var( --color-black );
}
/* Background Colors */
.color-green { background: var( --color-green ); }
.color-red { background: var( --color-red );}

.color-orange {background: var( --color-orange ); var( --color-white )}

/* -------------------- --------------------  ICONS */
/* Icons color and size */
/* Icons color and size */
/* margin-right if button text */
:where(.button, .ui-button):not(.button-icon) i[class^="i-"] {
    margin-right: var(--space-4) !important;
}
.button-icon,
button[type="button"].button-icon {
    font-size: var(--icon-size);
}

/* -------------------- --------------------  BADGE */

    /* Badge default */
    .badge,
    .badge-count {
        background      : var( --button-bg );
        border          : none;
        border-radius   : var(--border-radius);
        /*box-shadow      : var( --button-shadow );*/
        color           : var( --primary);
        display         : inline-block;
        font-size       : 0.74rem;
        font-family     : sans-serif;
        font-style      : normal;
        /*letter-spacing  : 0.1rem;*/
        line-height     : 1em;
        margin          : var( --button-margin );
        padding         : var( --space-4 );
        position        : relative;
        text-align      : center;
        /*text-transform      : uppercase;*/
        transition      : all ease-in-out 0.2s;
        vertical-align  : baseline;
        /*white-space     : nowrap;*/
    }

    .badge-count {
        background      : var( --layer-2 );
        font-size       : 13px;
        height          : fit-content;
        margin          : 0 var( --space-2 );
        padding         : var( --space-1 ) var( --space-2 );
        min-width       : 4ch;
        text-align      : right;

    }

    /* Badge with icon background mask */
    .badge > i[class^="i-"]{
        mask-size           : 1.5em 1.5em;
        -webkit-mask-size   : 1.5em 1.5em;
    }
    .badge:hover > i[class^="i-"]:hover{
        filter: invert(100%);
        ---color    : currentColor;
    }
    button.badge:hover {
        filter: invert(100%);
    }
    .badge:hover {
        background      : var(  --button-bg-on  );
    }

    button > .badge {
        border-radius   : 50%;
        box-shadow      : 1px 2px 2px -1px hsla(0, 0%, 7%, 0.9);
        padding         : 4px 7px;
        position        : absolute;
        right           : -1em;
        top             : -1em;
    }


/* -------------------- --------------------  button + jQueryUI */
/* Overwrite jQuery Components */

/*.button,*/
a.button,
nav.ui-breadcrumbs a,
.button {
    background-color    : var( --button-bg     );
    border              : var( --button-border );
    border-radius       : var( --button-radius );
    box-shadow          : var( --button-shadow );
    color               : var( --button-color  )!important;
    cursor              : pointer;
    display             : inline-block;
    font-size           : 16px;
    line-height         : 1.5; /* 24px*/
    padding             : var( --button-padding );
    position            : relative;
    margin              : var( --button-margin  );
    min-width           : 4ch;
    text-align          : center;
    text-decoration     : none;
    touch-action        : manipulation;
    transition          : all 0.3s ease 0s;
    user-select         : none;
}
.button:active {
    box-shadow          : var( --button-shadow-on );
}

/* -------------------- ui-card-block-item */

a.button:hover,
a.button:focus,
nav.ui-breadcrumbs a:hover,
nav.ui-breadcrumbs a:focus,

.button:hover,
.button:focus {
    background          : var( --button-bg-on );
    color               : var( --button-color-on )!important;
    box-shadow          : var( --button-shadow-on );
}

