/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL 2.3.1
	Version : 2.3.1
	Author : Nuno Luciano aka Gigamaster
	Date : 2023-01-27
	URL : https://github.com/xoopscube/

	- HTML BODY
	- BROWSER SPECS ( Text Selection, Scrollbar )
	- HTML Elements
	- LAYOUT GRID
	- LAYOUT HEADER
	- HEADER NAV
	- LAYOUT Main
	- LAYOUT Footer
	- PAGINATION ( adminnavi, breadcrumbs )
	- SCROLL TOP

*/
/* -------------------- -------------------- HTML BODY */

html,
body {
    margin          : var(  --space-0    );
    padding         : var(  --space-0    );
    text-rendering	: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
body {
    background      : var( --body-bg     );
    color           : var( --body-color  );
    font-family     : var( --font-family );
    font-size       : var( --font-size   );
    font-weight     : var( --font-weight );
    /* Removed Background white Flash transition */
    transition      : background 500ms ease-in-out, color 200ms ease;
    /* Prevent Scrollbar Layout Shift
    scrollbar-gutter: stable both-edges;
    position: relative;
    margin: 0 auto 2rem;*/
}

/*	-------------------- --------------------  BROWSER SPECS */
/* Text Selection */
::selection {
    background-color: var( --blue-opacity-5 );
    color           : var(  --secondary	 );
}
/* Webkit Scrollbar */
::-webkit-scrollbar {
    width           : 9px;
    height          : 9px;
}
::-webkit-scrollbar-thumb {
    background      : var( --thumbBG );
}
::-webkit-scrollbar-thumb:hover {
    background      : #686c7e;
}
::-webkit-scrollbar-track {
    background-color: var( --trackBG );
}
textarea::-webkit-resizer {
    background-color: var( --layer-2 );
}

/* -------------------- -------------------- HTML Elements */

a:link, a:visited {
    color           : var(  --link );
    cursor          : pointer;
    display         : inline-block;
    text-decoration : none;
}

a:active, a:focus {
    color           : var(  --link-active  );
}

a:hover, a:visited:hover {
    color           : var(  --link-hover   );
}
/* ----- Add icon to external link
a[href^="http://"]:not([href*="example.com"]):after,
a[href^="https://"]:not([href*="example.com"]):after{
    font-size       : 0.75rem;
    vertical-align  : text-top;
    content         : '\0020\2197';
    text-decoration : none;
}*/

/* ----- ANCHOR link
   scroll-margin-top : value equal to header height */
a[name|=help] {
    scroll-margin-top: 4em;
}
a[id|=close-site],
a[id|=debug-mode] {
    scroll-margin-top: 120px;
}

blockquote {
    border-left     : 3px solid var(  --layer-4  );
    font-style      : italic;
    padding         : var(  --space-5   ) var(  --space-7  );
}

code,kbd,pre,samp {
    padding         : var(--space-4);
    overflow-wrap   : anywhere; /* normal | break-word | anywhere */
    white-space     : pre-wrap!important;/* <pre> tag doesn't support wrapping, by default. */
}
kbd {
    background      : var(--layer-4);
    border          : var(--border);
    border-radius   : var(--border-radius);
    box-shadow      : var(--shadow-3);
    font-size       : 13px;
    padding         : var(--space-1) var(--space-2);
}
pre {
    border-left     : 3px solid var( --layer-4 );
    padding         : var(--space-3) ;
}

h1, h2, h3, h4, h5 {
    font-weight     : 400;
}

h1 {
    margin          : 0 0 var(  --space-3  );
}
h2 {
    font-size       : 32px;
    margin          : 1em 0;
}
h3 {
    font-size       : 24px;
    margin          : 1.25em 0;
}
h4 {
    font-size       : 20px;
    margin          : 1.25em 0;
}
h5 {
    font-size       : 16px;
    letter-spacing  : 1px;
    text-transform  : uppercase;
    margin          : var(  --space-6  ) 0;
}
h6 {
    font-size       : 14px;
    letter-spacing  : 1px;
    text-transform  : uppercase;
    margin          : var(  --space-6  ) 0;
}

hr {
    border          : 0;
    border-top      : 1px solid var( --layer-3 );
    margin          : 1.5em 0;
    height          : 5px;
    background-image: linear-gradient(90deg, transparent, var( --layer-3 ), transparent);
}

p {
    margin          : var( --space-5 ) 0;
    line-height     : 1.5;
}
/*  -------------------- --------------------  LAYOUT GRID */

.layout-grid {
    align-content   : space-around;
    display         : grid;
    grid-gap        : 1px;
    grid-template-columns : 200px auto;
    grid-template-rows    : 55px 1fr 80px;
    grid-template-areas   : "header  header"
                            "nav-aside main";
}

/* -------------------- --------------------  LAYOUT HEADER */

header.header {
    align-items     : center;
    background      : var( --header-bg     );
    border          : var( --header-border );
    border-radius   : var( --header-radius );
    box-shadow      : var( --header-shadow );
    grid-area       : header;
    position        : var( --header-position);
    width           : 100%;
    z-index         : var(--z-overlay);
}
/* -------------------- --------------------  HEADER NAV */

header > nav {
    font-size       : var(--icon-size);
    height          : 50px;
    margin          : 0;
    overflow        : hidden;
    padding         : var(--space-2);
    width           : 100vw;
}

nav ul {
    display         : flex;
    margin          : 0;
    padding         : 0;
}

nav ul li {
    list-style      : none;
    transition      : all 0.2s;
}

nav ul li.nav-logo {
    display: none; /* display inline-block tablet */
    width       : 247px;
}

nav ul li.ui-color-mode {
    display         : flex;
    margin-left     : auto;
    padding         : 0;
}

nav > ul > li > a {
    /*padding         : 0 var(  --space-5  );*/
}
nav ul li .ui-nav-icon {
    background: var( --layer-3);
    color: var( --secondary);
    cursor: pointer;
    text-align: center;
    margin: 0 1em;
    /*line-height: 50px;*/
}
/* -------------------- --------------------  LAYOUT Main */

.main {
    background      : var( --main-background);
    border-color    : var( --border-none    );
    border-radius   : var( --border-none    );
    border-style    : var( --border-none    );
    border-width    : var( --border-none    );
    box-shadow      : var( --border-none    );
    grid-area       : main;
    /* padding         : 0 4rem 2rem; */
    /* Set according to device screen-width */
    width           : 100%;
    max-width       : 1174px; /* fixed */
    /*max-width       : calc(90vw - 400px);*/
    margin          : 0 auto;
}

/* -------------------- --------------------  LAYOUT Footer */

.layout-grid footer {
    background      : var( --footer-bg     );
    border-top      : var( --footer-border );
    border-radius   : var( --footer-radius );
    box-shadow      : var( --footer-shadow );
    color           : var( --footer-color  );
    display         : inline-block;
    padding         : var( --footer-padding);
    width           : 100%;
    text-align      : center;
}

footer .credits,
footer .links {
    font-size       : var( --footer-font);
    color           : var(  --footer-link    ) !important;
    cursor          : pointer;
}

/* -------------------- --------------------  PAGINATION */
.ui-breadcrumbs,
.adminnavi {
    background      : var( --breadcrumbs-bg     );
    border-color    : var( --breadcrumbs-border-color   );
    border-radius   : var( --breadcrumbs-border-radius  );
    border-style    : var( --breadcrumbs-border-radius  );
    border-width    : var( --breadcrumbs-border-width   );
    box-shadow      : var( --breadcrumbs-box-shadow     );
    padding         : var( --breadcrumbs-padding        );
    margin          : var( --breadcrumbs-margin         );
    position        : sticky;
    top             : 50px;
    z-index         : var(--z-sticky);
}
.adminnavi::before{
    content: attr(aria-label);
    opacity: 0;
    display:none
}
nav.pagination {
    display         : flex;
    justify-content : center;
}
.pagenavi {
    list-style:none;
}
.ui-breadcrumbs a,
.adminnavi a,
.pagenavi a,
.pagenavi [aria-current] {
    background      : var( --breadcrumbs-bg-link       );
    border-color    : var( --breadcrumbs-border-color  );
    border-radius   : var( --breadcrumbs-border-radius );
    border-style    : var( --breadcrumbs-border-radius );
    border-width    : var( --breadcrumbs-border-width  );
    box-shadow      : var( --breadcrumbs-box-shadow    );
    padding         : var( --breadcrumbs-padding       );
    margin          : var( --breadcrumbs-margin        );
    transition      : all 0.3s ease;
}

/* ---------- ---------- ------- SCROLL TOP */
.scroll-top {
    position        : absolute;
    top             : 12rem;
    right           : 2rem;
    bottom          : 0;
    pointer-events  : none;
    z-index         : 9000;
}
.scroll-top #ntop-bg {fill: var( --input-bg )}
.scroll-top #ntop-arrow {fill: var( --link );}
.scroll-top a:hover #ntop-bg {fill: var( --color-blue );}
.scroll-top a:hover #ntop-arrow {fill: var( --color-white );}
.scroll-top a {
    position        : fixed;
    top             : -5rem;
    right           : 1rem;
    width           : 3rem;
    height          : 3rem;
    margin-bottom   : -5rem;
    transform       : translateY(100vh);transition: all 0.3s ease-out;
    backface-visibility: hidden;
    display         : inline-block;
    text-decoration : none;
    user-select     : none;
    pointer-events  : all;
    outline         : none;
    overflow        : hidden;
}
.scroll-top a:hover {
    border-color    : var(--border);
    box-shadow      : 0 12px 24px -12px var(--blue-opacity-5), 0 4px 20px 0 var(--blue-opacity-5), 0 8px 8px -5px var(--blue-opacity-5);
}
.scroll-top a svg {
    display         : block;
    border-radius   : var(--border-radius);
    width           : 100%;
    height          : 100%;
}
.scroll-top a svg path {
    transition      : all 0.1s;
}
.scroll-top a #ntop-arrow {
    transform       : scale(0.66);
    transform-origin: center;
}
@media print {
    .scroll-top { display: none !important; }
}

