/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL 2.3.1
	Version : 1.1.1
	Author : Nuno Luciano aka Gigamaster
	Date : 2022-11-21
	URL : https://github.com/xoopscube/

    /* -------------------- -------------------- -------------------- -------------------- HTML BODY */

    html,
    body {
        margin          : var(  --space-0    );
        padding         : var(  --space-0    );
        overflow-x      : hidden;
        text-rendering	: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        /* Prevent Scrollbar Layout Shift
        scrollbar-gutter: stable both-edges;*/
    }

    html { /*:not(.elfinder) */
        /* Scroll to page anchors [id]:target padding-top = height of theme sticky header */
        scroll-padding-top: 70px;
        scroll-behavior: smooth;
    }
    body {
        background      : var( --body-bg     );
        color           : var( --body-color  );
        font-family     : var( --font-family );
        font-size       : var( --font-size   );
        font-weight     : var( --font-weight );
        /* Removed Background white Flash transition */
        transition      : background 500ms ease-in-out, color 200ms ease;
    }

    /* -------------------- -------------------- -------------------- -------------------- HTML Elements */

    a,
    a:link,
    a:visited {
        color           : var(  --link );
        cursor          : pointer;
        display         : inline-block;
        text-decoration : none;
    }

    a:active,
    a:focus {
        color           : var(  --link-active  );
    }

    a:hover,
    a:visited:hover {
        color           : var(  --link-hover   );
    }
    /* Add icon to external link
    a[href^="http://"]:not([href*="example.com"]):after,
    a[href^="https://"]:not([href*="example.com"]):after{
        font-size       : 0.75rem;
        vertical-align  : text-top;
        content         : '\0020\2197';
        text-decoration : none;
    }*/

    a[name|=help] {
        scroll-margin-top: 4em;
    }

    blockquote {
        border-left     : 3px solid var(  --layer-4  );
        font-style      : italic;
        font-size       : var(  --size-3   );
        padding         : var(  --space-5   ) var(  --space-7  );
    }

    code,kbd,pre,samp {
        padding         : var(--space-4);
        /* overflow-wrap   : anywhere; /* normal | break-word | anywhere */
        white-space     : pre-wrap;
    }

    pre {
        border-left     : 3px solid var( --layer-4 );
        /* color           : var(--color-1); */
        padding         : var(--space-3) ;
    }

    h1, h2, h3, h4 {
        font-weight     : 400;
        width           : 100%;
    }

    h1 {
        font-size       : var(  --size-5   );
        margin          : 0 0 var(  --space-3  );

    }
    h2 {
        font-size       : 32px;
        margin          : 1em 0;
    }
    h3 {
        font-size       : 24px;
        margin          : 1.25em 0;
    }
    h4 {
        font-size       : 20px;
        margin          : 1.25em 0;
    }
    h5 {
        font-size       : 16px;
        letter-spacing  : 1px;
        text-transform  : uppercase;
        margin          : var(  --space-6  ) 0;
    }
    h6 {
        font-size       : 14px;
        letter-spacing  : 1px;
        text-transform  : uppercase;
        margin          : var(  --space-6  ) 0;
    }


    hr {
        border          : 0;
        border-top      : 1px solid var(  --layer-3    );
        margin          : 1.5em 0;
        height          : 5px;
        background-image : linear-gradient(90deg, transparent, var(  --layer-3   ), transparent);
    }

    p {
        font-size       : var( --size-2 );
        margin          : var( --space-5 ) 0;
        line-height     : 1.5;
    }
