/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL 2.5.0
	Version : 2.5.0
	Author : Nuno Luciano aka Gigamaster
	Date : 2023-01-27
	URL : https://github.com/xoopscube/
*/
/*-------------------- --------------------  UI-CARD-FULL */

.ui-card-2-col,
.ui-card-full {
    background    	: var( --card-full-bg	  );
    border  	    : var( --card-full-border );
    border-radius 	: var( --card-full-radius );
    box-shadow    	: var( --card-full-shadow );
    padding       	: var( --card-full-padding);
    margin        	: var( --card-full-margin );
/*  Adjust the offset of HTML anchor for the fixed header
    Scroll to page anchors [id]:target eg.:
    padding-top = height of theme sticky header */
    scroll-padding-top: 70px;
    width: 100%;
}

.ui-card-2-col {
    column-count	: 2;
    column-gap		: 5px;
    display         : block;
}
.ui-block-online-content {
    align-items     : center;
    display			: flex;
    flex			: 1;
    flex-direction	: column;
    letter-spacing	: 1px;
    justify-content	: space-between;
}
.ui-block-online {
    display			: flex;
    justify-content	: space-between;
    margin			: var(--space-6) 0;
    padding         : var(--space-6);
}
.ui-block-online-welcome {
    align-items		: center;
    display			: flex;
    flex-direction	: column;
}
.ui-block-online-title {
    font-size		: 24px;
    margin-bottom	: var(--space-6);
}
.ui-block-online-text {
    font-size		: 16px;
}

/* -------------------- --------------------  UI-CARD-BLOCK STATS */

.ui-block-online-stats {
    display			: grid;
    grid-auto-flow	: column;
    grid-gap		: 42px;
}
.ui-block-online-stats-info {
    align-items		: center;
    display			: flex;
    flex-direction	: column;
}
.ui-block-online-stats-total {
    font-size		: 24px;
    margin-bottom	: var(--space-6);
}
.ui-block-online-stats-title {
    font-size		: 24px;
    margin-bottom	: var(--space-6);
}
.ui-block-online-stats-text {
    font-size		: 16px;
    text-align		: center;
}

/* -------------------- -------------------- UI-CARD-OVERVIEW */

.ui-card-overview {
    display			: grid;
    grid-template-columns : repeat(auto-fit, minmax(214px, 1fr));
    grid-gap        : 16px;
    margin          : 4em auto 0;
}
.ui-card-small {
    align-items     : center;
    background      : var(--card-small-bg);
    border-color    : var(--card-small-border);
    border-radius   : var(--card-small-radius);
    box-shadow      : var(--card-small-shadow);
    display         : flex;
    justify-content : flex-start;
    padding         : var(--card-small-padding);
    transform       : translateY(0);
    transition      : all 0.3s;
}
.ui-card-small-icon {
    align-items     : center;
    border-radius   : 50%;
    color           : var(--secondary);
    display         : flex;
    font-size       : 24px;
    height          : 32px;
    justify-content : center;
    width           : 32px;
}
.ui-card-small-info {
}
.ui-card-small-title {
    margin          : 0 0 0 1rem;
}
.ui-card-small-subtitle {
    margin          : 0 0 0 1rem;
}

/* -------------------- --------------------  UI--BLOCKS-GRID */

.ui-data-render  {
    display				 : grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-auto-rows       : auto;
    margin 				 : 1.5em 0;
    place-items			 : center;
    will-change          : transform;
    -webkit-transform    : translate3d(0,0,0);
}

.list {
    display             : flex !important;
    flex-direction      : column !important;
    max-width           : 100%;
    will-change         : transform;
    -webkit-transform   : translate3d(0,0,0);
}
.list .ui-card-block {
    align-items         : center;
    align-content       : center;
    display             : flex;
    flex-direction      : row;
    flex-wrap           : nowrap;
    justify-content     : center;
    max-width           : 100%;
    width               : 100%;
    will-change         : transform;
}
.list .ui-card-block-header {
    width               : auto
}
.list .card-header-altsys .block-info-icon,
.list .ui-card-block-image.card-block-svg,
.list .ui-card-block-image.card-module-svg {
    display             : none;
}
.list .ui-card-block-image {
     will-change         : transform;
 }
.list .ui-card-block-image.ui-card-avatar {
    width               : 7%;
}
.list img.ui-avatar-card {
    height              : 48px;
    width               : 48px;
    will-change         : transform;
}
.list .ui-card-block-item {
    align-items         : center;
    min-width           : auto;
    width               : auto;
}

.list .ui-card-block-item.username {
    width               : 17%;
}
.list .card-user-datetime{
    width               : 21%;
}
.list  .ui-card-block > .ui-card-block-item:last-child {
    justify-content: flex-end;
    flex-shrink: 0;
    margin-right: 0;
}

/* -------------------- --------------------  UI-CARD-BLOCK  */

.ui-card-block {
    background      : var( --card-bg );
    background-image: var( --card-bg-image );
    border          : var( --card-border );
    border-radius   : var( --card-radius );
    box-shadow      : var( --card-shadow);
    display         : flex;
    flex-direction  : column;
    margin-bottom   : 1.5rem;
    min-width       : 290px;
    max-width       : 310px;
    /* Avoid Grid Break Margin Issues */
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    transition      : var( --shadow-transition  );
    will-change     : transform;
    -webkit-transform: translate3d(0,0,0);
}

.ui-card-block:hover  {
    background      : var( --card-bg-hover );
    box-shadow      : var( --card-box-shadow-on );
}

.ui-card-block-header {
    align-items: center;
    background      : var( --card-header-bg      );
    border			: var( --card-header-border  );
    display         : flex;
    height          : var( --card-header-height  );
    justify-content : space-between;
    padding         : var( --card-header-padding );
}


/* TODO : change altsys templates "ui-block-type" */
a.ui-block-type {
    display         : block;
}
.ui-card-block-content {
    align-items     : center;
    background      : var( --card-content-bg     );
    border          : var( --card-content-border );
    flex-direction	: column;
    justify-content	: center;
    padding         : var( --card-content-padding );
}

.ui-card-block-image {
    margin          : 0;
}
.ui-card-block-image.ui-card-avatar {
    margin: 0 auto;
}

.user-avatar,
img.ui-avatar-card {
    border-color    : var( --secondary );
    border-radius   : 50%;
    border-style    : var( --border-style );
    border-width    : 5px;
    height          : 128px;
    width           : 128px;
    margin          : 1em auto;
    text-align      : center;
    object-fit: cover;
}

.ui-card-block-item {
    align-items     : center;
    display         : flex;
    justify-content	: space-between;
    padding         : var(  --card-item-padding );
    width           : var(  --card-item-width   );
}

.ui-card-block-item input[size="20"] {
    width           : 74%;
}
.ui-card-block-item.pad-left {
    padding-left    : 2em;
}
.ui-card-block-item.pad-center {
    justify-content : space-around;
}


/* -------------------- --------------------  UI-DATA-MODULE  */

.ui-module-state .ui-update-change .module-icon{
    border:1px solid red;
}

/* -------------------- --------------------  BLOCK STATE SWITCH */
/* Block Switch Off - color indicator */
.ui-update-change {
    background      : var(--color-red-op)!important;
    transition      : all 1s;
}
.module-icon {
    border:1px solid green;
}

.ui-module-update,
.ui-module-version,
.ui-module-date {
    align-items     : center;
    display         : flex;
}
.ui-module-update,
.ui-module-update svg,
.ui-module-version svg,
.ui-module-date svg {
    color           : var(--color-green) !important;
}

/* -------------------- --------------------  UI-BLOCK-ADMIN  */

.ui-block-side {
    display         : flex;
    justify-content	: space-evenly;
    align-items     : center;
    flex-basis      : 100%
}
.block-extra-side {
    max-width       : 35px;
}
.ui-block-cache,
.ui-block-date {
    display         : flex;
    justify-content	: center;
    padding         :  var( --space-6 ) 0;
}
.ui-block-date svg {
    margin-right    : var( --space-6  );
}

/* -------------------- -------------------- SVG Default Settings */

svg {
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
    -webkit-tap-highlight-color : rgba(255, 255, 255, 0);
}

svg[class|="icon"]{
    font-size           : var(--icon-size);
}

/* SVG Default Position and Path Color
* .block-icon
* .module-icon
*/
svg path.block-icon,
svg path.module-icon {
    color              	: currentColor;
    transform          	: translate(12px, 12px); /* eq. padding */
    transition         	: all 1s;
}
/*
* .block-name
* .module-name
*/
svg text.block-name,
svg text.module-name {
    color              	: var(--link);
    text-anchor        	: middle; /* align center */
    dominant-baseline  	: middle; /* vertical alignment fix */
    font-size          	: 20px;
    transition         	: all 1s;
}

/* -------------------- -------------------- Block Type Color */

svg.ui-block-module {
    background      : var(  --color-blue );
}
svg.ui-block-html  {
    background      : var(  --color-blue );
}
svg.ui-block-html path.block-icon {
    color           : var(  --secondary );
    transform       : translate(10px, 20px);
}
svg.ui-block-php  {
    background      : var(  --color-indigo );
}
:is(svg.ui-block-html, svg.ui-block-php) tspan {color:white}

/* -------------------- -------------------- SVG Custom Settings */

svg[class="ui-block-module"] {
    background      : var(  --color-block-module);
    color           : var(  --color-white );
}

/* -------------------- -------------------- Icons Colors */

.ui-icon-amber {
    background      : var(  --color-amber );
    color           : var(  --color-white );
}
.ui-icon-blue {
    background      : var(  --color-blue );
    color           : var(  --color-white );
}
.ui-icon-green {
    background      : var(  --color-green );
    color           : var(  --color-white );
}
.ui-icon-indigo {
    background      : var(  --color-indigo );
    color           : var(  --color-white );
}
.ui-icon-orange {
    background      : var(  --color-orange );
    color           : var(  --color-white );
}
.ui-icon-purple {
    background      : var(  --color-purple );
    color           : var(  --color-white );
}
.ui-icon-red {
    background      : var(  --color-red );
    color           : var(  --color-white );
}
