/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL 2.3.1
	Version : 1.1.1
	Author : Nuno Luciano aka Gigamaster
	Date : 2022-11-21
	URL : https://github.com/xoopscube/

	-------------------- -------------------- -------------------- -------------------- UI-CARD-FULL */
.ui-card-2-col,
.ui-card-full {

    background    	: var( --card-full-bg		);

    border-color  	: var( --card-full-border-color	);
    border-radius 	: var( --card-full-border-radius	);
    border-style  	: var( --card-full-border-radius );
    border-width  	: var( --card-full-border-width	);

    box-shadow    	: var( --card-full-box-shadow);

    padding       	: var( --card-full-padding);
    margin        	: var( --card-full-margin);
    /* Adjust the offset of HTML anchor for the fixed header
       Scroll to page anchors [id]:target eg.:
       padding-top = height of theme sticky header */
    scroll-padding-top: 70px;

}

.ui-card-2-col {

    column-count	: 2;
    column-gap		: 18px;

    display         : block;

}


.ui-block-online-content {

    align-items     : center;
    display			: flex;
    flex			: 1;
    flex-direction	: column;
    letter-spacing	: 1px;
    justify-content	: space-between;

}

.ui-block-online {

    display			: flex;
    justify-content	: space-between;
    margin			: var(--space-8) 0;

}

.ui-block-online-welcome {

    align-items		: center;
    display			: flex;
    flex-direction	: column;

}

.ui-block-online-title {

    font-size		: var(--size-4);
    margin-bottom	: var(--space-6);

}

.ui-block-online-text {

    font-size		: var(--size-2);

}

/* -------------------- -------------------- -------------------- -------------------- UI-CARD-BLOCK STATS */

.ui-block-online-stats {

    display			: grid;
    grid-auto-flow	: column;
    grid-gap		: 42px;

}

.ui-block-online-stats-info {

    align-items		: center;
    display			: flex;
    flex-direction	: column;

}

.ui-block-online-stats-total {

    font-size		: var(--size-3);
    margin-bottom	: var(--space-6);

}

.ui-block-online-stats-title {

    font-size		: var(--size-3);
    margin-bottom	: var(--space-6);

}

.ui-block-online-stats-text {

    font-size		: var(--size-3);
    text-align		: center;

}

/* -------------------- -------------------- UI-CARD-OVERVIEW */

.ui-card-overview {

    display			: grid;

    grid-template-columns : repeat(auto-fit, minmax(214px, 1fr));
    /* grid-auto-rows        : 74px; */
    grid-gap        : 16px;
    margin          : 18px 0;

}

.ui-card-small {

    align-items     : center;

    background      : var(--card-small-bg);

    border-color    : var(--card-small-border-color);
    border-radius   : var(--card-small-border-radius);
    border-style    : var(--card-small-border-style);
    border-width    : var(--card-small-border-width);

    box-shadow      : var(--card-small-box-shadow);

    display         : flex;
    justify-content : flex-start;

    padding         : var(--card-small-padding);

    transform       : translateY(0);
    transition      : all 0.3s;

}

.ui-card-small-icon {

    align-items     : center;
    border-radius   : 50%;
    color           : var(--secondary);
    display         : flex;
    font-size       : var(--size-3);
    height          : 42px;
    justify-content : center;
    width           : 42px;

}

.ui-card-small-info {

    /* display      : flex;
    flex-direction  : column; */

}

.ui-card-small-title {

    font-size       : var(--size-3);
    margin          : 0 0 0 1rem;

}

.ui-card-small-subtitle {

    margin          : 0 0 0 1rem;

}

.ui-card-small:hover {

    box-shadow      : var(--card-small-box-hover);

    transform       : translateY(-3px);

}


/* -------------------- -------------------- -------------------- -------------------- UI--BLOCKS-GRID */

.ui-data-render  {

    display				 : grid;
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
    grid-auto-rows       : auto;
    grid-gap             : 15px;
    margin 				 : 1.5em 0;
    place-items			 : center;
    will-change          : transform;
    -webkit-transform    : translate3d(0,0,0);

}

.list {
    display             : flex !important;
    flex-direction      : column !important;
    max-width           : 100%;
    will-change         : transform;
    -webkit-transform   : translate3d(0,0,0);
}

.list .ui-card-block {
    flex-direction      : row;
    max-width           : 100%;
    will-change         : transform;
}
.list .ui-card-block-item {
    /*align-items         : start;*/
}

.list .ui-card-block-image {
    margin              : 0;
    text-align          : center;
    max-width           : 14%;
    will-change         : transform;
}

.list img.ui-avatar-card {
    height              : 48px;
    will-change         : transform;
}
.list .ui-card-block-content {
    align-items         : center;
    background          : var(--card-block-content-bg);
    border              : var(--card-block-content-border);
    display             : flex;
    flex-direction      : inherit;
    will-change         : transform;
}


/* -------------------- -------------------- -------------------- -------------------- UI-CARD-BLOCK  */

.ui-card-block {

    background      : var( --card-block-bg );
    background-image: var( --card-block-image );
    border-color    : var( --card-block-border-color );
    border-radius   : var( --card-block-border-radius);
    border-style    : var( --card-block-border-style );
    border-width    : var( --card-block-border-width );

    box-shadow      : var( --card-block-box-shadow   );

    display         : flex;
    flex-direction  : column;
    margin-bottom   : 1.5rem;
    min-width       : 295px;
    max-width       : 310px;

    /* Avoid Grid Break Margin Issues */
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    transition      : var( --shadow-transition  );
    will-change     : transform;
    -webkit-transform: translate3d(0,0,0);
}

.ui-card-block:hover  {
    background      : var( --card-block-hover );
    box-shadow      : var( --card-block-box-shadow-on );
}

.ui-card-block-header {

    align-items: center;
    background      : var( --card-block-header-bg      );
    border			: var( --card-block-header-border  );
    display         : flex;
    height          : var( --card-block-header-height  );
    justify-content : space-between;
    padding         : var( --card-block-header-padding );
}



/* TODO : change altsys templates "ui-block-type" */
a.ui-block-type {
    display         : block;
}
.ui-card-block-content {

    align-items     : center;
    background      : var( --card-block-content-bg     );
    border          : var( --card-block-content-border );
    /* display         : flex; */
    flex-direction	: column;
    justify-content	: center;
    padding         : var( --card-block-content-padding );
}

.ui-card-block-image {
    margin : 0 auto;
    text-align      : center;
}

.user-avatar,
img.ui-avatar-card {
    border-color    : var(  --secondary      );
    border-radius   : 50%;
    border-style    : var(  --border-style   );
    border-width    : 5px;
    height          : 128px;
    margin          : 1em auto;
    text-align      : center;
}

.ui-card-block-item {

    align-items     : center;
    display         : flex;
    justify-content	: space-between;
    padding         : var(  --card-block-item-padding );
    width           : var(  --card-block-item-width   );
}

/* input[size=] width depend using fonts,
   then setting by style for compatibility */
.ui-card-block-item input[size="20"] {
    /* width: 12em; */
    width           : 74%;
}

.ui-card-block-item.pad-left {
    padding-left    : 2em;
}
.ui-card-block-item.pad-center {
    justify-content : space-around;
}


/* -------------------- -------------------- -------------------- -------------------- UI-DATA-MODULE  */

.module-update{

}

.ui-module-state ui-update-change .module-icon{
    border:1px solid red;
}

.module-icon {
    border:1px solid green;
}

.ui-module-update,
.ui-module-version,
.ui-module-date {

    align-items     : center;
    display         : flex;

}

.ui-module-update svg,
.ui-module-version svg,
.ui-module-date svg {

    color           : var(--color-green) !important;
    /* margin		: var(  --space-6			); */

}

/* -------------------- -------------------- -------------------- UI-BLOCK-ADMIN  */

.ui-block-side {

    display         : flex;
    justify-content	: space-evenly;
    align-items     : center;
    /* max-width    : 420px; */
    flex-basis      : 100%

}

.block-extra-side {

    max-width       : 35px;

}

.ui-block-cache,
.ui-block-date {

    display         : flex;
    justify-content	: center;
    padding         :  var(  --space-6 ) 0;

}

.ui-block-date svg {

    margin-right    : var(  --space-6  );

}
