/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL 2.3.1
	Version : 1.1.1
	Author : Nuno Luciano aka Gigamaster
	Date : 2022-11-21
	URL : https://github.com/xoopscube/

    -------------------- -------------------- -------------------- -------------------- GRID FLEX */

    .layout-grid {
        align-content           : space-around;
        display                 : grid;
        grid-gap                : 1px;
        grid-template-columns   : 200px auto;
        grid-template-rows      : 55px 1fr 80px;
        grid-template-areas     :
                                "header  header"
                                "nav-aside main"
                                "footer  footer";
        justify-content         : space-between;
    }

    /* -------------------- -------------------- -------------------- -------------------- HEADER */

    .header {
        align-items     : center;
        background      : var( --header-bg  );
        border-color    : var( --border-none    );
        border-radius   : var( --border-none    );
        border-style    : var( --border-none    );
        border-width    : var( --border-none    );
        box-shadow      : var( --header-shadow  );
        grid-area       : header;
        position        : var(  --header-position    );
        width           : 100%;
        z-index         : 200;
    }


    /* -------------------- -------------------- -------------------- -------------------- Main */

    .main {

        background      : var(  --main-background);

        border-color    : var(  --border-none    );
        border-radius   : var(  --border-none    );
        border-style    : var(  --border-none    );
        border-width    : var(  --border-none    );
        box-shadow      : var(  --border-none    );

        grid-area       : main;

        /* padding         : 0 4rem 2rem; */
        /* Set according to device screen-width */
        width           : 100%;
        max-width       : 1174px; /* fixed */
        /*max-width       : calc(90vw - 400px);*/
        margin          : 0 auto;
    }

    /* -------------------- -------------------- -------------------- -------------------- Footer */

    .layout-grid .footer {

        align-items     : center;

        background      : var( --footer-bg     );
        background      : linear-gradient(180deg, hsla(219, 15%, 25%, 0.50), hsla(0, 0%, 0%, 0.80));

        border-top      : var( --footer-border );

        box-shadow      : var( --border-none   );

        color           : var( --footer-color  );

        display         : flex;
        font-size       : 0.9rem;

        grid-area       : footer;

        justify-content : space-around;;

        /* padding      : var(--space-1); */

        position        : fixed;
        bottom          : 0;
        width           : 247px;
        z-index         : 600;

    }

    .footer-copy,
    .footer-credits,
    .footer-link {

        color           : var(  --footer-link    ) !important;
        cursor          : pointer;

    }


    /*------------------------------------------------------  Dashboard Options */

    .dashboard-options {
        position:relative;
        row-gap         : var(--space-3);
        margin          : 2em auto;
    }
    .dashboard-options div[data-layout^=row]{
        flex-wrap       : wrap;
        column-gap      : var(--space-3);
        row-gap         : var(--space-3);
        text-align      : center;
    }
    .dashboard-options a.set-link {
        display         : block;
        font-size       : 1em;
        line-height     : 1.25em;
        min-width       : 5.5em;
        max-width       : calc(100% / 7 );
        width           : 6em;
        background      : var(--card-block-bg);
        border          : 1px solid var(--card-block-border-color);
        border-radius   : var(--border-radius);
        padding         : var(--space-3);
        text-align      : center;
    }
/*    .dashboard-options div:first-of-type a:first-child {
        width           : calc(14em + 6px); !* + gap *!
    }*/
    .dashboard-options a.set-link:hover {
        background      : var(--layer-4)
    }
    .dashboard-options .set-icon {
        display         : block;
        font-size       : 2rem;
        height          : 1em;
        margin          : var(--space-4) auto;
        /*width           : 2rem;*/
    }
.dashboard-options .set-icon svg {
    height: 24px;
    width: 24px;
}
    .dashboard-options .set-name {
        display         : block;
        font-size       : 0.875em;
        font-size       : 13px;
        margin          : 0;
    }

.not-available {
    border: 1px dotted var(--color-red) !important;;
    color:var(--color-red) !important;
}
.not-available:hover {
    cursor:not-allowed;
}

    /*.dashboard-options div[self] > .icon svg {

    }
    .dashboard-options div[self]:not(div[class^="card"]){
        background      : linear-gradient(145deg, hsl(220, 15%, 15%), hsl(220, 21%, 15%));
        border          : 1px solid rgb(44, 50, 60);
        border-radius   : var(--border-radius);
        padding         : var(--space-5);
    }
    .dashboard-options-sub {
        background      : var(--layer-3) !important;
        column-gap      : var(--space-3);
        row-gap         : var(--space-6);
    }
    .dashboard-options-sub > div {
        border          : 1px solid rgb(44, 50, 60);
        border-radius   : var(--border-radius);
        width:47%
    }
    .dashboard-options-sub > div a {
        display:block;
        padding: var(--space-4) var(--space-2);
    }
    .dashboard-options-sub > div a:hover {
        background : var(--layer-3);
    }

    .dashboard-options-sub > div > svg {
        font-size       : 1.25em;
    }

    .dashboard-options .xclayout div[self] {
        border          : 1px solid rgb(2, 160, 200);
    }
    .dashboard-options div.media-layout > div{
        background      : linear-gradient(145deg, hsl(220, 15%, 15%), hsl(220, 21%, 15%));
        border          : 1px solid rgb(44, 50, 60);
        border-radius   : var(--border-radius);
        !*margin          : .5em;*!
        padding         : .75em 1em;
    }
*/
