/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL 2.4.0
	Version : 2.4.0
	Author : Nuno Luciano aka Gigamaster
	Date : 2023-01-27
	URL : https://github.com/xoopscube/
*/
/*  -------------------- --------------------  Media Queries */

/* -------------------- Mobile Devices */
@media (max-width: 480px) {

    .layout-grid {
        display: grid;

        grid-template-columns: minmax(0, 1fr);
        grid-template-areas:
        "header"
        "main"
        "footer";
    }

    .ondemand,
    .ondemand-button  {
        left        : -30px;
    }

    main {
        min-width: 0;
        padding: 0 .5rem;
    }

    .nav-btn {
        min-width: 30px;
        max-width: 30px;
    }

    .nav-side-menu {
        margin      : 0;
    }
    nav#help-menu {
        position :initial;
    }
    div.adminavi-sub{
             top: 107px;
    }
    .ui-block-online-stats {
        display: grid;
        grid-auto-flow: initial;
        grid-gap: 24px;
        grid-template-columns: 1fr;
    }
    .user-top-nav {
        display: none!important;
    }
    .dashboard-options a.set-link {
        max-width: calc(100% / 4);
    }
    .ui-card-2-col {
        column-count    : 1;
        display         : block;
        list-style      : none;
        margin          : 0;
    }
    .ui-card-small {
        margin      : 0;
    }

    .ui-card-overview {
        grid-template-areas	:
        "header"
        "main"
        "footer";
        width       : 100%;
    }
    .list .card-header-altsys .card-header-altsys {
        display:none
    }
    .alert-notify,
    .alert-submit {
        right: -.5rem;
        top: 3rem;
        width: 100%;
    }
    .dropdown-content {
        left: calc(-100vw + 250px);
        top: 100%!important;
        margin: 0 auto
    }
    .tips, .error, .confirm, .success, .confirmMsg, .resultMsg {
        margin:1rem auto;padding: .5rem .5rem .5rem 2.5rem;width:100%;
    }
}


/* -------------------- --------------------  Tablet Hor. 736 px*/
@media (min-width: 481px) {
/*@media (min-width: 46.875em) {*/
    .layout-grid {
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    main {
        max-width: 100%;
        padding: 0 .5rem;
    }
    nav ul li.nav-logo {
        display: inline-block ;
    }
    .ui-block-online-stats {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 42px;
    }
    .ui-flex-column {
        flex    : 1
    }

    .ui-flex-column-2 {
        flex    : 2
    }

    .list .ui-card-block,
    .list .card-header-altsys,
    .list .ui-card-block-item {
         padding: var(--space-2);
     }
    .list .card-header-altsys {
        display: none;
    }
    .list .ui-card-block-item {
        margin:0 auto
    }

    table {
        border              : 0;
        overflow-x          : auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style  : -ms-autohiding-scrollbar;
        width               : 100%;
    }
    table tr {
        padding         : 0.5rem;
    }
    table tbody td.legacy_blockside {
        display         : flex;
        justify-content : center;
    }
    .table-responsive {
        display             : block;
        overflow-x          : auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style  : -ms-autohiding-scrollbar;
        width               : 100%;
    }
    .table-responsive > .table-bordered {
        border          : 0;
    }
    table.module-update {
        max-width: 65vw;
        margin: auto;
    }
    nav#help-menu {
        position :sticky;
    }

    .alert-notify,
    .alert-submit {
        right: 0;
        top: 3em;
        width: 480px;
    }

}

/* -------------------- --------------------  Tablet Hor. 1024px*/
@media screen and (min-width: 64em) {
    .layout-grid {
        grid-template-columns: auto;
        grid-template-areas:
        "header header"
        "main main";
    }

    #container > main {
        /*padding: 0 1rem;*/
        min-width: 0;
        width: 90vw;
    }

    /* TODO - this is a quick fix to scroll the table */
    table {
        border: 0;
        display: table;
        overflow-x: auto;
        white-space: unset;
    }

    .ui-card-overview {
        grid-template-columns   : repeat(auto-fit, minmax(214px, auto));
    }
    .ui-card-2-col {
        column-count            : 2;
        list-style              : none;
    }
    .ui-block-online-content {
        flex-direction          : row;
    }
    .ui-block-online-welcome {
        align-items             : flex-start;
    }

}
/* -------------------- --------------------  device 1360px */
@media screen and (min-width:85em) {

    .layout-grid {
        display                 : grid;
        grid-template-columns   : 260px calc(100% - 260px);
        grid-template-areas     : "header header" "nav-aside main";
    }

    #container > main {
        min-width: 0;
        max-width               : calc(98vw - 280px);
    }
    .nav-mobile {
        visibility              : hidden;
    }

    .nav-aside {
        visibility              : unset;
        transform               : translateX(0);
    }

    .list .ui-card-block,
    .list .card-header-altsys,
    .list .ui-card-block-item {
        padding: var(--space-4);
    }
    .list .card-header-altsys {
        display: initial;
    }
    .list .ui-card-block-item {
        margin:0 auto
    }
}