/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL
	Version :  2.3.1
	Author : Nuno Luciano aka Gigamaster
	Date : 2022-11-21
	URL : https://github.com/xoopscube/
*/

/*  -------------------- --------------------  Media Queries */
    /*
    * Screen Mode Portrait -> Invite To Turn Device
    *
    /* -------------------- --------------------  Screen Portrait */

@media only screen and (min-width: 320px) and (orientation:portrait) {

    .layout-grid,
    .ondemand,
    .ondemand-button  {
        left        : -30px;
        grid-template-columns: 1fr;
    }
    .ui-block-online-stats {
        display: grid;
        grid-auto-flow: initial;
        grid-gap: 24px;
        grid-template-columns: 1fr;
    }
    .user-top-nav {
        display: none!important;
    }
    .dashboard-options a.set-link {
        max-width: calc(100% / 4);
    }

    nav ul li.nav-logo {
        padding: 0;
    }
    .btnav {
        min-width: 30px;
        max-width: 30px;
    }
        nav ul li.ui-color-mode {
            margin: 0;
        }
    main.main {
    padding: 0 .5rem;
    max-width: 100%;
    }
    .ui-card-2-col {
        column-count    : 1;
        display         : block;
        list-style      : none;
        margin          : 0;
    }
    .tips, .error, .confirm, .success, .confirmMsg, .resultMsg {
        margin:1rem auto;padding: .5rem .5rem .5rem 2.5rem;width:100%;
    }
        nav#help-menu {
            position :initial;
        }
}


/* -------------------- --------------------  Screen max 420px */

@media only screen and (min-width: 420px) and (orientation:portrait) {

    .layout-grid {
        grid-template-areas:
            "header header"
            "main main";
    }

    main {
        max-width: 100%;
        padding: 0 2rem;
    }
    .nav-side-menu {
        margin      : 0;
    }

    .ui-card-small {
        margin      : 0;
    }

    .ui-card-overview {
        grid-template-areas	:
            "header"
            "main"
            "footer";
        width       : 100%;
   }

}


/* -------------------- --------------------  Tablet Hor. 736 px*/

@media only screen and (min-width: 46.875em) {
    .ui-block-online-stats {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 42px;
    }
    .ui-flex-column {
        flex    : 1
    }

    .ui-flex-column-2 {
        flex    : 2
    }

    table {
        border              : 0;
        overflow-x          : auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style  : -ms-autohiding-scrollbar;
        width               : 100%;
    }

    table tr {
        padding         : 0.5rem;
    }

    table tbody td.legacy_blockside {
        display         : flex;
        justify-content : center;
    }

    .table-responsive {
        display             : block;
        overflow-x          : auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style  : -ms-autohiding-scrollbar;
        width               : 100%;
    }

    .table-responsive > .table-bordered {
        border          : 0;
    }
    nav#help-menu {
        position :sticky;
    }

}


/* -------------------- --------------------  Tablet Hor. 1024px*/

@media screen and (min-width: 64em) {
        .layout-grid {
            grid-template-columns: auto;
            grid-template-areas:
            "header header"
            "main main";
        }

    #container > main {
        padding: 0 1rem;
        max-width: 100%;
    }

    .ui-card-overview {
        grid-template-columns   : repeat(auto-fit, minmax(214px, 1fr));
    }

    .ui-card-2-col {
        column-count            : 2;
        list-style              : none;
    }

    .ui-block-online-content {
        flex-direction          : row;
    }

    .ui-block-online-welcome {
        align-items             : flex-start;
    }

}
/* device 1360px */
@media screen and (min-width:85em) {

    .layout-grid {
        display                 : grid;
        grid-template-columns   : 230px calc(100% - 230px);
        grid-template-rows      : 50px 1fr;
        grid-template-areas     : "header header" "nav-aside main";
    }

    #container > main {
        max-width               : calc(100vw - 360px);
    }
    .nav-mobile {
        visibility              : hidden;
    }

    .nav-aside {
        visibility              : unset;
        transform               : translateX(0);
    }
}

/* device 1440px */
@media screen and (min-width:88em) {
    #container > main {
        /*max-width               : calc(84vw - 140px);*/
        max-width: 1279px;
    }
}
