/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL 2.3.1
	Version : 2.3.1
	Author : Nuno Luciano aka Gigamaster
	Date : 2023-01-27
	URL : https://github.com/xoopscube/

    - AlSYS BLOCK ACTIVE PREVIEW & FINGERPRINT
    - COPY TO CLIPBOARD
    - ARIA-LABEL TOOLTIP
    - DIALOG ONLINE USERS
    - HELP SCROLL MARGIN
    - X-UPDATE STORE
    - SECTION BLOCK FILTER SEARCH
    - SECTION BLOCK SORT
    - RENDER TEMPLATE SOURCE

 */
/* -------------------- --------------------  AlTSYS BLOCK PREVIEW & TEMPLATES */
/* Selected Template */
.active,
.dbtplset_active {
    color       : var(  --color-green  );
}
/* Blocks and Templates */
.ui-block-admin-preview,
.ui-block-permissions {
    background      : var(--layer-2);
    border          : var(--border);
    border-radius   : var(--border-radius);
    box-shadow      : var(--shadow-1);
    margin-bottom   : var(--space-7);
    padding         : var(--space-6);
    transition      : all 1s;
}
.fingerprint1 { color: var( --color-red ) }
.fingerprint2 { color: var( --color-blue ) }
.fingerprint3 { color: var( --color-green ) }
.fingerprint4 { color: var( --color-orange ) }
.fingerprint5 { color: var( --color-purple ) }
.fingerprint6 { color: var( --color-amber ) }
.fingerprint7 { color: var( --link ) }

/* -------------------- -------------------- COPY TO CLIPBOARD */

.textarea-wrap {
    position    : relative;
    padding     : 0;
}
.textarea-wrap > textarea {
    width       : 100%;
    min-height  : 180px;
    padding     : 1rem;
    margin      : 1rem auto;
}
.clipboard.icon {
    position    : absolute;
    top         : 2em;
    right       : 2em;
    margin-top  : 1px;
    margin-left : 1px;
    width       : 15px;
    height      : 16px;
    border      : solid 1px #ffc107;
    border-top  : none;
    border-radius: 2px;
    cursor      : pointer;
}
.clipboard.icon:before {
    top         : -1px;
    left        : 2px;
    width       : 10px;
    height      : 3px;
    border      : solid 1px #ffc107;
    border-radius: 2px;
    background  : #ffc107;
}
.icon:before {
    content     : '';
    position    : absolute;
    display     : block;
}

/* -------------------- --------------------  ARIA-LABEL TOOLTIP */

:where(a,button,img,label,span)[aria-label]::before {
    /* Required ! - do not touch */
    content     : attr(aria-label);
    opacity     : 0;
    position    : absolute;
    /* customizable */
    color       : #fff;
    border-radius: 7px;
    box-shadow  : 1px 2px 8px hsla(219, 10%, 10%, 0.8);
    margin-top  : -42px;
    margin-right: auto;
    margin-left : -12px;
    padding     : .5em 1em;
    pointer-events: none;
    transition  : all 0.15s ease;
    transform-style: preserve-3d;
    z-index     : var(--z-above);
    overflow    : visible;
}
:where(a,button,img,label,span)[aria-label]:hover::before {
    /* Required ! - do not touch */
    opacity     : 1;
    /* customizable */
    background  : hsla(219, 14%, 10%, 0.8);
    border      : 1px solid hsla(219, 10%, 18%, 0.9);
    font-size   : 13px;
    max-width   : 280px;
    z-index     : var(--z-above);
}

.adminnavi::before{
    content     : attr(aria-label);
    opacity     : 0;
    display     : none}
/* -------------------- -------------------- DIALOG ONLINE USERS */

#dialog-online {
    background  : var(--layer-3);
}

/* -------------------- -------------------- HELP SCROLL MARGIN */

div.help section[id|="help"] {
    padding     : var(--space-4);
    scroll-margin-top: 6em; /* property should be applied to each anchor section to leave a margin at the top */
}

/* -------------------- --------------------  X-UPDATE STORE */

/* UL - LI vertical scroll eg. Module Update */
.scroll-y {
    background  : var(--bg-gradient);
    border      : var(--border);
    border-radius: var(--border-radius);
    display     :block;
    height      : 24ch;
    margin      : var(--space-6) var(--space-1);
    padding     : var(--space-2);
    overflow-y  : auto;
    overscroll-behavior: contain;
    overflow-x  : hidden;
}
.scroll-y > li > a {
    background  : var(--layer-3);
    display     : block;
    margin-bottom: 2px;
    padding     : .5em 1.5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative; /*if position is set, the block contains the tooltip ! */
}
.scroll-y > li > a:focus,
.scroll-y > li > a:hover{
    background  : hsla(219, 14%, 20%, 0.8);
    color       : var(--link-hover);
}
.scroll-h {
    max-height  : 25vh;
    overflow-x  : auto;
    width       : 100%;
}

/* -------------------- -------------------- SECTION BLOCK FILTER SEARCH */

section.filter {
    align-items     : center;
    background      : var( --filter-bg     );
    border          : var( --filter-border );
    border-radius   : var( --filter-radius );
    box-shadow      : var( --filter-shadow );
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    padding         : var(  --filter-padding  );
    margin          : var(  --filter-margin   );
    width           : 100%;
}

section.filter article {
    flex            : 1;
    padding-right   : var(  --space-2  );
}

section .search-button {
    flex-basis      : 100%;
    padding-top     : 1rem;
}

/* -------------------- --------------------  SECTION BLOCK SORT */

section.sort {
    align-items     : center;
    background      : var(  --sort-background    );
    border-color  	: var(  --sort-border-color  );
    border-radius 	: var(  --sort-border-radius );
    border-style  	: var(  --sort-border-style  );
    border-width  	: var(  --sort-border-width  );
    box-shadow    	: var(  --sort-box-shadow    );
    padding       	: var(  --sort-padding       );
    margin        	: var(  --sort-margin        );
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    justify-content : space-evenly;
    max-width       : 95%;
}


/* -------------------- --------------------  RENDER TEMPLATE SOURCE */

.legacyRender_TemplateManager_textarea {
    height          : 400px;
    width           : 600px;
}
