/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL 2.3.1
	Version : 2.3.1
	Author : Nuno Luciano aka Gigamaster
	Date : 2023-01-27
	URL : https://github.com/xoopscube/
*/
/* -------------------- --------------------  NAV ADMIN */

.admintitle {
    border-bottom   : 3px solid var(--border);
    margin-bottom   : 1em;
}

.adminavi,
.adminavi-sub {
    background      : var(--layer-3);
    border          : 1px solid var(--layer-3);
    border-radius   : var(--border-radius);
    box-shadow      : var(--shadow-2);
    display         : grid;
    justify-content : center;
    grid-gap        : 0.25em;
    grid-template-columns: repeat(auto-fit, minmax(Min(10em, 100%), 1fr));
    grid-auto-flow  : row;
    margin          : 2em 0;
    /* max-width: 57em; container */
    padding         : var(--space-3);
    position        : sticky;
    top             : 110px;
    z-index         : var(--z-above);
}
.adminavi-sub {
}

.adminavi .adminavi-item,
.adminavi-sub .adminavi-item {
    border          : 1px solid var(--layer-3);
    color           : var(--link);
    display         : block;
    max-width       : 100%;
    padding         : var(--space-4);
}

.adminavi .adminavi-item:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.adminavi-sub .adminavi-item > svg {
    margin-right    : var(--space-2);
}

.adminavi-item:not(.selected) {
    /*background      : var(--layer-3);*/
}

.adminavi-item.selected,
.adminavi-item:not(.selected):hover,
.adminavi-item.selected:active {
    background      : var(--layer-2);
    border          : 1px solid var( --layer-3 );
    border-radius   : var(--border-radius);
    color           : var( --link-hover );
    outline-width   : 0;
}

/* -------------------- --------------------  DROPDOWN MENU */

div.dropdown {
    position        : relative;
}
/* Selects any dropdown inside a header nac */
:where(header, nav, footer) div.dropdown {
    position        : inherit;
}

div.dropdown a.dropdown-toggle {
    background      : var(--d-toggle-bg);
    border          : var(--d-toggle-border);
    border-radius   : var(--d-toggle-radius);
    color           : var(--d-toggle-color);
    cursor          : pointer;
    display         : block;
    font            : var(--d-toggle-font);
    transition      : var(--d-toggle-transition);
    width           : min-content;
    font-size       : 20px;
    height          : 40px;
    line-height     : 40px;
    margin          : var( --space-1 );
    padding         : 0;
    position        : relative
}
div.dropdown a.dropdown-toggle:hover {
    background      : var(--d-toggle-bg-on);
    box-shadow      : var(--d-toggle-shadow);
    color           : var(--d-toggle-color-on);
}
div.dropdown.isopen div.dropdown-content {
    display         : block;
    z-index         : var(--z-above);
}
div.dropdown-content {
    background      : var(--dropdown-bg);
    border-radius   : var(--dropdown-radius);
    box-shadow      : var(--dropdown-shadow);
    display         : none;
    min-width       : var(--dropdown-width);
    padding         : var(--dropdown-padding);
    position        : absolute;
    right           : 1px; /* Fix device Viewport */
    text-align      : left;
    top             : 100%;
    transition      : var(--dropdown-transition);
    width           : min-content;
}
div.dropdown-content > a {
    margin          : 0 0 var(--space-2) 0;
    width           : 100%;
}
:where(div.dropdown-content)  h6 {
    font-size       : 12px;
    letter-spacing  : 1px;
    text-transform  : uppercase;
    margin          : var( --space-2 ) 0;
}
:where(div.dropdown-content) ul {
    margin          : 0;
    padding         : 0;
    list-style      : none;
}
:where(div.dropdown-content) ul li {
    background      : transparent;
    padding         : 0;
    width           : 100%;
}
/* Dropdown links */
:where(div.dropdown-content) ul li a {
    border-radius   : var( --dropdown-radius );
    color           : var( --link );
    display         : block;
    font            : var( --dropdown-font ) !important;
    padding         : var( --dropdown-padding );
    text-decoration : none;
}
/* Change color of dropdown links on hover */
:where(div.dropdown-content) ul li a:hover {
    background      : var( --dropdown-bg-on );
    color           : var( --link-hover );
}
:where(div.dropdown-content) ul li a > svg {
    margin-right    : var(--dropdown-padding);
}

/* Badge default */
:where(div.dropdown-content) .btn {
    background      : var( --button-bg );
    border          : none;
    border-radius   : 7px;
    box-shadow      : var( --button-shadow );
    color           : var( --primary);
    display         : inline-block;
    font-size       : 0.74rem;
    font-family     : sans-serif;
    font-style      : normal;
    font-weight     : var( --font-weight );
    letter-spacing  : 0.1rem;
    line-height     : 1em;
    margin          : var( --button-margin );
    padding         : var( --space-4 ) var( --space-5 );
    position        : relative;
    text-align      : center;
    /*text-transform  : uppercase;*/
    transition      : all ease-in-out 0.2s;
    vertical-align  : baseline;
    white-space     : nowrap;
}

/* Badge with icon */
:where(div.dropdown-content) .btn > i[class^="i-"]{
    mask-size       : 1.5em 1.5em;
    -webkit-mask-size: 1.5em 1.5em;
}
:where(div.dropdown-content) .btn:hover {
    background      : var(  --button-bg-hover  );
}

/* DROPDOWN POSITION + FIX DEVICE VIEWPORT */
:where(div.dropdown.isopen) div.drop-left {
    left            : 1px;
}
:where(div.dropdown.isopen) div.drop-right {
    right           : 1px;
}
:where(div.dropdown.isopen) div.drop-top {
    top             : -100%;
}

/* ------- DROPDOWN HEADER DROP-NAV */
:where(div.dropdown.isopen) div.drop-nav {
    animation: open-down .2s cubic-bezier(.39,.575,.565,1) both;
    background      : var(--aside-panel-bg);
    transform       : translate3d(0px, 40px, 0px);
    width           : 100vw;
    position        : absolute;
    left            : 0;
    right           : auto!important;
    top             : 1rem;
    will-change     : transform;
}
@keyframes open-down {
    0% {
        margin-top  : -50px;
        visibility  : hidden;
        opacity     : 0
    }
    100% {
        margin-top  : 0;
        visibility  : visible;
        opacity     : 1
    }
}
/* ---------- Tablet Hor. 736 px*/
@media only screen and (min-width: 46.875em) {
    :where(div.dropdown.isopen) div.drop-nav {
        max-width   : 24rem; /* 384px */
        transform   : translate3d(255px, 40px, 0px);
        width       : 100%;
    }
}
.navbar-options,
.dashboard-options {
    display         : grid;
    position        : relative;
    row-gap         : var(--space-2);
}
.navbar-options div[data-layout^=row]{
    gap             : var(--space-2);
    justify-content : space-between;
}
.dashboard-options div[data-layout^=row]{
    gap             : var(--space-3);
}

:is(.navbar-options,.dashboard-options) .set-link {
    /*display         : block;*/
    font-size       : 1em;
    line-height     : 1.25em;
    min-width       : 85px;
    max-width       : calc(100% / 4 );
    background      : var(--card-block-bg);
    border          : 1px solid var(--card-block-border-color);
    border-radius   : var(--border-radius);
    margin-bottom   : var(--space-2);
    padding         : var(--space-2) 0;
    text-align      : center;
}
:is(.navbar-options,.dashboard-options) .set-link:hover {
    background      : var(--layer-4)
}
:is(.navbar-options,.dashboard-options) .set-icon {
    display         : block;
    margin          : var(--space-3) auto;
}
:is(.navbar-options,.dashboard-options) .set-icon svg {
    height          : 24px;
    width           : 24px;
}
:is(.navbar-options,.dashboard-options) .set-name {
    display         : block;
    font-size       : 13px;
    margin          : 0;
}
.close-site, .debug-mode {
    border          : 1px solid var(--color-orange) !important;
    color           : var(--color-orange);
}
:is(.close-site, .debug-mode) .set-icon { color:var(--color-orange) }
.close-site:hover .set-icon{ color:var(--color-red) }
.debug-mode:hover .set-icon{ color:var(--color-green) }

/* -------------------- --------------------  NAV MOBILE */

.nav-mobile {
    background      : var( --layer-1 );
    border-color    : var( --border-color );
    border-radius   : 0 var( --border-radius ) 0 0;
    border-style    : var( --border-style );
    border-width    : var( --border-width );
    box-shadow      : var( --shadow-3 );
    height          : 42px;
    left            : 0; /*required for transition */
    padding         : 8px;
    position        : fixed;
    width           : 42px;
    transition      : all 0.6s ease-in-out;
    top             : 127px;
    z-index         : var(--z-overlay);
}
.nav-mobile-close {
    left            : 237px;
    top             : 127px;
}

/* -------------------- --------------------  NAV ASIDE */

.nav-aside {
    background      : var( --aside-bg   );
    bottom          : 0; /* fix overflow-y scroll*/
    color           : var(  --primary );
    grid-area       : nav-aside;
    display         : flex;
    flex-direction  : column;
    left            : 0;
    height          : 100%;
    min-height      : 100vh;
    position        : fixed;
    top             : 0;
    transform       : translateX(-247px);
    transition      : all 0.6s ease-in-out;
    width           : 247px;
    z-index         : 300;
}
.nav-aside-active {
    transform       : translateX(0);
}

/* -------------------- --------------------  NAV HELP  */

nav#help-menu {
    align-self      : flex-start;
    /*position: sticky; ui-media.css tablet */
    width           : 100%;
    top             : 130px;
    z-index: var(--z-above);
}

nav#help-menu a.button {
    display         : block;
    min-width       : 240px;
}

article#help-module section {
    /*max-width: 80%;*/
    overflow-wrap   : anywhere;
    /*border:1px dotted red;*/
}

/* -------------------- -------------------- NAV-SIDE-MENU */

.nav-side-menu {
    background      : var( --nav-side-background );
    box-shadow      : var( --nav-side-box-shadow );
    overflow-x      : hidden;
    overflow-y      : auto;
    height          : 100%;
    list-style-type : none;
    padding         : var( --nav-side-padding ) 0 0;
    margin          : var( --nav-side-margin );
    width           : var( --nav-side-width );
}


/* -------------------- --------------------  NAV-SIDE - Module Block */

.nav-block {
    align-items     : center;
    border-left     : 3px solid transparent;
    color           : var(  --link   );
    display         : flex;
    padding         : 10px 10px;
    position        : relative;
    text-transform	: capitalize;
}

/* Animation Open */
.nav-block:after {
    border-width    : 1px 0 0 1px;
    border-style    : solid;
    border-color    : var(  --link   );
    content         : "";
    height          : var(  --nav-set-height   );
    position        : absolute;
    right           : 1em;
    top             : 47%;
    transition      : all 0.3s ease-out;
    transform       : rotate(135deg) translate(0, -50%);
    transform-origin: top;
    width           : var(  --nav-set-width    );
}

.nav-block:hover {
    background      : var( --nav-block-background );
    border-left     : var( --nav-block-border-color ) var( --nav-block-border-style ) var( --nav-block-border-width );
    color           : var( --link-hover );
}

.nav-side-menu li:last-child .nav-block:hover {
    border-bottom-right-radius: var( --border-radius );
}

.nav-module-icon {
    font-size       : 20px;
}
.nav-module-icon svg {
    height          : 1em;
    width           : 1em;
}

/* -------------------- --------------------  NAV-SIDE - Module Name */

.nav-module-name {
    margin          : 0 10px;
    border-left     : 3px solid transparent;
}

.nav-block-open {
    background      : var( --nav-block-background );
    border-left     : 3px solid transparent;
    color           : var( --link-hover );
}

.nav-block:hover {
    border-color    : var( --nav-block-border-color );
}

.nav-block-open:after {
    transform       : rotate(-135deg) translate(0, -50%); /* Animation */
}

.nav-side-menu .nav-block-close {
    max-height      : 0;
    visibility      : hidden;
}

/* -------------------- --------------------  NAV-Module-Admin */

.nav-module-admin {
    background      : var( --nav-block-background );
    list-style-type : none;
    margin          : 0;
    overflow        : hidden;
    padding         : 0;
    transition      : all 0.4s ease-in-out;
    visibility      : visible;
}

.nav-module-link {
    align-items     : center;
    border-left     : var( --nav-block-border-color ) var( --nav-block-border-style ) var( --nav-block-border-width );
    display         : flex;
    line-height     : 2.5rem;
}

.nav-module-link a,
.nav-module-link a:hover {
    color           : var( --nav-block-color-link );
    padding         : 0 0 0 1.5rem;
    width           : 100%;
}

.nav-module-link:hover {
    background      : var( --nav-hover );
    color           : var( --nav-link-color );
}

/* -------------------- --------------------  NAV-Module-Options Icons */

.nav-module-options > a,
.nav-module-options > a:hover {
    align-items     : center;
    display         : flex;
    justify-content : center;
    padding         : var(  --space-4  ) 0;
    width           : 100%;
}
