/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL 2.3.1
	Version : 1.1.1
	Author : Nuno Luciano aka Gigamaster
	Date : 2022-11-21
	URL : https://github.com/xoopscube/

    -------------------- -------------------- NAV MOBILE */

    .nav-mobile {
        background      : var( --layer-3 );
        border-color    : var( --border-color );
        border-radius   : 0 var( --border-radius ) 0 0;
        border-style    : var( --border-style );
        border-width    : var( --border-width );
        box-shadow      : var( --shadow-3 );
        height          : 30px;
        left            : 0px; /*required for transition */
        padding         : 3px;
        position        : fixed;
        width           : 30px;
        transition      : all 0.6s ease-in-out;
        top             : 127px;
        z-index         : var(--z-sticky);
    }
    .nav-mobile-close {
        left            : 237px;
        top             : 127px;
    }

    /* -------------------- -------------------- NAV ASIDE */

    .nav-aside {
        background      : var( --aside-bg   );
        bottom          : 0;/* fix overflow-y scroll*/
        color           : var(  --primary );
        grid-area       : nav-aside;
        display         : flex;
        flex-direction  : column;
        left            : 0;
        height          : 100%;
        min-height      : 100vh;
        position        : fixed;
        top             : 0;
        transform       : translateX(-247px);
        transition      : all 0.6s ease-in-out;
        width           : 247px;
        z-index         : var(--z-above);
    }
    .nav-aside-active {
        transform       : translateX(0);
    }

    /* -------------------- -------------------- NAV-SIDE-MENU */

    .nav-side-menu {
        background      : var( --nav-side-background );
        /*border-top-right-radius: 5px;*/
        /*border-bottom-right-radius: 5px;*/
        box-shadow      : var( --nav-side-box-shadow );
        overflow-x      : hidden;
        overflow-y      : auto;
        height          : 100%;
        list-style-type : none;
        padding         : var( --nav-side-padding ) 0 0;
        margin          : var( --nav-side-margin );
        width           : var( --nav-side-width );
    }


    /* -------------------- -------------------- NAV-SIDE - Module Block */

    .nav-block {
        border-left     : 3px solid transparent;
        color           : var(  --link   );
        display: flex;
        padding         : 10px 10px;
        position        : relative;
        text-transform	: capitalize;
    }

    /* Animation Open */
    .nav-block:after {
        border-width    : 1px 0 0 1px;
        border-style    : solid;
        border-color    : var(  --link   );
        content         : "";
        height          : var(  --nav-set-height   );
        position        : absolute;
        right           : 1em;
        top             : 47%;
        transition      : all 0.3s ease-out;
        transform       : rotate(135deg) translate(0, -50%);
        transform-origin: top;
        width           : var(  --nav-set-width    );
    }

    .nav-block:hover {
        background      : var( --nav-block-background );
        border-left     : var( --nav-block-border-color )
                          var( --nav-block-border-style )
                          var( --nav-block-border-width );
        color           : var( --link-hover );
    }

    .nav-side-menu li:last-child .nav-block:hover {
        border-bottom-right-radius: var( --border-radius );
    }

    /* .nav-block:first-child:hover{
        border-top-right-radius: 5px;
        } */

    .nav-module-icon {
        align-items     : flex-start;
        display         : flex;
        justify-content : center;
    }

    /* -------------------- -------------------- NAV-SIDE - Module Name */

    .nav-module-name {
        margin          : 0 10px;
        border-left     : 3px solid transparent;
    }

    .nav-block-open {
        background      : var( --nav-block-background );
        border-left     : 3px solid transparent;
        color           : var( --link-hover );
    }

    .nav-block:hover {
        border-color    : var( --nav-block-border-color );
    }

    .nav-block-open:after {
        transform       : rotate(-135deg) translate(0, -50%); /* Animation */
    }

    .nav-side-menu .nav-block-close {
        max-height      : 0;
        visibility      : hidden;
    }

    /* -------------------- -------------------- NAV-Module-Admin */

    .nav-module-admin {
        background      : var( --nav-block-background );
        list-style-type : none;
        margin          : 0;
        overflow        : hidden;
        padding         : 0;
        transition      : all 0.4s ease-in-out;
        visibility      : visible;
    }

    .nav-module-link {
        align-items     : center;
        border-left     : var( --nav-block-border-color )
                          var( --nav-block-border-style )
                          var( --nav-block-border-width );
        display         : flex;
        line-height     : 2.5rem;
    }

    .nav-module-link a,
    .nav-module-link a:hover {
        color           : var( --nav-block-color-link );
        padding         : 0 0 0 1.5rem;
        width           : 100%;
    }

    .nav-module-link:hover {
        background      : var( --nav-hover );
        color           : var( --nav-link-color );
    }

    /* -------------------- -------------------- NAV-Module-Options Icons */

    .nav-module-options > a,
    .nav-module-options > a:hover {
        align-items     : center;
        display         : flex;
        justify-content : center;
        padding         : var(  --space-4  ) 0;
        width           : 100%;
    }
