/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL 2.3.1
	Version : 1.1.1
	Author : Nuno Luciano aka Gigamaster
	Date : 2022-11-21
	URL : https://github.com/xoopscube/
*/

/* -------------------- --------------------  HEADER NAV */

    header > nav {

        height          : 50px;
        margin          : 0;
        overflow        : hidden;
        padding         : 0;
        width           : 100%;

    }

    nav ul {


        display         : flex;

        margin          : 0;
        padding         : 0;

    }

    nav ul li {

        list-style-type : none;
        transition      : all 0.2s;

    }

    nav ul li.nav-logo {
        padding     : 0 var(  --space-7  );
    }
    nav ul li.nav-logo > a > img {
        max-height  : 45px;
        transition  : all 2s ease-in-out;
        filter      : drop-shadow(1px 10px 10px #face74);
    }
    nav ul li.nav-logo > a > img:hover {
        animation   : filter-animation 2.5s infinite;
    }
    @keyframes filter-animation {
        0% {
        filter      : brightness(100%);
        filter      : drop-shadow(1px 10px 10px #face74);
        transition  : all 0.5s ease-in-out;
        }
        25% {
        filter      : brightness(115%);
        filter      : drop-shadow(-10px 1px 10px #face74);
        transition  : all 0.5s ease-in-out;
        }
        50% {
        filter      : brightness(135%);
        filter      : drop-shadow(1px 1px 10px #face74);
        transition  : all 0.5s ease-in-out;
        }
        75% {
        filter      : brightness(145%);
        filter      : drop-shadow(10px 1px 10px #face74);
        transition  : all 0.5s ease-in-out;
        }
        100% {
        filter      : brightness(100%);
        filter      : drop-shadow(1px 10px 10px #face74);
        transition  : all 0.5s ease-in-out;
        }
    }

    /* Remove Color Mode Switch if there’s no JS */
    /* .no-js .ui-color-mode {
        display         : none;
    } */
    nav ul li.ui-color-mode {
        display         : flex;
        margin          : 0 0 0 auto;
        padding         : 0;
    }
    nav ul li.ui-color-mode > a,
    nav ul li.ui-color-mode > span {
        margin          : 0 1em;
    }


    nav > ul > li > a {
        padding         : 0px var(  --space-5  );

    }
    nav ul li .ui-nav-icon {
        font-size: 1.25em;
        /* width: 20px; */
        /* height: 20px; */
        background: var( --layer-3);
        color: var( --secondary);
        cursor: pointer;
        text-align: center;
        margin: 0 1em;
        line-height: 50px;
    }

    nav > ul > li > button > .caret {

        border-top      : 5px solid var(  --secondary    );
        border-right    : 5px solid transparent;
        border-left     : 5px solid transparent;
        content         : "";
        display         : inline-block;
        height          : 0;
        transition      : color 0.1s linear;
        vertical-align  : middle;
        width           : 0;
    }

    nav > ul > li:hover > button > .caret {
        border-top-color : var(  --link-hover		);
    }

    nav > ul > li:hover {
        background      : transparent;
    }


    /* nav-sub */
    nav > ul > li > ul.nav-sub  {

        background      : var(  --primary     );

        border-top      : 0;
        border-radius   : var(  --border-radius  );

        box-shadow      : var(  --shadow-4     );

        display         : none;
        left            : 174px;
        margin          : 0;
        opacity         : 0;
        position        : absolute;
        visibility      : hidden;
        width           : 200px;
        top             : 50px;

        transition      : opacity 0.3s;
        z-index: 710;

    }


    nav > ul > li.nav-submenu:hover > ul.nav-sub {

        display         : block;
        opacity         : 1;
        visibility      : visible;

    }

    nav > ul > li > ul.nav-sub > li {

        display         : block;

    }

    /* -------------------- -------------------- NAV HEADER */

    nav > ul > li > ul.nav-sub > li > a {

        padding         : var(  --space-5 		);
        text-decoration : none;
        width           : 100%;

    }

    nav > ul > li > ul.nav-sub > li:hover > a {

        background      : var(  --layer-4	);

    }

    /* nav-sub nav-user-menu */
    nav > ul > li.nav-user-menu > ul.nav-sub {
        float           : right;

    }
    nav > ul > li.nav-user-menu:hover > ul.nav-sub {

        display         : block;
        opacity         : 1;
        visibility      : visible;
        right           : 0px;
        width           : 200px;

    }

    ul.nav-sub > li > a > .svg-ui-icon {

        margin-right    : 1em; /* Space icon -> text */
        vertical-align  : middle; /* Align icon and text */
        width           : 1.5em; /* Size icon to text */
    }
