/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL 2.3.1
	Version : 1.0.0
	Author : Nuno Luciano aka Gigamaster
	Date : 2021-10-28
	URL : https://github.com/xoopscube/


	-------------------- -------------------- NAV MOBILE */

/* -------------------- -------------------- -------------------- NAV D3 */


.adminavi,
.adminavi-sub {
    background			: var( --color-2 );
    border-radius		: var( --border-radius );
    box-shadow			: 0 10px 20px rgba(159, 162, 177, 0.8);
    display				: inline-flex;
    overflow			: hidden;
    max-width			: 100%;
}

.adminavi-sub {
    box-shadow			: var( --shadow-3 );
    font-size			: var( --size-2 );
    margin				: var( --space-4 ) 0 0;
    text-align			: center;
}

a.adminavi-item {
    border-bottom		: 3px solid var( --link );
    color				: var( --link );
    font-weight			: 600;
    padding				: 10px;
    text-decoration		: none;
    transition			: .3s;
    z-index				: 1;
}

a.adminavi-item:not(.selected) {
}

a.adminavi-item:not(.selected):hover {
    color				: var(--link-hover);
    border-bottom		: 3px solid var(--link-hover);
}

a.adminavi-item.selected,
a.adminavi-item.selected:active {
    color		 		: var(--link-hover);
    border-bottom		: 3px solid var(--link-hover);
    outline-width		: 0;
}

/* @todo fix this > remove altsys css */

.admin-menu,
.altsys_mymenu {

    align-items			: flex-start;
    background      	: var(--color-4);

    border          	: 0px;
    border-radius   	: 5px;
    box-shadow      	: var(--shadow-2);

    display         	: flex;
    flex-flow       	: row;
    flex-wrap       	: wrap;

}

.admin-menu > div,
.altsys_mymenu > div {

    background			: var(--color-4);
    border-radius   	: 5px;
    padding         	: 1rem;

}

