/*
	XOOPSCube Theme : XCL Admin Flex Grid
	Distribution : XOOPSCube XCL 2.3.1
	Version : 2.3.1
	Author : Nuno Luciano aka Gigamaster
	Date : 2023-01-27
	URL : https://github.com/xoopscube/
*/
/* -------------------- --------------------  XCL Panel */

.right-sidebar {
    background      : var(--aside-panel-bg);
    box-shadow      : var(--aside-panel-shadow);
    display         : none;
    direction       : rtl; /* Used for scrollbar on the left */
    height          : 100vh;
    overflow-y      : auto;
    overflow-x      : hidden;
    padding         : 0;
    position        : fixed;
    right           : -274px;
    top             : 0;
    transition      : all 0.3s ease;
    width           : 270px;
    z-index         : 1100;
    /* FIREFOX SCROLLBAR */
    scrollbar-color : var(--thumbBG) var( --trackBG ); /* thumb-color track-color */
    scrollbar-width : thin;

}
.right-sidebar .right-panel-title {
    display         : flex;
    align-items     : center;
    flex-direction  : row-reverse; /* ref parent scroll */
    justify-content : space-between;
    margin          : var(--space-4);
    position        : sticky;
    text-transform  : uppercase;

}
/*    background      : inherit;
    color           : inherit;
    display         : block;
    font-size       : var(--font-size);
    !*padding         : var(--space-6) var(--space-7);*!
    margin          : 1rem 0;
    padding         : 0;
    position        : sticky;
    text-transform  : uppercase;
    !*top             : 2px;*!
    z-index         : 11;
}*/
.right-sidebar .right-panel-title span {
    color           : var(--theme-link);
    cursor          : pointer;
    /*float           : right;*/
    font-size       : var(--icon-size);
}
.right-sidebar .right-panel-title span:hover {
}
.right-sidebar .right-panel-block {
    direction       : ltr; /* used for content on the left*/
    display         : block;
    height          : auto;
    padding         : var(--space-6);
    width           : 100%;
    z-index         : 10;
}
.right-sidebar .right-panel-block ul {
    margin          : 0;
    padding         : 0;
}
.right-sidebar .right-panel-block ul li {
    list-style      : none;
    padding         : var(--space-2) 0;
}
.right-panel-show {
    display         : block;
    right           : 0;
    width           : 274px;
}

/* -------------------- --------------------  Right side toggle */

@keyframes rotate {
    from {
        /*-webkit-transform: rotate(0deg);*/
        transform: rotate(0deg); }
    to {
        /*-webkit-transform: rotate(360deg);*/
        transform: rotate(360deg); }
}
@keyframes rotateY {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(359.99deg);
    }
}

.panel-control {
    background      : transparent;
    color           : var(--body-color);
    position        : fixed;
    top             : 30%;
    right           : 2px;
    z-index         : 100;
    padding         : 1px;
    margin          : 3px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Currently supported by Chrome, Edge, Opera and Firefox */
}
.panel-control-close {background: var(--button-bg);color: var(--button-color-on);}

:is(.right-panel-block) .block-options,#admin-blocks {background: var(--layer-3);border:var(--border);border-radius: 5px;padding:var(--space-5) var(--space-4);display:flex;margin:1em auto}
:is(.right-panel-block) #admin-blocks label{display:inherit;align-items:center;justify-content:space-between;margin:var(--space-4) 0}
:is(.right-panel-block) form.action-search, ul#user-menu a {display:inline-flex;width: 100%; text-align:left;margin:0}
:is(.right-panel-block) input[type="search"], button.search {border:1px solid var(--layer-4); background:var(--layer-3); margin:1px; padding: var(--space-2 );}
:is(.right-panel-block) input[type="search"]{width: inherit;}
:is(.right-panel-block) span.icon{margin-right:var(--space-3)}
:is(.right-panel-block) button.help-admin.button {width: 100%;text-align: left;margin: 0 0 1em;}
input#block-tooltip:checked { background: var(--color-red)}

/*#block-tooltip input[type="checkbox"]:checked+label {*/
/*    background-color: #569cc3!important;*/
/*}*/
/* -------------------- --------------------  XCL CUBE */

.qube-perspective{perspective:900px}
.qube-preserve3d{transform-style:preserve-3d}
.qube{position:relative;margin:0;padding:0;list-style:none;width:100%;height:100%;transform-style:preserve-3d}
.qube>*{background:#666;background-size:100%}
.qube>*,.qube>:after{position:absolute;left:0;top:0;margin:0;padding:0;width:100%;height:100%}
.qube>:after{pointer-events:none;display:block;content:""}
.qube.no-shading>:after{display:none}
.qube.solid>*,.qube.solid>:after{backface-visibility:hidden}
.qube.textured>*{background-size:300%}
.qube.faces>:nth-child(1),.qube>.front{transform:rotateX(90deg) translateY(50%) rotateX(-90deg)}
.qube.textured.faces>:nth-child(1),.qube.textured>.front{background-position:0 0}
.qube.faces>:nth-child(3),.qube>.back{transform:rotateY(180deg) rotateX(90deg) translateY(50%) rotateX(-90deg)}
.qube.faces>:nth-child(3):after,.qube>.back:after{background:rgba(0,0,0,.6)}
.qube.x-axis.faces>:nth-child(3),.qube.x-axis>.back{transform:rotateX(90deg) translateY(-50%) rotateX(90deg)}
.qube.textured.faces>:nth-child(3),.qube.textured>.back{background-position:-100% 0}
.qube.faces>:nth-child(2),.qube>.left{transform:translateX(-50%) rotateY(-90deg)}
.qube.faces>:nth-child(2):after,.qube>.left:after{background:rgba(0,0,0,.5)}
.qube.textured.faces>:nth-child(2),.qube.textured>.left{background-position:-200% 0}
.qube.faces>:nth-child(4),.qube>.right{transform:translateX(50%) rotateY(90deg)}
.qube.faces>:nth-child(4):after,.qube>.right:after{background:rgba(0,0,0,.3)}
.qube.textured.faces>:nth-child(4),.qube.textured>.right{background-position:0 -100%}
.qube.faces>:nth-child(5),.qube>.top{transform:translateY(-50%) rotateX(90deg)}
.qube.faces>:nth-child(5):after,.qube>.top:after{background:rgba(0,0,0,.2)}
.qube.textured.faces>:nth-child(5),.qube.textured>.top{background-position:-100% -100%}
.qube.faces>:nth-child(6),.qube>.bottom{transform:translateY(50%) rotateX(-90deg)}
.qube.faces>:nth-child(6):after,.qube>.bottom:after{background:rgba(0,0,0,.7)}
.qube.textured.faces>:nth-child(6),.qube.textured>.bottom{background-position:-200% -100%}
/* Quintessential Responsive 3D CSS Cube, MIT License @zacharyjohnson, Edited by Nuno Luciano #gigamaster */
.xcl-cube {
    width           : 40px;
    height          : 40px;
    line-height     : 40px;
    transition      : transform 1500ms ease;
}
.xcl-cube:hover {
    transform       : rotateY(359deg);
}
.xcl-cube > * {
    background      : rgba(0,127,255,0.5);
    border          : 1px solid var(--theme-color, var(--color-blue) );
    text-align      : center;
    cursor          : pointer;
}
.xcl-cube > .front {background : rgba(84,110,127,0.27)}
.xcl-cube > .left {background  : rgba(70,90,100,0.27)}
.xcl-cube > .back {background  : rgba(55,70,80,0.27)}
.xcl-cube > .right {background : rgba(40,52,60,0.27)}

/* -------------------- --------------------  COLOR SCHEME */

ul#themecolors {display: block;}
ul#themecolors li {display: inline-block;}
ul#themecolors li:first-child {display: block;}
ul#themecolors li a {
    color           : transparent;
    display         : inline-block;
    height          : 32px;
    margin          : 5px;
    position        : relative;
    width           : 32px;
}
ul#themecolors li a.working:before {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' viewBox='0 0 50 50'><path d='M25 42c-9.4 0-17-7.6-17-17S15.6 8 25 8s17 7.6 17 17s-7.6 17-17 17zm0-32c-8.3 0-15 6.7-15 15s6.7 15 15 15s15-6.7 15-15s-6.7-15-15-15z' fill='white'/><path d='M23 32.4l-8.7-8.7l1.4-1.4l7.3 7.3l11.3-11.3l1.4 1.4z' fill='white'/></svg>");
    color           : #ffffff;
    left            : 5px;
    line-height     : 32px;
    height          : 32px;
    position        : absolute;
    text-align      : center;
    top             : 5px;
    width           : 32px;
}
.default-theme {background: #757e8a;}
.green-theme {background: #26c6da;}
.yellow-theme {background: #ffb22b;}
.red-theme {background: #fc4b6c;}
.blue-theme {background: #1e88e5;}
.purple-theme {background: #7460ee;}
.megna-theme {background: #00897b;}
.default-dark-theme {background: #263238; background: linear-gradient(to right, #263238 0%, #263238 23%, #757e8a 23%, #757e8a 99%);}
.green-dark-theme {background: #263238; background: linear-gradient(to right, #263238 0%, #263238 23%, #26c6da 23%, #26c6da 99%);}
.yellow-dark-theme {background: #263238; background: linear-gradient(to right, #263238 0%, #263238 23%, #fc4b6c 23%, #fc4b6c 99%);}
.blue-dark-theme {background: #263238; background: linear-gradient(to right, #263238 0%, #263238 23%, #1e88e5 23%, #1e88e5 99%); }
.purple-dark-theme {background: #263238; background: linear-gradient(to right, #263238 0%, #263238 23%, #7460ee 23%, #7460ee 99%);}
.megna-dark-theme {background: #263238; background: linear-gradient(to right, #263238 0%, #263238 23%, #00897b 23%, #00897b 99%);}
.red-dark-theme {background: #263238; background: linear-gradient(to right, #263238 0%, #263238 23%, #fc4b6c 23%, #fc4b6c 99%);}
