<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<table class="block-top-users">
    <{foreach item=user from=$block.users}>
    <tr>
    <td width="25%"><{$user.rank}></td>
    <td>
        <{if $user.avatar != ""}>
        <img src="<{$user.avatar}>" alt="" width="32" data-self="radius-circle"/><br>
        <{/if}>
        <a href="<{$xoops_url}>/userinfo.php?uid=<{$user.id}>"><{$user.name}></a>
    </td>
    <td align="center"><span class="badge"><{$user.posts}></span></td>
    </tr>
    <{/foreach}>
</table>
