<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<div data-layout="column" class="block-new-users">

  <{foreach item=user from=$block.users}>
    <div data-layout="row center-justify my-2">
      <{if $user.avatar != ""}>
      <img src="<{$user.avatar}>" alt="" width="24" data-self="radius-circle">
          <{else}>
          <img src="<{$user.uid|xoops_user_avatarize}>" alt=" <{$member.uname}>" width="24" height="24" data-self="radius-circle">
      <{/if}>
      <a href="<{$xoops_url}>/userinfo.php?uid=<{$user.id}>"><{$user.name}></a>
        <span class="badge"><{$user.joindate|xoops_formattimestamp:s}></span>
    </div>
  <{/foreach}>

</div>
