<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<div class="block-login">

    <form action="<{$xoops_url}>/user.php" method="post">

    <{* Smarty local variable concatenation : const + cat:'' *}>
    <label for="<{$smarty.const.XOOPS_INPUT_DEFID_PREFIX|cat:'block_uname'}>" aria-label="<{$smarty.const._MB_USER_USERNAME}>">
    <input type="text"
           name="uname"
           value="<{$block.unamevalue}>"
           maxlength="25"
           id="<{$smarty.const.XOOPS_INPUT_DEFID_PREFIX|cat:'block_uname'}>"
           placeholder="<{$smarty.const._MB_USER_USERNAME}>"
           autocomplete="username">
    </label>

    <{* Smarty local variable concatenation : const + cat:'' *}>
    <label for="<{$smarty.const.XOOPS_INPUT_DEFID_PREFIX|cat:'block_pass'}>" aria-label="<{$smarty.const._MB_USER_PASSWORD}>">
    <input type="password"
           name="pass"
           maxlength="32"
           id="<{$smarty.const.XOOPS_INPUT_DEFID_PREFIX|cat:'block_pass'}>"
           placeholder="<{$smarty.const._MB_USER_PASSWORD}>"
           autocomplete="current-password">
    </label>

    <label for="legacy_xoopsform_rememberme_On">
        <{xoops_input type=checkbox name=rememberme value=On class=formButton}><{$smarty.const._MB_USER_REMEMBERME}>
    </label>


    <input type="hidden" name="xoops_redirect" value="<{if isset($xoops_redirect)}><{$xoops_redirect|default:""}><{else}><{$xoops_requesturi}><{/if}>">
    <{xoops_input type=hidden name=op value=login id="`$smarty.const.XOOPS_INPUT_DEFID_PREFIX`block_op"}>

    <{if $block.use_ssl == '1'}>
    <span class="ssl"><a href="javascript:openWithSelfMain('<{$block.sslloginlink}>', 'ssllogin', 320, 240);">
        <img class="svg ssl" src="<{$xoops_url}>/images/icons/shield.svg" width="1em"> <{$smarty.const._MB_USER_SECURE}></a>
    </span>
    <{/if}>

    <{* xoops_input type=submit name=submit value=$smarty.const._MB_USER_LOGIN id="`$smarty.const.XOOPS_INPUT_DEFID_PREFIX`block_submit" *}>

    <{* Smarty local variable concatenation : const + cat:'' *}>
    <button type="submit" role="button" class="primary" name="submit" id="<{$smarty.const.XOOPS_INPUT_DEFID_PREFIX|cat:'block_submit'}>">
        <img src="<{$xoops_url}>/images/icons/login.svg" width="1em" height="1em" alt="" class="svg"> <{$smarty.const._MB_USER_LOGIN}>
    </button>

    <{* SAML Login Button/Link *}>
    <{if $block.show_saml_login}>
        <div style="margin-top: 10px; text-align: center;">
            <a href="<{$block.saml_login_url}>" class="btn btn-info"><{$smarty.const._MB_USER_LOGIN_WITH_SAML|default:'Login with SAML'}></a>
        </div>
    <{/if}>

    <{if $block.show_oauth2_index_link}>
        <div style="margin-top: 15px; text-align: center;">
            <a href="<{$block.oauth2_index_url}>" class="btn btn-success"><{$smarty.const._MB_USER_LOGIN_OAUTH2}></a>
        </div>
    <{elseif $block.oauth2_providers}>
        <div style="margin-top: 15px; text-align: center;">
            <strong><{$smarty.const._MB_USER_LOGIN_OAUTH2}></strong>
        </div>
        <div style="margin-top: 10px;">
            <{foreach item=provider from=$block.oauth2_providers}>
                <div style="margin-bottom: 5px; text-align: center;">
                    <a href="<{$provider.url}>" class="btn btn-secondary btn-block">
                        Login with <{$provider.name}>
                    </a>
                </div>
            <{/foreach}>
        </div>
    <{/if}>

    <p>
        <small><a href="<{$xoops_url}>/lostpass.php"><{$smarty.const._MB_USER_LOSTPASS}></a>
        <{if $block.allow_register == '1'}>
        &nbsp;|  <a href="<{$xoops_url}>/register.php"><{$smarty.const._MB_USER_USERREG}></a>
        <{/if}></small>
    </p>

    </form>

</div>
