<{* bannerstats_stats.html *}>

<h2><{$pageTitle|default:$xoops_pagetitle}></h2>

<div style="margin-bottom: 15px; text-align: right;">
    <a href="<{$logoutLink}>"><{$smarty.const._MD_BANNERSTATS_LOGOUT|default:"Logout"}></a> |
    <a href="<{$contactLink}>"><{$smarty.const._MD_BANNERSTATS_CONTACT_WEBMASTER|default:"Contact Webmaster"}></a>
</div>

<{if $activeBanners}>
    <h3><{$smarty.const._MD_BANNERSTATS_ACTIVE_BANNERS|default:"Current Active Banners"}></h3>
        
    <{foreach item=banner from=$activeBanners}>

    <article class="banner-preview">
        <{$banner.preview}>    
        <{if $banner.stats_note}>
        <footer>
            <small>
                <{$banner.stats_note}>
            </small>
        </footer>
        <{/if}>
    </article>

        <table class="outer" cellspacing="1" width="100%">
        <thead>
            <tr>
                <th><{$activeBanners[0].impressions_made_label|default:'Impressions Made'}></th>
                <th><{$activeBanners[0].clicks_received_label|default:'Clicks Received'}></th>
                <th><{$activeBanners[0].current_ctr_label|default:'Current CTR'}></th>
                <th><{$activeBanners[0].impressions_total_purchased_label|default:'Total Purchased'}></th>
                <th><{$activeBanners[0].impressions_remaining_label|default:'Leftover'}></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><{$banner.impressions_made}></td>
                <td><{$banner.clicks_received}></td>
                <td><{$banner.current_ctr}><{if $banner.is_html && $banner.current_ctr != 'See Ad Service' && $banner.current_ctr != '0% (Site Data)'}>%<{/if}></td>
                <td><{$banner.impressions_total_purchased}></td>
                <td><{$banner.impressions_remaining}></td>
                <td>
                    <a href="<{$banner.email_stats_link}>"><{$smarty.const._MD_BANNERSTATS_EMAIL_STATS|default:"Email Stats"}></a>
                    <{* Only show Manage URL link for non-HTML banners with a clickurl field *}>
                    <{if !$banner.is_html && $banner.clickurl}>
                            <br><a href="<{$banner.manage_url_link}>"><{$smarty.const._MD_BANNERSTATS_MANAGE_URL|default:'Manage URL'}></a>
                    <{/if}>

                    <{if $banner.alert_message}>
                        <div class="<{$banner.alert_class}>" style="margin-top:5px; padding:5px; border:1px solid red; font-size:0.9em;">
                            <{$banner.alert_message}>
                        </div>
                    <{/if}>
                </td>
            </tr>
        <{/foreach}>
        </tbody>
    </table>
<{else}>
    <p><{$smarty.const._MD_BANNERSTATS_NO_ACTIVE_BANNERS|default:"You have no active banners at this time."}></p>
<{/if}>

<{if $finishedBanners}>
    <h3>
        <{$smarty.const._MD_BANNERSTATS_FINISHED_BANNERS|default:"Previously Finished Banners"}>
    </h3>

    <article class="banner-preview">
        <{$banner.preview}>    
        <{if $banner.stats_note}>
        <footer>
            <small>
                <{$banner.stats_note}>
            </small>
        </footer>
        <{/if}>
    </article>

    <{foreach item=banner from=$finishedBanners}>
        <table class="outer" cellspacing="1" width="100%">
        <thead>
            <tr>
                <th>Total Impressions Served</th>
                <th>Total Clicks Received</th>
                <th>Final CTR</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><{$banner.total_impressions_served}></td>
                <td><{$banner.total_clicks_received}></td>
                <td><{$banner.final_ctr}><{if $banner.is_html && $banner.final_ctr != 'See Ad Service' && $banner.final_ctr != '0% (Site Data)'}>%<{/if}></td>
                <td><{$banner.datestart}></td>
                <td><{$banner.dateend}></td>
            </tr>
        <{/foreach}>
    </tbody>
    </table>
<{else}>
    <p><{$smarty.const._MD_BANNERSTATS_NO_FINISHED_BANNERS|default:"You have no previously finished banners."}></p>
<{/if}>
