# editorconfig.org
# XCL 2.3.1
# This file is for unifying the coding style for different editors and IDEs

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
