body {
	color:#37342F;
	font-size:12px;
	line-height:130%;
	font:12px/1.5em Arial, Helvetica, sans-serif;
}

a {
	text-decoration:none;
	color:#000000;
	font-weight: bold;
}
a:hover {
	text-decoration:none;
	color:#00d;
	font-weight:bold;
}

table {border:0; width:100%; border-collapse:collapse;}

th {
	text-align:center;
	padding:5px 1px;
	background:#eee url(img/bg_blockcontent.gif) top left repeat-x;
}

td {vertical-align:top;}

img {border:0;}

#container {
	position:relative;
	width:740px;
	margin:0 auto;
	text-align:left;
	border:1px solid #ccc;
}

#container .maincontents {background:#fff; padding:15px 15px; line-height:150%;}

#mainbody {border-top:1px solid #eee; border-bottom:1px solid #eee;}
#title {background:#eee; padding:15px; text-align:left;}
#title h1 {margin:0; font-size:1.5em;}
#footer {background:#eee; padding:15px; text-align:right; vertical-align: middle;}

.separate {border-collapse:separate;}

.bg3 {	
	background:#ddd;
	padding:5px 14px;
	width:45%;}

form {
	margin:0.5em 0;
}
input, .bg1 {
	border-top:1px solid #999;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ddd;
	border-left:1px solid #999;
	padding:2px;
	background:url(img/bg_data.gif) top left repeat;
}

.bg1, .bg3, .bg4 {padding:2px 10px;}

input.adminame { background:url(img/admin.png) center left no-repeat; padding-left:17px;}
input.adminmail {background:url(img/email.png) center left no-repeat; padding-left:17px;}
input.adminpass {background:url(img/pass.png) center left no-repeat; padding-left:17px;}
input.adminpass2 {background:url(img/pass2.png) center left no-repeat; padding-left:17px;}

textarea {
	font-size:13px;	
}

select option {
	padding: 0 3px;
}
.reload, .next, .back { border:1px solid #5B9C54; background:#fff; padding:2px 20px;}

.head {
	border-top:1px solid #ccc;
	padding:5px 0 5px 0;
}
.even {
	border-top:1px solid #ccc;
	padding:10px 0 10px 0;
}

.confirmInfo {
	color:#000000;
	font-size:15px;
	border:1px solid #aaa;
	padding:8px 8px 8px 35px;
	margin:15px 10px;
	background:#eee url(img/info.png) no-repeat 5px 4px;
}

.confirmMsg {
	color:#000000;
	border:1px solid #f66;
	padding:8px 8px 8px 35px;
	margin:15px 10px;
	background:#fee url(important.png) no-repeat 5px 4px;
}

.confirmOk {
	color:#000000;
	border:1px solid #00cc00;
	padding:8px 8px 8px 35px;
	margin:15px 10px;
	background:#f8fff8 url(img/yes.png) no-repeat 5px 4px;
}

.clear {
	clear:both;
}