<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<div class="row justify-content-between my-4">
    <div class="col-sm-6">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with poster order button">
            <!-- post orders -->
            <{if $postorder != 0}>
                <a class="btn btn-outline-secondary btn-sm" href="<{$mod_url}>/index.php?page=update_postorder&amp;ret_name=<{$ret_name}>&amp;ret_val=<{$ret_val}>&amp;postorder=0">
                    <svg class="list-nested" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"/>
                    </svg> <{$smarty.const._MD_D3FORUM_LINK_POSTORDERTREEASC}></a>
            <{/if}>
            <{if $postorder != 2}>
                <a class="btn btn-outline-secondary btn-sm" href="<{$mod_url}>/index.php?page=update_postorder&amp;ret_name=<{$ret_name}>&amp;ret_val=<{$ret_val}>&amp;postorder=2">
                    <svg class="arrow-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8 3.707 5.354 6.354a.5.5 0 1 1-.708-.708l3-3z"/>
                    </svg> <{$smarty.const._MD_D3FORUM_LINK_POSTORDERTIMEASC}></a>
            <{/if}>
            <{if $postorder != 3}>
                <a class="btn btn-outline-secondary btn-sm" href="<{$mod_url}>/index.php?page=update_postorder&amp;ret_name=<{$ret_name}>&amp;ret_val=<{$ret_val}>&amp;postorder=3">
                    <svg class="arrow-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 0 1 .708 0L8 12.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                        <path fill-rule="evenodd" d="M8 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z"/>
                    </svg> <{$smarty.const._MD_D3FORUM_LINK_POSTORDERTIMEDESC}></a>
            <{/if}>
        </div>
    </div>
    <div class="col-sm-6 d-flex justify-content-sm-end">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with previous and next topic button">
            <{if isset($prev_topic.id) || isset($next_topic.id)}>
                <{if $prev_topic.id}>
                <a class="btn btn-outline-primary btn-sm" href="<{$mod_url}>/index.php?topic_id=<{$prev_topic.id}>" title="<{$prev_topic.title}>"><{$smarty.const._MD_D3FORUM_LINK_PREVTOPIC}></a>
                <{/if}>
                <{if $prev_topic.id && $next_topic.id}>
                <!-- prev and next -->
                <{/if}>
                <{if $next_topic.id}>
                <a class="btn btn-outline-primary btn-sm" href="<{$mod_url}>/index.php?topic_id=<{$next_topic.id}>" title="<{$next_topic.title}>"><{$smarty.const._MD_D3FORUM_LINK_NEXTTOPIC}></a>
                <{/if}>
            <{/if}>
        </div>
    </div>
</div>
