<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<{* /////// INCLUDE BREADCRUMB \\\\\\\ *}>
<{if $mod_config.show_breadcrumbs}>
<{include file="db:`$mydirname`_inc_breadcrumb.html"}>
<{/if}>

<div class="card my-4">

    <div class="card-header">
        <h3><img class="svg me-2" src="<{$xoops_url}>/images/icons/tools.svg" width="1em" height="1em" alt=""><{$smarty.const._MD_D3FORUM_CUTPASTEPOSTS}></h3>
    </div>

    <div class="card-body m-2">

        <div id="post_reference" class="card my-4 shadow-sm">
            <div class="card-header">
                <h5><{$reference_subject}></h5>
            <p class="card-subtitle"><{$smarty.const._MD_D3FORUM_BY}>: <{$reference_name}> <{$smarty.const._MD_D3FORUM_ON}>: <{$reference_date}></p></div>
            <div class="card-body"><{$reference_message}></div>
            <div class="card-footer py-3"><{$smarty.const._MD_D3FORUM_CHILDREN_COUNT}> : <{$children_count}><br><{$smarty.const._MD_D3FORUM_PARENT_POSTID}> : <{$post.pid}></div>
        </div>

        <form name="cutpastebypostid" id="cutpastebypostid" action="<{$mod_url}>/index.php?page=cutpasteposts&amp;post_id=<{$post_id}>" method="post">
        <div class="row mb-3">
            <h4>
                <svg class="file-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V8h-1v5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5V1z"/>
                    <path fill-rule="evenodd" d="M13.5 1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                </svg> <{$smarty.const._MD_D3FORUM_CUTPASTEBYPOSTIDSBJ}>
            </h4>
            <p class="msg-callout msg-info"><{$smarty.const._MD_D3FORUM_CUTPASTEBYPOSTIDDSC}></p>
        </div>
            <div class="row mb-3 g-3 align-items-start">
                <div class="col-3">
                    <label for="pid" class="form-label"><{$smarty.const._MD_D3FORUM_CUTPASTEBYPOSTID_DEST}></label>
                </div>
                <div class="col-2">
                    <input type="text" class="form-control mb-3" name="pid" id="pid" size="12" maxlength="12" value="">
                </div>
                <div class="col-7">
                    <button type="submit" class="btn btn-primary" name="cutpastepostsok" id="cutpastepostsok" value="<{$smarty.const._SUBMIT}>"><{$smarty.const._SUBMIT}></button>
                </div>
            </div>
        </form>

        <div class="row mb-3">
            <{if $post.pid}>
                <h4>
                    <svg class="file-break" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 10.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                        <path d="M12 1H4a2 2 0 0 0-2 2v6h1V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v6h1V3a2 2 0 0 0-2-2zm2 11h-1v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1H2v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1z"/>
                    </svg> <{$smarty.const._MD_D3FORUM_CUTPASTETOPICDIVSBJ}>
                </h4>
                <p class="msg-callout msg-info"><{$smarty.const._MD_D3FORUM_CUTPASTETOPICDIVDSC}></p>
            <{else}>
                <h4>
                    <svg class="file-break" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 10.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                        <path d="M12 1H4a2 2 0 0 0-2 2v6h1V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v6h1V3a2 2 0 0 0-2-2zm2 11h-1v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1H2v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1z"/>
                    </svg> <{$smarty.const._MD_D3FORUM_CUTPASTEBYFORUMIDSBJ}>
                </h4>
                <p class="msg-callout msg-info"><{$smarty.const._MD_D3FORUM_CUTPASTEBYFORUMIDDSC}></p>
            <{/if}>

            <form name="cutpastebyforumid" id="cutpastebyforumid" action="<{$mod_url}>/index.php?page=cutpasteposts&amp;post_id=<{$post_id}>" method="post">

            <div class="row mb-3 g-3 align-items-start">
                <div class="col-3">
                    <label for="forum_id" class="form-label"><{$smarty.const._MD_D3FORUM_CUTPASTEBYFORUMID_DEST}></label>
                </div>
                <div class="col-6">
                    <select name="forum_id" id="forum_id" class="form-select mb-3"><{$forum_jumpbox_options}></select>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary" name="cutpastepostsok" id="cutpastepostsok" value="<{$smarty.const._SUBMIT}>"><{$smarty.const._SUBMIT}></button>
                </div>
            </div>

        </form>

    </div>
</div>
