
<div class="ui-dev-mode"><{$smarty.template}></div>

<nav class="ui-breadcrumbs" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._AD_BANNERSTATS_NAME}></a>
    &raquo;&raquo; <a href="./index.php?action=BannerList"><{$smarty.const._AD_BANNERSTATS_BANNER_LIST}></a>
    &raquo;&raquo; <span class="page-title" aria-current="page"><{$smarty.const._AD_BANNERSTATS_LANG_BANNER_DELETE}></span>
</nav>



<h2><{$smarty.const._AD_BANNERSTATS_LANG_BANNER_DELETE}></h2>


<div class="error"><{$smarty.const._AD_BANNERSTATS_MESSAGE_CONFIRM_DELETE}></div>

<form method="post" action="./index.php?action=BannerDelete">
    <{xoops_token form=$actionForm}>
    <{xoops_input type=hidden name=bid value=$actionForm->get('bid')}>
    <table class="outer">
        <thead>
        <tr>
            <th colspan="2"><{$smarty.const._AD_BANNERSTATS_LANG_BANNER_DELETE}></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="head list_image" colspan="2">
                <{if $object->get('htmlbanner')}>
                <{$object->get('htmlcode')}>
                <{else}>
                <a href="<{$object->getShow('clickurl')}>" rel="external"><img src="<{$object->getShow('imageurl')}>" alt="banner"></a>
                <{/if}>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_BANNERSTATS_LANG_BID}></td>
            <td><{$object->getShow('bid')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_BANNERSTATS_LANG_CLIENT_NAME}></td>
            <td><{$object->mClient->getShow('name')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_BANNERSTATS_LANG_IMPTOTAL}></td>
            <td>
                <{if $object->get('imptotal') > 0}>
                <{$object->getShow('imptotal')}>
                <{else}>
                <{$smarty.const._AD_BANNERSTATS_LANG_UN_LIMITED}>
                <{/if}>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_BANNERSTATS_LANG_IMPMADE}></td>
            <td><{$object->getShow('impmade')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_BANNERSTATS_LANG_CLICKS}></td>
            <td><{$object->getShow('clicks')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_BANNERSTATS_LANG_IMAGEURL}></td>
            <td><{$object->getShow('imageurl')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_BANNERSTATS_LANG_CLICKURL}></td>
            <td><{$object->getShow('clickurl')}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_BANNERSTATS_LANG_DATE}></td>
            <td><{$object->get('date')|xoops_formattimestamp}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_BANNERSTATS_LANG_HTMLBANNER}></td>
            <td><{if $object->getShow('htmlbanner') ==1}><{$smarty.const._YES}><{else}><{$smarty.const._NO}><{/if}></td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_BANNERSTATS_LANG_HTMLCODE}></td>
            <td><{$object->getShow('htmlcode')}></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">
                <input class="button cancel" type="submit" value="<{$smarty.const._BACK}>" name="_form_control_cancel">
                <button class="button delete" type="submit" value=""><img class="svg" src="<{'icons/icon-delete.svg'|theme}>" alt="delete"> <{$smarty.const._DELETE}></button>
            </td>
        </tr>
        </tfoot>
    </table>
</form>
