<h2><{$pageTitle}></h2>

<div class="tips"><{$pageDescription}></div>

<{if $bannerstats_success_messages}>
  <div class="success">
    <ul>
      <{foreach item=msg from=$bannerstats_success_messages}>
        <li><{$msg}></li>
      <{/foreach}>
    </ul>
  </div>
<{/if}>

<{if $bannerstats_error_messages}>
  <div class="danger">
    <ul>
      <{foreach item=msg from=$bannerstats_error_messages}>
        <li><{$msg}></li>
      <{/foreach}>
    </ul>
  </div>
<{/if}>

<{if $bannerstats_warning_messages}>
  <div class="warning">
    <ul>
      <{foreach item=msg from=$bannerstats_warning_messages}>
        <li><{$msg}></li>
      <{/foreach}>
    </ul>
  </div>
<{/if}>

<form action="index.php?action=BannerEmailTest" method="post">
  <{xoops_token form=$actionForm}>
  <{xoops_input type=hidden name="bid" value=$actionForm->get('bid')}>
  
  <div data-layout="row sm-column">
  <div data-self="size-1of2 sm-full">
    <div class="tips">

    <{if $activeBanners}>
      <label for="banner-active">Select an active banner</label>
      <select name="banner-active" onchange="document.getElementById('bid').value = this.value;">
        <option value="">-- SELECT_BANNER</option>
        <{foreach item=banner from=$activeBanners}>
          <option value="<{$banner->get('bid')}>"><{$banner->getShow('name')|escape}> (ID: <{$banner->get('bid')}>)</option>
        <{/foreach}>
      </select>
    <{/if}>
    <br />
    <label for="bid">Or specify a banner id</label>
    <input type="number" id="bid" name="bid" value="<{$actionForm->get('bid')}>">

    </div>
  </div>
  <div data-self="size-1of2 sm-full">
    <div class="confirm">

    <label for="email_type">Select Email Type</label>
    <select id="email_type" name="email_type">
      <{foreach from=$emailTypes key=typeKey item=typeName}>
        <option value="<{$typeKey}>" <{if $actionForm->get('email_type') == $typeKey}>selected<{/if}>> <{$typeName}></option>
      <{/foreach}>
    </select>
    <br />
    <button type="submit">SEND EMAIL</button>
    </div>
  </div>
</div> 
</form>
