<{* set tab inbox to active *}>
<{assign var="inboxSettings" value="ui-tabs-active ui-state-active"}>

<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<nav aria-label="breadcrumb">
<ul>
    <li><a href="<{$xoops_url}>/"><img class="svg" src="<{$xoops_url}>/images/icons/home.svg" width="1em" height="1em" alt="home"></a></li>
    <li><a href="index.php"><img class="svg" src="<{$xoops_url}>/images/icons/inbox.svg" width="1em" height="1em" alt="inbox"> <span data-self="sm-hide"><{$smarty.const._MI_MESSAGE_NAME}></span></a></li>
    <li aria-current="page"><{$smarty.const._MD_MESSAGE_SETTINGS}></li>
</ul>
</nav>


<article id="mail-settings">

    <header>
        <{include file=db:message_nav.html}>
    </header>

    <div class="alert warning">
        <p><{$smarty.const._MI_MESSAGE_SAVEDAYS}> &#9203; <span class="badge badge-warning"><{$purgedays}></span> days &#128293;</p>
        <{if $purgetype == 1}>
            <p><{$smarty.const._MI_MESSAGE_DELTYPE_DESC}></p>
        <{/if}>
    </div>

    <hr>

    <form action="index.php?action=settings" method="post">
        <{xoops_token form=$mActionForm}>

    <div class="grid-left">
        <div>
            <{$smarty.const._MD_MESSAGE_SETTINGS_MSG1}>
        </div>
        <div>
            <{xoops_input type=radio name=usepm default=$mActionForm->get('usepm') value=1}>
                <label for="legacy_xoopsform_usepm_1"><{$smarty.const._YES}></label>

            <{xoops_input type=radio name=usepm default=$mActionForm->get('usepm') value=0}>
                <label for="legacy_xoopsform_usepm_0"><{$smarty.const._NO}></label>
        </div>
    </div>

    <div class="grid-left">
        <div>
            <{$smarty.const._MD_MESSAGE_SETTINGS_MSG2}>
        </div>
        <div>
            <{xoops_input type=radio class="custom-control-input" name=tomail default=$mActionForm->get('tomail') value=1}>
            <label for="legacy_xoopsform_tomail_1"><{$smarty.const._YES}></label>
            <{xoops_input type=radio class="custom-control-input" name=tomail default=$mActionForm->get('tomail') value=0}>
            <label for="legacy_xoopsform_tomail_0"><{$smarty.const._NO}></label>
        </div>
    </div>

    <div class="grid-left">
        <div>
            <{$smarty.const._MD_MESSAGE_SETTINGS_MSG7}>
        </div>
        <div>
            <{xoops_input type=radio class="custom-control-input" name=viewmsm default=$mActionForm->get('viewmsm') value=1}>
            <label for="legacy_xoopsform_viewmsm_1"><{$smarty.const._YES}></label>
            <{xoops_input type=radio class="custom-control-input" name=viewmsm default=$mActionForm->get('viewmsm') value=0}>
            <label for="legacy_xoopsform_viewmsm_0"><{$smarty.const._NO}></label>
        </div>
    </div>

    <div class="grid-left">
        <div>
            <{$smarty.const._MD_MESSAGE_SETTINGS_MSG8}><br>
        </div>
        <div>
            <label for="pagenum">
                <input type="number" id="pagenum" name="pagenum" value="<{$mActionForm->get('pagenum')}>">
                <small>⚠ <{$smarty.const._MD_MESSAGE_SETTINGS_MSG9}></small>
            </label>
        </div>
    </div>

    <hr>

    <div class="grid-left">
        <div>
            <{$smarty.const._MD_MESSAGE_SETTINGS_MSG10}><br>
            <a role="button" class="outline" href="index.php?action=blacklist" style="display:ruby-text;">
                <img class="svg view" src="<{$xoops_url}>/images/icons/view.svg"> <{$smarty.const._MD_MESSAGE_SETTINGS_MSG18}></a>
        </div>
        <div>
            <{$smarty.const._MD_MESSAGE_SETTINGS_MSG11}><br>
            <{xoops_input type=text class="form-control" name=blacklist value=$mActionForm->get('blacklist') maxlength=191 size=40}><br>
        </div>
    </div>

    <hr>

    <footer class="action-control">
        <div>
            <{legacy_button id=Submit role="button" class="submit" Text=$smarty.const._SUBMIT}>
        </div>
    </footer>

    </form>

</article>

<script type="text/javascript">
    $( function() {
        var spinner = $("#pagenum").spinner({
            min: 0,
            max: 20,
            step: 1,
            corners: false,
            incremental: false,
            create: function (event, ui) {
                $(this).width(55);
            },
            classes: {
                "ui-spinner": "ui-borderno",
                "ui-spinner-button": "ui-borderno",
            }
        }).val()
        $( "#pagenum" ).spinner().removeClass('ui-corner-all ui-corner-tr ui-corner-br');

     })
</script>
