<{strip}>

<{assign var="mydirurl" value=$block.mydirurl}>
<{assign var="mydirname" value=$block.mydirname}>
<{assign var="mod_config" value=$block.mod_config}>

<{foreach item=fullstory from=$block.fullstories}>
  <{include file="db:`$block.mydirname`_item.html" story=$fullstory}>
  <br />
<{/foreach}>
<{if !empty($block.stories) }>
<ul>
  <{foreach item=story from=$block.stories}>
  <li>
  <{if $story.type == 0}>
    <a href="<{$mydirurl}>/index.php?page=submit&amp;storyid=<{$story.id}>" title="<{$smarty.const._MD_APPROVE}>">[*]</a>
  <{/if}>
  <a href="<{$mydirurl}>/index.php?page=article&amp;storyid=<{$story.id}>" title="<{$story.title}>"><{$story.title}></a>
  <{if strstr( $block.type , "counter" )}>
    (<{$story.hits}>)
  <{else}>
    (<{$story.date}>)
  <{/if}>
  </li>
  <{/foreach}>
</ul>
<{/if}>
<{/strip}>