<div class="d3pipes_admin_cache" id="<{$mydirname}>_admin_cache">

	<h2><{$mod_name}> - <{$smarty.const._MD_A_D3PIPES_H2_CACHEADMIN}></h2>

	<form action="<{$mod_url}>/admin/index.php?page=cache" method="post">

		<div class="head" style="margin: 12px;">
			<{$smarty.const._MD_A_D3PIPES_LABEL_DELETEFSCACHE}>:
			<input type="submit" name="do_deletefetchcache" value="<{$smarty.const._MD_A_D3PIPES_BTN_EXECUTE}>" />
		</div>

		<div class="head" style="margin: 12px;">
			<{$smarty.const._MD_A_D3PIPES_LABEL_CLEARLASTFETCH}>:
			<input type="submit" name="do_clearlastfetch" value="<{$smarty.const._MD_A_D3PIPES_BTN_EXECUTE}>" />
		</div>

	</form>

</div>
