<section class="center-block-bottom">
    <div class="container px-md-5 my-md-5">
        <div class="row gx-4 gy-4">
            <div class="col-12">
                <{* ---------- BLOCK Center-Center *}>
                <{foreach item=block from=$xoops_ccblocks}>
                <{if $block.title|strstr:"bottom-" and !$block.title|strstr:"admin"}>
                <div class="card shadow-sm border-0 mb-4 block-center-center b-<{$block.weight}>">
                    <div class="card-header">
                        <h5 class="block-title d-flex justify-content-between">
                            <{if $xoops_isadmin}>
                            <{$block.title|replace:'bottom-':' '}>
                            <{include file="$xoops_theme/component/_inc_block_edit.html"}>
                            <{else}>
                            <{if !$block.title|strstr:"none"}><{$block.title|replace:'bottom-':' '}><{/if}>
                            <{/if}>
                        </h5>
                    </div>
                    <div class="card-body block-content">
                        <{$block.content}>
                    </div>
                </div>
                <{/if}>
                <{/foreach}>
            </div>
            <div class="col-lg-6">
                <{* ---------- BLOCK Center-Left *}>
                <{foreach item=block from=$xoops_clblocks}>
                <{if $block.title|strstr:"bottom-" and !$block.title|strstr:"admin"}>
                <div class="card shadow-sm border-0 mb-4 block-center-left b-<{$block.weight}>">
                    <div class="card-header">
                        <h5 class="block-title d-flex justify-content-between">
                            <{if $xoops_isadmin}>
                            <{$block.title|replace:'bottom-':' '}>
                            <{include file="$xoops_theme/component/_inc_block_edit.html"}>
                            <{else}>
                            <{if !$block.title|strstr:"none"}><{$block.title|replace:'bottom-':' '}><{/if}>
                            <{/if}>
                        </h5>
                    </div>
                    <div class="card-body block-content">
                        <{$block.content}>
                    </div>
                </div>
                <{/if}>
                <{/foreach}>
            </div>
            <div class="col-lg-6">
                <{* ---------- BLOCK Center-Right *}>
                <{foreach item=block from=$xoops_crblocks}>
                <{if $block.title|strstr:"bottom-" and !$block.title|strstr:"admin"}>
                <div class="card shadow-sm border-0 mb-4 block-center-right b-<{$block.weight}>">
                    <div class="card-header">
                        <h5 class="block-title d-flex justify-content-between">
                            <{if $xoops_isadmin}>
                            <{$block.title|replace:'bottom-':' '}>
                            <{include file="$xoops_theme/component/_inc_block_edit.html"}>
                            <{else}>
                            <{if !$block.title|strstr:"none"}><{$block.title|replace:'bottom-':' '}><{/if}>
                            <{/if}>
                        </h5>
                    </div>
                    <div class="card-body block-content">
                        <{$block.content}>
                    </div>
                </div>
                <{/if}>
                <{/foreach}>
            </div>
        </div>
      </div>
</section>
