<button class="theme-options border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
    <div class="qube-perspective">
        <ul class="qube xcl-cube">
            <li class="front">X
            <li class="left">L
            <li class="back">C
            <li class="right">L
            <li class="top">
            <li class="bottom">
        </ul>
    </div>
</button>
<div class="offcanvas offcanvas-end offcanvas-box-shadow" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">
            <{if $xoops_dirname}>
            <img class="svg" src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/module_icon.svg" width="1em" height="1em" alt="icon">
            <{$xoops_dirname|ucfirst}>
             <{else}>
            <img class="svg" src="<{$xoops_url}>/images/icons/home.svg" width="1em">
            <{$smarty.const._YOURHOME}>
            <{/if}>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="m-4">

            <{* ------- SWITCH THEME COLOR-MODE *}>
            <div class="mb-3 p-3 rounded" style="color: var(--bs-primary-text); background: var(--bs-dark-bg-subtle);">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="theme-select">Block-right Title prefix "panel-"</label>
                </div>
            </div>


            <{* ------- BLOCK-RIGHT PANEL
                Only renders blocks with prefix "panel-" in block-title *}>

            <{foreach item=block from=$xoops_rblocks}>
            <{if $block.title|strstr:"panel-"}>
            <div class="block-right b-<{$block.weight}> my-4">
                <h4 data-layout="row center-justify" class="block-title d-flex justify-content-between">
                    <{* REMOVE 'panel-' FROM BLOCK-TITLE *}>
                    <{if $xoops_isadmin}>
                    <{$block.title|replace:'panel-':' '}>
                    <{include file="$xoops_theme/component/_inc_block_edit.html"}>
                    <{else}>
                    <{if !$block.title|strstr:"none"}><{$block.title|replace:'panel-':' '}><{/if}>
                    <{/if}>
                </h4>
                <div class="block-content"><{$block.content}></div>
            </div>
            <{/if}>
            <{/foreach}>

            <{* ------- ADMIN PREVIEW ----- *}>
            <{if $xoops_isadmin}>
            <h5>Preview Layout</h5>
            <div class="d-flex flex-row btn-group my-3" role="group" aria-label="Preview">
                <button type="button" class="btn btn-primary btn-sm" data-tooltip="Screen 736x414" href="<{$xoops_url}>/" target="_blank" onclick="window.open('<{$xoops_url}>/','pagename','resizable,height=700,width=400'); return false;">
                    <svg xmlns="https://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 576 1024"><path d="M480 0H96Q70 0 48 13T13 48 0 96v832q0 40 28 68t68 28h384q40 0 68-28t28-68V96q0-26-13-48t-35-35-48-13zm32 928q0 13-9.5 22.5T480 960H96q-13 0-22.5-9.5T64 928V96q0-13 9.5-22.5T96 64h384q13 0 22.5 9.5T512 96v832zM288.5 800q-26.5 0-45.5 19t-19 45q0 17 8.5 32t23.5 23.5 32 8.5 32-8.5 23.5-23.5 8.5-32q0-26-18.5-45t-45-19zM352 96H224q-13 0-22.5 9.5T192 128t9.5 22.5T224 160h128q13 0 22.5-9.5T384 128t-9.5-22.5T352 96z" fill="currentColor"></path></svg>
                </button>

                <button type="button" class="btn btn-primary btn-sm" data-tooltip="Screen 1024x768" href="<{$xoops_url}>/" onclick="window.open('<{$xoops_url}>/','pagename','resizable,height=1024,width=768'); return false;">
                    <svg xmlns="https://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 832 1024"><path d="M736 0H96Q70 0 48 13T13 48 0 96v832q0 40 28 68t68 28h640q40 0 68-28t28-68V96q0-26-13-48t-35-35-48-13zm32 928q0 13-9.5 22.5T736 960H96q-13 0-22.5-9.5T64 928V96q0-13 9.5-22.5T96 64h640q13 0 22.5 9.5T768 96v832zM416 800q-26 0-45 19t-19 45 19 45 45 19 45-19 19-45q0-17-8.5-32T448 808.5t-32-8.5zm64-704H352q-13 0-22.5 9.5T320 128t9.5 22.5T352 160h128q13 0 22.5-9.5T512 128t-9.5-22.5T480 96z" fill="currentColor"></path></svg>
                </button>

                <button type="button" class="btn btn-primary btn-sm" data-tooltip="Target Blank" href="<{$xoops_url}>/" target="_blank" onclick="window.open('<{$xoops_url}>/'); return false;">
                    <svg xmlns="https://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 -64 1024 1024"><path d="M960 32H64q-26 0-45 18.5T0 96v544q0 26 19 45t45 19h416v96H320q-13 0-22.5 9.5T288 832t9.5 22.5T320 864h384q13 0 22.5-9.5T736 832t-9.5-22.5T704 800H544v-96h416q26 0 45-19t19-45V96q0-27-19-45.5T960 32zm0 608H64V96h896v544z" fill="currentColor"></path></svg>
                </button>
            </div>
            <{/if}>

        </div>

    </div>
</div>
