<style>
section.dream {
  width: 100vw;
  height: 65vh;
  margin: 0;
  padding:0;
  position: relative;
  overflow: hidden;
}
section.dream div h1 {
  position: relative;
  top: 1rem;
  font-size: 7rem;
  font-weight: 700;
  z-index: 110;
  letter-spacing: -5px;
  color: white;
  mix-blend-mode: overlay;
}
section.dream > div {
  width: 100vw;
  background: rgb(0 0 0);
  position: relative;
}

@layer tokens {
  :root {
    --color-primary: rgba(220, 219, 219, 0.78);
    --color-surface: rgb(36 36 37 / 5%);;
    --time: 24s;
  }
}
@property --shadow-color {
  syntax: "<color>";
  initial-value: transparent;
  inherits: true;
}

/* star anim */
@layer stars {

  .stars {
    position: absolute;
    width: 100vmax;
    height: 100vmax;
  }
  .stars:before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    filter: url(#stars) saturate(0) brightness(1.5);
    mix-blend-mode: overlay;
    opacity: 0.25;
    -webkit-animation: stars-animation 20s ease-in-out infinite;
            animation: stars-animation 20s ease-in-out infinite;
  }
  .stars-highlights {
    position: absolute;
    width: 100vw;
    height: 70vh;
    opacity: 1;
  }
  .stars-highlights:before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    filter: url(#stars-highlights) saturate(0) brightness(1.5);
    mix-blend-mode: lighten;
    opacity: 0.5;
    -webkit-animation: stars-animation-2 20s ease-in-out infinite;
            animation: stars-animation-2 20s ease-in-out infinite;
  }

  @-webkit-keyframes stars-animation {
    from {
      translate: 1vmin 2vmin;
      rotate: 0deg;
    }
    30% {
      translate: 1vmin -2vmin;
    }
    50% {
      translate: -1vmin 2vmin;
      rotate: 10deg;
    }
    to {
      translate: 1vmin 2vmin;
      rotate: 0deg;
    }
  }

  @keyframes stars-animation {
    from {
      translate: 1vmin 2vmin;
      rotate: 0deg;
    }
    30% {
      translate: 1vmin -2vmin;
    }
    50% {
      translate: -1vmin 2vmin;
      rotate: 10deg;
    }
    to {
      translate: 1vmin 2vmin;
      rotate: 0deg;
    }
  }
  @-webkit-keyframes stars-animation-2 {
    from {
      translate: 1vmin -2vmin;
    }
    30% {
      translate: -1vmin -2vmin;
    }
    50% {
      translate: 1vmin -2vmin;
    }
    to {
      translate: 1vmin -2vmin;
    }
  }
  @keyframes stars-animation-2 {
    from {
      translate: 1vmin -2vmin;
    }
    30% {
      translate: -1vmin -2vmin;
    }
    50% {
      translate: 1vmin -2vmin;
    }
    to {
      translate: 1vmin -2vmin;
    }
  }
  .startails {
    position: absolute;
    inset: 0;
    opacity: 0.6;
  }
  .startails > div {
    --distance: 20vmax;
    border-radius: 50%;
    width: 0.55vmax;
    aspect-ratio: 3/1;
    background: white;
    translate: calc(var(--x) * 100vw) calc(var(--y) * 100vh);
    opacity: 0;
    -webkit-animation: startails-animation 10s calc(var(--delay) * var(--time) * 6) linear infinite;
            animation: startails-animation 10s calc(var(--delay) * var(--time) * 6) linear infinite;
    box-shadow: 0 0 0.2vmax white;
  }
  .startails > div:nth-of-type(1) {
    --x: 0.52;
    --y: 0.26;
    --x2: -0.12;
    --y2: 0.10;
    --delay: 0.60;
  }
  .startails > div:nth-of-type(2) {
    --x: 0.04;
    --y: 0.53;
    --x2: -0.29;
    --y2: -0.038;
    --delay: 0.38; 
  }
  .startails > div:nth-of-type(3) {
    --x: 0.77;
    --y: 0.54;
    --x2: -0.40;
    --y2: 0.10;
    --delay: 0.65;
  }
  .startails > div:nth-of-type(4) {
    --x: 0.74;
    --y: 0.30;
    --x2: 0.44;
    --y2: 0.026;
    --delay: 0.70;
  }
  .startails > div:nth-of-type(5) {
    --x: 0.23;
    --y: 0.31;
    --x2: -0.18;
    --y2: 0.08;
    --delay: 0.02;
  }
  .startails > div:nth-of-type(6) {
    --x: 0.36;
    --y: 0.77;
    --x2: 0.03;
    --y2: -0.47;
    --delay: 0.36;
  }
  .startails > div:nth-of-type(7) {
    --x: 0.55;
    --y: 0.45;
    --x2: -0.36;
    --y2: -0.08;
    --delay: 0.10;
  }
  .startails > div:nth-of-type(8) {
    --x: 0.27;
    --y: 0.31;
    --x2: 0.12;
    --y2: 0.16;
    --delay: 0.07;
  }
  .startails > div:nth-of-type(9) {
    --x: 0.07;
    --y: 0.15;
    --x2: 0.48;
    --y2: -0.45;
    --delay: 0.80;
  }
  .startails > div:nth-of-type(10) {
    --x: 0.58;
    --y: 0.95;
    --x2: -0.21;
    --y2: -0.14;
    --delay: 0.65;
  }
  .startails > div:nth-of-type(11) {
    --x: 0.43;
    --y: 0.27;
    --x2: -0.34;
    --y2: -0.01;
    --delay: 0.44;
  }
  .startails > div:nth-of-type(12) {
    --x: 0.05;
    --y: 0.59;
    --x2: 0.01;
    --y2: 0.35;
    --delay: 0.87;
  }
  .startails > div:nth-of-type(13) {
    --x: 0.19;
    --y: 0.53;
    --x2: -0.04;
    --y2: 0.28;
    --delay: 0.14;
  }
  .startails > div:nth-of-type(14) {
    --x: 0.90;
    --y: 0.76;
    --x2: 0.19;
    --y2: 0.14;
    --delay: 0.60;
  }
  .startails > div:nth-of-type(15) {
    --x: 0.42;
    --y: 0.60;
    --x2: -0.12;
    --y2: 0.25;
    --delay: 0.24;
  }
  .startails > div:nth-of-type(16) {
    --x: 0.05;
    --y: 0.50;
    --x2: -0.39;
    --y2: -0.01;
    --delay: 0.97;
  }
  .startails > div:nth-of-type(17) {
    --x: 0.09;
    --y: 0.65;
    --x2: 0.11;
    --y2: -0.32;
    --delay: 0.14;
  }
  .startails > div:nth-of-type(18) {
    --x: 0.37;
    --y: 0.26;
    --x2: 0.12;
    --y2: 0.23;
    --delay: 0.22;
  }
  .startails > div:nth-of-type(19) {
    --x: 0.2158;
    --y: 0.398;
    --x2: -0.1494;
    --y2: 0.0340;
    --delay: 0.1255;
  }
  .startails > div:nth-of-type(20) {
    --x: 0.3735;
    --y: 0.7355;
    --x2: 0.2685;
    --y2: 0.1477;
    --delay: 0.5884;
  }

  @-webkit-keyframes startails-animation {
    from {
      opacity: 1;
      translate: calc(var(--x) * 100vw) calc(var(--y) * 100vh);
      scale: 0.9;
    }
    2% {
      scale: 0.4;
    }
    5% {
      translate: calc(var(--x) * 100vw + var(--y2) * var(--distance)) calc(var(--y) * 100vh + var(--x2) * var(--distance));
      opacity: 0;
      scale: 1;
    }
    to {
      translate: calc(var(--x) * 100vw + var(--y2) * var(--distance)) calc(var(--y) * 100vh + var(--x2) * var(--distance));
      scale: 1;
      opacity: 0;
    }
  }

  @keyframes startails-animation {
    from {
      opacity: 1;
      translate: calc(var(--x) * 100vw) calc(var(--y) * 100vh);
      scale: 0.9;
    }
    2% {
      scale: 0.4;
    }
    5% {
      translate: calc(var(--x) * 100vw + var(--y2) * var(--distance)) calc(var(--y) * 100vh + var(--x2) * var(--distance));
      opacity: 0;
      scale: 1;
    }
    to {
      translate: calc(var(--x) * 100vw + var(--y2) * var(--distance)) calc(var(--y) * 100vh + var(--x2) * var(--distance));
      scale: 1;
      opacity: 0;
    }
  }
}

    /* scene */
    @layer scene {
      .scene {
        display: grid;
        place-items: center;
        position: absolute;
        -webkit-animation: scene-zoom-in-out var(--time) ease-in-out infinite;
                animation: scene-zoom-in-out var(--time) ease-in-out infinite;
        transform-style: preserve-3d;
      }
    
      @-webkit-keyframes scene-zoom-in-out {
        from {
          transform: scale(0.9);
        }
        50% {
          transform: scale(1);
        }
        to {
          transform: scale(0.9);
        }
      }
    
      @keyframes scene-zoom-in-out {
        from {
          transform: scale(0.9);
        }
        50% {
          transform: scale(1);
        }
        to {
          transform: scale(0.9);
        }
      }
    }
    @property --space {
      syntax: "<length>";
      initial-value: 0;
      inherits: true;
    }

    /* cuboid */
    @layer cuboid {
      .cuboid {
        position: absolute;
        transform-style: preserve-3d;
        transform: rotateY(312deg) rotateX(350deg) rotateZ(10deg) translateY(10vh);
        --size: 8vmax;
        --size-h: calc(var(--size) / 2);
        --size-h-n: calc(var(--size) / -2);
      }
      .cuboid .top {
        width: var(--size);
        aspect-ratio: 1;
        background: linear-gradient(135deg, #e8dbdd, #989699);
        transform-style: preserve-3d;
        transform: rotateX(90deg) translateZ(var(--size-h-n));
        opacity: 0.9;
      }
      .cuboid .front {
        width: var(--size);
        aspect-ratio: 1/2;
        background: linear-gradient(#5f595d, transparent 60%);
        opacity: 0.5;
        transform: translateZ(var(--size-h));
        position: absolute;
      }
      .cuboid .right {
        width: var(--size);
        aspect-ratio: 1/2;
        background: linear-gradient(#5f595d 10%, transparent 90%);
        transform: translate3d(var(--size-h), 0, 0) rotateY(90deg);
        position: absolute;
        opacity: 0.7;
        -webkit-mask: radial-gradient(150% 120% at 0% 0%, black, transparent);
                mask: radial-gradient(150% 120% at 0% 0%, black, transparent);
      }
      .cuboid .outline {
        --space: 0vmax;
        --space-h: calc(var(--size) / 2);
        position: absolute;
        width: var(--size);
        aspect-ratio: 1;
        border: 0.0125vmax solid white;
        transition: all 3s ease-in-out;
        translate: calc(-50% + var(--space-h)) calc(-50% + var(--space-h));
        padding: var(--space);
        --duration: 16s;
        -webkit-animation: outline-animation var(--duration) 0s cubic-bezier(0.68, 0.27, 0.26, 0.91) infinite;
                animation: outline-animation var(--duration) 0s cubic-bezier(0.68, 0.27, 0.26, 0.91) infinite;
        opacity: 0;
        box-shadow: inset 0 0 0.5vmax rgba(255, 255, 255, 0.4), 0 0 0.5vmax rgba(255, 255, 255, 0.4);
        --initial-space: var(--size-h);
      }
      .cuboid .outline:nth-of-type(2) {
        -webkit-animation-delay: calc(var(--duration) / 4);
                animation-delay: calc(var(--duration) / 4);
      }
      .cuboid .outline:nth-of-type(3) {
        -webkit-animation-delay: calc(var(--duration) / 4 * 2);
                animation-delay: calc(var(--duration) / 4 * 2);
      }
      .cuboid .outline:nth-of-type(4) {
        -webkit-animation-delay: calc(var(--duration) / 4 * 3);
                animation-delay: calc(var(--duration) / 4 * 3);
      }
    
      @-webkit-keyframes outline-animation {
        from {
          --space: var(--initial-space, 0vmax);
          opacity: 0;
          filter: blur(0vmax);
        }
        5% {
          opacity: 0.2;
        }
        40% {
          opacity: 0.5;
        }
        60% {
          opacity: 0.05;
          filter: blur(0vmax);
        }
        80% {
          opacity: 0;
        }
        to {
          --space: calc(var(--initial-space, 0vmax) + 25vmax);
          opacity: 0;
          filter: blur(0.6vmax);
        }
      }
    
      @keyframes outline-animation {
        from {
          --space: var(--initial-space, 0vmax);
          opacity: 0;
          filter: blur(0vmax);
        }
        5% {
          opacity: 0.2;
        }
        40% {
          opacity: 0.5;
        }
        60% {
          opacity: 0.05;
          filter: blur(0vmax);
        }
        80% {
          opacity: 0;
        }
        to {
          --space: calc(var(--initial-space, 0vmax) + 25vmax);
          opacity: 0;
          filter: blur(0.6vmax);
        }
      }
    }

    /* planets */
    @layer planets {
      @property --moon-angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: true;
      }
      @-webkit-keyframes moon-animation {
        from {
          --moon-angle: 180deg;
        }
        50% {
          --moon-angle: 200deg;
        }
        to {
          --moon-angle: 180deg;
        }
      }
      @keyframes moon-animation {
        from {
          --moon-angle: 180deg;
        }
        50% {
          --moon-angle: 200deg;
        }
        to {
          --moon-angle: 180deg;
        }
      }
      .sun {
        border-radius: 50%;
        width: 25vmax;
        aspect-ratio: 1;
        background: radial-gradient(circle at 60% 60%, #f6f6f6, #e8dbdd, #d9d9d9);
        position: absolute;
        transform: translateY(-20vmax);
        box-shadow: 0 0 14vmax rgba(255, 255, 255, 0.5), 0 0 22vmax rgba(255, 255, 255, 0.05), 0 0 42vmax rgba(255, 255, 255, 0.4);
        transform-style: preserve-3d;
      }
      /* planets motion */
      .planet {
        border-radius: 50%;
        width: 14vmax;
        aspect-ratio: 1;
        background: radial-gradient(90% 90% at 60% 55%, #252525, #2a2f33 52%, #ede9ea 62%), #ede9ea;
        position: absolute;
        --r: 15vmax;
        --y: calc(-10vmax + sin(var(--moon-angle)) * var(--r));
        --z: calc(cos(var(--moon-angle)) * var(--r) * -1);
        transform: translateY(var(--y)) translateX(10vmax) translateZ(var(--z));
        -webkit-animation: moon-animation var(--time) ease-in-out infinite;
                animation: moon-animation var(--time) ease-in-out infinite;
        box-shadow: 0 0 2.5vmax rgba(255, 255, 255, 0.12);
        filter: blur(0.05vmax);
        transform-style: preserve-3d;
      }
    
      .planet-2 {
        transform-style: preserve-3d;
        border-radius: 50%;
        width: 12vmax;
        aspect-ratio: 1;
        background: radial-gradient(90% 90% at 60% 55%, #e3e3e3, #d2c6c8 52%, #212528 62%, transparent 82%);
        position: absolute;
        transform: translateY(-25vmax) translateX(-60vmax) translateZ(-55vmax);
        -webkit-animation: moon-animation var(--time) ease-in-out infinite;
                animation: moon-animation var(--time) ease-in-out infinite;
      }
    
      .planet-3 {
        transform-style: preserve-3d;
        border-radius: 50%;
        width: 2vmax;
        aspect-ratio: 1;
        background: radial-gradient(90% 90% at 70% 50%, #eeeeee 16%, #b7aeb0 38%, #3c4144 52%, #2d3134 60%, transparent 82%);
        position: absolute;
        transform: translateY(-4vmax) translateX(-10vmax);
        opacity: 0.7;
      }
    
      .planet-4 {
        transform-style: preserve-3d;
        border-radius: 50%;
        width: 1vmax;
        aspect-ratio: 1;
        background: radial-gradient(90% 90% at 70% 50%, #d0d0d0, #b7aeb0 38%, #121415 52%, #131617 60%, transparent 82%);
        position: absolute;
        transform: translateY(-12vmax) translateX(40vmax) translateZ(-30vmax);
        opacity: 0.5;
      }
    
      .planet-5 {
        transform-style: preserve-3d;
        border-radius: 50%;
        width: 10vmax;
        aspect-ratio: 1;
        background: radial-gradient(90% 90% at 30% 55%, #797777, #515051 52%, #212528 62%, transparent 82%);
        position: absolute;
        transform: translateY(-20vmax) translateX(55vmax) translateZ(-32vmax);
        -webkit-clip-path: circle();
                clip-path: circle();
        -webkit-animation: moon-animation var(--time) ease-in-out infinite;
                animation: moon-animation var(--time) ease-in-out infinite;
        --animation: move-to-left calc(var(--time) * 6) ease-in-out infinite;
      }
      .planet-5 .structure-1 {
        position: absolute;
        inset: -20vmax;
        filter: url(#planet-structure) saturate(0);
        mix-blend-mode: lighten;
        opacity: 0.4;
        transform: scale(4) translateX(1vmax);
        -webkit-animation: var(--animation);
                animation: var(--animation);
      }
      .planet-5 .structure-2 {
        position: absolute;
        inset: -20vmax;
        filter: url(#planet-structure) saturate(0);
        mix-blend-mode: lighten;
        opacity: 0.5;
        transform: scale(7.5);
        -webkit-animation: var(--animation);
                animation: var(--animation);
      }
      .planet-5 .structure-3 {
        position: absolute;
        inset: -20vmax;
        filter: url(#planet-structure) saturate(0);
        mix-blend-mode: lighten;
        opacity: 0.1;
        transform: scale(0.2) translateX(1vmax);
        -webkit-animation: var(--animation);
                animation: var(--animation);
      }
      .planet-5::after {
        content: "";
        position: absolute;
        inset: 0;
        background: radial-gradient(circle at 5% 20%, transparent 30%, #171a1c 60%);
      }
    
      @-webkit-keyframes move-to-left {
        from {
          translate: 0 0;
        }
        50% {
          translate: -100% 0;
        }
        to {
          translate: 0 0;
        }
      }
    
      @keyframes move-to-left {
        from {
          translate: 0 0;
        }
        50% {
          translate: -100% 0;
        }
        to {
          translate: 0 0;
        }
      }
      .planet-6 {
        transform-style: preserve-3d;
        border-radius: 50%;
        width: 7vmax;
        aspect-ratio: 1;
        background: radial-gradient(90% 90% at 30% 55%, #f3ecec, #7a7a7a 52%, #212528 72%, transparent);
        position: absolute;
        transform: translateY(-20vmax) translateX(-30vmax) translateZ(-44vmax);
        -webkit-animation: moon-animation var(--time) ease-in-out infinite;
                animation: moon-animation var(--time) ease-in-out infinite;
        display: grid;
        place-items: center;
      }
      .planet-6::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 12vmax;
        height: 1vmax;
        border: 1vmax solid #5e5e5e;
        box-shadow: inset 0 0 1rem black;
        transform: rotate(25deg);
        -webkit-mask: radial-gradient(circle at 50% -20%, transparent 30%, black);
                mask: radial-gradient(circle at 50% -20%, transparent 30%, black);
        -webkit-clip-path: ellipse(47% 22% at 50% 50%);
                clip-path: ellipse(47% 22% at 50% 50%);
        filter: blur(0.5vmax);
      }
      .planet-6::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 12vmax;
        height: 1vmax;
        border: 2.6vmax solid #43484c;
        box-shadow: inset 0 0 1rem black;
        transform: rotate(25deg);
        -webkit-mask: radial-gradient(circle at 50% -20%, transparent 30%, black);
                mask: radial-gradient(circle at 50% -20%, transparent 30%, black);
        -webkit-clip-path: ellipse(47% 22% at 50% 50%);
                clip-path: ellipse(47% 22% at 50% 50%);
      }
    
      /* planets */
      .planets,
    .planets-2 {
        position: absolute;
        inset: 0;
      }
      .planets > div,
    .planets-2 > div {
        --distance: 20vmax;
        border-radius: 50%;
        width: 1.6vmax;
        aspect-ratio: 1;
        background: radial-gradient(90% 90% at 70% 50%, #bbbaba, #888586 38%, #121415 52%, #131617 60%, transparent 82%);
        opacity: 0.5;
        filter: blur(0.1rem);
        translate: calc(var(--x)* 74vw) calc(var(--y)* 74vh);
      }
      .planets > div:nth-of-type(1),
    .planets-2 > div:nth-of-type(1) {
      --x: 0.29;
      --y: 0.55;
      --x2: -0.20;
      --y2: 0.28;
      --delay: 0.05;
      }
      .planets > div:nth-of-type(2),
    .planets-2 > div:nth-of-type(2) {
        --x: 0.05;
        --y: 0.50;
        --x2: -0.48;
        --y2: 0.05;
        --delay: 0.07;display:none;
      }

      .planets > div:nth-of-type(3),
    .planets-2 > div:nth-of-type(3) {
        --x: 0.95;
        --y: 0.68;
        --x2: 0.04;
        --y2: 0.35;
        --delay: 0.55;
      }
      .planets > div:nth-of-type(4),
    .planets-2 > div:nth-of-type(4) {
        --x: 0.85;
        --y: 0.22;
        --x2: -0.18;
        --y2: -0.07;
        --delay: 0.67;
      }

      .planets > div:nth-of-type(5),
    .planets-2 > div:nth-of-type(5) {
      --x: 0.43;
      --y: 0.18;
      --x2: -0.24;
      --y2: 0.30;
      --delay: 0.10;
      }
      .planets > div:nth-of-type(6),
    .planets-2 > div:nth-of-type(6) {
      --x: 0.46;
      --y: 0.51;
      --x2: -0.44;
      --y2: -0.12;
      --delay: 0.95;
      }
      .planets > div:nth-of-type(7),
    .planets-2 > div:nth-of-type(7) {
      --x: 1.15;
      --y: 0.10;
      --x2: 0.05;
      --y2: 0.07;
      --delay: 0.21;
      }

    }

    /* object */
    @layer object {
      .object {
        position: absolute;
        display: grid;
        display: none;
        place-items: center;
        transform: rotateY(45deg) translateZ(6vmax);
        translate: 5vmax 5vmax;
      }
      .object .body {
        position: absolute;
        display: grid;
        place-items: center;
        --content: "🏄‍♂️";
        --content: "🐋";
        font-size: 6vmax;
        color: initial;
        z-index: 111;
      }
      .object .body:before {
        content: var(--content);
        transform: scaleX(-1);
        filter: saturate(0) brightness(1.1) drop-shadow(0 0 1vmax rgba(0, 0, 0, 0.4));
        z-index: 111;
      }
      .object .body:after {
        content: var(--content);
        transform: scaleX(-1) scaleY(-1) translateY(2.5vmax);
        filter: saturate(0) brightness(0);
        -webkit-mask: linear-gradient(to bottom, transparent 60%, black 80%);
                mask: linear-gradient(to bottom, transparent 60%, black 80%);
        z-index: 115;
      }
    }

    /* human */
    @layer human {
      .human {
        position: absolute;
        display: grid;
        place-items: center;
        width: 6vmax;
        height: 14vmax;
        translate: 0 8vh;
        z-index: 11;
      }
      .human:not(.shadow) {
        filter: invert(0.04) drop-shadow(0 0 1.5vmax rgba(250, 250, 250, 0.6));
      }
      .human > div {
        position: absolute;
      }
      .human .head {
        background: white;
        width: 1.5vmax;
        height: 1.6vmax;
        border-radius: 50%;
        translate: 0.2vmax -6.2vmax;
        rotate: 355deg;
      }
      .human .head:before {
        content: "";
        position: absolute;
        background: white;
        width: 0.27vmax;
        height: 0.7vmax;
        border-radius: 50%;
        translate: 1.19vmax 0.5vmin;
        rotate: 136deg;
        -webkit-animation: head-nose calc(var(--time) / 4) ease-in-out infinite;
                animation: head-nose calc(var(--time) / 4) ease-in-out infinite;
      }
      @-webkit-keyframes head-nose {
        from {
          translate: 1.19vmax 0.5vmin;
        }
        50% {
          translate: 1.06vmax 0.5vmin;
        }
        to {
          translate: 1.19vmax 0.5vmin;
        }
      }
      @keyframes head-nose {
        from {
          translate: 1.19vmax 0.5vmin;
        }
        50% {
          translate: 1.06vmax 0.5vmin;
        }
        to {
          translate: 1.19vmax 0.5vmin;
        }
      }
      .human .head:after {
        content: "";
        position: absolute;
        background: white;
        width: 1.1vmax;
        height: 0.9vmax;
        border-radius: 50%;
        translate: 0.45vmax 0.66vmax;
        rotate: 45deg;
        -webkit-animation: head-chin calc(var(--time) / 4) ease-in-out infinite;
                animation: head-chin calc(var(--time) / 4) ease-in-out infinite;
      }
      @-webkit-keyframes head-chin {
        from {
          translate: 0.45vmax 0.66vmax;
        }
        50% {
          translate: 0.2vmax 0.66vmax;
        }
        to {
          translate: 0.45vmax 0.66vmax;
        }
      }
      @keyframes head-chin {
        from {
          translate: 0.45vmax 0.66vmax;
        }
        50% {
          translate: 0.2vmax 0.66vmax;
        }
        to {
          translate: 0.45vmax 0.66vmax;
        }
      }
      .human .neck {
        background: white;
        width: 0.8vmax;
        height: 1.5vmax;
        border-radius: 50%;
        translate: 0.2vmax -5.4vmax;
      }
      .human .neck:before {
        content: "";
        position: absolute;
        width: 0.3vmax;
        height: 1.5vmax;
        background: white;
        border-radius: 50%;
        translate: 0.6vmax 0.4vmax;
        rotate: 352deg;
      }
      .human .body {
        z-index: 11;
      }
      .human .body > div {
        position: absolute;
      }
      .human .body .shoulder:before {
        content: "";
        position: absolute;
        width: 1.3vmax;
        height: 0.5vmax;
        background: white;
        border-radius: 50%;
        translate: -1.1vmax -5vmax;
        rotate: 330deg;
      }
      .human .body .shoulder:after {
        content: "";
        position: absolute;
        width: 1.3vmax;
        height: 0.5vmax;
        background: white;
        border-radius: 50%;
        translate: 0.4vmax -4.9vmax;
        rotate: 24deg;
      }
      .human .body .back {
        width: 1.3vmax;
        height: 4.1vmax;
        background: #fafafa;
        border-radius: 20%;
        translate: -0.2vmax -4.9vmax;
        rotate: 357deg;
      }
      .human .body .back:before {
        content: "";
        position: absolute;
        width: 2.9vmax;
        height: 1.5vmax;
        background: #fafafa;
        border-radius: 50%;
        translate: -1.4vmax 0.7vmax;
        rotate: 69deg;
        z-index: -1;
      }
      .human .body .back:after {
        content: "";
        position: absolute;
        width: 2.6vmax;
        height: 1vmax;
        background: #fafafa;
        border-radius: 50%;
        translate: 0.1vmax 1.1vmax;
        rotate: 96deg;
      }
      .human .body .hip .center {
        position: absolute;
        width: 1.6vmax;
        height: 1.8vmax;
        background: radial-gradient(white, #f5f5f5);
        border-radius: 39.6%;
        translate: -0.3vmax -3vmax;
        rotate: 267deg;
        display: grid;
      }
      .human .body .hip:before {
        content: "";
        position: absolute;
        width: 1.6vmax;
        height: 2.2vmax;
        background: radial-gradient(white, #e7e4e4);
        border-radius: 46.5%;
        translate: -0.6vmax -2.5vmax;
        rotate: 8deg;
      }
      .human .body .hip:after {
        content: "";
        position: absolute;
        width: 1.3vmax;
        height: 2.2vmax;
        background: radial-gradient(white, #f6f5f5);
        border-radius: 41.1%;
        translate: 0.3vmax -2.2vmax;
        rotate: 161deg;
      }
      .human .leg.right {
        width: 1.1vmax;
        height: 2.9vmax;
        background: white;
        border-radius: 50%;
        translate: 1.2vmax 0.4vmax;
        rotate: 348deg;
      }
      .human .leg.right:after {
        content: "";
        position: absolute;
        width: 0.7vmax;
        height: 2.9vmax;
        background: white;
        border-radius: 50%;
        translate: 0.5vmax 0.2vmax;
        rotate: 13deg;
      }
      .human .leg.right .knee {
        position: absolute;
        height: 1.7vmax;
        width: 0.75vmax;
        background: white;
        border-radius: 39.6%;
        translate: 0vmax 2.2vmax;
        rotate: 15deg;
      }
      .human .leg.right .lower {
        position: absolute;
        height: 3.2vmax;
        width: 0.8vmax;
        background: white;
        border-radius: 50%;
        translate: -0.3vmax 2.4vmax;
        rotate: 15deg;
      }
      .human .leg.right .lower:before {
        content: "";
        position: absolute;
        width: 0.5vmax;
        height: 1.5vmax;
        background: white;
        border-radius: 67.8%;
        translate: 0.5vmax 2.6vmax;
        rotate: 66deg;
      }
      .human .leg.right .lower:after {
        content: "";
        position: absolute;
        width: 0.5vmax;
        height: 1.5vmax;
        background: white;
        border-radius: 27.8%;
        translate: 0.1vmax 2.3vmax;
        rotate: 0deg;
      }
      .human .leg.left {
        width: 1.1vmax;
        height: 2.9vmax;
        background: #f4efef;
        border-radius: 50%;
        translate: -0.3vmax 0.4vmax;
        rotate: 2deg;
        filter: invert(0.04);
        z-index: -1;
      }
      .human .leg.left:after {
        content: "";
        position: absolute;
        width: 0.7vmax;
        height: 2.9vmax;
        background: #f4efef;
        border-radius: 50%;
        translate: 0.5vmax 0.2vmax;
        rotate: 13deg;
      }
      .human .leg.left .knee {
        position: absolute;
        height: 1.7vmax;
        width: 0.75vmax;
        background: #e7e4e4;
        border-radius: 39.6%;
        translate: 0vmax 2.2vmax;
        rotate: 5deg;
      }
      .human .leg.left .lower {
        position: absolute;
        height: 3.2vmax;
        width: 0.8vmax;
        background: #eae6e6;
        border-radius: 50%;
        translate: -0.1vmax 1.9vmax;
        rotate: 5deg;
      }
      .human .leg.left .lower:before {
        content: "";
        position: absolute;
        width: 0.5vmax;
        height: 1.5vmax;
        background: #e7e4e4;
        border-radius: 67.8%;
        translate: 0.5vmax 2.6vmax;
        rotate: 47deg;
      }
      .human .leg.left .lower:after {
        content: "";
        position: absolute;
        width: 0.5vmax;
        height: 1.55vmax;
        background: #e7e4e4;
        border-radius: 27.8%;
        translate: 0.1vmax 2.3vmax;
        rotate: 0deg;
      }
      .human .arm.right {
        position: absolute;
        width: 0.7vmax;
        height: 2.9vmax;
        background: white;
        border-radius: 27.8%;
        translate: 1.6vmax -3.1vmax;
        rotate: 346deg;
        -webkit-animation: arm-right calc(var(--time) / 4) ease-in-out infinite;
                animation: arm-right calc(var(--time) / 4) ease-in-out infinite;
      }
      @-webkit-keyframes arm-right {
        from {
          rotate: 346deg;
        }
        50% {
          rotate: 350deg;
        }
        to {
          rotate: 346deg;
        }
      }
      @keyframes arm-right {
        from {
          rotate: 346deg;
        }
        50% {
          rotate: 350deg;
        }
        to {
          rotate: 346deg;
        }
      }
      .human .arm.right:before {
        content: "";
        position: absolute;
        width: 0.3vmax;
        height: 2.45vmax;
        background: white;
        border-radius: 27.8%;
        translate: 0.3vmax 2.1vmax;
        rotate: 6deg;
      }
      .human .arm.right:after {
        content: "";
        position: absolute;
        width: 0.4vmax;
        height: 2.15vmax;
        background: white;
        border-radius: 27.8%;
        translate: 0.1vmax 2.1vmax;
        rotate: 351deg;
      }
      .human .arm.right .hand {
        position: absolute;
        width: 0.3vmax;
        height: 0.85vmax;
        background: white;
        border-radius: 27.8%;
        translate: 0.3vmax 3.7vmax;
        rotate: 353deg;
      }
      .human .arm.right .hand:after {
        content: "";
        position: absolute;
        width: 0.5vmax;
        height: 0.55vmax;
        background: white;
        border-radius: 39.2%;
        translate: -0.2vmax 0.6vmax;
        rotate: 65deg;
      }
      .human .arm.left {
        width: 0.7vmax;
        height: 2.5vmax;
        background: white;
        border-radius: 59.8%;
        translate: -0.9vmax -3.4vmax;
        rotate: 359deg;
        filter: invert(0.1);
        z-index: -2;
        -webkit-animation: arm-left calc(var(--time) / 4) ease-in-out infinite;
                animation: arm-left calc(var(--time) / 4) ease-in-out infinite;
      }
      @-webkit-keyframes arm-left {
        from {
          rotate: 359deg;
        }
        50% {
          rotate: 364deg;
        }
        to {
          rotate: 359deg;
        }
      }
      @keyframes arm-left {
        from {
          rotate: 359deg;
        }
        50% {
          rotate: 364deg;
        }
        to {
          rotate: 359deg;
        }
      }
      .human .arm.left:before {
        content: "";
        position: absolute;
        width: 0.3vmax;
        height: 2.45vmax;
        background: white;
        border-radius: 27.8%;
        translate: 0.3vmax 1.8vmax;
        rotate: 6deg;
      }
      .human .arm.left:after {
        content: "";
        position: absolute;
        width: 0.4vmax;
        height: 2.15vmax;
        background: white;
        border-radius: 27.8%;
        translate: 0.2vmax 2.1vmax;
        rotate: 351deg;
      }
      .human .arm.left .hand {
        position: absolute;
        width: 0.3vmax;
        height: 0.85vmax;
        background: white;
        border-radius: 27.8%;
        translate: 0.3vmax 3.7vmax;
        rotate: 353deg;
      }
      .human .arm.left .hand:after {
        content: "";
        position: absolute;
        width: 0.5vmax;
        height: 0.55vmax;
        background: white;
        border-radius: 39.2%;
        translate: -0.1vmax 0.2vmax;
        rotate: 65deg;
      }
      .human.shadow {
        transform: scaleY(-1) translateY(-9vmax);
        filter: invert(0.2);
        opacity: 0.5;
        z-index: 0;
        -webkit-mask: linear-gradient(to top, black 25%, transparent 35%);
                mask: linear-gradient(to top, black 25%, transparent 35%);
      }
      .human.shadow .leg.left .lower:before {
        rotate: 102deg;
      }
      .human.shadow .leg.right .lower:before {
        rotate: 102deg;
      }
    }

    /* color filter */
    .dream-highlight {
      position: absolute;
      height: 50vh;
      width: 100vw;
      background: radial-gradient(30vmin 70vmin at 70% 70%, rgb(98 107 225 / 10%), rgb(133 170 211 / 10%)), radial-gradient(40vmin 30vmin at 70% 70%, rgb(111 153 210 / 10%), transparent), radial-gradient(40vmin 60vmin at 10% 70%, rgb(125 83 205 / 15%), rgb(101 75 219 / 10%)), radial-gradient(80vmin 100vh at 30% 70%, rgb(255 255 255 / 10%), rgb(0 0 0 / 10%));
      filter: blur(8vmin);
      pointer-events: none;
    }
    
    .color-filter {
      position: absolute;
      height: 25vh;
      width: 100vw;
      background: conic-gradient(at 40% 50%, rgb(48 55 96 / 7%), rgba(91 60 157 / 7%), rgba(150 75 152 5%), rgb(50 56 92 / 7%));
      mix-blend-mode: hue;
      pointer-events: none;
    }

    /* audio */
    .audio-icon-button {
      background: transparent;
      border: 0.0625rem white solid;
      border-radius: 50%;
      font-size: 1.5rem;
      margin: 0;
      padding: 0.5rem .85rem;
      position: fixed;
      right: 7rem;
      top: 14rem;
      opacity: 0.5;
      transition: opacity 0.3s ease;
      z-index: 190;     
    }
    @media (hover) {
      .audio-icon-button {
        cursor: pointer;
      }
      .audio-icon-button:hover {
        opacity: 1;
      }
    }
    /* global */
    @layer global {
      section.dream > div {
        width: 100vw;
        height: 80vh;
        display: grid;
        place-items: center;
        background-color: var(--color-surface);
        color: var(--color-primary);
        position: absolute;
        inset: 0;
        perspective: 90vmax;
        margin: 0;
        overflow: hidden;
      }
      section.dream >div:before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 10;
        pointer-events: none;
        background: var(--pico-background-color);
        mask: linear-gradient(rgb(19 23 31 / 37%) 10%, transparent 30%, transparent 70%, #13171f 80%);
      }
    
      * {
        box-sizing: border-box;
      }
    }   
</style> 

<section class="dream">
  <div>
    <h1><{$name}></h1>

  <div class="stars"></div>
  <div class="stars-highlights"></div>

  <div class="planets">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="planets-2">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="startails">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="scene">
    <div class="sun"></div>
    <div class="planet"></div>
    <div class="planet-2"></div>
    <div class="planet-3"></div>
    <div class="planet-4"></div>
    <div class="planet-5">
      <div class="structure-1"></div>
      <div class="structure-2"></div>
      <div class="structure-3"></div>
    </div>
    <div class="planet-6"></div>

    <div class="human">
      <div class="neck"></div>
      <div class="head"></div>
      <div class="body">
        <div class="shoulder"></div>
        <div class="back"></div>
        <div class="hip">
          <div class="center"></div>
        </div>
      </div>
      <div class="leg left">
        <div class="knee"></div>
        <div class="lower"></div>
      </div>
      <div class="leg right">
        <div class="knee"></div>
        <div class="lower"></div>
      </div>
      <div class="arm left">
        <div class="hand"></div>
      </div>
      <div class="arm right">
        <div class="hand"></div>
      </div>
    </div>

    <div class="human shadow">
      <div class="neck"></div>
      <div class="head"></div>
      <div class="body">
        <div class="shoulder"></div>
        <div class="back"></div>
        <div class="hip">
          <div class="center"></div>
        </div>
      </div>
      <div class="leg left">
        <div class="knee"></div>
        <div class="lower"></div>
      </div>
      <div class="leg right">
        <div class="knee"></div>
        <div class="lower"></div>
      </div>
      <div class="arm left">
        <div class="hand"></div>
      </div>
      <div class="arm right">
        <div class="hand"></div>
      </div>
    </div>

    <div class="cuboid">
      <div class="object">
        <div class="body"></div>
      </div>
      <div class="top">
        <div class="outline"></div>
        <div class="outline"></div>
        <div class="outline"></div>
        <div class="outline"></div>
      </div>
      <div class="front"></div>
      <div class="right"></div>
    </div>

  </div>

  <div class="dream-highlight"></div>
  <div class="color-filter"></div>
  <svg class=filter xmlns="http://www.w3.org/2000/svg">
    <filter id="stars">
      <feTurbulence baseFrequency="0.275" />
      <feColorMatrix values="0 0 0 9 -5
                                  0 0 0 9 -4
                                  0 0 0 9 -5
                                  0 0 0 0 1" />
    </filter>
    <filter id="stars-highlights">
      <feTurbulence baseFrequency="0.675" />
      <feColorMatrix values="0 0 0 9 -5
                                  0 0 0 9 -4
                                  0 0 0 9 -5
                                  0 0 0 0 1" />
    </filter>
    <filter id="planet-structure">
      <feTurbulence baseFrequency="0.195" />
      <feColorMatrix values="0 0 0 1 -9
                                  0 0 0 9 -1.5
                                  0 0 0 2 -6
                                  0 0 0 0 1" />
    </filter>
  </svg>    
  <button id="audiobutton" class="audio-icon-button">
  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M13.116 11.774v24.452M8.804 16.833v14.334M4.5 21.471v5.058m12.957-9.696v14.334m4.49-9.696v5.058m12.722-14.755v24.452m-4.312-19.393v14.334m-4.304-9.696v5.058m12.957-9.696v14.334m4.49-9.696v5.058"/></svg>
  </button>
  <!-- <audio id="audio" loop src="https://assets.codepen.io/907471/cosmic_dreams.mp3"></audio> -->
  <audio id="audio" loop src="<{$xoops_imageurl}>audio/cosmic_dreams.mp3"></audio>
  </div>
</section>
