<style>
section#block-top {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: calc(var(--pico-spacing)*3);
}
section#block-top header h1 {
    /* font-size: clamp(3rem, 1.7143rem + 3.5714vw, 4rem); */
    font-size: 2em;
    font-weight: 800;
    width:65%;
    white-space: normal;
    word-wrap: normal;
    z-index: 10;
}
section#block-top h3 {
    height: fit-content;
}

section#block-top div.grid {
    z-index: 20;
}
</style>

<section class="container" id="block-top">

<header class="grid">
    <h1><{$xoops_sitename}></h1>
    <h3><{$xoops_slogan}></h3>
</header>

<div class="grid">
<{* ---------- BLOCK Center-Left *}>
<{if $xoops_clblocks}>
<div>
    <{foreach item=block from=$xoops_clblocks}>
    <{if $block.title|strstr:"top-"}>
        <article>
            <h4>
                <{if $xoops_isadmin}>
                    <{$block.title}>
                    <{include file="$xoops_theme/component/_inc_block_edit.html"}>
                <{else}>
                    <{if !$block.title|strstr:"none"}><{$block.title|replace:'top-' : ''}><{/if}>
                <{/if}>
            </h4>
            <div class="block-content"><{$block.content}></div>
        </article>
    <{/if}>
    <{/foreach}>
</div>
<{/if}>

<{* ---------- BLOCK Center-Center *}>
<{if $xoops_ccblocks}>
<div>
    <{foreach item=block from=$xoops_ccblocks}>
    <{if $block.title|strstr:"top-"}>
    <article>
        <h4>
            <{if $xoops_isadmin}>
                <{$block.title}>
                <{include file="$xoops_theme/component/_inc_block_edit.html"}>
            <{else}>
                <{if !$block.title|strstr:"none"}><{$block.title|replace:'top-' : ''}><{/if}>
            <{/if}>
        </h4>
        <div class="block-content"><{$block.content}></div>
    </article>
    <{/if}>
    <{/foreach}>
</div>
<{/if}>

<{* ---------- BLOCK Center-Right *}>
<{if $xoops_crblocks}>
<div>
    <{foreach item=block from=$xoops_crblocks}>
    <{if $block.title|strstr:"top-"}>
    <article>
        <h4>
            <{if $xoops_isadmin}>
                <{$block.title}>
                <{include file="$xoops_theme/component/_inc_block_edit.html"}>
            <{else}>
                <{if !$block.title|strstr:"none"}><{$block.title|replace:'top-' : ''}><{/if}>
            <{/if}>
        </h4>
        <div class="block-content"><{$block.content}></div>
    </article>
    <{/if}>
    <{/foreach}>
</div>
<{/if}>

</div>

</section>