/* Template */
.legacyRender_TemplateSearch {
	text-align:right;
	margin:10px;
}
.legacyRender_TemplateSelect {
	text-align:center;
	margin:15px;
}
.legacyRender_TemplateFile_block {
	color:#0000ff;
}
.legacyRender_TemplateFile_nofile {
	color:#ff0000;
}
.legacyRender_TemplateManager_sizenavi {
	margin:5px;
}
.legacyRender_TemplateManager_textarea {
	width:600px;
	height:400px;
}

/* List Table */
.legacyRender_list_id {
	text-align:center;
}
.legacyRender_list_control {
	text-align:center;
}
.legacyRender_list_title {
	text-align:left;
	padding-left:5px;
	font-weight:bold;
}
.legacyRender_list_name {
	text-align:left;
	padding-left:5px;
}
.legacyRender_list_text {
	text-align:left;
	padding-left:5px;
}
.legacyRender_list_text a:hover {
	text-decoration:underline;
	color:#333366;
}

.legacyRender_list_email {
	text-align:center;
}
.legacyRender_list_description {
	text-align:left;
	font-weight:normal;
}
.legacyRender_list_date {
	text-align:center;
}
.legacyRender_list_select {
	text-align:center;
}
.legacyRender_list_type {
	text-align:center;
}
.legacyRender_list_number {
	text-align:right;
	padding-right:5px;
}
.legacyRender_list_image {
	text-align:center;
}
