<{* ---------- Block-Left *}>
<{foreach item=block from=$xoops_lblocks}>
<{if !$block.title|strstr:"Topage" && !$block.title|strstr:"User" || !$block.id==28}>
<div class="block-left b-<{$block.weight}>" id="b<{$block.id}>">
    <h4 data-layout="row center-justify" class="block-title">
        <{if $xoops_isadmin}>
        <{$block.title|replace:' ':'-'}>
        <{include file="$xoops_theme/component/_inc_block_edit.html"}>
        <{else}>
        <{if ! $block.title|strstr:"none"}><{$block.title}><{/if}>
        <{/if}>
    </h4>
    <div class="block-content">
        <{$block.content}>
    </div>
</div>
<{/if}>
<{/foreach}>
