<div data-layout="row center-justify inline">
<h6><{$smarty.const._MD_USER_LANG_UID}></h6>
<div>
<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.USER_SORT_KEY_UID}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.USER_SORT_KEY_UID}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
</div>
</div>
<div data-layout="row center-justify inline">
<h6><{$smarty.const._MD_USER_LANG_UNAME}></h6>
<div>
<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.USER_SORT_KEY_UNAME}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.USER_SORT_KEY_UNAME}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
</div>
</div>
<div data-layout="row center-justify inline">
<h6><{$smarty.const._MD_USER_LANG_NAME}></h6>
<div>
<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.USER_SORT_KEY_NAME}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.USER_SORT_KEY_NAME}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
</div>
</div>
<div data-layout="row center-justify inline">
<h6><{$smarty.const._AD_USER_LANG_REGDATE}></h6>
<div>
<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.USER_SORT_KEY_USER_REGDATE}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.USER_SORT_KEY_USER_REGDATE}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
</div>
</div>
<div data-layout="row center-justify inline">
<h6><{$smarty.const._AD_USER_LANG_LASTLOGIN}></h6>
<div>
<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.USER_SORT_KEY_LAST_LOGIN}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.USER_SORT_KEY_LAST_LOGIN}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
</div>
</div>
<div data-layout="row center-justify inline">
<h6><{$smarty.const._MD_USER_LANG_POSTS}></h6>
<div>
<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.USER_SORT_KEY_POSTS}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.USER_SORT_KEY_POSTS}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
</div>
</div>
<div data-layout="row center-justify inline">
<h6><{$smarty.const._MD_USER_LANG_LEVEL}></h6>
<div>
<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.USER_SORT_KEY_LEVEL}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.USER_SORT_KEY_LEVEL}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
</div>
</div>
