<div class="ui-dev-mode"><{$smarty.template}></div>
<script type="text/javascript">
    function cc_changeDisplay(id){
        var elestyle = xoopsGetElementById(id).style;
        if (elestyle.display == "block") {
            elestyle.display = "none";
        } else {
            elestyle.display = "block";
        }
    }
</script>

<div>
    <a class="button" href="javascript:void(0);" onclick="cc_changeDisplay('sitemap_block');" aria-label="<{$smarty.const._MB_SITEMAP_OPENCLOSE}>">
        <span class="icon"><img class="svg" src="<{$xoops_url}>/images/icons/home.svg" width="1em" height="1em" alt="home"></span> <{$smarty.const._MB_SITEMAP_HOME}></a>
</div>

<div id="sitemap_block" style="display: none;">

    <{foreach name=i item=module from=$block.sitemap.modules}>
    <{if $block.cols > 0}>
    <{include file="db:sitemap_inc_eachmodule.html" div_style="float:left;width:`$block.div_width`%;margin:10px;"}>
    <{else}>
    <{include file="db:sitemap_inc_eachmodule.html" div_style="margin:2px;"}>
    <{/if}>
    <{/foreach}>

</div>
