body {
  background:url(images/back01.gif);
}
#Header {
  background:#000 ;
}
#h_img {
  background:url(images/image12.png) no-repeat;
}
#outerwrapper {
  background:url(images/base12.jpg) repeat-x;
}
#middleline {
  background:url(images/m_back12.png) repeat-x;
}
#middleline_c {
  background:transparent;
}
#Container {
  background:transparent;
}
#Wrapper {
  background:transparent;
}
#CenterWrapper {
  background:transparent;
}


* html #menu_m ul li ,* html #menu_m ul li a:link ,* html #menu_m ul li a:visited {
	float:left;
	display:inline;
	witespase:nowrap;
}

/* Header Menu colors */
#menu_m a:link,
#menu_m a:visited {	
  color: #fff;
	font-weight:bold;
}
#menu_m a:hover {	
  color: red;
}
/* Header Menu Selected colors */
#menu_m ul li a.mm_homes:link ,#menu_m ul li a.mm_homes:visited ,
#menu_m ul li a.mm_as:link ,#menu_m ul li a.mm_as:visited ,
#menu_m ul li a.mm_bs:link ,#menu_m ul li a.mm_bs:visited ,
#menu_m ul li a.mm_cs:link ,#menu_m ul li a.mm_cs:visited ,
#menu_m ul li a.mm_ds:link ,#menu_m ul li a.mm_ds:visited ,
#menu_m ul li a.mm_es:link ,#menu_m ul li a.mm_es:visited ,
#menu_m ul li a.mm_fs:link ,#menu_m ul li a.mm_fs:visited ,
#menu_m ul li a.mm_gs:link ,#menu_m ul li a.mm_gs:visited ,
#menu_m ul li a.mm_hs:link ,#menu_m ul li a.mm_hs:visited ,
#menu_m ul li a.mm_is:link ,#menu_m ul li a.mm_is:visited ,
#menu_m ul li a.mm_js:link,#menu_m ul li a.mm_js:visited {
	color:#000;
}
* html #menu_m ul li a.mm_home:hover ,
* html #menu_m ul li a.mm_a:hover ,
* html #menu_m ul li a.mm_b:hover ,
* html #menu_m ul li a.mm_c:hover ,
* html #menu_m ul li a.mm_d:hover ,
* html #menu_m ul li a.mm_e:hover ,
* html #menu_m ul li a.mm_f:hover ,
* html #menu_m ul li a.mm_g:hover ,
* html #menu_m ul li a.mm_h:hover ,
* html #menu_m ul li a.mm_i:hover ,
* html #menu_m ul li a.mm_j:hover {
	color:red ;
	height:30px;
	line-height:30px;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
  background:transparent;
}

#menu_m ul li div.act {
	height: 33px;
	line-height:28px;
	margin-top:5px;
	margin-bottom:-2px;
	background:#fafafa url(images/back01.gif);
	-webkit-border-top-left-radius: 10px;	/* Safari,Google Chrome—p */
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;	/* Firefox—p */
	-moz-border-radius-topright: 10px;
-moz-box-shadow: 0px 0px 0px #fafafa;
-webkit-box-shadow: 0px 0px 0px #fafafa;
}


/* Content */
#CenterColumn {
  background:transparent;
}

#CenterColumn  h2.BlockTitle {
	padding-left:1.6em;
	color: #000;
	background:#dcdcdc  url(images/wa-kuro.png) left center no-repeat;
	border-bottom: #ccc 1px dashed;
}
#CenterColumn .BlockContent, #ModuleContents {
	background:transparent ;
}

/* Center LR Column */
#CenterLColumn {
	background:transparent ;
}
#CenterRColumn {
	background:transparent ;
}


/* Left Right Column */
#LeftColumn {
	background:transparent ;
}
#RightColumn {
	background:transparent ;
}

/* Left Right Column Title */
#LeftColumn h2.BlockTitle_a {
	padding-left:1.6em;
	color: #000;
	background:#dcdcdc  url(images/wa-kuro.png) left center no-repeat;
	border-bottom: #ccc 1px dashed;
}
#LeftColumn h2.BlockTitle_b {
	padding-left:1.6em;
	color: #000;
	background:#dcdcdc  url(images/wa-kuro.png) left center no-repeat;
	border-bottom: #ccc 1px dashed;
}
#LeftColumn h2.BlockTitle_c {
	padding-left:1.6em;
	color: #000;
	background:#dcdcdc  url(images/wa-kuro.png) left center no-repeat;
	border-bottom: #ccc 1px dashed;
}

#RightColumn h2.BlockTitle_a {
	padding-left:1.6em;
	color: #000;
	background:#dcdcdc  url(images/wa-kuro.png) left center no-repeat;
	border-bottom: #ccc 1px dashed;
}
#RightColumn h2.BlockTitle_b {
	padding-left:1.6em;
	color: #000;
	background:#dcdcdc  url(images/wa-kuro.png) left center no-repeat;
	border-bottom: #ccc 1px dashed;
}
#RightColumn h2.BlockTitle_c {
	padding-left:1.6em;
	color: #000;
	background:#dcdcdc  url(images/wa-kuro.png) left center no-repeat;
	border-bottom: #ccc 1px dashed;
}

/* Left Right Column Content */
#LeftColumn .BlockContent_a {
	color: #000;
  background:url(images/ka2.gif);
}
#LeftColumn .BlockContent_b {
	color: #000;
  background:url(images/ka2.gif);
}
#LeftColumn .BlockContent_c {
	color: #000;
  background:url(images/ka2.gif);
}

#RightColumn .BlockContent_a {
	color: #000;
  background:url(images/ka2.gif);
}
#RightColumn .BlockContent_b {
	color: #000;
  background:url(images/ka2.gif);
}
#RightColumn .BlockContent_c {
	color: #000;
  background:url(images/ka2.gif);
}

#breadcrumbs {
	color:#fff;
	background:url(images/wa-kuro.png) no-repeat;
}
#breadcrumbs a:link{
	color:#fff;
}
#breadcrumbs a:visited{
	color:#fff;
}
#breadcrumbs a:hover{
	color:#fff;
}
#breadcrumbs a:active{
	color:#fff;
}

/* Footer */
#Footer {
	color:#fafafa;
	background: url(images/footer12.png) repeat-x;
}
#Footer a {
	color:#fafafa;
}

#Bottom {
	color:#fafafa;
	background: #191818 ;
}

