body {
  background:#efffef url(images/egonoki032.jpg) repeat-y;
}
#Header {
  background:url(images/base6.jpg) repeat-x;
}
#h_img {
  background:url(images/image6.png) no-repeat;
}
#outerwrapper {
  background:url(images/base6.jpg) repeat-x;
}
#middleline {
  background:url(images/m_back6.png) repeat-x;
}
#middleline_c {
  background:url(images/mc_back6.png) repeat-x;
}
#Container {
  background:transparent;
}
#Wrapper {
  background:transparent;
}
#CenterWrapper {
	width:995px;
  margin: 0px auto;
  background:url(images/trans_back01.png);
}
#menu_m ul {
}
#menu_m ul li {
  background: transparent;
	float:left;
}
* html #menu_m ul li ,* html #menu_m ul li a{
	float:left;
	display:inline;
	witespase:nowrap;
}
/* Header Menu colors */
#menu_m a:link,
#menu_m a:visited {	
  color: #191970 ;
	font-weight:bold;
	height: 30px;
	line-height:30px;
}
#menu_m a:hover {	
}
#menu_m ul li a.mm_home:hover ,
#menu_m ul li a.mm_a:hover ,
#menu_m ul li a.mm_b:hover ,
#menu_m ul li a.mm_c:hover ,
#menu_m ul li a.mm_d:hover ,
#menu_m ul li a.mm_e:hover ,
#menu_m ul li a.mm_f:hover ,
#menu_m ul li a.mm_g:hover ,
#menu_m ul li a.mm_h:hover ,
#menu_m ul li a.mm_i:hover ,
#menu_m ul li a.mm_j:hover {
	color:orange;
	height:50px;
	line-height:30px;
	margin-top:0px;
  background:transparent url(images/set33_ta_h.gif)  center bottom no-repeat;
}
* html #menu_m ul li a.mm_home:hover ,
* html #menu_m ul li a.mm_a:hover ,
* html #menu_m ul li a.mm_b:hover ,
* html #menu_m ul li a.mm_c:hover ,
* html #menu_m ul li a.mm_d:hover ,
* html #menu_m ul li a.mm_e:hover ,
* html #menu_m ul li a.mm_f:hover ,
* html #menu_m ul li a.mm_g:hover ,
* html #menu_m ul li a.mm_h:hover ,
* html #menu_m ul li a.mm_i:hover ,
* html #menu_m ul li a.mm_j:hover {
	color:#000 ;
	height:30px;
	line-height:30px;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
  background:transparent;
}
/* Header Menu Selected colors */
#menu_m ul li a.mm_homes:link ,#menu_m ul li a.mm_homes:visited ,
#menu_m ul li a.mm_as:link ,#menu_m ul li a.mm_as:visited ,
#menu_m ul li a.mm_bs:link ,#menu_m ul li a.mm_bs:visited ,
#menu_m ul li a.mm_cs:link ,#menu_m ul li a.mm_cs:visited ,
#menu_m ul li a.mm_ds:link ,#menu_m ul li a.mm_ds:visited ,
#menu_m ul li a.mm_es:link ,#menu_m ul li a.mm_es:visited ,
#menu_m ul li a.mm_fs:link ,#menu_m ul li a.mm_fs:visited ,
#menu_m ul li a.mm_gs:link ,#menu_m ul li a.mm_gs:visited ,
#menu_m ul li a.mm_hs:link ,#menu_m ul li a.mm_hs:visited ,
#menu_m ul li a.mm_is:link ,#menu_m ul li a.mm_is:visited ,
#menu_m ul li a.mm_js:link,#menu_m ul li a.mm_js:visited {
	color:#000 ;
  background:url(images/trans_back01.png);
	border-bottom:5px solid orange ;
	margin-top:0px;
	margin-bottom:0px;
	height: 30px;
	line-height:30px;
}

/* Content */
#CenterColumn {
  background:transparent;
}

#CenterColumn  h2.BlockTitle {
	padding-left:1.6em;
	color: #000;
	background: url(images/cl_007.gif) left center no-repeat;
	border-bottom: #ccc 1px dashed;
}
#CenterColumn .BlockContent, #ModuleContents {
	background:transparent ;
}

/* Center LR Column */
#CenterLColumn {
	background:transparent ;
}
#CenterRColumn {
	background:transparent ;
}


/* Left Right Column */
#LeftColumn {
	background:transparent ;
}
#RightColumn {
	background:transparent ;
}

/* Left Right Column Title */
#LeftColumn h2.BlockTitle_a {
	padding-left:1.6em;
	color: #000;
	background: url(images/cl_007.gif) left center no-repeat;
	border-bottom: #ccc 1px dashed;
}
#LeftColumn h2.BlockTitle_b {
	padding-left:1.6em;
	color: #000;
	background: url(images/cl_007.gif) left center no-repeat;
	border-bottom: #ccc 1px dashed;
}
#LeftColumn h2.BlockTitle_c {
	padding-left:1.6em;
	color: #000;
	background: url(images/cl_007.gif) left center no-repeat;
	border-bottom: #ccc 1px dashed;
}

#RightColumn h2.BlockTitle_a {
	padding-left:1.6em;
	color: #000;
	background: url(images/cl_007.gif) left center no-repeat;
	border-bottom: #ccc 1px dashed;
}
#RightColumn h2.BlockTitle_b {
	padding-left:1.6em;
	color: #000;
	background: url(images/cl_007.gif) left center no-repeat;
	border-bottom: #ccc 1px dashed;
}
#RightColumn h2.BlockTitle_c {
	padding-left:1.6em;
	color: #000;
	background: url(images/cl_007.gif) left center no-repeat;
	border-bottom: #ccc 1px dashed;
}

/* Left Right Column Content */
#LeftColumn .BlockContent_a {
	color: #000;
	background:transparent ;
}
#LeftColumn .BlockContent_b {
	color: #000;
	background:transparent ;
}
#LeftColumn .BlockContent_c {
	color: #000;
	background:transparent ;
}

#RightColumn .BlockContent_a {
	color: #000;
	background:transparent ;
}
#RightColumn .BlockContent_b {
	color: #000;
	background:transparent ;
}
#RightColumn .BlockContent_c {
	color: #000;
	background:transparent ;
}

#breadcrumbs {
	color:#fff;
	background:url(images/cl_007.gif) no-repeat;
}
#breadcrumbs a:link{
	color:#fff;
}
#breadcrumbs a:visited{
	color:#fff;
}
#breadcrumbs a:hover{
	color:#fff;
}
#breadcrumbs a:active{
	color:#fff;
}

/* Footer */
#Footer {
	color:#000;
	background: url(images/footer.png) repeat-x;
}
#Footer a {
	color:#000;
}

#Bottom {
	color:#000;
	background: url(images/footer_cr.png) ;
}

#BottomColumn {
}
#BottomColumn h2.BlockTitle {
	color:#000;
}
#BottomColumn .BlockContent {
	color:#000;
}

/* XOOPS Main Menu */
#mainmenu, #usermenu {
}
#mainmenu li, #usermenu li {
}
#mainmenu a {
}
#mainmenu a:hover {
	color:#006e54 ;
	border-right:5px solid #00a381 ;
}
#mainmenu a.menuTop {
	padding-left:2em;
	background: url(images/cl_001.gif) left center no-repeat;
}
#mainmenu a.menuMain {
	padding-left:2em;
	background: url(images/cl_002.gif) left center no-repeat;
}
#mainmenu a.menuSub {
	margin-left:1em;
	padding-left:1.4em;
	background: url(images/ya_006.gif) left center no-repeat;
}

/* XOOPS User Menu */
#usermenu a {
}
#usermenu a:hover {
	color:#006e54 ;
	border-right:5px solid #00a381 ;
}
#usermenu a.menuTop {}
#usermenu a.highlight {
}

#usermenu li.userMenuTop a {
	padding-left:2em;
	background: url(images/a03.gif) no-repeat;
}
#usermenu li.userMenuEdit a {
	padding-left:2em;
	background: url(images/a04.gif) no-repeat;
}
#usermenu li.userMenuComments a {
	padding-left:2em;
	background: url(images/mobilephone.gif) no-repeat;
}
#usermenu li.userMenuLogout a {
	padding-left:2em;
	background: url(images/xx001.gif) no-repeat;
}
#usermenu li.userMenuEmail a {
	padding-left:2em;
	background: url(images/mailto.gif) no-repeat;
}
#usermenu li.userMenuAdmin a {
	padding-left:2em;
	background: url(images/pc.gif) no-repeat;
}


