@charset "$charset";

$class {
	background-color:inherit;
	width:100%;
}

$class h1,
$class h2,
$class h3,
$class h4,
$class h5,
$class h6,
$class pre,
$class dl,
$class p,
$class blockquote { line-height:130%; }

$class p { margin-left: 1em; }

$class blockquote { margin-left:32px; }

$class table { width: auto; }

$class,
$class td {
	font-size:100%;
}

$class a:link {

}

$class a:active {

}

$class a:visited {

}

$class a:hover {

}

$class a.ext {
	background-image: url(./loader.php?src=ext.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 12px;
}

$class a.extWithFavicon {

}

$class a.pagelink {

}
$class a.pagelink_popup {
	cursor: help;
}
$class a.autolink {

}
$class a.autolink_popup {
	cursor: help;
}

$class a.ext_autolink {

}

$class .nowrap {
	white-space: nowrap;
}

$class div.level1 {}
$class div.level2 {}
$class div.level3 {
	margin-left: 1em;
}
$class div.level4 {
	margin-left: 2em;
}
$class div.level5 {
	margin-left: 3em;
}
$class div.level6 {
	margin-left: 4em;
}
$class div.level1_highlight {
	background-color: #ffe4e1;
}
$class div.level2_highlight {
	background-color: #ffe4e1;
}
$class div.level3_highlight {
	background-color: #ffe4e1;
	margin-left: 1em;
}
$class div.level4_highlight {
	background-color: #ffe4e1;
	margin-left: 2em;
}
$class div.level5_highlight {
	background-color: #ffe4e1;
	margin-left: 3em;
}
$class div.level6_highlight {
	background-color: #ffe4e1;
	margin-left: 4em;
}

$class div.menuber div.level3,
$class div.menuber div.level4,
$class div.menuber div.level5,
$class div.menuber div.level6,
$class div.menuber div.level3_highlight,
$class div.menuber div.level4_highlight,
$class div.menuber div.level5_highlight,
$class div.menuber div.level6_highlight {
	margin-left: 0em;
}

$class h1,
$class h2 {

}
$class h3 {

}
$class h4 {

}
$class h5,
$class h6 {

}

$class h1.title {
	font-size: 30px;
	font-weight:bold;
	background-color:transparent;
	padding: 10px 0px 0px 0px;
	border: 0px;
	margin: 10px 0px 0px 0px;
}

$class dt {
	font-weight:bold;
	margin-top:1em;
	margin-left:1em;
}

/* contents */
$class div.contents {
	float: right;
	width: 30%;
	font-size: 80%;
	border: none;
	margin: 0px 0px 5px 20px;
	padding: 5px;
}
$class div.contents span.toc_open,
$class div.contents span.toc_close {
	border: 0.4em solid #F5F5F5;
	display: block;
	float: right;
	margin: 0.4em 3px 0 0;
}
$class div.contents span.toc_open {
	border-top: 0.4em solid #0000CD;
	margin-top: 0.4em;
}
$class div.contents span.toc_close {
	border-bottom: 0.4em solid #0000CD;
	margin-top: 0px;
}
$class div.contents span.toc_open span,
$class div.contents span.toc_close span {
	display: none;
}
$class div.toc_header {
	font-size: 120%;
	font-weight: bold;
	background-color: #F5F5F5;
	border: gray 1px solid;
	padding: 2px 2px 2px 5px;
}
$class div.toc_body {
	font-weight: normal;
	background-color: inherit;
	border: gray 1px solid;
	border-top: none;
	padding: 0.4em 0.2em 0 0.4em;
}
$class div.contents ul,
$class div.contents ol {
	margin-left: 0.5em;
	padding-left: 0.5em;
}

/* Pre base */
$class div.pre {
	width: $pre_width;
	overflow: auto;
	margin: 10px;
}

$class pre {
	border-top:#DDDDEE 1px solid;
	border-bottom:#888899 1px solid;
	border-left:#DDDDEE 1px solid;
	border-right:#888899 1px solid;
	padding:.5em;
	margin-left:1em;
	margin-right:2em;
	color:black;
	background-color: inherit;
	width: auto;

	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3 */
	word-wrap: break-word;      /* IE 5.5+ */
}

/* For renderer on XOOPS */
$class div.xoopsCode pre {
	border: none;
	padding: 0px;
	margin: 3px;
	color:black;
	background-color:transparent;
	
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3 */
	word-wrap: break-word;      /* IE 5.5+ */
}

$class img {
	border:none;
	vertical-align:middle;
}

$class form {
	margin-top: 10px;
	margin-bottom: 10px;
}

$class form label {
	cursor: pointer;
}

$class em { font-style:italic; }

$class strong { font-weight:bold; }

$class thead td.style_td,
$class tfoot td.style_td {
	color:inherit;
	background-color:#D0D8E0;
}
$class thead th.style_th,
$class tfoot th.style_th {
	color:#000;
	background-color:#E0E8F0;
}
$class .style_table {
	padding:0px;
	border:0px;
	margin: 10px auto 10px 20px;
	text-align:left;
	color:inherit;
	background-color:#ccd5dd;
}
$class .style_th {
	padding:5px;
	margin:1px;
	text-align:center;
	color:inherit;
	background-color:#EEEEEE;
}
$class .style_td {
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#FDFDFF;
}

$class ul,
$class ol {
	margin-left: 1em;
	padding-left: 1em;
/*	margin-top:.5em;
	margin-bottom:.5em;*/
	line-height:130%;
	
	list-style-type:inherit;
	list-style-position:outside;
	list-style-image:none;
	marker-offset:auto;
	color: inherit;
}

$class li {
	list-style-type:inherit;
	list-style-position:outside;
	list-style-image:none;
	marker-offset:auto;
	color: inherit;
}

$class li.list_none {
	list-style: none none inside !important;
	margin: 0px !important;
	padding: 0px !important;
	display: inline;
	height: 0px;
	width: 0px;
}

$class ul.list1 li { list-style-type:disc; }
$class ol.list1 li { list-style-type:decimal; }

$class ul.list2 li { list-style-type:circle; }
$class ol.list2 li { list-style-type:lower-roman; }

$class ul.list3 li { list-style-type:square; }
$class ol.list3 li { list-style-type:lower-alpha; }

$class div.ie5 { text-align:center; }

$class span.noexists {
	color:inherit;
	background-color:#FFFACC;
}

$class .small { font-size:80%; }

$class .super_index {
	color:#DD3333;
	background-color:inherit;
	font-weight:bold;
	font-size:60%;
	vertical-align:super;
}

$class a.note_super {
	color:#DD3333;
	background-color:inherit;
	font-weight:bold;
	font-size:60%;
	vertical-align:super;
}

$class div.jumpmenu {
	font-size: 60%;
	float: right;
}

$class hr.full_hr {

}
$class hr.note_hr {
	width:90%;
	text-align:center;
}

$class span.size1 {
	font-size:xx-small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
$class span.size2 {
	font-size:x-small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
$class span.size3 {
	font-size:small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
$class span.size4 {
	font-size:medium;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
$class span.size5 {
	font-size:large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
$class span.size6 {
	font-size:x-large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
$class span.size7 {
	font-size:xx-large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}

$class div.commentbody {
	margin-left:30px;
	margin-right:10px;
}

$class div.commentbody h2 {
	background-color: transparent;
}

$class div.commentbody textarea {
	height: 7em;
}

$class div.system_notification {
	margin-left:30px;
	margin-right:10px;
}

$class div.system_notification h4 {
	/*
	background-color: transparent;
	border: none;
	*/
}

div.system_notification table {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

/* html.php/catbody() */
$class strong.word0 {
	background-color:#FFFF66;
	color:black;
}
$class strong.word1 {
	background-color:#A0FFFF;
	color:black;
}
$class strong.word2 {
	background-color:#99FF99;
	color:black;
}
$class strong.word3 {
	background-color:#FF9999;
	color:black;
}
$class strong.word4 {
	background-color:#FF66FF;
	color:black;
}
$class strong.word5 {
	background-color:#880000;
	color:white;
}
$class strong.word6 {
	background-color:#00AA00;
	color:white;
}
$class strong.word7 {
	background-color:#886800;
	color:white;
}
$class strong.word8 {
	background-color:#004699;
	color:white;
}
$class strong.word9 {
	background-color:#990099;
	color:white;
}
$class div.commentbody table {
	width: 100%;
}

/* html.php/edit_form() */
$class .edit_form {	clear: both; }
$class .edit_form textarea {
	font-size: 100%;
	width: 98%;
	max-height: 350px;
	margin: 0px;
	padding: 0px;
}
$class .edit_form_ajax {
	border: 1px gray solid;
	padding: 5px;
}
$class .edit_form_ajax textarea {
	font-size: 100%;
	width: 98%;
	max-height: 250px;
	margin: 0px;
	padding: 0px;
}

/* pukiwiki.skin.php */
$class div.header {
	padding:0px;
	margin:0px;
	background-color: transparent;
}

$class div.navigator {
	clear:both;
	padding:4px 0px 0px 0px;
	margin:0px;
	font-size:90%;
}

$class div.navigator_wiki {
	width: auto;
	float: right;
	padding-top: 15px;
	padding-left: 1em;
}

$class div.navigator_page {
	text-align: center;
}

$class div.navigator_info {
	text-align: right;
	margin-bottom: 10px;
}

$class td.menubar {
	width:10em;
	vertical-align:top;
}

$class div.menubar {
	/*width:9em;*/
	padding:0px;
	margin:4px;
	word-break:break-all;
	font-size:90%;
	overflow:hidden;
}

$class div.menubar ul {
	margin:0px 0px 0px .5em;
	padding:0px 0px 0px .5em;
}

$class div.menubar ul li { line-height:110%; }

$class div.menubar h4 { font-size:110%; }

$class div.body {
	padding:0px;
	margin:0px 0px 0px 0px;
}

$class div.footnotes {
	clear:both;
	padding:0px;
	margin:0px;
}

$class div.attach {
	clear:both;
	padding:0px;
	margin:0px;
	font-size:90%;
}

$class div.toolbar {
	clear:both;
	padding:0px;
	margin:0px;
	text-align:right;
}

$class div.lastmodified {
	font-size:80%;
	padding:0px;
	margin:0px;
}

$class div.related {
	font-size:80%;
	padding:0px;
	margin:16px 0px 0px 0px;
}

$class div.footer {
	font-size:70%;
	padding:0px;
	margin:16px 0px 0px 0px;
}

$class div.banner {
	float:right;
	margin-top:24px;
}

$class div.preview {
	color:inherit;
	background-color:#F5F8FF;
	overflow: auto;
	max-height: 300px;
}

$class div.ajax_preview {
	overflow: auto;
	max-height: 250px;
	border: 1px gray solid;
}

$class img.logo {
	float:left;
	margin-right:20px;
}

/* aname.inc.php */
$class .anchor {}
$class .anchor_super {
	font-size:xx-small;
	vertical-align:super;
}

/* br.inc.php */
$class br.spacer {}

/* calendar_viewer.inc.php */
$class div.calendar_viewer {
	color:inherit;
	background-color:inherit;
	margin-top:20px;
	margin-bottom:10px;
	padding-bottom:10px;
}
$class span.calendar_viewer_left {
	color:inherit;
	background-color:inherit;
	float:left;
}
$class span.calendar_viewer_right {
	color:inherit;
	background-color:inherit;
	float:right;
}

/* areaedit.inc.php */
$class .highlight
{
	background-color: #ffe4e1;
}
/*
$class .area_off
{
	background-color: transparent;
}
*/

/* clear.inc.php */
$class .clear {
	margin:0px;
	clear:both;
}

/* counter.inc.php */
$class div.counter { font-size:70%; }

/* diff.inc.php */
$class span.diff_added {
	color:blue;
	background-color:inherit;
}

$class span.diff_removed {
	color:red;
	background-color:inherit;
}

/* hr.inc.php */
$class hr.short_line {
	text-align:center;
	width:80%;
}

/* include.inc.php */
$class h5.side_label { text-align:center; }

/* navi.inc.php */
$class ul.navi {
	margin:0px;
	padding:0px;
	text-align:center;
}
$class li.navi_none {
	display:inline;
	float:none;
}
$class li.navi_left {
	display:inline;
	float:left;
	text-align:left;
}
$class li.navi_right {
	display:inline;
	float:right;
	text-align:right;
}

/* new.inc.php */
$class span.comment_date { font-size:x-small; }
$class span.new1 {
	color:red;
	background-color:transparent;
	font-size:x-small;
}
$class span.new5 {
	color:green;
	background-color:transparent;
	font-size:xx-small;
}

/* popular.inc.php */
$class span.counter { font-size:70%; }
$class ul.popular_list {

}

/* recent.inc.php,showrss.inc.php */
$class ul.recent_list {

}

/* ref.inc.php */
$class div.img_margin {
	margin-left:32px;
	margin-right:32px;
}

/* vote.inc.php */
$class td.vote_label {
	color:inherit;
	background-color:#FFCCCC;
}
$class td.vote_td1 {
	color:inherit;
	background-color:#DDE5FF;
}
$class td.vote_td2 {
	color:inherit;
	background-color:#EEF5FF;
}
