<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<ul class="breadcrumb" aria-label="breadcrumb">
    <li><a href="<{$xoops_url}>/">
        <img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" width="1em" height="1em" alt="home"></a></li>
    <li><a href="<{$xoops_url}>/userinfo.php?uid=<{$actionForm->get('uid')|xoops_escape}>"><{$smarty.const._MD_USER_LANG_PROFILE}></a></li>
    <li aria-current="page"><{$smarty.const._MD_USER_LANG_EDITPROFILE}></li>
</ul>


<section layout="column" id="edit-user">

<!--    <h3><{$smarty.const._MD_USER_LANG_EDITPROFILE}></h3>-->

    <{if $actionForm->hasError()}>
    <div class="errorMsg">
      <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
          <li><{$message}></li>
        <{/foreach}>
      </ul>
    </div>
    <{/if}>

    <form action="#" method="post" autocomplete="off">

        <{xoops_token form=$actionForm}>
        <{xoops_input name=uid type=hidden value=$actionForm->get('uid')}>

        <div id="tabs">

            <ul>
                <li class="page">
                    <a href="<{$xoops_url}>/userinfo.php?uid=<{$thisUser->getShow('uid')}>#tab-profile">
                    <img class="svg profile" src="<{$xoops_url}>/images/icons/user.svg" width="1em" height="1em" alt="profile">
                    <span self="sm-hide">Profile</span></a></li>
                <li class="page">
                    <a href="<{$xoops_url}>/userinfo.php?uid=<{$thisUser->getShow('uid')}>#tab-timeline">
                    <img class="svg timeline" src="<{$xoops_url}>/images/icons/timeline.svg" width="1em" height="1em" alt="timeline">
                    <span self="sm-hide">Timeline</span></a></li>
                <li>
                    <a href="#tab-edit">Edit Profile</a>
                </li>
                <li>
                    <a href="#tab-pref">
                    <img class="svg settings" src="<{$xoops_url}>/images/icons/settings.svg" width="1em" height="1em" alt="settings">
                    <span self="sm-hide">Preferences</span></a>
                </li>
                <li class="page">
                    <a href="<{$xoops_url}>/notifications.php">
                    <img class="svg notifications" src="<{$xoops_url}>/images/icons/bell.svg" width="1em" height="1em" alt="notifications">
                    <span self="sm-hide">Notifications</span></a>
                </li>
            </ul>


            <div id="tab-edit">
                <{* include file="$xoops_theme/templates/user/inc_user_tab_edit.html" *}>
                <{include file="`$smarty.const.XOOPS_MODULE_PATH`/user/templates/inc_user_tab_edit.html"}>
            </div>

            <div id="tab-pref">
                <{* include file="$xoops_theme/templates/user/inc_user_tab_pref.html" *}>
                <{include file="`$smarty.const.XOOPS_MODULE_PATH`/user/templates/inc_user_tab_pref.html"}>
            </div>


        </div>

    </form>

</section>

<script>
    $( function() {
        $("#tabs").tabs({
            classes: {
                // "ui-tabs": "tab-bg",
                // "ui-tabs-nav": "tab-shadow",
                "ui-tabs-tab": "ui-corner-top",
                "ui-tabs-panel": "ui-corner-bottom"
            },
            active: 2,
            fx: [{opacity:'toggle', duration:'normal'}, {opacity:'toggle', duration:'normal'}]
        }).addClass('tab-active');
        $('#tabs > ul > li.page a').unbind('click');
    });
</script>
