<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<ul class="breadcrumb" aria-label="breadcrumb">
  <li><a href="<{$xoops_url}>/">
      <img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" width="1em" height="1em" alt="home"></a>
  <li><a href="<{$xoops_url}>/user.php"><{$smarty.const._MD_USER_LANG_PROFILE}></a>
  <li aria-current="page"><{$smarty.const._MD_USER_LANG_LOSTPASSWORD}>
</ul>

<hr>

<section layout="column" class="lost-password">

    <h2><{$smarty.const._MD_USER_LANG_LOSTPASSWORD}></h2>

    <{if $actionForm->hasError()}>
    <div class="errorMsg msg-callout msg-warning">
      <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
          <li><{$message}></li>
        <{/foreach}>
      </ul>
    </div>
    <{/if}>


    <form action="#" method="post">
    <{xoops_token form=$actionForm}>

        <div class="errorMsg msg-callout msg-warning">
            <{$smarty.const._MD_USER_LANG_NOPROBLEM}>
        </div>

        <div layout="column centered">
            <{$smarty.const._MD_USER_LANG_EMAIL}>
            <br>
            <{xoops_input name=email value=$actionForm->get('email') size=34 maxlength=60}>
            <br>
            <input type="submit" class="ui-button" value="<{$smarty.const._SEND}>">
        </div>

    </form>

</section>

