<div class="ui-dev-mode"><{$smarty.template}></div>

<h2><{$mod_name}> » <{$smarty.const._MD_A_D3FORUM_H2_SYNCALLTABLES}></h2>


<{* ////— ACTION-CONTROL —\\\\ *}>
<!--<section data-layout="row center-justify" class="action-control">-->

<!--    <div class="control-view">-->
<!--        <button class="help-admin button" type='button' data-id="4" data-module="<{$mydirname}>" data-help-article="#help-forum-start" aria-label="<{$smarty.const._HELP}>">-->
<!--            <b>?</b>-->
<!--        </button>-->
<!--    </div>-->

<!--</section>-->


<div class="tips">
    <{$smarty.const._MD_A_D3FORUM_HELP_SYNCALLTABLES}>
</div>


<div class="ui-card-full">
    <form name="syncalltables" action="<{$mod_url}>/admin/index.php?page=advanced_admin" method="post">

        <div data-layout="row sm-column">
            <div data-self="size-1of3 p-2">
            <h3><label for="button_synctopics">1.<{$smarty.const._MD_D3FORUM_TOPIC}></label></h3>
            <p>
                <{$smarty.const._MD_A_D3FORUM_MAX_TOPIC_ID}>:<{$max_topic_id}>
                <br>
                <label for="synctopics_start"><{$smarty.const._MD_A_D3FORUM_LABEL_SYNCTOPICS_START}></label>
                <input type="number" step="1" min="0" name="synctopics_start" id="synctopics_start" value="<{$synctopics_start}>">
                <br>
                <label for="synctopics_num"><{$smarty.const._MD_A_D3FORUM_LABEL_SYNCTOPICS_NUM}></label>
                <input type="number" step="10" min="0" max="100" name="synctopics_num" id="synctopics_num" value="<{$synctopics_num}>">
                <input type="submit" name="do_synctopics" id="button_synctopics" value="<{$smarty.const._MD_A_D3FORUM_BTN_DOSYNCTABLES}>">
            </p>
            </div>

            <div data-self="size-1of3 p-2">
            <h3><label for="button_syncforums">2.<{$smarty.const._MD_D3FORUM_FORUM}></label></h3>
            <p><input type="submit" name="do_syncforums" id="button_syncforums" value="<{$smarty.const._MD_A_D3FORUM_BTN_DOSYNCTABLES}>"></p>
            </div>

            <div data-self="size-1of3 p-2">
            <h3><label for="button_synccategories">3.<{$smarty.const._MD_D3FORUM_CATEGORY}></label></h3>
            <p><input type="submit" name="do_synccategories" id="button_synccategories" value="<{$smarty.const._MD_A_D3FORUM_BTN_DOSYNCTABLES}>"></p>
            </div>
        </div>
    </form>
</div>


<hr>


<div data-layout="row sm-column">

    <div data-self="size-1of2 p-2">

        <h3><{$smarty.const._MD_A_D3FORUM_H2_IMPORTFROM}></h3>
        <div class="tips">
            <{$smarty.const._MD_A_D3FORUM_HELP_IMPORTFROM}>
        </div>

        <div class="ui-card-full">
            <form name="importfrom" action="<{$mod_url}>/admin/index.php?page=advanced_admin" method="post">
                <{$gticket_hidden}>

                <p><label for="import_mid"><{$smarty.const._MD_A_D3FORUM_LABEL_SELECTMODULE}></label></p>
                <p>
                    <select name="import_mid" id="import_mid">
                        <option value='null'>-----</option>
                        <{html_options options=$import_from_options|truncate:40}>
                    </select>
                </p>
                <p><input type="submit" name="do_import" value="<{$smarty.const._MD_A_D3FORUM_BTN_DOIMPORT}>" onclick="return confirm('<{$smarty.const._MD_A_D3FORUM_CONFIRM_DOIMPORT}>')"></p>
            </form>
        </div>
    </div>



    <div data-self="size-1of2 p-2">
        <h3><{$smarty.const._MD_A_D3FORUM_H2_COMIMPORTFROM}></h3>
        <div class="tips">
            <{$smarty.const._MD_A_D3FORUM_HELP_COMIMPORTFROM}>
        </div>
        <div class="ui-card-full">
            <form name="comimportfrom" action="<{$mod_url}>/admin/index.php?page=advanced_admin" method="post">
                <{$gticket_hidden}>


                <p><label for="comimport_mid"><{$smarty.const._MD_A_D3FORUM_LABEL_SELECTMODULE}></label></p>
                <p>
                    <select name="comimport_mid" id="comimport_mid">
                    <option value='null'>-----</option>
                    <{html_options options=$comimport_from_options|truncate:40}>
                    </select>
                </p>

                <p><label for="comimport_forum_id"><{$smarty.const._MD_A_D3FORUM_LABEL_SELECTFORUM}></label></p>
                <p>
                    <select name="comimport_forum_id" id="comimport_forum_id">
                    <option value="0">----</option>
                    <{$comimport_to_options}>
                    </select>
                </p>
                <p><input type="submit" name="do_comimport" value="<{$smarty.const._MD_A_D3FORUM_BTN_DOIMPORT}>" onclick="return confirm('<{$smarty.const._MD_A_D3FORUM_CONFIRM_DOIMPORT}>')"></p>
            </form>
        </div>
    </div>

</div><{* xlayout row *}>
