<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<{if $block.full_view == true}>
<table class="outer">
<thead>
<tr>
	<th><{$block.lang_forum}></th>
	<th><{$block.lang_topic}></th>
	<th align="center"><{$block.lang_replies}></th>
	<th align="center"><{$block.lang_views}></th>
	<th align="center" colspan="2"><{$block.lang_lastpost}></th>
</tr>
</thead>
<{foreach item=topic from=$block.topics}>


<{strip}>
<tr>
	<td><div style="background:<{cycle name='topicolor' values='#ccdb38,#a676b8,#fe7e17'}>;height:20px;width:10px;">C</div>
        <a href="<{$block.mod_url}>/index.php?forum_id=<{$topic.forum_id}>"><{$topic.forum_title}></a></td>
	<td>
	<{if $block.current_topic_id == $topic.id}>
    <span class="d3f_currenttopic">
	<{else}>
    <{* <{if $topic.forum_id == 1}>
        <a href="<{$xoops_url}>/modules/d3diary/detail.php?bid=<{$topic.external_link_id}>#post_id<{$topic.last_post_id}>">
    <{elseif $topic.forum_id == 3}>
        <a href="<{$xoops_url}>/modules/xpwiki/index.php?pgid=<{$topic.external_link_id}>#post_id<{$topic.last_post_id}>">
    <{elseif $topic.forum_id == 8}>
        <a href="<{$xoops_url}>/modules/pico/index.php?content_id=<{$topic.external_link_id}>#post_id<{$topic.last_post_id}>">
    <{elseif $topic.forum_id == 10}>
        <a href="<{$xoops_url}>/modules/bulletin/index.php?page=article&storyid=<{$topic.external_link_id}>#post_id<{$topic.last_post_id}>">
    <{else}> *}>
        <a href="<{$block.mod_url}>/index.php?topic_id=<{$topic.id}>#post_id<{$topic.last_post_id}>">
    <{* <{/if}> *}>
	<{/if}>

	<{if $topic.u2t_marked}><img src="<{$block.mod_imageurl}>/block_marked.gif" alt="<{$block.lang_alt_marked}>"><{/if}>
	<{* displays the last post's subject or topic title *}>
		<{if $block.disp_last_subject}>
			<{$topic.last_subject}>
		<{else}>
			<{$topic.title}>
		<{/if}>
	<{if $block.current_topic_id == $topic.id}></span><{else}></a><{/if}>
	<{if !$topic.solved}>
<!--		<img src="<{$block.mod_imageurl}>/block_unsolved.gif" alt="<{$block.lang_alt_unsolved}>">-->
		<img class="svg" src="<{$xoops_url}>/images/icons/topic_status_solved0.svg" alt="<{$block.lang_alt_unsolved}>">
		<{/if}>
	</td>
	<td><{$topic.replies}></td>
	<td><{$topic.views}></td>
	<td nowrap="nowrap">
	<{if $topic.guest_name}>
		<{$topic.guest_name}>
	<{else}>
		<{$topic.last_uname}>
	<{/if}>
</td>
	<td nowrap="nowrap"><{$topic.last_post_time_formatted}></td>
</tr>
<{/strip}>
<{/foreach}>
</table>

<div>
<a class="button" href="<{$block.mod_url}>/index.php?page=search"><{$block.lang_linktosearch}></a>
&nbsp;
<{if is_numeric($block.forums)}>
<a class="button" href="<{$block.mod_url}>/index.php?forum_id=<{$block.forums}>"><{$block.lang_linktolisttopics}></a>
<{else}>
<a class="button" href="<{$block.mod_url}>/index.php?cat_ids=<{$block.categories}>"><{$block.lang_linktolisttopics}></a>
<{/if}>
&nbsp;
<{if is_numeric($block.categories)}>
<a class="button" href="<{$block.mod_url}>/index.php?cat_id=<{$block.categories}>"><{$block.lang_linktolistforums}></a>
&nbsp;
<{/if}>
<a class="button" href="<{$block.mod_url}>/index.php"><{$block.lang_linktolistcategories}></a>
</div>


<{else}>

<ol class="d3f_eachbranch">
<{foreach item=topic from=$block.topics}>
	<li<{if $block.current_topic_id == $topic.id}> class="d3f_currenttopic d3f_block_currenttopic"<{/if}>>
	<{if $block.current_topic_id != $topic.id}>
    <{* <{if $topic.forum_id == 1}>
        <a href="<{$xoops_url}>/modules/d3diary/detail.php?bid=<{$topic.external_link_id}>#post_id<{$topic.last_post_id}>">
    <{elseif $topic.forum_id == 3}>
        <a href="<{$xoops_url}>/modules/xpwiki/index.php?pgid=<{$topic.external_link_id}>#post_id<{$topic.last_post_id}>">
    <{elseif $topic.forum_id == 8}>
        <a href="<{$xoops_url}>/modules/pico/index.php?content_id=<{$topic.external_link_id}>#post_id<{$topic.last_post_id}>">
    <{elseif $topic.forum_id == 10}>
        <a href="<{$xoops_url}>/modules/bulletin/index.php?page=article&storyid=<{$topic.external_link_id}>#post_id<{$topic.last_post_id}>">
    <{else}> *}>
        <span><a href="<{$block.mod_url}>/index.php?topic_id=<{$topic.id}>#post_id<{$topic.last_post_id}>">
    <{* <{/if}> *}>
    <{$topic.title}></a>(<{$topic.replies}>)
    <{else}>
    <span><{$topic.title}>(<{$topic.replies}>)
    <{/if}>
	<{if $topic.guest_name}>
		<{$topic.guest_name}>
	<{else}>
		<{$topic.last_uname}>
	<{/if}>
 <{$topic.last_post_time_formatted}></span></li>
<{/foreach}>
</ol>

<{/if}>
