<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

    <{if $post_hits > 1}>
    <hr>

        <h3 class="my-4">
            <img class="svg tree" src="<{$xoops_url}>/images/icons/tree.svg"> <{$smarty.const._MD_D3FORUM_POSTSTREE}></h3>

        <{if $pagenav}>
        <nav aria-label="Comment page navigation">
            <ul class="pagination" self="center">
                <{foreach from=$pagenav item=nav_}>
                    <{if $nav_.url}>
                    <li class="page-item <{$nav_.class}>">
                        <a class="page-link" href="<{$nav_.url}>" aria-label="go to page <{$nav_.txt}>"><{$nav_.txt}></a>
                    </li>
                    <{else}>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#"><{$nav_.txt}></a>
                    </li>
                    <{/if}>
                <{/foreach}>
            </ul>
        </nav>
        <{/if}>

        <{foreach from=$posts item=eachpost}>
            <ul class='d3f_eachbranch'>
            <{"<span style='padding-left:`$eachpost.depth_in_tree`0px; padding-top: 0;'>"}>
            <a href="#post_id<{$eachpost.id}>" id="post_path<{$eachpost.unique_path}>" name="post_path<{$eachpost.unique_path}>">
                <img class="svg posticon" src="<{$xoops_url}>/images/icons/posticon<{$eachpost.icon}>.svg" alt="<{$icon_meanings[$eachpost.icon]}>">
                <{$eachpost.subject}>
            </a>
            (<{$eachpost.poster_uname}>, <{$eachpost.post_time_formatted}>)
                <{if $forum.isadminormod}><a href="<{$mod_url}>/index.php?page=cutpasteposts&amp;post_id=<{$eachpost.id}>">
                    <img class="svg tools" src="<{$xoops_url}>/images/icons/tools.svg" alt="<{$smarty.const._MD_D3FORUM_CUTPASTEPOSTS}>">
                </a>
                <{/if}>
                </span>
            </ul>
        <{/foreach}>

        <{if $tree_tp_count>1}>
        <h3 class="my-4"><{$smarty.const._MD_D3FORUM_TOPIC}></h3>

            <{foreach from=$tree item=eachpost}>

                <{if $eachpost.depth_in_tree == 0}>

                <ul class='d3f_eachbranch'><{"<span style='padding-left:`$eachpost.depth_in_tree`0px; padding-top: 0;'>"}>
                <a href="<{$mod_url}>/index.php?topic_id=<{$eachpost.topic_id}>#post_id<{$eachpost.id}>" id="post_path<{$eachpost.unique_path}>" name="post_path<{$eachpost.unique_path}>">
                    <img class="svg posticon" src="<{$xoops_url}>/images/icons/posticon<{$eachpost.icon}>.svg" alt="<{$icon_meanings[$eachpost.icon]}>"> <{$eachpost.subject}></a>
                (<{$eachpost.poster_uname}>, <{$eachpost.post_time_formatted}>)

                    <{if $forum.isadminormod}>
                    <a href="<{$mod_url}>/index.php?page=topicmanager&amp;topic_id=<{$eachpost.topic_id}>" aria-label="<{$smarty.const._MD_D3FORUM_CUTPASTEPOSTS}>">
                        <img class="svg tools" src="<{$xoops_url}>/images/icons/tools.svg" alt="<{$smarty.const._MD_D3FORUM_CUTPASTEPOSTS}>">
                    </a>
                    <{/if}>

                    <{if $eachpost.topic_id==$topic.id}>
                        <span style="color:red"><{$smarty.const._MD_D3FORUM_THIS_TOPIC}></span>
                    <{/if}>
                <{/if}>
                </ul>
            <{/foreach}>

        <{/if}>
        <hr>

    <{/if}>
    <{* ------- /$post_hits > 1 *}>


    <{if $plugin_params.order != 'asc'}>
        <{* begin simple comment form *}>
        <{if $forum.can_post && ! $plugin_params.no_form}>
            <{include file="db:`$mydirname`_inc_post_form_quick.html" h2_title=$smarty.const._MD_D3FORUM_POSTASCOMMENTTOP quick_form_mode="sametopic"}>
        <{/if}>
        <{*  /end simple comment form *}>
    <{/if}>


    <{if $forum.can_post && $plugin_params.no_form}>

    <{*  link to comment input form  *}>
        <div>
            <a href="<{$mod_url}>/index.php?page=newtopic&amp;forum_id=<{$forum.id}>&amp;external_link_id=<{$external_link_id|escape:"url"}>&amp;subject=<{$subject|escape:"url"}>">
            <{if $plugin_params.link_to_form}>
                <{$plugin_params.link_to_form}>
            <{else}>
                <{$smarty.const._MD_D3FORUM_POSTASCOMMENTTOP}>
            <{/if}>
            </a>
        </div>

    <{/if}>



    <{if $post_hits}>

    <{* ------- Top of posts *}>

    <{* ------- Module comments integration *}>
    <{* ------- Poster avatar *}>
    <{* ------- Smarty function cycle used to alternate comments position left and right *}>

    <section layout="column my-4" class="d3f_wrap" id="d3comment_listposts_flat">


    <{foreach item=post from=$posts}>

        <article layout="rows my-2">

            <div layout="row center-justify">
                <div self="mx-2 <{cycle values='left first,top last'}>" style="text-align: center;">
                    <a id="post_id<{$post.id}>"></a>
                    <{if $post.poster_avatar}>
                        <{if $post.poster_uid != 0}>
                        <a href="<{$xoops_url}>/userinfo.php?uid=<{$post.poster_uid}>" aria-label="<{$post.poster_uname}>">
                            <{/if}>
                            <{if $post.poster_avatar.height > 48}>
                            <img src="<{$xoops_upload_url}>/<{$post.poster_avatar.path}>" width="48" height="48" alt="<{$post.poster_uname}>" self="radius-circle">
                            <{elseif $post.poster_avatar.width > 1}>
                            <img src="<{$xoops_upload_url}>/<{$post.poster_avatar.path}>" width="<{$post.poster_avatar.width}>" height="<{$post.poster_avatar.height}>" alt="<{$post.poster_uname}>" self="radius-circle">
                            <{else}>
<!--                            <img src="<{$xoops_url}>/modules/user/images/no_avatar.gif" width="48" height="48" alt="<{$post.poster_uname}>" self="radius-circle">-->
                            <img class="svg user" src="<{$xoops_url}>/images/icons/user.svg" width="48px" height="48px" alt="<{$post.poster_uname}>">
                            <{/if}>
                            <{if $post.poster_uid != 0}>
                        </a>
                        <{/if}>
                    <{/if}>
                    <br>
                    <{if $post.poster_uid != 0}>
                        <a href="<{$xoops_url}>/userinfo.php?uid=<{$post.poster_uid}>"><{$post.poster_uname}></a>
                    <{else}>
                        <{$post.poster_uname}>
                    <{/if}>&nbsp;
                </div>

                <div self="size-x1">

                    <h4><a href="<{$mod_url}>/index.php?post_id=<{$post.id}>" id="post_path<{$post.unique_path}>" name="post_id<{$post.id}>"><{$post.subject}></a></h4>

                    <div self="size-x1" class="d3f_info even">

                        <span class="d3f_trip">
                        <{if $post.guest_url}>
                            <a href="<{$post.guest_url}>" aria-label="<{$post.guest_url}>"><{$smarty.const._MD_D3FORUM_TH_GUESTURL}></a>
                        <{/if}>
                            <img class="svg date" src="<{$xoops_url}>/images/icons/date-time.svg">
                            <{$smarty.const._MD_D3FORUM_ON}> <span class="badge"><{$post.post_time_formatted}></span>
                        </span>

                    </div>

                    <{* ------- post *}>
                    <div self="size-x1 my-2">

                        <div><{$post.post_text}></div>

                    </div>
                    <{* ------- / post *}>

                </div>
            </div>

            <{* ------- Actions buttons *}>
            <div layout="row center-right">

                <{if $post.can_edit}>
                <a class="ui-button" href="<{$mod_url}>/index.php?page=edit&amp;post_id=<{$post.id}>">
                    <img class="svg edit-box" src="<{$xoops_url}>/images/icons/edit-box.svg"> <{$smarty.const._MD_D3FORUM_POSTEDIT}></a>
                <{/if}>

                <{if $post.can_delete}>
                <a class="ui-button" href="<{$mod_url}>/index.php?page=delete&amp;post_id=<{$post.id}>">
                    <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt=""> <{$smarty.const._MD_D3FORUM_POSTDELETE}></a>
                <{/if}>

                <{if $post.can_reply}>
                <a class="ui-button" href="<{$mod_url}>/index.php?page=reply&amp;post_id=<{$post.id}>">
                    <img class="svg reply" src="<{$xoops_url}>/images/icons/reply.svg"> <{$smarty.const._MD_D3FORUM_POSTREPLY}></a>
                <{/if}>

                <{if $post.post_time < $post.modified_time and $xoops_isadmin}>

                <button type="button" class="ui-button"
                        data-toggle="popover"
                        data-html="true"
                        data-placement="top"
                        aria-label="<{$smarty.const._MD_D3FORUM_HISTORIES}>"
                        data-content="
                    <a href='<{$mod_url}>/admin/index.php?page=post_histories&amp;post_id=<{$post.id}>'}>
                    <{$smarty.const._MD_D3FORUM_LASTMODIFIED}><br><{$post.modified_time_formatted}></a>">
                    <img class="svg time-history" src="<{$xoops_url}>/images/icons/time-history.svg">
                </button>

                <{/if}>

            </div>

        </article>

    <{/foreach}>

    </section>
    <{* /end of posts  *}>
    <{/if}>
    <{* ------- /$post_hits *}>




    <{if $post_hits > 1}>
    <hr>

    <div class="d3f_link">
    <{$posts|@count|string_format:$smarty.const._MD_D3FORUM_FMT_POSTDISPLAYSINFO}>
    (<{$post_hits|string_format:$smarty.const._MD_D3FORUM_FMT_POSTHITSINFO}>)
    <a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>&amp;external_link_id=<{$external_link_id|escape:"url"}>">
        <{$smarty.const._MD_D3FORUM_LINK_LISTALLCOMMENTS}></a>
    </div>

        <{if $pagenav}>
            <nav aria-label="Comment page navigation">
                <ul class="pagination justify-content-center">
                    <{foreach from=$pagenav item=nav_}>
                        <{if $nav_.url}>
                        <li class="page-item <{$nav_.class}>">
                            <a class="page-link" href="<{$nav_.url}>" aria-label="go to page <{$nav_.txt}>"><{$nav_.txt}></a>
                        </li>
                        <{else}>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#"><{$nav_.txt}></a>
                        </li>
                        <{/if}>
                    <{/foreach}>
                </ul>
            </nav>
        <{/if}><{* ------- /$pagenav *}>

    <{/if}><{* ------- /$post_hits > 1 *}>



<{* ------- begin simple comment form *}>

    <{if $plugin_params.order == 'asc'}>
        <{if $forum.can_post && ! $plugin_params.no_form}>
            <{include file="db:`$mydirname`_inc_post_form_quick.html" h2_title=$smarty.const._MD_D3FORUM_POSTASCOMMENTTOP quick_form_mode="sametopic"}>
        <{/if}>
    <{/if}>

<{* -------end simple comment form *}>
