<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<section layout="column" class="action-control" name="post-order-tree">

    <div  layout="row center-right">

        <{if $postorder != 0}>
            <a class="ui-button" href="<{$mod_url}>/index.php?page=update_postorder&amp;ret_name=<{$ret_name}>&amp;ret_val=<{$ret_val}>&amp;postorder=0">
                <img class="svg list-tree" src="<{$xoops_url}>/images/icons/list-tree.svg" width="1em" alt="list-tree">
                <span self="sm-hide"><{$smarty.const._MD_D3FORUM_LINK_POSTORDERTREEASC}></span>
            </a>
        <{/if}>
        <{if $postorder != 2}>
            <a class="ui-button" href="<{$mod_url}>/index.php?page=update_postorder&amp;ret_name=<{$ret_name}>&amp;ret_val=<{$ret_val}>&amp;postorder=2">
                <img class="svg date-up" src="<{$xoops_url}>/images/icons/sort-date-up.svg" width="1em" alt="sort-up">
                <span self="sm-hide"><{$smarty.const._MD_D3FORUM_LINK_POSTORDERTIMEASC}></span>
            </a>
        <{/if}>
        <{if $postorder != 3}>
            <a class="ui-button" href="<{$mod_url}>/index.php?page=update_postorder&amp;ret_name=<{$ret_name}>&amp;ret_val=<{$ret_val}>&amp;postorder=3">
                <img class="svg date-down" src="<{$xoops_url}>/images/icons/sort-date-down.svg" width="1em" alt="sort-down">
                <span self="sm-hide"><{$smarty.const._MD_D3FORUM_LINK_POSTORDERTIMEDESC}></span>
            </a>
        <{/if}>

        <{if $prev_topic.id || $next_topic.id}>
            <{if $prev_topic.id}>
            <a class="ui-button" href="<{$mod_url}>/index.php?topic_id=<{$prev_topic.id}>" aria-label="<{$prev_topic.title}>">
                <img class="svg topic-prev" src="<{$xoops_url}>/images/icons/topic-prev.svg" width="1em" alt="previous">
                <span self="sm-hide"><{$smarty.const._MD_D3FORUM_LINK_PREVTOPIC}></span>
            </a>
            <{/if}>
                <{if $prev_topic.id && $next_topic.id}>
                <!-- prev and next -->
                <{/if}>
            <{if $next_topic.id}>
            <a class="ui-button" href="<{$mod_url}>/index.php?topic_id=<{$next_topic.id}>" aria-label="<{$next_topic.title}>">
                <img class="svg topic-next" src="<{$xoops_url}>/images/icons/topic-next.svg" width="1em" alt="next">
                <span self="sm-hide"><{$smarty.const._MD_D3FORUM_LINK_NEXTTOPIC}></span>
            </a>
            <{/if}>
        <{/if}>

    </div>

</section>
