<{* ICONS *}>
<{include file="db:`$mydirname`_inc_topic_icon.html"}>

<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}> </div>


<{if $mod_config.show_breadcrumbs}>
<nav aria-label="breadcrumb">
    <ul>
        <li>
            <a href="<{$xoops_url}>/">
                <img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" alt="home">
            </a>
        </li>
        <li>
            <a href="<{$mod_url}>/index.php">
                <img class="svg forum_1" src="<{$xoops_url}>/images/icons/forum_1.svg" alt=""> <{$smarty.const._MD_D3FORUM_TOP}>
            </a>
        </li>
        <{foreach name=catgorybreadcrumbs from=$category.paths_raw key=parent_id item=parent_title_raw}>
            <{if !$smarty.foreach.catgorybreadcrumbs.last}>
        <li><a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a></li>
            <{/if}>
        <{/foreach}>
        <li aria-current="page"><{$category.title}></li>
    </ul>
</nav>
<{/if}>


<{* ------- Category Top message *}>
<article class="category-top">

    <h2 class="flex-justify"><{$category.title}>
        <{if $mod_config.show_rss}> 
        <a href="<{$mod_url}>/index.php?page=rss&amp;cat_ids=<{$category.id}>&amp;odr=1" title="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYRSS}>">
            <img class="svg" src="<{$xoops_url}>/images/icons/rss.svg" width="1em" height="1em" alt="RSS">
        </a>
        <{/if}>
    </h2>

  

    <{if $category.desc}>
        <div data-layout="row" class="description">
            <a class="btn-icon" id="open-help" data-tooltip="<{$smarty.const._MD_D3FORUM_LEGEND}>">
                <img class="svg" src="<{$xoops_url}>/images/icons/info.svg" width="1em" alt="info"></a> 
        <{$category.desc}>
        </div>
    <{/if}>


    <footer>
        <div class="grid">

        <{* ----- List All Topics *}>
        <div>
        <a role="button" class="primary"  href="<{$mod_url}>/index.php?cat_ids=<{$category.id}>">
            <img class="svg" src="<{$xoops_url}>/images/icons/list-tree.svg" width="1em" height="1em" alt="list-tree">
            <{$smarty.const._MD_D3FORUM_LISTTOPICSINCATEGORY}>
        </a>
        </div>

        <{* ------- Admin Control *}>
        <{if $category.isadminormod}>
        <details class="dropdown">
            <summary aria-haspopup="listbox" role="button" class="outline">
                Admin
            </summary>
            <ul>
            <{* ----- CATEGORY NEW FORUM *}>
            <{if $category.isadminormod}>
                <li><a href="<{$mod_url}>/index.php?page=makeforum&amp;cat_id=<{$category.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_MAKEFORUM}> <{$smarty.const._MD_D3FORUM_SUFFIX_UNDERTHISCATEGORY}>">
                    <img class="svg" src="<{$xoops_url}>/images/icons/topic_plus.svg" width="1em" height="1em" alt="new-forum">
                    <{$smarty.const._MD_D3FORUM_LINK_MAKEFORUM}>
                </a></li>
            <{/if}>

            <{* ----- CATEGORY CREATE *}>
            <{if $xoops_isadmin}>
                <li><a href="<{$mod_url}>/index.php?page=makecategory&amp;cat_id=<{$category.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_MAKESUBCATEGORY}> <{$smarty.const._MD_D3FORUM_SUFFIX_UNDERTHISCATEGORY}>">
                    <img class="svg" src="<{$xoops_url}>/images/icons/folder-plus.svg" width="1em" height="1em" alt="new-category">
                    <{$smarty.const._MD_D3FORUM_LINK_MAKESUBCATEGORY}>
                </a></li>
            <{* ----- CATEGORY MANAGER *}>
                <li><a href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$category.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYMANAGER}>">
                    <img class="svg" src="<{$xoops_url}>/images/icons/edit.svg" width="1em" height="1em" alt="edit">
                    <{$smarty.const._MD_D3FORUM_LINK_CATEGORYMANAGER}>
                </a></li>
            <{* ----- CATEGORY ACCESS *}>
                <li><a href="<{$mod_url}>/admin/index.php?page=category_access&amp;cat_id=<{$category.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYACCESS}>">
                    <img class="svg" src="<{$xoops_url}>/images/icons/lock.svg" width="1em" height="1em" alt="permissions">
                    <{$smarty.const._MD_D3FORUM_LINK_CATEGORYACCESS}>
                </a></li>
            <{/if}>
            </ul>
        </details>
        <{/if}>
        <{* ----- /Admin Control *}>

        </div>
    </footer>

</article>


<article>

<{* ----- Subcategories *}>
<{if $subcategories}>
<h4 class="block-title subcategories"><{$smarty.const._MD_D3FORUM_SUBCATEGORIES}></h4>

    <{foreach item=subcategory from=$subcategories}>
    <div id="subcategory-<{$subcategory.id}>">

        <div class="headings">
            <h3>
                <a href="<{$mod_url}>/index.php?cat_id=<{$subcategory.id}>">
                    <img class="svg category_<{$subcategory.bit_new}>" src="<{$xoops_url}>/images/icons/category_<{$subcategory.bit_new}>.svg" width="1em" height="1em" alt="<{$subcategory.title}>">
                    <{$subcategory.title}>
                </a>

                <{if $xoops_isadmin}>
                <a href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$subcategory.id}>" data-tooltip="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYMANAGER}>">
                    <img class="svg" src="<{$xoops_url}>/images/icons/edit.svg" width="1em" height="1em" alt="edit">
                </a>
                <{/if}>
            </h3>

            <{* ------- Activity Overview - Subcategories *}>
            <p class="forum-activity">
                <{$smarty.const._MD_D3FORUM_TOTALTOPICSCOUNT}> <span class="badge"><{$subcategory.topics_count_in_tree}></span>
                <{$smarty.const._MD_D3FORUM_TOTALPOSTSCOUNT}> <span class="badge"><{$subcategory.posts_count_in_tree}></span>
                <{if $subcategory.last_post_time}>
                <{$smarty.const._MD_D3FORUM_LASTPOST}>: <span class="badge"><{$subcategory.last_post_time_formatted}></span>
                <{/if}>

                <{if $mod_config.show_rss}>
                <a href="<{$mod_url}>/index.php?page=rss&amp;cat_ids=<{$subcategory.id}>&amp;odr=1" title="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYRSS}>">
                    <img class="svg" src="<{$xoops_url}>/images/icons/rss.svg" width="1em" height="1em" alt="RSS">
                </a>
                <{/if}>
            </p>
            <{* ------- /Activity Overview - Subcategories *}>

        </div>

        <{if $subcategory.desc}>
        <div class="description">
            <{$subcategory.desc}>
        </div>
        <{/if}>

    </div>
    <{/foreach}>
    <hr>
<{/if}>
<{* ----- /Subcategories *}>


<{* ----- Forums List *}>
<{if $forums}>
<h4 class="block-title forums"><{$smarty.const._MD_D3FORUM_FORUM}></h4>

    <{foreach item=forum from=$forums}>
    <div class="category-forum">

        <div class="headings">
            <h3>
                <a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>">
                    <img class="svg" src="<{$xoops_url}>/images/icons/forum_<{$forum.bit_new}>.svg" width="1em" height="1em" alt="forum>">
                    <{$forum.title}>
                </a>

                <{* Admin *}>
                <{if $forum.isadminormod}>
                <a href="<{$mod_url}>/index.php?page=forummanager&amp;forum_id=<{$forum.id}>" data-tooltip="<{$smarty.const._MD_D3FORUM_LINK_FORUMMANAGER}>">
                    <img class="svg" src="<{$xoops_url}>/images/icons/edit.svg" width="1em" height="1em" alt="edit"></a>
                <{/if}>
            </h3>

            <p class="forum-activity">
            <{$smarty.const._MD_D3FORUM_TOPICSCOUNT}> <span class="badge"><{$forum.topics_count}></span>
            <{$smarty.const._MD_D3FORUM_POSTSCOUNT}> <span class="badge"><{$forum.posts_count}></span>
                <{* ------- Activity Last Post *}>

                <{if $forum.last_post_time}>
                <span class="activity-last">
                <a href="<{$mod_url}>/index.php?post_id=<{$forum.last_post_id}>" title="<{$forum.last_post_subject}>">
                    <img class="svg" src="<{$xoops_url}>/images/icons/posticon<{$forum.last_post_icon}>.svg" width="1em" height="1em" alt="posticon">
                    <{if $forum.last_post_gname}>
                    <span><{$forum.last_post_gname|ucfirst}></span>
                    <{else}>
                    <span><{$forum.last_post_uname|ucfirst}></span>
                    <{/if}>
                 - <{$smarty.const._MD_D3FORUM_LASTPOST}></a> <span class="badge"><{$forum.last_post_time_formatted}></span>
                </span> 
                <{/if}>

                <{if $mod_config.show_rss}>
                <a href="<{$mod_url}>/index.php?page=rss&amp;forum_id=<{$forum.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_FORUMRSS}>">
                    <img class="svg" src="<{$xoops_url}>/images/icons/rss.svg" width="1em" height="1em" alt="RSS">
                </a>
                <{/if}>
            </p>

        </div>

        <{if $forum.desc}>
        <div class="description"><{$forum.desc}></div>
        <{/if}>

        <{* ------- Action Control *}>
        <div class="flex-justify">
            <div>
            <{if $forum.isadminormod}>
                <{include file="db:`$mydirname`_inc_moderators.html" target=$forum}>
            <{/if}>
            </div>

            <{if $forum.external_link_format}>
                <div> [<{$smarty.const._MD_D3FORUM_FORUMASCOMMENT}>] </div>
            <{elseif $forum.can_post}>
                <div>
                    <a role="button" aria-busy="false" class="outline" href="<{$mod_url}>/index.php?page=newtopic&amp;forum_id=<{$forum.id}>">
                        <{$smarty.const._MD_D3FORUM_POSTASNEWTOPIC}>
                    </a>
                </div>
            <{/if}>

        </div>
    </div>
    <{/foreach}>
<{/if}>
<{* ----- /Forums List *}>

</article>



<{if $xoops_isuser}>

<{* ----- Category jump-box *}>
<article id="jump-box">
    <form name="category_jump_box" action="<{$mod_url}>/index.php" method="get">
        <label>
            <select name="cat_id">
            <option value="">(<{$smarty.const._MD_D3FORUM_TOP}>)</option>
            <{$cat_jumpbox_options}>
            </select>
        </label>

        <div class="grid-2">
            <a role="button" class="outline" href="<{$mod_url}>/index.php?page=search">
                <img class="svg" src="<{$xoops_url}>/images/icons/search.svg" width="1em" height="1em" alt="search">
                <{$smarty.const._MD_D3FORUM_LINK_ADVSEARCH}></a>
            <button type="submit" aria-busy="false" role="button" class="outline" value="<{$smarty.const._MD_D3FORUM_BTN_JUMPTOCATEGORY}>"><{$smarty.const._MD_D3FORUM_BTN_JUMPTOCATEGORY}></button>
        </div>
    </form>
</article>

<{* /////// NOTIFICATION \\\\\\\ *}>
<{include file='db:legacy_notification_select.html'}>

<{/if}>


<{* ----- MODAL FORUM ICONS LEGEND *}>
<div id="dialog-help" title="<{$smarty.const._MD_D3FORUM_LEGEND}>">
<div>
    <ul class="forum-icon-list">
        <li><img class="svg" src="<{$xoops_url}>/images/icons/category_1.svg" width="1em" height="1em" alt="category-new"> = <{$smarty.const._MD_D3FORUM_ALT_NEWPOSTS}> <{$smarty.const._MD_D3FORUM_SUFFIX_UNDERTHISCATEGORY}></li>
        <li><img class="svg" src="<{$xoops_url}>/images/icons/category_0.svg" width="1em" height="1em" alt="category"> = <{$smarty.const._MD_D3FORUM_ALT_NONEWPOSTS}> <{$smarty.const._MD_D3FORUM_SUFFIX_UNDERTHISCATEGORY}></li>
        <li><img class="svg" src="<{$xoops_url}>/images/icons/forum_1.svg"  width="1em" height="1em" alt="forum-mew"> = <{$smarty.const._MD_D3FORUM_ALT_NEWPOSTS}></li>
        <li><img class="svg" src="<{$xoops_url}>/images/icons/forum_0.svg" width="1em" height="1em" alt="forum"> = <{$smarty.const._MD_D3FORUM_ALT_NONEWPOSTS}></li>
    </ul>
</div>
<script>
$( function() {
    $( "#dialog-help" ).dialog({
    autoOpen: false,
    resizable: false,
    height: 250,
    width:400,
    show: {
        effect: "blind",
        duration: 800
    },
    hide: {
        effect: "fold",
        duration: 1000
    }
    });

    $( "#open-help" ).on( "click", function() {
    $( "#dialog-help" ).dialog( "open" );
    });
} );
</script>
