<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mod_config.show_breadcrumbs}>
    <ul class="breadcrumb" aria-label="breadcrumb">
        <li><a href="<{$xoops_url}>/"><img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" alt=""></a>
        <li><a href="<{$mod_url}>/index.php"><img class="svg forum" src="<{$xoops_url}>/images/icons/forum_1.svg" alt=""> <{$smarty.const._MD_D3FORUM_TOP}></a>
        <li class="active" aria-current="page"><{$smarty.const._MD_D3FORUM_TITLE_SEARCH}></li>
    </ul>
<{/if}>

<section id="search-advanced" layout="column">

    <h2><{$smarty.const._MD_D3FORUM_TITLE_SEARCH}></h2>

    <form name="search" action="<{$mod_url}>/index.php" method="get">
        <input type="hidden" name="page" value="search">

        <h4><label for="keywords"><img class="svg search-adv" src="<{$xoops_url}>/images/icons/search-adv.svg"> <{$smarty.const._MD_D3FORUM_LABEL_KEYWORDS}></label></h4>
        <div layout="row mb-7"><input type="text" self="left" name="keyword" id="keywords" size="44" value="<{$keyword}>"></div>

        <fieldset layout="row mb-7">
            <legend self="mt-n4"><{$smarty.const._MD_D3FORUM_LEGEND_WORDSMEANING}></legend>
            <{html_radios class="form-check-input position-static" name="andor" options=$andor_options selected=$andor_selected separator='<br>'}>
        </fieldset>

        <fieldset layout="row mb-7">
            <legend self="mt-n4"><{$smarty.const._MD_D3FORUM_LEGEND_SEARCHIN}></legend>
            <{html_radios class="form-check-input position-static" name="target" options=$target_options selected=$target_selected separator='<br>'}>
        </fieldset>

        <h4><label for="forum_id"><img class="svg forum" src="<{$xoops_url}>/images/icons/forum_0.svg"> <{$smarty.const._MD_D3FORUM_FORUM}></label></h4>
            <select self="left mb-7" id="forum_id">
                <option value="">-<{$smarty.const._MD_D3FORUM_WHOLE}>-</option>
                <{$forum_jumpbox_options}>
            </select>

        <h4><label for="searchin_poster"><img class="svg user" src="<{$xoops_url}>/images/icons/user.svg"> <{$smarty.const._MD_D3FORUM_POSTER}></label></h4>
        <input type="text" self="left mb-7" name="search_username" id="searchin_poster" placeholder="uname" value="<{$uname}>">

        <fieldset layout="row mb-7">
                <legend self="mt-n4"><{$smarty.const._MD_D3FORUM_LABEL_SORTBY}></legend>
                <{html_radios class="form-check-input" name="sortby" options=$sortby_options selected=$sortby_selected separator='<br>'}>
        </fieldset>

        <div layout="row my-7">
                <button type="submit" class="ui-button" name="submit" value="<{$smarty.const._MD_D3FORUM_BTN_SEARCH}>">
                    <img class="svg search" src="<{$xoops_url}>/images/icons/search.svg"> <{$smarty.const._MD_D3FORUM_BTN_SEARCH}>
                </button>
        </div>

    </form>

</section>

<hr>

<section id="search-results">
    <{if $show_results}>

    <h3><{$smarty.const._MD_D3FORUM_TITLE_SEARCHRESULTS}></h3>

        <{if $results}>

        <div class="tips"><{$hits_count|string_format:$smarty.const._MD_D3FORUM_FMT_SEARCHHITS}>
        </div>

        <table class="outer searchresult">
        <thead>
            <tr>
                <th abbr="<{$smarty.const._MD_D3FORUM_FORUM}>"><{$smarty.const._MD_D3FORUM_FORUM}></th>
                <th abbr="<{$smarty.const._MD_D3FORUM_SUBJECT}>"><{$smarty.const._MD_D3FORUM_SUBJECT}></th>
                <th abbr="<{$smarty.const._MD_D3FORUM_POSTER}>"><{$smarty.const._MD_D3FORUM_POSTER}></th>
                <th abbr="<{$smarty.const._MD_D3FORUM_VIEWS}>"><{if $mod_config.use_vote}><{$smarty.const._MD_D3FORUM_VOTEPOINTAVG}><{else}><{$smarty.const._MD_D3FORUM_VIEWS}><{/if}></th>
                <th abbr="<{$smarty.const._MD_D3FORUM_ON}>"><{$smarty.const._MD_D3FORUM_ON}></th>
            </tr>
        </thead>
        <{* ----- start search results *}>
        <{foreach from=$results item=post}>
        <tr>
            <td><a href="<{$mod_url}>/index.php?forum_id=<{$post.forum_id}>"><{$post.forum_title}></a></td>
            <td>
                <a href="<{$mod_url}>/index.php?post_id=<{$post.post_id}>">
                <img class="svg posticon" src="<{$xoops_url}>/images/icons/posticon<{$post.icon}>.svg">
                    <{$post.subject}>
                </a><span class="badge"><{$post.body_length|string_format:$smarty.const._MD_D3FORUM_FMT_BYTE}></span></td>
            <td><a href="<{$xoops_url}>/userinfo.php?uid=<{$post.poster_uid}>"><{$post.poster_uname}></a></td>
            <td><span class="badge"><{if $mod_config.use_vote}><{$post.votes_avg|string_format:"%.2f"}>/<{$post.votes_count}><{else}><{$post.topic_views}><{/if}></span></td>
            <td><span class="badge"><{$post.post_time_formatted}></span></td>
        </tr>
        <{/foreach}>
        <{* ----- end search results *}>
        </table>

        <{else}>

        <{* no hit *}>
        <div class="msg-callout msg-warning">
            <p><{$smarty.const._MD_D3FORUM_MSG_NOMATCH}></p>
        </div>

        <{/if}>

    <{/if}>
</section>
