<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<{if $mod_config.show_breadcrumbs}>
<nav aria-label="breadcrumb">
    <ul>
        <li><a href="<{$xoops_url}>/"><img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" width="1em" alt="home"></a></li>
        <li><a href="<{$mod_url}>/index.php">
            <img class="svg forum" src="<{$xoops_url}>/images/icons/forum_1.svg" width="1em" alt=""> <{$smarty.const._MD_D3FORUM_TOP}>
        </a>
        </li>
        <{foreach from=$category.paths_raw key=parent_id item=parent_title_raw}>
            <li><a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a></li>
        <{/foreach}>
        <li aria-current="page"><{$forum.title}></li>
    </ul>
</nav>
<{/if}>


<{* ----- ALERT MODULE COMMENTS ----- *}>
<{if $forum.external_link_format}>
<div class="alert warning">
    <{$smarty.const._MD_D3FORUM_FORUMASCOMMENT_DESC}>
</div>
<{/if}>


<{* ------- CATEGORY TOP - Forum *}>

<article class="category-top">

    <header>

        <h2><{$forum.title}></h2>

        <{* ------- Activity Overview - Forums *}>
        <p class="forum-activity">
            <{if $forum.isadminormod}>
            <{include file="db:`$mydirname`_inc_moderators.html" target=$forum}>
            <{/if}>

            <{$smarty.const._MD_D3FORUM_TOPICSCOUNT}> <span class="badge"><{$forum.topics_count}></span>
            <{$smarty.const._MD_D3FORUM_POSTSCOUNT}> <span class="badge"><{$forum.posts_count}></span>

            <{* NOTE: only "last post time" is available outside the loop ! *}>
            <{if $forum.last_post_time}>
            <a href="<{$mod_url}>/index.php?post_id=<{$forum.last_post_id}>">
                <img class="svg posticon" src="<{$xoops_url}>/images/icons/posticon0.svg" alt="post"> <{$smarty.const._MD_D3FORUM_LASTPOST}>
            </a> <span class="badge"><{$forum.last_post_time_formatted}></span>
           <{/if}>

            <{if $mod_config.show_rss}>
            <a href="<{$mod_url}>/index.php?page=rss&amp;forum_id=<{$forum.id}>"
               title="<{$smarty.const._MD_D3FORUM_LINK_FORUMRSS}>">
                <img class="svg rss" src="<{$xoops_url}>/images/icons/rss.svg" width="1em" alt="RSS">
            </a>
            <{/if}>
        </p>
        <{* ------- /Activity Overview - Forums *}>
    </header>

    <{* FORUM DESCRIPTION - RAW TEXT *}>
    <div data-layout="row" class="description">
        <a class="btn-icon" id="open-help" data-tooltip="<{$smarty.const._MD_D3FORUM_LEGEND}>">
            <img class="svg" src="<{$xoops_url}>/images/icons/info.svg" width="1em" alt="info"></a> 
        <{$forum.desc}>
    </div>

    <footer>
    <div class="grid">
        <div>
        <{* ------- D3 MODULE COMMENT (external) AND FORUM NEW TOPIC  *}>

        <{if !$forum.external_link_format and $forum.can_post}>
            <div>
                <a role="button" class="primary" href="<{$mod_url}>/index.php?page=newtopic&amp;forum_id=<{$forum.id}>">
                    <{$smarty.const._MD_D3FORUM_POSTASNEWTOPICTOTHISFORUM}>
                </a>
            </div>
        <{else}>
            <div>
                <span data-tooltip="<{$smarty.const._MD_D3FORUM_CANTCREATENEWTOPICTHISFORUM}>">
                    <button disabled>
                    <{$smarty.const._MD_D3FORUM_POSTASNEWTOPICTOTHISFORUM}>
                </button>
            </div>
        <{/if}>
        </div>
        <!-- TODO ALERT -->
        <{* ----- Guest can post or not *}>
        <{if !$xoops_isuser}>
        <div>
            <{if $forum.can_post}>
                <span><{$smarty.const._MD_D3FORUM_GUESTSCANPOST_DESC}></span>
            <{else}>
                <span><button role="button" class="outline" disabled><{$smarty.const._MD_D3FORUM_GUESTSCANNOTPOST_DESC}></button></span>
            <{/if}>
        </div>
        <{/if}>
        

        <{if $category.isadminormod}>
        <details class="dropdown">
            <summary role="button" class="outline">
                Action
            </summary>
            <ul>
                <{* ----- FORUM EDIT *}>
                <{if $forum.isadminormod}>
                <li><a href="<{$mod_url}>/index.php?page=forummanager&amp;forum_id=<{$forum.id}>" title="edit">
                    <img class="svg" src="<{$xoops_url}>/images/icons/edit.svg" width="" height="" alt="edit">
                    <{$smarty.const._MD_D3FORUM_LINK_FORUMMANAGER}></a></li>
                <{/if}>
                <{* ----- FORUM ADMIN PERMISSIONS *}>
                <{if $xoops_isadmin}>
                <li><a href="<{$mod_url}>/admin/index.php?page=forum_access&amp;forum_id=<{$forum.id}>">
                    <img class="svg lock" src="<{$xoops_url}>/images/icons/lock.svg" width="1em" alt="permissions">
                    <{$smarty.const._MD_D3FORUM_LINK_FORUMACCESS}></a></li>
                <{/if}>
            </ul>
        </details>
        <{/if}>

    </div>
    </footer>

</article>


<{* ------- D3 COMMENT SUMMARY *}>
<{* include file="db:`$mydirname`_inc_d3comment_summary.html" topic=$d3comment_info *}>


<{* ------- Pagination *}>
<{if $pagenav}>
<nav class="pagination" aria-label="pagination">
    <{$pagenav}>
</nav>
<{/if}>



<{* ----- TOPICS LIST *}>
<article>

<{foreach item=topic from=$topics}>

    <{* TODO theme component for Forum topics images
        NOTE : Assign icons MUST be in the topic loop ! *}>

    <{if $topic.sticky}>
        <{assign var="topic_icon_src" value="`$xoops_url`/images/icons/topic_sticky`$topic.bit_new`.svg"}>
        <{assign var="topic_icon_alt" value=$smarty.const._MD_D3FORUM_TOPICSTICKY}>
    <{elseif $topic.invisible}>
        <{assign var="topic_icon_src" value="`$xoops_url`/images/icons/topic_invisible.svg"}>
        <{assign var="topic_icon_alt" value=$smarty.const._MD_D3FORUM_ALT_INVISIBLE}>
    <{else}>
        <{assign var="topic_icon_src" value="`$xoops_url`/images/icons/topic_`$topic.bit_new``$topic.bit_hot`.svg"}>
        <{assign var="topic_icon_alt" value="New `$smarty.const._MD_D3FORUM_TOPIC`"}>
    <{/if}>

    <div data-layout="column" class="topic-post">

        <header>
        <h4>
            <span>
            <span data-tooltip="<{$topic_icon_alt}>"><img class="svg topic-icon" src="<{$topic_icon_src}>" width="1em" alt="<{$topic_icon_alt}>"></span>
            <a href="<{$mod_url}>/index.php?topic_id=<{$topic.id}>#post_id<{$topic.last_post_id}>"><{$topic.title}></a>
            </span>

            <span>
            <{if $topic.locked}>
                <span data-tooltip="<{$smarty.const._MD_D3FORUM_TOPICLOCKED}>"><img class="svg lock" src="<{$xoops_url}>/images/icons/topic_status_locked1.svg" width="1em" alt="lock"></span>
            <{/if}>

            <{if $mod_config.use_solved && !$topic.solved}>
                <{if $forum.isadminormod}>
                <a href="<{$mod_url}>/index.php?page=update_topic_solved&amp;topic_id=<{$topic.id}>&amp;ret_name=forum_id&amp;ret_val=<{$forum.id}>" data-tooltip="<{$smarty.const._MD_D3FORUM_SOLVED_TURNON}>">
                    <img class="svg report" src="<{$xoops_url}>/images/icons/topic_status_solved0.svg" width="1em" alt="<{$smarty.const._MD_D3FORUM_ALT_SOLVEDNO}>">
                </a>
                <{else}>
                <span data-tooltip="<{$smarty.const._MD_D3FORUM_ALT_SOLVEDNO}>">
                <img class="svg report" src="<{$xoops_url}>/images/icons/topic_status_solved0.svg" width="1em" alt="report"></span>
                <{/if}>
            <{/if}>

            <{if $mod_config.use_solved && $topic.solved}>
                <{if $forum.isadminormod}>
                <a href="<{$mod_url}>/index.php?page=update_topic_solved&amp;topic_id=<{$topic.id}>&amp;ret_name=forum_id&amp;ret_val=<{$forum.id}>" data-tooltip="<{$smarty.const._MD_D3FORUM_SOLVED_TURNOFF}>">
                    <img class="svg solved" src="<{$xoops_url}>/images/icons/topic_status_solved1.svg" width="1em" alt="<{$smarty.const._MD_D3FORUM_ALT_SOLVEDYES}>">
                </a>
                <{else}>
                <span data-tooltip="<{$smarty.const._MD_D3FORUM_ALT_SOLVEDYES}>"><img class="svg solved" src="<{$xoops_url}>/images/icons/topic_status_solved1.svg" width="1em" alt="solved>"></span>
                <{/if}>
            <{/if}>

            <{if $mod_config.allow_mark && $uid && $topic.u2t_marked}>
            <a href="<{$mod_url}>/index.php?page=update_u2t_marked&amp;topic_id=<{$topic.id}>&amp;ret_name=forum_id&amp;ret_val=<{$forum.id}>" data-tooltip="<{$smarty.const._MD_D3FORUM_MARK_TURNOFF}>">
                <img class="svg marked" src="<{$xoops_url}>/images/icons/topic_status_marked1.svg" width="1em" alt="<{$smarty.const._MD_D3FORUM_ALT_MARKEDYES}>"></a>
            <{/if}>

            </span>
        </h4>

        <{* ------- ACTIVITY OVERVIEW - Forums *}>
        <p class="forum-activity">
            <{$topic_hits|string_format:$smarty.const._MD_D3FORUM_FMT_TOPICHITS}>

            <{$smarty.const._MD_D3FORUM_REPLIES}> <span class="badge"><{$topic.replies}></span>

            <{$smarty.const._MD_D3FORUM_VIEWS}> <span class="badge"><{$topic.views}></span>

            <{if $mod_config.use_vote}>
                <{$smarty.const._MD_D3FORUM_VOTECOUNT}> <span class="badge"><{$topic.votes_count}></span>
                <{$smarty.const._MD_D3FORUM_VOTEPOINTAVG}> <span class="badge"><{$topic.votes_avg|string_format:"%.2f"}></span>
            <{/if}>
        </p>
        <{* ------- /Activity Overview - Forums *}>

    </header>

        <{if $topic.replies>0}>
        <p>
            <{$smarty.const._MD_D3FORUM_LASTPOST}> <span class="badge"><{$topic.last_post_time_formatted}></span> -
            <a href="<{$mod_url}>/index.php?post_id=<{$topic.last_post_id}>">
                <{if $topic.last_post_gname}>
                    <{$topic.last_post_gname}>
                <{else}>
                    <{$topic.last_post_uname}>
                <{/if}>
                <img class="svg posticon" src="<{$xoops_url}>/images/icons/posticon<{$topic.last_post_icon}>.svg" width="1em" alt="<{$topic.last_post_subject}>">
            </a>
        </p>
        <{/if}>

    </div>

    <hr>

    <{/foreach}>
    <{* ------- end forum topic *}>

</article>
<{* ----- /LIST TOPICS *}>



<{* ------- Pagination *}>
<!-- TODO default pagenavi -->
<{if $pagenav}>
    <nav class="pagination" aria-label="pagination">
        <{$pagenav}>
    </nav>
<{/if}>



<{* ------- FORUM TOPIC SORT *}>
<article class="topic-sort">

    <form action="<{$mod_url}>/index.php" method="get">
    <{$forum_selection_sort|default:''}>

    <input type="hidden" name="forum_id" value="<{$forum.id}>">
    <input type="hidden" name="external_link_id" value="<{$query.external_link_id}>">

    <div class="grid-2">

        <{if $mod_config.use_solved}>
        <label>
            <select name="solved">
                <{html_options options=$solved_options selected=$query.solved}>
            </select>
        </label>
        <{/if}>
        <label>
            <select name="odr">
                <{html_options options=$odr_options selected=$query.odr}>
            </select>
        </label>

        <label>
            <input type="text" size="12" name="txt" value="<{$query.txt}>">
        </label>

        <button type="submit" role="button" class="outline primary" value="<{$smarty.const._MD_D3FORUM_BTN_REFRESHTOPICS}>">
            <{$smarty.const._MD_D3FORUM_BTN_REFRESHTOPICS}></button>
    </div>
    </form>

</article>


<{if $xoops_isuser}>

<{* ----- FORUM JUMP-BOX *}>
<article id="jump-box">

    <form name="forum_jump_box" action="<{$mod_url}>/index.php" method="get" class="form-inline">
        <input type="hidden" name="page" value="forum_access">
        <label>
            <select name="forum_id" id="select_forum_id"><{$forum_jumpbox_options}></select>
        </label>
        <div class="grid-2">
            <a role="button" class="outline primary" href="<{$mod_url}>/index.php?page=search">
                <img class="svg search" src="<{$xoops_url}>/images/icons/search.svg"> <{$smarty.const._MD_D3FORUM_LINK_ADVSEARCH}>
            </a>
            <button type="submit" role="button" class="outline primary" value="<{$smarty.const._MD_D3FORUM_BTN_JUMPTOFORUM}>"><{$smarty.const._MD_D3FORUM_BTN_JUMPTOFORUM}></button>
        </div>
    </form>

</article>

<{* /////// NOTIFICATION \\\\\\\ *}>
<{include file='db:legacy_notification_select.html'}>

<{/if}>


<{* ----- MODAL FORUM ICONS LEGEND *}>
<div id="dialog-help" title="<{$smarty.const._MD_D3FORUM_LEGEND}>">
<div>
    <ul class="forum-icon-list">
        <li><img class="svg new" src="<{$xoops_url}>/images/icons/topic_10.svg" width="1em" alt=""> = <{$smarty.const._MD_D3FORUM_TOPICNEWPOSTS}></li>
        <li><img class="svg new" src="<{$xoops_url}>/images/icons/topic_11.svg" width="1em" alt=""> = <{$smarty.const._MD_D3FORUM_TOPICNEWPOSTS}></li>
        <li><img class="svg topic" src="<{$xoops_url}>/images/icons/topic_01.svg" width="1em" alt=""> = <{$smarty.const._MD_D3FORUM_TOPICNONEWPOSTS}></li>
        <li><img class="svg invisible" src="<{$xoops_url}>/images/icons/topic_invisible.svg" width="1em" alt=""> = <{$smarty.const._MD_D3FORUM_TOPICINVISIBLE}></li>
        <li><img class="svg stick" src="<{$xoops_url}>/images/icons/topic_sticky0.svg" width="1em" alt=""> = <{$smarty.const._MD_D3FORUM_TOPICSTICKY}></li>
    </ul>
    <ul class="forum-icon-list">
        <li><img class=" svg lock" src="<{$xoops_url}>/images/icons/topic_status_locked1.svg" width="1em" alt=""> = <{$smarty.const._MD_D3FORUM_TOPICLOCKED}></li>
        <li><img class="svg solved-no" src="<{$xoops_url}>/images/icons/topic_status_solved0.svg" width="1em" alt=""> = <{$smarty.const._MD_D3FORUM_ALT_SOLVEDNO}></li>
        <li><img class="svg solved" src="<{$xoops_url}>/images/icons/topic_status_solved1.svg" width="1em" alt=""> = <{$smarty.const._MD_D3FORUM_ALT_SOLVEDYES}></li>
        <li><img class="svg marked" src="<{$xoops_url}>/images/icons/topic_status_marked1.svg" width="1em" alt=""> = <{$smarty.const._MD_D3FORUM_ALT_MARKEDYES}></li>
    </ul>
</div>
</div>
<script>
$( function() {
    $( "#dialog-help" ).dialog({
    autoOpen: false,
    resizable: false,
    height: 380,
    width:400,
    show: {
        effect: "blind",
        duration: 800
    },
    hide: {
        effect: "fold",
        duration: 1000
    }
    });

    $( "#open-help" ).on( "click", function() {
    $( "#dialog-help" ).dialog( "open" );
    });
} );
</script>