<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<{if $mod_config.show_breadcrumbs}>
<nav aria-label="breadcrumb">
	<ul>
		<li><a href="<{$xoops_url}>/">
			<img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" alt=""></a>
		<li><a href="<{$mod_url}>/index.php">
		<img class="svg forum" src="<{$xoops_url}>/images/icons/forum_0.svg" alt=""> <{$smarty.const._MD_D3FORUM_TOP}></a>
		<li><a href="<{$mod_url}>/index.php?cat_id=<{$category.id}>"><{$category.title}></a>
		<li><a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>"><{$forum.title}></a>
		<{if $topic.id}>
		<li><a aria-current="page" href="<{$mod_url}>/index.php?topic_id=<{$topic.id}>"><{$topic.title}></a>
		<{/if}>
	</ul>
</nav>
<{/if}>



<form name="postform" id="postform" action="<{$mod_url}>/index.php?page=post" method="post">

    <input type="hidden" name="mode" id="mode" value="<{$mode}>">
    <input type="hidden" name="pid" id="pid" value="<{$pid}>">
    <input type="hidden" name="post_id" id="post_id" value="<{$post_id}>">
    <input type="hidden" name="topic_id" id="topic_id" value="<{$topic_id}>">
    <input type="hidden" name="forum_id" id="forum_id" value="<{$forum.id}>">
    <input type="hidden" name="external_link_id" id="external_link_id" value="<{$external_link_id|escape}>">
    <input type="hidden" name="reference_quote" id="reference_quote" value="<{$reference_quote}>">

<article id="main-post-form">

    <header>
        <h2><img class="svg topic-new" src="<{$xoops_url}>/images/icons/topic_plus.svg" alt=""> <{$formtitle}>: <{$forum.title}></h2>
        <{if $mode == "edit"}>
            <p class="alert warning">
                <strong><{$smarty.const._MD_D3FORUM_NOTICE_YOUAREEDITING}></strong>
            </p>
        <{/if}>
    </header>

<{include file="db:`$mydirname`_inc_d3comment_summary.html"}>





	 <label for="subject">
         <{$smarty.const._MD_D3FORUM_SUBJECT}>
         <input type="text" name="subject" id="subject" size="50" maxlength="191" value="<{$subject}>">
    </label>

	<{if $post.poster_uid}>
        <!-- begin edit USER's post -->
		 <label for="inlineFormInputGroup">
             <{$smarty.const._MD_D3FORUM_TH_UNAME}>
			 <input type="text" id="inlineFormInputGroup" placeholder="<{$post.poster_uname|string_format:$smarty.const._MD_D3FORUM_FMT_UNAME}>" disabled>
         </label>

        <{elseif $uid && !$post.id}><!-- end edit USER's post -->

		<!-- begin post by USER -->
		 <label for="inlineFormInputGroup">
             <{$smarty.const._MD_D3FORUM_TH_UNAME}>
			 <input type="text" id="inlineFormInputGroup" placeholder="<{$uname|string_format:$smarty.const._MD_D3FORUM_FMT_UNAME}>" disabled>
         </label>
        <!-- end post by USER -->

        <{* else *}>
		<{* ----- REMOVE this smarty comment-line, and smarty comment from "*"else"*" to allow guest comments

		<!-- begin GUEST's new post or edit GUEST's post by somebody -->
			 <label for="guest_name">
                 <{$smarty.const._MD_D3FORUM_TH_GUESTNAME}>
				 <input type="text" name="guest_name" id="guest_name" value="<{$guest_name}>" size="25" maxlength="30">
            </label>
            <label for="guest_email">
                <{$smarty.const._MD_D3FORUM_TH_GUESTEMAIL}>
				 <input type="text" name="guest_email" id="guest_email" value="<{$guest_email}>" size="40" maxlength="60">
            </label>
            <label for="guest_url"><{$smarty.const._MD_D3FORUM_TH_GUESTURL}>
                <input type="text" name="guest_url" id="guest_url" value="<{$guest_url}>" size="50" maxlength="100">
            </label>
            <label for="guest_pass"><{$smarty.const._MD_D3FORUM_TH_GUESTPASSWORD}>
			    <input type="password" name="guest_pass" id="guest_pass" value="<{$guest_pass}>" size="20" maxlength="20">
            </label>
        ----- REMOVE this comment-line to allow guest comments *}>
		<{/if}>


		 <label for="message_icon">
             <{$smarty.const._MD_D3FORUM_MESSAGEICON}>
				<select name="icon" id="message_icon">
					<{html_options options=$icon_options selected=$icon_selected}>
				</select>
         </label>

         <label for="message">
             <{$smarty.const._MD_D3FORUM_TH_BODY}>

				<{if $body_wysiwyg}>
					<{$body_wysiwyg}>
				<{else}>
					<{if $smarty.const.LEGACY_BASE_VERSION|version_compare:'2.2':'>='}>
						<{if $allow_html && (!$message || $html_checked)}>
							<{assign var=editor value=html}>
						<{else}>
						    <{assign var=editor value=bbcode}>
						<{/if}>
						<{xoops_dhtmltarea class=$editor name=message id=message cols=60 rows=15 value=$message|htmlspecialchars_decode:$smarty.const.ENT_QUOTES editor=$editor}>
						<{if $legacy_module == 'legacy'}>
							<{assign var=editor value=""}>
						<{/if}>
						<{if (!$message && $editor == 'html')}>
							<{assign var=html_checked value='checked="checked"'}>
							<{assign var=xcode_checked value=""}>
							<{assign var=br_checked value=""}>
						<{/if}>
					<{else}>
					<input type="checkbox" id="message_bbcode_onoff" onclick="if(this.checked){xoopsGetElementById('message_bbcode_buttons_pre').style.display='block';xoopsGetElementById('message_bbcode_buttons_post').style.display='block'}else{xoopsGetElementById('message_bbcode_buttons_pre').style.display='none';xoopsGetElementById('message_bbcode_buttons_post').style.display='none'};">
					<label for="message_bbcode_onoff"><{$smarty.const._MD_D3FORUM_LABEL_INPUTHELPER}></label>
						<br>
						<{xoopsdhtmltarea name="message" cols="60" rows="15" value=$message pre_style="display:none;" post_style="display:none;"}>
					<{/if}>
				<{/if}>
         </label>

        <{if ($reference_quote)}>
        <div class="message_textarea_inserter">
            <input type="button" role="button" class="outline secondary" name="quote" id="quote" onclick="d3forum_quote_message();" value="<{$smarty.const._MD_D3FORUM_BTN_QUOTE}>">
        </div>
        <{/if}>

        <fieldset>
            <legend><h5><{$smarty.const._MD_D3FORUM_OPTIONS}></h5></legend>

        <!-- approval -->
        <{if $forum.isadminormod && $mode == "edit" && ! $post.approval}>
        <label for="approval">
            <input type="checkbox" name="approval" id="approval" value="1" <{$approval_checked}>>
            <{$smarty.const._MD_D3FORUM_LABEL_DOAPPROVAL}>
        </label>
        <{/if}>

        <!-- solve or not -->
        <{if $can_change_solved}>
        <label for="solved">
            <input type="checkbox" name="solved" id="solved" value="1" <{$solved_checked}>>
            <{$smarty.const._MD_D3FORUM_TH_SOLVED}>
        </label>
        <{/if}>

        <!-- mark -->
        <{if $allow_mark}>
        <label for="u2t_marked">
            <input type="checkbox" name="u2t_marked" id="u2t_marked" value="1" <{$u2t_marked_checked}>>
            <{$smarty.const._MD_D3FORUM_MARK_TURNON}>
        </label>
        <{/if}>

        <!-- html -->
        <{if $allow_html}>
        <label for="html">
            <input type="checkbox" name="html" id="html" value="1" <{$html_checked}>>
            <{$smarty.const._MD_D3FORUM_ENABLEHTML}>
        </label>
        <{/if}>
        </fieldset>

        <h5>
        <label for="d3f_post_advanced_options_onoff">
            <input type="checkbox" class="switch" id="d3f_post_advanced_options_onoff"
                   onclick="if(this.checked){xoopsGetElementById('d3f_post_advanced_options').style.display='block';
                   }else{xoopsGetElementById('d3f_post_advanced_options').style.display='none';}">
            <{$smarty.const._MD_D3FORUM_LABEL_ADVANCEDOPTIONS}>
        </label></h5>

            <fieldset id="d3f_post_advanced_options" style="display:none;">

                <!-- smiley -->
                <label for="smiley">
                    <input type="checkbox" name="smiley" id="smiley" value="1" <{$smiley_checked}>>
                    <{$smarty.const._MD_D3FORUM_ENABLESMILEY}>
                </label>

                <!-- xcode -->
                <label for="xcode">
                    <input type="checkbox" name="xcode" id="xcode" value="1" <{$xcode_checked}>>
                    <{$smarty.const._MD_D3FORUM_ENABLEXCODE}>
                </label>

                <!-- br -->
                <label for="br">
                    <input type="checkbox" name="br" id="br" value="1" <{$br_checked}>>
                    <{$smarty.const._MD_D3FORUM_ENABLEBR}>
                </label>

                <!-- number_entity -->
                <label for="number_entity">
                    <input type="checkbox" name="number_entity" id="number_entity" value="1" <{$number_entity_checked}>>
                    <{$smarty.const._MD_D3FORUM_ENABLENUMBERENTITY}>
                </label>

                <!-- special_entity -->
                <label for="special_entity">
                    <input type="checkbox" name="special_entity" id="special_entity" value="1" <{$special_entity_checked}>>
                    <{$smarty.const._MD_D3FORUM_ENABLESPECIALENTITY}>
                </label>

                <!-- hide_uid -->
                <{if $allow_hideuid}>
                <label for="hide_uid">
                    <input type="checkbox" name="hide_uid" id="hide_uid" value="1" <{$hide_uid_checked}>>
                    <{$smarty.const._MD_D3FORUM_LABEL_HIDEUID}>
                </label>
                <{/if}>

                <!-- signature -->
                <{if $allow_sig}>
                <label for="attachsig">
                    <input type="checkbox" name="attachsig" id="attachsig" value="1" <{$attachsig_checked}>>
                    <{$smarty.const._MD_D3FORUM_LABEL_ATTACHSIG}>
                </label>
                <{/if}>

                <!-- notification thread-new_post -->
                <{if $allow_notify}>
                <label for="notify">
                    <input type="checkbox" name="notify" id="notify" value="1" <{$notify_checked}>>
                    <{$smarty.const._MD_D3FORUM_LABEL_NEWPOSTNOTIFY}>
                </label>
                <{/if}>

                <!-- invisible -->
                <{if $forum.isadminormod}>
                <label for="invisible">
                    <input type="checkbox" name="invisible" id="invisible" value="1" <{$invisible_checked}>>
                    <{$smarty.const._MD_D3FORUM_LABEL_POSTINVISIBLE}>
                </label>
                <{/if}>
            </fieldset>

        <{if $mode == "reply"}>
        <blockquote id="post_reference" class="outer" <{if $ispreview}>style="display:none;"<{/if}>>

        <h4><{$reference_subject}></h4>
        <p><{$smarty.const._MD_D3FORUM_BY}>: <{$reference_name}> <{$smarty.const._MD_D3FORUM_ON}>: <{$reference_time_formatted}></p>

        <div class="refer-message"><{$reference_message}></div>

        </blockquote>
        <{/if}>


		 <footer>
<div class="action-control">
            <{if $mode == "reply"}>

            <a role="button" class="outline primary" href="javascript:void(0);" onclick="if(xoopsGetElementById('post_reference').style.display=='none'){xoopsGetElementById('post_reference').style.display='block'}else{xoopsGetElementById('post_reference').style.display='none'};">
            <img class="svg comment-quote" src="<{$xoops_url}>/images/icons/comment-quote.svg">
                <{$smarty.const._MD_D3FORUM_REFERENCEPOST}></a>
            <{/if}>


                <button type="submit" role="button" class="outline" name="contents_preview" id="contents_preview" value="<{$smarty.const._PREVIEW}>">
                    <img class="svg preview" src="<{$xoops_url}>/images/icons/view.svg"> <{$smarty.const._PREVIEW}>
                </button>


                <button type="submit" role="button" class="primary" name="content_submit" id="content_submit" value="<{$smarty.const._SUBMIT}>" onclick="return xoopsFormValidate_postform();">
                    <img class="svg check" src="<{$xoops_url}>/images/icons/check.svg"> <{$smarty.const._SUBMIT}>
                </button>

</div>
         </footer>







</article>
    <{if $ispreview}>
    <dialog open>
        <article>
            <header>
                <a href="#close" aria-label="Close" class="close" onclick="javascript:history.go(-1);"></a>
                <{$smarty.const._PREVIEW}>
            </header>
            <h3><{$preview_subject}></h3>
            <div>
                <{$preview_message}>
            </div>
            <footer>
                <div class="grid-2">
                    <a href="#" role="button" class="secondary" onclick="javascript:history.go(-1);">Cancel</a>
                    <button type="submit" role="button" class="primary" name="content_submit" id="content_submit_preview" value="<{$smarty.const._SUBMIT}>" onclick="return xoopsFormValidate_postform();">
                        <img class="svg check" src="<{$xoops_url}>/images/icons/check.svg"> <{$smarty.const._SUBMIT}>
                    </button>
                </div>
            </footer>
        </article>
    </dialog>
    <{/if}>
    <{$antispam.html_in_form}>
</form>

<{* Start Form Validation JavaScript *}>
<script type="text/javascript">
<!--//
<{$antispam.js_global}>

function xoopsFormValidate_postform() {
	myform = window.document.postform;
	if ( myform.subject.value.replace(/^\s+|\s+$/g,"") == "" ) {
    window.alert("<{$smarty.const._MD_D3FORUM_SUBJECT|string_format:$smarty.const._FORM_ENTER}>"); myform.subject.focus(); return false; }
	<{if !$body_wysiwyg}>
	if ( myform.message.value.replace(/^\s+|\s+$/g,"") == "" ) {
	    window.alert("<{$smarty.const._MD_D3FORUM_ERR_NOMESSAGE}>");
	    myform.message.focus(); return false; }
	<{/if}>
	<{$antispam.js_in_validate_function}>
	return true;
}
    function d3forum_quote_message() {
        xoopsGetElementById("message").value = xoopsGetElementById("message").value + xoopsGetElementById("reference_quote").value ;
    }
//-->
</script>
<{* End Form Validation JavaScript *}>

