<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<{if $mod_config.show_breadcrumbs}>
<nav aria-label="breadcrumb">
    <ul>
        <li><a href="<{$xoops_url}>/"><img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" width="1em" alt="home"></a></li>
        <li><a href="<{$mod_url}>/index.php">
            <img class="svg forum" src="<{$xoops_url}>/images/icons/forum_1.svg" width="1em" alt="forum"> <{$smarty.const._MD_D3FORUM_TOP}></a>
        </li>
        <{foreach from=$category.paths_raw key=parent_id item=parent_title_raw}>
        <li><a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a></li>
        <{/foreach}>
        <li><a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>"><{$forum.title}></a></li>
        <li aria-current="page"><{$topic.title}></li>
    </ul>
</nav>
<{/if}>

<!-- TODO ALERT -->
<{if !$xoops_isuser}>
<{strip}>
<div class="alert warning guest">
<{* ----- GUEST CAN POST ----- *}>
<{if $forum.can_post}>
    <{$smarty.const._MD_D3FORUM_GUESTSCANPOST_DESC}>
<{else}>
    <{$smarty.const._MD_D3FORUM_GUESTSCANNOTPOST_DESC}>
<{/if}>
</div>
<{/strip}>
<{/if}>

<{* ----- MODULE COMMENTS ----- *}>
<{if $forum.external_link_format}>
<div class="alert warning modulecomment">
<{$smarty.const._MD_D3FORUM_FORUMASCOMMENT_DESC}>
</div>
<{/if}>


<article>
<header>
    <h2><{$topic.title}></h2>
</header>
<{* /////// SUMMARY \\\\\\\ *}>
<{if $forum.external_link_format}>
<{include file="db:`$mydirname`_inc_d3comment_summary.html"}>
<{/if}>

<{* ------- TOPIC NEW and ACTIONS *}>
<footer>
<{include file="db:`$mydirname`_inc_topicbar.html"}>
</footer>

</article>

<{* ------- TOPIC FILTER ORDER *}>
<{include file="db:`$mydirname`_inc_postorder_links.html"}>

<{* ------- PAGINATION *}>
<{if $pagenav}>
<{include file="db:`$mydirname`_inc_pagination.html"}>    
<{/if}>

<{* ------- POSTS LOOP - list of top posts *}>
<{foreach item=post from=$posts}>
    <{include file="db:`$mydirname`_inc_eachpost.html" post=$post caller="listposts" inner_link_format="#post_id%s"}>
<{/foreach}>

<{* ------- PAGINATION *}>
<{if $pagenav}>
<{include file="db:`$mydirname`_inc_pagination.html"}>    
<{/if}>

<{* ------- TOPIC FILTER ORDER *}>
<{include file="db:`$mydirname`_inc_postorder_links.html"}>


<{* /////// POST TREE \\\\\\\ *}>
<h5>
    <label for="post-tree">
        <input role="switch" type="checkbox" id="post-tree" onclick="slideToggle('.post-tree-view', this)" value="0">
        <img class="svg tree" src="<{$xoops_url}>/images/icons/tree.svg" width="1em">
        <{$smarty.const._MD_D3FORUM_POSTSTREE}></label>
</h5>
<div class="post-tree-view" style="display:none">

    <{* /////// -------------------- NOTE

    The "Tree structure" (<ul><li>) is created at
    trust_path/modules/d3forum/include/comment_functions.php
    line 513

    trust_path/modules/d3forum/include/viewpost.php
    line 82

    Here UL is replaced (removed) from the "tree structure" and LI margin incremented by 10px
    Closing tag /LI is optional, since all "block-level" tags are self-closing tags in HTML5.

    /////// -------------------- *}>

    <ul class="post-tree">
    <{foreach from=$posts item=eachpost}>

    <{if $eachpost.id == $post.id}>
        <{$eachpost.ul_in|replace:"<ul>":"\n\t"|replace:"<li>":"<li class='post-tree-item post-tree-current'><span style='margin-left:`$eachpost.depth_in_tree`0px;'>"}>
        <{else}>
        <{$eachpost.ul_in|replace:"<ul>":"\n\t"|replace:"<li>":"<li class='post-tree-item'><span style='display:block;margin-left:`$eachpost.depth_in_tree`0px;background-color:rgba(0,0,0, .1`$eachpost.depth_in_tree`5);'>"}>
    <{/if}>

    <{if ($eachpost.topic_id==$topic.id)}>
        <a href="#post_id<{$eachpost.id}>" id="post_path<{$eachpost.unique_path}>" title="post_path<{$eachpost.unique_path}>">
            <img class="svg <{$icon_meanings[$eachpost.icon]}>" src="<{$xoops_url}>/images/icons/posticon<{$eachpost.icon}>.svg" width="1em" alt="<{$icon_meanings[$eachpost.icon]}>">
            <{$eachpost.subject|truncate:44:'...'}>
        </a> <{$eachpost.poster_uname}>, <span class="badge"><{$eachpost.post_time_formatted}></span>


    <{if $forum.isadminormod}>
    <a href="<{$mod_url}>/index.php?page=cutpasteposts&amp;post_id=<{$eachpost.id}>" data-tooltip="<{$smarty.const._MD_D3FORUM_CUTPASTEPOSTS}>">
        <img class="svg tools" src="<{$xoops_url}>/images/icons/tools.svg" width="1em" alt="tools"></a>
    <{/if}>

    <{/if}>
    </span>

    <{/foreach}>
    </ul>

</div><{* POST TREE *}>

<hr>

<{* /////// QUICK REPLY == 3 \\\\\\\ *}>
<{if $first_post.can_reply && ($postorder==3)}>
<{include file="db:`$mydirname`_inc_post_form_quick.html" uname=$xoops_uname h2_title=$smarty.const._MD_D3FORUM_POSTASSAMETOPIC quick_form_mode="sametopic" subject_raw=$first_post.subject_raw}>
<{/if}>

<{* /////// Quick Reply Form  !=3 \\\\\\\ *}>
<{if $first_post.can_reply && ($postorder!=3)}>
<{include file="db:`$mydirname`_inc_post_form_quick.html" uname=$uname h2_title=$smarty.const._MD_D3FORUM_POSTASSAMETOPIC quick_form_mode="sametopic" subject_raw=$first_post.subject_raw}>
<{/if}>


<{* /////// TOPIC TREE - external link \\\\\\\ *}>

<{if $topic.external_link_id && ($tree_tp_count>1)}>
    <h5>
        <label for="post-tree-topic">
            <input role="switch" type="checkbox" id="post-tree-topic" onclick="slideToggle('.post-tree-topic-view', this)" value="0">
            <img class="svg tree" src="<{$xoops_url}>/images/icons/tree.svg" alt="post-tree">
            <{$smarty.const._MD_D3FORUM_TOPIC}>
        </label>
    </h5>
    <div class="post-tree-topic-view" style="display:none">

    <ul class="post-tree">

    <{foreach from=$tree item=eachpost}>

    <{if ($eachpost.depth_in_tree==0)}>

    <{* if $eachpost.id == $post.id *}>
    <{if ($eachpost.topic_id==$topic.id) && ($eachpost.depth_in_tree==0)}>
        <{$eachpost.ul_in|replace:"<ul>":"\n\t"|replace:"<li>":"<li class='post-tree-item post-tree-current'><span style='margin-left:`$eachpost.depth_in_tree`0px;'>"}>
        <{else}>
        <{$eachpost.ul_in|replace:"<ul>":"\n\t"|replace:"<li>":"<li class='post-tree-item'><span style='display:block;margin-left:`$eachpost.depth_in_tree`0px;background-color:rgba(0,0,0, .1`$eachpost.depth_in_tree`5);'>"}>
    <{/if}>

    <{if $eachpost.id !=$post.id}>
            <a href="<{$mod_url}>/index.php?topic_id=<{$eachpost.topic_id}>#post_id<{$eachpost.id}>" id="post_path<{$eachpost.unique_path}>">
    <{/if}>

    <img class="svg <{$icon_meanings[$eachpost.icon]}>" src="<{$xoops_url}>/images/icons/posticon<{$eachpost.icon}>.svg" alt="posticon"> <{$eachpost.subject}>

    <{if $eachpost.id !=$post.id}></a><{/if}>

    <{$eachpost.poster_uname}>, <span class="badge"><{$eachpost.post_time_formatted}></span>

    <{if $forum.isadminormod}>
    <a href="<{$mod_url}>/index.php?page=topicmanager&amp;topic_id=<{$eachpost.topic_id}>" data-tooltip="<{$smarty.const._MD_D3FORUM_CUTPASTEPOSTS}>">
        <img class="svg tools" src="<{$xoops_url}>/images/icons/tools.svg" width="1em" alt="tools"></a>
    <{/if}>

    </span>

    <{/if}>
    <{/foreach}>

    </ul>

</div><{* $pos-tree-ext-view *}>
<{/if}>


<{* /////// JUMP BOX \\\\\\\ *}>

<article id="jump-box">
<form name="forum_jump_box" action="<{$mod_url}>/index.php" method="get">
    <label>
        <select name="forum_id"><{$forum_jumpbox_options}></select>
    </label>
    <div class="grid-2">
        <a role="button" class="outline" href="<{$mod_url}>/index.php?page=search">
        <img class="svg search" src="<{$xoops_url}>/images/icons/search.svg"> <{$smarty.const._MD_D3FORUM_LINK_ADVSEARCH}>
        </a>
        <button type="submit" role="button" class="outline" value="<{$smarty.const._MD_D3FORUM_BTN_JUMPTOFORUM}>"><{$smarty.const._MD_D3FORUM_BTN_JUMPTOFORUM}></button>
    </div>
</form>
</article>

<{if $xoops_isuser}>

<{* /////// NOTIFICATION \\\\\\\ *}>
<{include file='db:legacy_notification_select.html'}>

<{/if}>
