<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mod_config.show_breadcrumbs}>
    <ul class="breadcrumb" aria-label="breadcrumb">
        <li><a href="<{$xoops_url}>/">
            <img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" width="1em" alt="home"></a>
        <li><a href="<{$mod_url}>/index.php">
        <img class="svg forum" src="<{$xoops_url}>/images/icons/forum_1.svg" width="1em" alt="forum"> <{$smarty.const._MD_D3FORUM_TOP}></a>
        <li aria-current="page"><{$smarty.const._MD_D3FORUM_CATEGORYMANAGER}>
    </ul>
<{/if}>


<h2><{$smarty.const._MD_D3FORUM_CATEGORYMANAGER}></h2>

<form name="categoryform" id="categoryform" action="<{$mod_url}>/index.php?page=<{$page}>&amp;cat_id=<{$category.id}>" method="post" onsubmit="return xoopsFormValidate_categoryform();">

    <{$gticket_hidden}>

    <section layout="column" class="category-admin">

        <!-- Permissions -->
        <{if $xoops_isadmin}>
        <div layout="row center-justify mb-6">
            <h3><{$formtitle}></h3>
            <div><a class="ui-button" href="<{$mod_url}>/admin/index.php?page=category_access&amp;cat_id=<{$category.id}>">
            <img class="svg lock" src="<{$xoops_url}>/images/icons/lock.svg" width="1em" alt="admin"> <{$smarty.const._MD_D3FORUM_LINK_CATEGORYACCESS}></a></div>
        </div>
        <{/if}>

        <div layout="row center-left sm-column mb-6">
            <div self="size-xxsmall sm-full">
                <label for="category_title"><{$smarty.const._MD_D3FORUM_TH_CATEGORYTITLE}></label>
            </div>
            <div self="sm-full">
				<input type="text" name="title" id="category_title" size="42" maxlength="191" value="<{$category.title}>">
            </div>
        </div>

        <div layout="row center-left sm-column mb-6">
            <div self="size-xxsmall sm-full">
                <label for="category_desc"><{$smarty.const._MD_D3FORUM_TH_CATEGORYDESC}></label>
            </div>
            <div self="sm-full">
				<textarea name="desc" id="category_desc" cols="50" rows="5"><{$category.desc}></textarea>
            </div>
        </div>

        <div layout="row center-left sm-column mb-6">
            <div self="size-xxsmall sm-full">
                <label for="category_pid"><{$smarty.const._MD_D3FORUM_TH_CATEGORYPARENT}></label>
            </div>
            <div self="sm-full">
				<select name="pid" id="category_pid">
					<option value="">(<{$smarty.const._MD_D3FORUM_TOP}>)</option>
					<{$cat_jumpbox_options}>
				</select>
            </div>
        </div>

        <div layout="row center-left sm-column mb-6">
            <div self="size-xxsmall sm-full">
                <label for="category_weight"><{$smarty.const._MD_D3FORUM_TH_CATEGORYWEIGHT}></label>
            </div>
            <div self="sm-full">
				<input type="text" name="weight" id="category_weight" size="4" maxlength="4" value="<{$category.weight}>">
            </div>
        </div>

        <div layout="row center-left mb-6">
            <div self="size-xxsmall sm-full">
                <{$smarty.const._MD_D3FORUM_CHILDREN_COUNT}>
            </div>
            <div self="sm-full">
                <span class="badge"><{$children_count}></span>
            </div>
        </div>

        <div layout="row center-left mb-6">
            <div self="size-xxsmall sm-full">
                <{$smarty.const._MD_D3FORUM_BATCH_ACTIONS}>
            </div>
            <div self="sm-full">
                <label for="batch_action_turnsolvedon">
                <input type="checkbox" name="batch_action_turnsolvedon" id="batch_action_turnsolvedon" value="1" onclick="if(this.checked){alert('<{$smarty.const._MD_D3FORUM_BA_MSG_CONFIRM}>');}">
                <{$smarty.const._MD_D3FORUM_BA_TURNSOLVEDON}></label>
            </div>
        </div>

        <{* ----- CATEGORY OPTIONS *}>
        <div layout="row center-left mb-6">
            <div self="size-xxsmall sm-full">
				<{$smarty.const._MD_D3FORUM_TH_CATEGORYOPTIONS}>
            </div>
            <div self="sm-full">
                <label for="category_option_controller_onoff">
                    <input type="checkbox" id="category_option_controller_onoff"
                       onclick="if(this.checked){xoopsGetElementById('category_option_controller').style.display='block';}else{xoopsGetElementById('category_option_controller').style.display='none';};"
                       <{if $category.options}>checked="checked"<{/if}>>
                    <{$smarty.const._MD_D3FORUM_ONOFF}>
                </label>
				<div id="category_option_controller" <{if ! $category.options}>style="display:none;"<{/if}> name="options">
					<textarea name="options" id="category_options" cols="50" rows="10"><{$category.options}></textarea>
					<br>
					<{$smarty.const._MD_D3FORUM_HOWTO_OVERRIDEOPTIONS}>
					<br>
					<span class="categoryoptiondesc badge"><{$category.option_desc}></span>
				</div>
            </div>
        </div>
        <{* ----- /CATEGORY OPTIONS *}>


        <div layout="row center-left">
            <div self="size-xxsmall sm-full">
            </div>
            <div self="sm-full inline">
                <{if $page == 'categorymanager' && $children_count == 0}>
                <button type="submit" class="button delete" name="categoryman_delete" value="<{$smarty.const._DELETE}>" onclick="return confirm('<{$smarty.const._MD_D3FORUM_MSG_CONFIRMDELETERECURSIVE}>')">
                    <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" width="1em" alt="delete"> <{$smarty.const._DELETE}></button>
                <{/if}>
                <button type="submit" class="button" name="categoryman_post" value="<{$smarty.const._SUBMIT}>">
                    <img class="svg check" src="<{$xoops_url}>/images/icons/check.svg" width="1em" alt="check"> <{$smarty.const._SUBMIT}>
                </button>
            </div>
        </div>

    </section>

</form>

<{* Start Form Vaidation JavaScript *}>
<script type="text/javascript">
<!--//
function xoopsFormValidate_categoryform() {
	myform = window.document.categoryform;
	if ( myform.title.value == "" ) { window.alert("<{$smarty.const._MD_D3FORUM_TH_CATEGORYTITLE|string_format:$smarty.const._FORM_ENTER}>"); myform.title.focus(); return false; }
	return true;
}
//--></script>
<{* End Form Vaidation JavaScript *}>
