<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mod_config.show_breadcrumbs}>
    <ul class="breadcrumb" aria-label="breadcrumb">
        <li><a href="<{$xoops_url}>/">
            <img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" alt=""></a>
        <li><a href="<{$mod_url}>/index.php">
        <img class="svg forum" src="<{$xoops_url}>/images/icons/forum_1.svg" alt=""> <{$smarty.const._MD_D3FORUM_TOP}></a>
        <{foreach from=$category.paths_raw key=parent_id item=parent_title_raw}>
        <li><a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a>
        <{/foreach}>
        <li><a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>"><{$forum.title}></a>
        <li><a aria-current="page" href="<{$mod_url}>/index.php?topic_id=<{$topic.id}>"><{$topic.title}></a>
    </ul>
<{/if}>


<{include file="db:`$mydirname`_inc_d3comment_summary.html"}>


    <{if $topic.external_link_id}>
    <div class="d3f_link" self="size-x1 right my-2">
    <{$posts|@count|string_format:$smarty.const._MD_D3FORUM_FMT_POSTDISPLAYSINFO}>
    <a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>&amp;external_link_id=<{$topic.external_link_id|escape:"url"}>">
        <{$smarty.const._MD_D3FORUM_LINK_LISTALLCOMMENTS}></a>
    </div>
    <{/if}>



    <p class="text-right">
        <a class="ui-button" href="<{$mod_url}>/index.php?topic_id=<{$topic.id}>">
            <img class="svg list-tree" src="<{$xoops_url}>/images/icons/list-tree.svg"> <{$smarty.const._MD_D3FORUM_LINK_LISTPOSTS}></a>
    </p>


<div class="d3f_wrap">

<{include file="db:`$mydirname`_inc_eachpost.html" caller="viewpost" inner_link_format="`$mod_url`/index.php?post_id=%s"}>

</div>

<hr>

    <{* /////// QUICK REPLY \\\\\\\ *}>

    <{if $post.can_reply}>
        <{include file="db:`$mydirname`_inc_post_form_quick.html" uname=$uname h2_title=$smarty.const._MD_D3FORUM_REPLYTHISPOST quick_form_mode="reply" subject_raw=$post.subject_raw}>
    <{/if}>



    <{* /////// NOTIFICATION \\\\\\\ *}>

    <{include file='db:system_notification_select.html'}>



    <{* /////// POST TREE \\\\\\\ *}>

    <h4 class="my-4">
        <img class="svg tree" src="<{$xoops_url}>/images/icons/tree.svg"> <input class='switch' type='checkbox' name='post-order' onclick="slideToggle('.post-order', this)" value='0'>
        <label for='post-order'> <{$smarty.const._MD_D3FORUM_POSTSTREE}></label>
    </h4>


    <section class="post-order" style="display:none">

    <h3 class="my-4"><{$smarty.const._MD_D3FORUM_POSTSTREE}></h3>

    <{* /////// -------------------- NOTE

        The "Tree structure" (<ul><li>) is created at
        trust_path/modules/d3forum/include/comment_functions.php
        line 513

        trust_path/modules/d3forum/include/viewpost.php
        line 82

        Here the UL is replaced (removed) from the "tree structure" and LI incremented by 10px
        Closing tag /LI is optional, all "block-level" tags are self-closing tags in HTML5.

        /////// -------------------- *}>

    <ul style='list-style:none;padding:0;margin:0'>
    <{foreach from=$posts item=eachpost}>

    <{if $eachpost.id == $post.id}>

        <{$eachpost.ul_in|replace:"<ul>":"\n\t"|replace:"<li>":"<li class='d3f_eachbranchitem d3f_currenttopic'><span style='padding-left:`$eachpost.depth_in_tree`0px;'>"}>

        <{else}>

        <{$eachpost.ul_in|replace:"<ul>":"\n\t"|replace:"<li>":"<li class='d3f_eachbranchitem' style='padding-left:`$eachpost.depth_in_tree`0px;'><span style='display:block;padding:1em; padding-left:`$eachpost.depth_in_tree`0px;background-color: rgba(0,0,0, .1`$eachpost.depth_in_tree`5);'>"}>

    <{/if}>

        <{if $eachpost.id != $post.id}><a href="<{$mod_url}>/index.php?post_id=<{$eachpost.id}>" id="post_path<{$eachpost.unique_path}>" aria-label="post_path<{$eachpost.unique_path}>"><{/if}>

        <img class="svg posticon" src="<{$xoops_url}>/images/icons/posticon<{$eachpost.icon}>.svg" alt="<{$icon_meanings[$eachpost.icon]}>"> <{$eachpost.subject}>

        <{if $eachpost.id != $post.id}></a><{/if}>

            <br><{$eachpost.poster_uname}>, <span class="badge"><{$eachpost.post_time_formatted}></span>

        <{if $forum.isadminormod}>
        <a href="<{$mod_url}>/index.php?page=cutpasteposts&amp;post_id=<{$eachpost.id}>" aria-label="<{$smarty.const._MD_D3FORUM_CUTPASTEPOSTS}>">
            <img class="svg tools" src="<{$xoops_url}>/images/icons/tools.svg" alt=""></a>
        <{/if}>

            </span>

        <{* /////// -------------------- NOTE :

            $eachpost.ul_out

            Here the UL is replaced (removed) from the "tree structure" and LI incremented by 10px
            Closing tag /LI is optional, all "block-level" tags are self-closing tags in HTML5.
        *}>

        <{/foreach}>
        </ul>


    </section>
    <{* ------- /end post tree *}>


    <{* ------- Start external topic list tree  *}>

    <{if $topic.external_link_id && ($tree_tp_count>1)}>

        <h3 class="my-4"><{$smarty.const._MD_D3FORUM_LINK_LISTALLCOMMENTS}></h3>

        <{foreach from=$tree item=eachpost}>

        <{if ($eachpost.depth_in_tree == 0)}>

           <{if $eachpost.topic_id == $topic.id}>

               <{$eachpost.ul_in|replace:"<ul>":"<ul class='d3f_eachbranch'>\n\t"|replace:"<li>":"<li class='d3f_eachbranchitem d3f_currenttopic'><span style='padding-left:`$eachpost.depth_in_tree`0px;'>"}>

               <{else}>

               <{$eachpost.ul_in|replace:"<ul>":"<ul class='d3f_eachbranch'>\n\t"|replace:"<li>":"<li class='d3f_eachbranchitem'>

               <span style='padding-left:`$eachpost.depth_in_tree`0px;'>"}>
           <{/if}>

            <a href="<{$mod_url}>/index.php?topic_id=<{$eachpost.topic_id}>#post_id<{$eachpost.id}>" id="post_path<{$eachpost.unique_path}>" aria-label="post_path<{$eachpost.unique_path}>">

            <img class="svg posticon" src="<{$xoops_url}>/images/icons/posticon<{$eachpost.icon}>.svg" alt="<{$icon_meanings[$eachpost.icon]}>"> <{$eachpost.subject}></a>

                   (<{$eachpost.poster_uname}>, <{$eachpost.post_time_formatted}>)

                <{if $forum.isadminormod}>

                    <a href="<{$mod_url}>/index.php?page=topicmanager&amp;topic_id=<{$eachpost.topic_id}>" aria-label="<{$smarty.const._MD_D3FORUM_CUTPASTEPOSTS}>">
                    <img class="svg tools" src="<{$xoops_url}>/images/icons/tools.svg" alt=""></a>

                <{/if}>

                </span>

                <{if $eachpost.topic_id == $topic.id}>
                    <span class="d3f_thistopic"><{$smarty.const._MD_D3FORUM_THIS_TOPIC}></span>
                <{/if}>

            <{/if}>

        <{$eachpost.ul_out}>

        <{/foreach}>

    <{/if}>

    <{* -------  End external topic list tree  *}>


<hr>

<{* ----- Forum Jumpbox *}>
<section name="jump-box">
  <form name="forum_jump_box" action="<{$mod_url}>/index.php" method="get" class="form-inline">
    <input type="hidden" name="page" value="forum_access">
    <select name="forum_id" id="select_forum_id"><{$forum_jumpbox_options}></select>
    <button type="submit" class="ui-button" value="<{$smarty.const._MD_D3FORUM_BTN_JUMPTOFORUM}>"><{$smarty.const._MD_D3FORUM_BTN_JUMPTOFORUM}></button>
    <a class="ui-button" href="<{$mod_url}>/index.php?page=search">
      <img class="svg search" src="<{$xoops_url}>/images/icons/search.svg"> <{$smarty.const._MD_D3FORUM_LINK_ADVSEARCH}></a>
  </form>
</section>
