<div class="ui-dev-mode"><{$smarty.template}></div>

<nav class="ui-breadcrumbs" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACYRENDER_NAME}></a>
    &raquo;&raquo; <span class="page-title"><a href="./index.php?action=BannerList"><{$smarty.const._MI_LEGACYRENDER_ADMENU_BANNER_MANAGE}></a></span>
</nav>


<h2><{$smarty.const._AD_LEGACYRENDER_LANG_BANNER_LIST}>
    <{if isset($currentClient)}>
    » <{$currentClient->getShow('name')}>
    <{/if}>
</h2>

<div class="help-tips">
    <{$smarty.const._AD_LEGACYRENDER_LANG_BANNER_LIST_DESC}>
</div>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section data-layout="rows center-justify" class="action-control">

    <div>
        <a href="index.php?action=BannerEdit" class="button"><i class="i-add"></i><{$smarty.const._AD_LEGACYRENDER_LANG_BANNER_NEW}></a>
        <a href="index.php?action=BannerclientList" class="button"><{$smarty.const._AD_LEGACYRENDER_LANG_BANNERCLIENT_LIST}></a>
        <a href="index.php?action=BannerfinishList" class="button"><{$smarty.const._AD_LEGACYRENDER_LANG_BANNERFINISH_LIST}></a>
    </div>

    <div class="control-view">
        <{* ////— DROPDOWN FILTER-SORT —\\\\ *}>
        <div class="dropdown button-icon" id="filter-sort">
            <a href="#" class="dropdown-toggle button" aria-label="filter sort"><img class="svg" src="<{'icons/icon-list-order.svg'|theme}>" width="1em" height="1em" alt="options"></a>
            <div class="dropdown-content drop-top">
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_BID}></h6>
                    <div>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.BANNER_SORT_KEY_BID}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.BANNER_SORT_KEY_BID}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_CID}></h6>
                    <div>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.BANNER_SORT_KEY_CID}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.BANNER_SORT_KEY_CID}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;
                        </a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_IMPTOTAL}></h6>
                    <div>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.BANNER_SORT_KEY_IMPTOTAL}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.BANNER_SORT_KEY_IMPTOTAL}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_IMPMADE}></h6>
                    <div>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.BANNER_SORT_KEY_IMPMADE}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.BANNER_SORT_KEY_IMPMADE}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_CLICKS}></h6>
                    <div>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.BANNER_SORT_KEY_CLICKS}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.BANNER_SORT_KEY_CLICKS}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_DATE}></h6>
                    <div>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.BANNER_SORT_KEY_DATE}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.BANNER_SORT_KEY_DATE}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_HTMLBANNER}></h6>
                    <div>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.BANNER_SORT_KEY_HTMLBANNER}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.BANNER_SORT_KEY_HTMLBANNER}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
            </div><{* ----- /Dropdown-content *}>
        </div><{* ----- /Dropdown *}>

        <button class="help-admin button-icon" type='button' data-module='legacyRender' data-help-article='#help-banner' aria-label="<{$smarty.const._HELP}>"><b>?</b></button>
    </div>

</section>
<{* ----- / CONTROL-ACTION *}>


<table class="outer">
    <thead>
    <tr>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_BID}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_CID}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_IMPTOTAL}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_IMPMADE}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_CLICKS}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_DATE}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_HTMLBANNER}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_CONTROL}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=obj from=$objects}>
    <tr>
        <td class="list_id"><{$obj->getShow('bid')}></td>
        <td class="list_title"><{$obj->mClient->getShow('name')}></td>
        <td class="list_number">
            <{if $obj->get('imptotal') > 0}>
            <{$obj->getShow('imptotal')}>
            <{else}>
            <{$smarty.const._AD_LEGACYRENDER_LANG_UN_LIMITED}>
            <{/if}>
        </td>
        <td class="list_number"><{$obj->getShow('impmade')}></td>
        <td class="list_number">
            <{if $obj->getShow('clickurl')}>
            <{$obj->getShow('clicks')}>
            <{else}>
            --
            <{/if}>
        </td>
        <td class="list_date"><{$obj->get('date')|xoops_formattimestamp}></td>
        <td class="list_select"><{if $obj->getShow('htmlbanner') == 1}><{$smarty.const._YES}><{else}><{$smarty.const._NO}><{/if}></td>
        <td class="list_control">
            <a class="action-edit" href="./index.php?action=BannerEdit&amp;bid=<{$obj->getShow('bid')}>" aria-label="<{$smarty.const._EDIT}>">
                <img class="svg" src="<{'icons/icon-edit.svg'|theme}>" alt="edit">
            </a>
            <a class="action-delete" href="./index.php?action=BannerDelete&amp;bid=<{$obj->getShow('bid')}>" aria-label="<{$smarty.const._DELETE}>">
                <img class="svg" src="<{'icons/icon-delete.svg'|theme}>" alt="delete">
            </a>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="8"><nav class="pagination"><{xoops_pagenavi pagenavi=$pageNavi}></nav></td>
    </tr>
    </tfoot>
</table>


