<div class="ui-dev-mode"><{$smarty.template}></div>

<div class="adminnavi">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACYRENDER_NAME}></a>
    &raquo;&raquo; <a href="./index.php?action=BannerList"><{$smarty.const._MI_LEGACYRENDER_ADMENU_BANNER_MANAGE}></a>
    &raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=BannerclientList"><{$smarty.const._AD_LEGACYRENDER_LANG_BANNERCLIENT_LIST}></a></span>
</div>


<h2 class="admintitle"><{$smarty.const._AD_LEGACYRENDER_LANG_BANNERCLIENT_LIST}></h2>

<div class="tips">
    Add link to : https://xyz.local/xcl/html/modules/legacy/admin/index.php?action=PreferenceEdit&confmod_id=3
    <br> and "id" to language
</div>



<p>
    <a href="index.php?action=BannerList" class="button button-small"><{$smarty.const._AD_LEGACYRENDER_LANG_BANNER_LIST}></a>
    <a href="index.php?action=BannerfinishList" class="button button-small"><{$smarty.const._AD_LEGACYRENDER_LANG_BANNERFINISH_LIST}></a>
    <a href="index.php?action=BannerclientEdit" class="button button-small"><{$smarty.const._AD_LEGACYRENDER_LANG_CREATE_NEW}></a>
</p>
<!-- <ul class="toptab">
  <li class="addBannerList"><a href="index.php?action=BannerList" class="button button-small"><{$smarty.const._AD_LEGACYRENDER_LANG_BANNER_LIST}></a></li>
  <li class="addBannerExpire"><a href="index.php?action=BannerfinishList" class="button button-small"><{$smarty.const._AD_LEGACYRENDER_LANG_BANNERFINISH_LIST}></a></li>
  <li class="addBanner"><a href="index.php?action=BannerclientEdit" class="button button-small"><{$smarty.const._AD_LEGACYRENDER_LANG_CREATE_NEW}></a></li>
</ul> -->

<table class="outer">
    <thead>
    <tr>
        <th>
        <{* ////— DROPDOWN SORT —\\\\ *}>
        <div class="dropdown" id="filter-sort">

            <a href="#" class="dropdown-toggle button" aria-label="sort filter">
                <img class="svg" src="<{$xoops_url}>/images/icons/list-tree.svg" width="24px" height="24px" alt="options">
            </a>

            <div class="dropdown-content drop-left" style="min-width: 280px; padding:.5em">
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_BID}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.BANNERCLIENT_SORT_KEY_CID}>"
                           class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.BANNERCLIENT_SORT_KEY_CID}>"
                           class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_NAME}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.BANNERCLIENT_SORT_KEY_NAME}>"
                           class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.BANNERCLIENT_SORT_KEY_NAME}>"
                           class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;
                        </a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_CONTACT}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.BANNERCLIENT_SORT_KEY_CONTACT}>"
                           class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.BANNERCLIENT_SORT_KEY_CONTACT}>"
                           class="btn" title="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_CLICKS}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.BANNERFINISH_SORT_KEY_CLICKS}>"
                           class="btn" title="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.BANNERFINISH_SORT_KEY_CLICKS}>"
                           class="btn" title="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_EMAIL}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.BANNERCLIENT_SORT_KEY_EMAIL}>"
                           class="btn" title="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.BANNERCLIENT_SORT_KEY_EMAIL}>"
                           class="btn" title="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_LOGIN}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.BANNERCLIENT_SORT_KEY_LOGIN}>"
                           class="btn" title="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.BANNERCLIENT_SORT_KEY_LOGIN}>"
                           class="btn" title="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_EXTRAINFO}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.BANNERCLIENT_SORT_KEY_EXTRAINFO}>"
                           class="btn" title="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.BANNERCLIENT_SORT_KEY_EXTRAINFO}>"
                           class="btn" title="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
            </div><{* ----- /Dropdown-content *}>
        </div><{* ----- /Dropdown *}>
        </th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_NAME}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_CONTACT}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_EMAIL}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_LOGIN}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_EXTRAINFO}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_CONTROL}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=obj from=$objects}>
    <tr>
        <td class="list_id"><{$obj->getShow('cid')}></td>
        <td class="list_title"><{$obj->getShow('name')}></td>
        <td class="list_name"><{$obj->getShow('contact')}></td>
        <td class="list_email"><{$obj->getShow('email')}></td>
        <td class="list_text"><{$obj->getShow('login')}></td>
        <td class="list_description"><{$obj->getShow('extrainfo')}></td>
        <td class="list_control">
            <a href="./index.php?action=BannerList&amp;cid=<{$obj->getShow('cid')}>"><{$smarty.const._AD_LEGACYRENDER_LANG_BANNER_LIST}>(<{$obj->mBannerCount|xoops_escape}>)</a><br>
            <a href="./index.php?action=BannerfinishList&amp;cid=<{$obj->getShow('cid')}>"><{$smarty.const._AD_LEGACYRENDER_LANG_BANNERFINISH_LIST}>(<{$obj->mFinishBannerCount|xoops_escape}>)</a><br>
            <a href="./index.php?action=BannerclientEdit&amp;cid=<{$obj->getShow('cid')}>" title="<{$smarty.const._EDIT}>">
                <img src="<{"icons/icon-edit.svg"|theme}>" class="svg">
            </a>
            <a href="./index.php?action=BannerclientDelete&amp;cid=<{$obj->getShow('cid')}>" title="<{$smarty.const._DELETE}>" class="bg-red">
                <img class="svg" src="<{'icons/icon-delete.svg'|theme}>" alt="Delete">
            </a>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>

<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
