<h1><{$smarty.const._AD_LEGACYRENDER_LANG_HTACCESS}></h1>
<p>
<{$smarty.const._AD_LEGACYRENDER_DESC_HTACCESS}>
</p>
<div>
<textarea name="htaccess" cols="80" rows="20">
RewriteEngine On
RewriteBase /
RewriteRule ^modules/(.*)$ <{$xoops_module_path}>/$1 [L,QSA]
RewriteRule ^(\w+)$ <{$xoops_module_path}>/$1/index.php [L,QSA]
RewriteRule ^(\w+)/(\d+)$ <{$xoops_module_path}>/$1/index.php?<{$data_id}>=$2 [L,QSA]
RewriteRule ^(\w+)/(\w+)$ <{$xoops_module_path}>/$1/index.php?<{$data_name}>=$2 [L,QSA]
RewriteRule ^(\w+)/(\w+)/(\d+)$ <{$xoops_module_path}>/$1/index.php?<{$data_name}>=$2&<{$data_id}>=$3 [L,QSA]
RewriteRule ^(\w+)/(\w+)/(\w+)$ <{$xoops_module_path}>/$1/index.php?<{$data_name}>=$2&<{$action_name}>=$3 [L,QSA]
RewriteRule ^(\w+)/(\w+)/(\d+)/(\w+)$ <{$xoops_module_path}>/$1/index.php?<{$data_name}>=$2&<{$action_name}>=$4&<{$data_id}>=$3 [L,QSA]
RewriteRule ^(\w+)\?(\w+=\w+)$ <{$xoops_module_path}>/$1/index.php?$2 [L,QSA]
</textarea>
</div>
