<div class="adminnavi">
  <a href="./index.php"><{$smarty.const._MI_LEGACYRENDER_NAME}></a>
  &raquo;&raquo; <a href="./index.php?action=TplfileList"><{$smarty.const._MI_LEGACYRENDER_ADMENU_TPLFILE_MANAGE}></a>
  &raquo;&raquo; <span class="adminnaviTitle"><{$smarty.const._AD_LEGACYRENDER_LANG_TEMPLATE_FILE_EDIT}></span>
</div>

<h3 class="admintitle"><{$smarty.const._AD_LEGACYRENDER_LANG_TEMPLATE_FILE_EDIT}></h3>

<script type="text/javascript">
<!--
function expandEditor( id, width, height )
{
  var element = document.getElementById( id );
  if( element ) {
    element.style.width = width + "px";
    element.style.height = height + "px";
  }
  return false;
}
// -->
</script>

<{if $actionForm->hasError()}>
<div class="error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>

<form action="" method="post">
  <{xoops_token form=$actionForm}>
  <{xoops_input type=hidden name=tpl_id value=$actionForm->get('tpl_id')}>
  <table class="outer">
    <tr>
      <th colspan="2"><{$smarty.const._AD_LEGACYRENDER_LANG_TEMPLATE_FILE_EDIT}></th>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_TPLSET}></td>
      <td class="<{cycle values="odd,even"}>"><b><{$object->getShow('tpl_tplset')}></b></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_MODULE}></td>
      <td class="<{cycle values="odd,even"}>"><b><{$object->getShow('tpl_module')}></b></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_FILE}></td>
      <td class="<{cycle values="odd,even"}>"><b><{$object->getShow('tpl_file')}></b></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_DESC}></td>
      <td class="<{cycle values="odd,even"}>"><{xoops_input type=text name=tpl_desc size=80 value=$actionForm->get('tpl_desc')}></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_SOURCE}></td>
      <td class="<{cycle values="odd,even"}>">
    <div class="legacyRender_TemplateManager_sizenavi">
        <{$smarty.const._AD_LEGACYRENDER_LANG_MORE_SMALL}>
        &raquo;&raquo;
        <a href="javascript:void(0);" onclick="return expandEditor( 'tpl_source', '480', '360' );">[480x360]</a>
        &raquo;
        <a href="javascript:void(0);" onclick="return expandEditor( 'tpl_source', '600', '400' );">[600x400]</a>
        &raquo;
        <a href="javascript:void(0);" onclick="return expandEditor( 'tpl_source', '600', '600' );">[600x600]</a>
        &raquo;
        <a href="javascript:void(0);" onclick="return expandEditor( 'tpl_source', '640', '700' );">[640x700]</a>
        &raquo;&raquo;
        <{$smarty.const._AD_LEGACYRENDER_LANG_MORE_LARGE}>
      </div>
      <textarea name=tpl_source id=tpl_source class="legacyRender_TemplateManager_textarea"><{$actionForm->get('tpl_source')|xoops_escape:plain}></textarea>

<{* fck_htmlarea name=tpl_source width=100% hight=400px skin=silver value=$actionForm->get('tpl_source') *}>
</td>
    </tr>
    <tr>
      <td class="foot" colspan="2">
        <input class="formButton" type="submit" value="<{$smarty.const._EDIT}>" />
        <input class="formButton" type="submit" value="<{$smarty.const._BACK}>" name="_form_control_cancel" />
      </td>
    </tr>
  </table>
</form>
