<div class="ui-dev-mode"><{$smarty.template}></div>

<nav class="ui-breadcrumbs" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACYRENDER_NAME}></a>
    &raquo;&raquo; <a href="./index.php?action=TplfileList"><{$smarty.const._MI_LEGACYRENDER_ADMENU_TPLFILE_MANAGE}></a>
    &raquo;&raquo; <span class="page-title" aria-current="page"><{$smarty.const._AD_LEGACYRENDER_LANG_TEMPLATE_FILE_LIST}></span>
</nav>

<h2><{$smarty.const._AD_LEGACYRENDER_LANG_TEMPLATE_FILE_LIST}>
    <{if is_object($filterForm->mTplset)}>
    » [ <{$filterForm->mTplset->get('tplset_name')}> ]
    <{/if}>
    <{if is_object($filterForm->mModule)}>
    » <{$filterForm->mModule->get('name')}>(<{$filterForm->mModule->get('dirname')}>)
    <{/if}>
</h2>

<{if $actionForm->hasError()}>
<div class="error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section data-layout="rows center-justify" class="action-control">

    <div>
        <a class="button" href="./index.php?action=TplsetList"><i class="i-view"></i><{$smarty.const._MI_LEGACYRENDER_ADMENU_TEMPLATE_MANAGE}></a>
        <a class="button" href="./index.php?action=TplsetUpload"><i class="i-upload"></i><{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_UPLOAD}></a>
    </div>

    <div class="control-view">
        <{* ////— DROPDOWN FILTER-SORT —\\\\ *}>
        <div class="dropdown button-icon" id="filter-sort">
            <a href="#" class="dropdown-toggle button" aria-label="filter sort"><img class="svg" src="<{'icons/icon-list-order.svg'|theme}>" width="1em" height="1em" alt="options"></a>
            <div class="dropdown-content drop-top">
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_ID}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.TPLFILE_SORT_KEY_TPL_ID}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.TPLFILE_SORT_KEY_TPL_ID}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_MODULE}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.TPLFILE_SORT_KEY_TPL_MODULE}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.TPLFILE_SORT_KEY_TPL_MODULE}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_TPLSET}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.TPLFILE_SORT_KEY_TPL_TPLSET}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.TPLFILE_SORT_KEY_TPL_TPLSET}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_FILE}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.TPLFILE_SORT_KEY_TPL_FILE}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.TPLFILE_SORT_KEY_TPL_FILE}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_LASTMODIFIED}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.TPLFILE_SORT_KEY_TPL_LASTMODIFIED}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.TPLFILE_SORT_KEY_TPL_LASTMODIFIED}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_LASTIMPORTED}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.TPLFILE_SORT_KEY_TPL_LASTIMPORTED}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.TPLFILE_SORT_KEY_TPL_LASTIMPORTED}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_TYPE}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.TPLFILE_SORT_KEY_TPL_TYPE}>" class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.TPLFILE_SORT_KEY_TPL_TYPE}>" class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
            </div><{* ----- /Dropdown-content *}>
        </div><{* ----- /Dropdown *}>

        <{* ////— DROPDOWN SEARCH —\\\\ *}>
        <div class="dropdown button-icon" id="drop-search">
            <a href="#" class="dropdown-toggle button" aria-label="search">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path d="M19.31 18.9l3.08 3.1L21 23.39l-3.12-3.07c-.69.43-1.51.68-2.38.68c-2.5 0-4.5-2-4.5-4.5s2-4.5 4.5-4.5s4.5 2 4.5 4.5c0 .88-.25 1.71-.69 2.4m-3.81.1a2.5 2.5 0 0 0 0-5a2.5 2.5 0 0 0 0 5M21 4v2H3V4h18M3 16v-2h6v2H3m0-5V9h18v2h-2.03c-1.01-.63-2.2-1-3.47-1s-2.46.37-3.47 1H3z" fill="currentColor"/></svg>
            </a>
            <div class="dropdown-content drop-top">
                <form method="get" action="index.php">
                    <input type="hidden" name="action" value="TplfileList">
                    <div data-layout="rows">
                        <label><{$smarty.const._AD_LEGACYRENDER_LANG_SEARCH_TEMPLATE}></label>
                        <{xoops_explaceholder control=LegacyRenderPagenaviHidden pagenavi=$pageNavi mask=tpl_file}>
                        <input type="text" name="tpl_file">
                    </div>
                    <div data-layout="rows">
                        <input class="button" type="submit" value="<{$smarty.const._SEARCH}>">
                    </div>
                </form>
                <form action="./index.php" method="get">
                    <input type="hidden" name="action" value="TplfileList">
                    <div data-layout="rows">
                        <label><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_TPLSET}></label>
                        <select name="tpl_tplset">
                            <{foreach from=$tplsets item=tplset}>
                            <{if is_object($filterForm->mTplset)}>
                            <option value="<{$tplset->getShow('tplset_name')}>" <{if $filterForm->mTplset->get('tplset_name') == $tplset->get('tplset_name')}>selected="selected"<{/if}>><{$tplset->getShow('tplset_name')}></option>
                            <{else}>
                            <option value="<{$tplset->getShow('tplset_name')}>"><{$tplset->getShow('tplset_name')}></option>
                            <{/if}>
                            <{/foreach}>
                        </select>
                    </div>
                    <div data-layout="rows">
                        <label><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_MODULE}></label>
                        <select name="tpl_module">
                            <{foreach from=$modules item=module}>
                            <{if is_object($filterForm->mModule)}>
                            <option value="<{$module->getShow('dirname')}>" <{if $filterForm->mModule->get('dirname') == $module->get('dirname')}>selected="selected"<{/if}>><{$module->getShow('name')}>(<{$module->getShow('dirname')}>)</option>
                            <{else}>
                            <option value="<{$module->getShow('dirname')}>"><{$module->getShow('name')}>(<{$module->getShow('dirname')}>)</option>
                            <{/if}>
                            <{/foreach}>
                        </select>
                    </div>
                    <div data-layout="rows">
                        <input class="button" type="submit" value="<{$smarty.const._SUBMIT}>">
                    </div>
                </form>
            </div><{* ----- /Dropdown-content *}>
        </div><{* ----- /Dropdown *}>

        <button class="help-admin button-icon" type='button' data-module='legacyRender' data-help-article='#help-template' aria-label="<{$smarty.const._HELP}>"><b>?</b></button>
    </div>
</section>
<{* ----- / CONTROL-ACTION *}>


<form action="./index.php?action=TplfileList" method="post" enctype="multipart/form-data">
    <{xoops_token form=$actionForm}>
    <table class="outer">
        <thead>
        <tr>
            <th><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_ID}></th>
            <th><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_MODULE}></th>
            <th><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_TPLSET}></th>
            <th><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_FILE}></th>
            <th class="list_center"><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_LASTMODIFIED}></th>
            <th class="list_center"><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_LASTIMPORTED}></th>
            <th class="list_control"><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_TYPE}></th>

            <{* if $targetTplset !=null && $targetTplset !='default' *}>
<!--            <th colspan="2">-->
            <{* else *}>
            <th class="list_control">
            <{* /if *}>
            <{$smarty.const._AD_LEGACYRENDER_LANG_CONTROL}>
            </th>
        </tr>
        </thead>
        <tbody>
        <{foreach item=obj from=$objects}>
        <{if $obj->mOverride == null && $targetTplset != null && $targetTplset !='default'}>
        <tr class="legacyRender_TemplateFile_nofile">
            <{elseif $obj->get('tpl_type') == "block"}>
         <tr class="legacyRender_TemplateFile_block">
            <{else}>
        <tr>
        <{/if}>

            <td class="list_id">
                <{if $obj->mOverride != null}>
                <{$obj->mOverride->getShow('tpl_id')}>
                <{else}>
                <{$obj->getShow('tpl_id')}>
                <{/if}>
            </td>

            <td class="list_text"><{$obj->getShow('tpl_module')}></td>

            <td class="list_text">
                <{if $obj->mOverride != null}>
                <{$obj->mOverride->getShow('tpl_tplset')}>
                <{else}>
                <{$obj->getShow('tpl_tplset')}>
                <{/if}>
            </td>

            <td class="list_title">
                <{$obj->getShow('tpl_file')}>
                <{if $obj->getShow('tpl_desc')}>
                <div class="list_description"><{$obj->getShow('tpl_desc')}></div>
                <{/if}>
            </td>

            <td class="list_date list_center">
                <{if $obj->mOverride != null}>
                <{$obj->mOverride->get('tpl_lastmodified')|xoops_formattimestamp:l}>
                <{else}>
                <{$obj->get('tpl_lastmodified')|xoops_formattimestamp:l}>
                <{/if}>
            </td>

            <td class="list_date list_center">
                <{if $obj->mOverride != null}>
                <{$obj->mOverride->get('tpl_lastimported')|xoops_formattimestamp:l}>
                <{else}>
                <{$obj->get('tpl_lastimported')|xoops_formattimestamp:l}>
                <{/if}>
            </td>

            <td class="list_type"><{$obj->getShow('tpl_type')}></td>

            <td class="list_control">
                <{if $targetTplset == 'default'}>
                <a class="action-view" href="index.php?action=TplfileView&amp;tpl_id=<{$obj->getShow('tpl_id')}>" aria-label="<{$smarty.const._AD_LEGACYRENDER_LANG_VIEW}>">
                    <img class="svg" src="<{'icons/icon-view.svg'|theme}>" width="1em" height="1em" alt="view">
                </a>
                <a class="action-download" href="index.php?action=TplfileDownload&amp;tpl_id=<{$obj->getShow('tpl_id')}>" aria-label="<{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_DOWNLOAD}>">
                    <img class="svg" src="<{'icons/icon-download.svg'|theme}>" width="1em" height="1em" alt="download">
                </a>

                <{elseif $obj->mOverride != null}>

                <a class="action-edit" href="index.php?action=TplfileEdit&amp;tpl_id=<{$obj->mOverride->getShow('tpl_id')}>" aria-label="<{$smarty.const._EDIT}>">
                    <img class="svg" src="<{'icons/icon-edit.svg'|theme}>" width="1em" height="1em" alt="edit">
                </a>
                <a class="action-download" href="index.php?action=TplfileDownload&amp;tpl_id=<{$obj->mOverride->getShow('tpl_id')}>" aria-label="<{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_DOWNLOAD}>">
                    <img class="svg" src="<{'icons/icon-download.svg'|theme}>" width="1em" height="1em" alt="download">
                </a>
                <a class="action-delete" href="index.php?action=TplfileDelete&amp;tpl_id=<{$obj->mOverride->getShow('tpl_id')}>" aria-label="<{$smarty.const._DELETE}>">
                    <img class="svg" src="<{'icons/icon-delete.svg'|theme}>" width="1em" height="1em" alt="delete">
                </a>

                <{* ----- Customized Input File *}>
                <label for="<{$obj->mOverride->get('tpl_id')}>">Choose a file</label>
                <{xoops_input type=file class="action-copy" name="upload" key="$obj->mOverride->get('tpl_id')"}>
                <input type=file class="action-upload" name="upload" id="<{$obj->mOverride->get('tpl_id')}>" data-label="Upload">
                <{* ----- / Customized Input File *}>

                <{elseif $obj->mOverride == null && $targetTplset != null && $targetTplset != 'default'}>

                <a class="action-copy" href="index.php?action=TplfileClone&amp;tpl_id=<{$obj->getShow('tpl_id')}>&amp;tpl_tplset=<{$targetTplset|xoops_escape:link}>" aria-label="<{$smarty.const._CLONE}>">
                    <img class="svg" src="<{'icons/icon-copy.svg'|theme}>" width="1em" height="1em" alt="copy">
                </a>

                <{else}>

                <{if $obj->get('tpl_tplset') == 'default'}>
                <a class="action-view" href="index.php?action=TplfileView&amp;tpl_id=<{$obj->getShow('tpl_id')}>" aria-label="<{$smarty.const._AD_LEGACYRENDER_LANG_VIEW}>">
                    <img class="svg" src="<{'icons/icon-view.svg'|theme}>" width="1em" height="1em" alt="view">
                </a>
                <{else}>
                <a class="action-edit" href="index.php?action=TplfileEdit&amp;tpl_id=<{$obj->getShow('tpl_id')}>&amp;tpl_tplset=<{$obj->getShow('tpl_tplset')|xoops_escape:link}>" aria-label="<{$smarty.const._EDIT}>">
                    <img class="svg" src="<{'icons/icon-edit.svg'|theme}>" width="1em" height="1em" alt="edit">
                </a>
                <{/if}>

                <a class="action-download" href="index.php?action=TplfileDownload&amp;tpl_id=<{$obj->getShow('tpl_id')}>" aria-label="<{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_DOWNLOAD}>">
                    <img class="svg" src="<{'icons/icon-download.svg'|theme}>" width="1em" height="1em" alt="download">
                </a>
                <{/if}>
            </td>
        </tr>
        <{/foreach}>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6">
            <{if $targetTplset != null && $targetTplset !='default'}>
                <{xoops_input type=hidden name=tpl_tplset value=$targetTplset}>
                <{xoops_input type=hidden name=tpl_module value=$targetModule}>
                <input type="submit" value="<{$smarty.const._AD_LEGACYRENDER_LANG_TPLFILE_UPLOAD}>">
            <{else}>
                <input class="button" type="submit" name="confirm_back" value="<{$smarty.const._BACK}>" onclick="javascript:history.go(-1);">
            <{/if}>
            </td>
            <td colspan="2"><nav class="pagination"><{xoops_pagenavi pagenavi=$pageNavi}></nav></td>
        </tr>
        </tfoot>
    </table>
</form>
