<div class="adminnavi">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_LEGACYRENDER_NAME}></a>
    &raquo;&raquo; <a href="./index.php?action=TplsetList"><{$smarty.const._AD_LEGACYRENDER_LANG_TEMPLATE_MANAGE}></a>
    &raquo;&raquo; <span class="adminnaviTitle"><{$smarty.const._AD_LEGACYRENDER_LANG_TEMPLATE_SET_LIST}></span>
</div>

<div class="ui-dev-mode"><{$smarty.template}></div>

<h2 class="admintitle"><{$smarty.const._AD_LEGACYRENDER_LANG_TEMPLATE_SET_LIST}></h2>


<{if count($objects) == 1 }>
<div class="tips"><{$smarty.const._AD_LEGACYRENDER_TIPS_TEMPLATE_MANAGE_1}></div>
<{else}>
<div class="tips"><{$smarty.const._AD_LEGACYRENDER_TIPS_TEMPLATE_MANAGE_2}></div>
<{/if}>


<{* ////— ACTION-CONTROL —\\\\ *}>
<section data-layout="row center-justify" class="action-control">
    <form method="get" action="index.php"><{$smarty.const._AD_LEGACYRENDER_LANG_SEARCH_TEMPLATE}> :
        <input type="hidden" name="action" value="TplfileList">
        <input type="text" name="tpl_file">
        <input class="button" type="submit" value="<{$smarty.const._SEARCH}>">
    </form>
    <div class="control-view">
        <a class="button" href="./index.php?action=TplsetUpload"><{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_UPLOAD}></a>
        <button class="help-admin button" type='button' data-module='legacyRender' data-help-article='#help-template' aria-label="<{$smarty.const._HELP}>">
            <b>?</b> </button>
    </div>
</section>
<{* ----- / CONTROL-ACTION *}>


<{if $actionForm->hasError()}>
<div class="error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>


<{assign var=tokenName value=$actionForm->getTokenName()}>
<{assign var=token value=$actionForm->getToken()}>


<table class="outer">
    <thead>
    <tr>
        <th>
        <{* ////— DROPDOWN SORT —\\\\ *}>
        <div class="dropdown" id="filter-sort">

            <a href="#" class="dropdown-toggle button" aria-label="sort filter">
                <img class="svg" src="<{$xoops_url}>/images/icons/list-tree.svg" width="24px" height="24px" alt="options">
            </a>

            <div class="dropdown-content drop-left" style="min-width: 280px; padding:.5em">
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_ID}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.TPLSET_SORT_KEY_TPLSET_ID}>"
                           class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.TPLSET_SORT_KEY_TPLSET_ID}>"
                           class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_NAME}>/<{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_DESC}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.TPLSET_SORT_KEY_TPLSET_NAME}>"
                           class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.TPLSET_SORT_KEY_TPLSET_NAME}>"
                           class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_CREDITS}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.TPLSET_SORT_KEY_TPLSET_CREDITS}>"
                           class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.TPLSET_SORT_KEY_TPLSET_CREDITS}>"
                           class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_CREATED}></h6>
                    <div>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.TPLSET_SORT_KEY_TPLSET_CREATED}>"
                           class="btn" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.TPLSET_SORT_KEY_TPLSET_CREATED}>"
                           class="btn" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
            </div><{* ----- /Dropdown-content *}>
        </div><{* ----- /Dropdown *}>
        </th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_NAME}> / <{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_DESC}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_CREDITS}></th>
        <th class="list_center"><{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_CREATED}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_TEMPLATE}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_CONTROL}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=obj from=$objects}>
    <{if $activeTemplateSet == $obj->get('tplset_name')}>
    <tr class="active">
        <{else}>
    <tr class="inactive">
        <{/if}>
        <td class="list_id"><{$obj->getShow('tplset_id')}></td>
        <td class="list_title"><{$obj->getShow('tplset_name')}>
            <{if $obj->getShow('tplset_desc')}>
            <p class="list_description"><{$obj->getShow('tplset_desc')}></p>
            <{/if}>
        </td>
        <td class="list_text"><{$obj->get('tplset_credits')|xoops_escape|nl2br}></td>
        <td class="list_date"><{$obj->get('tplset_created')|xoops_formattimestamp:l}></td>
        <td class="list_text">
            <ul class="ui-card-2-col">
                <{foreach item=moduletpl from=$obj->mModuleTemplates}>
                <li><span class="badge-count"><{$moduletpl->getShow('count')}></span> <a href="./index.php?action=TplfileList&amp;tpl_tplset=<{$obj->get('tplset_name')|xoops_escape:link}>&amp;tpl_module=<{$moduletpl->get('dirname')|xoops_escape}>"><{$moduletpl->getShow('name')}></a></li>
                <{/foreach}>
            </ul>
        </td>
        <td class="list_control">
            <{if $activeTemplateSet == $obj->get('tplset_name')}>
            <button class="button bg-green" aria-label="<{$smarty.const._AD_LEGACYRENDER_LANG_ACTIVE}>"><{$smarty.const._AD_LEGACYRENDER_LANG_ACTIVE}></button>
            <br>
            <{else}>
            <form method="post" action="./index.php?action=TplsetList">
                <{xoops_token name=$actionForm->getTokenName() value=$actionForm->getToken()}>
                <input type="hidden" name="tplset_name" value="<{$obj->getShow('tplset_name')}>" id="legacy_xoopsform_tplset_name_<{$obj->getShow('tplset_name')}>">
                <input type="submit" value="<{$smarty.const._SELECT}>" class="formButton">
            </form>
            <{/if}>
            <a href="index.php?action=TplsetDownload&amp;tplset_id=<{$obj->get('tplset_id')}>&amp;method=tar" aria-label="<{$smarty.const._AD_LEGACYRENDER_LANG_TPLSET_DOWNLOAD}>">
                <span>⭳</span>
<!--                <img class="svg" src="<{'icons/icon-file-download.svg'|theme}>" alt="Download">-->
            </a>
            <a href="index.php?action=TplsetClone&amp;tplset_id=<{$obj->get('tplset_id')}>" aria-label="<{$smarty.const._CLONE}>">
                <span>⧉</span>
<!--                <img class="svg" src="<{'icons/icon-file-duplicate.svg'|theme}>" alt="Copy">-->
            </a>
            <br>
            <{if $obj->get('tplset_name') != "default"}>
            <a href="index.php?action=TplsetEdit&amp;tplset_id=<{$obj->get('tplset_id')}>" aria-label="<{$smarty.const._EDIT}>">
                <span>✐</span>
<!--                <img class="svg" src="<{'icons/icon-file-edit.svg'|theme}>" alt="Edit">-->
            </a>
            <{if $activeTemplateSet != $obj->get('tplset_name')}>
            <a href="index.php?action=TplsetDelete&amp;tplset_id=<{$obj->get('tplset_id')}>" aria-label="<{$smarty.const._DELETE}>" class="bg-red">
                <span>🗑</span>
<!--                <img class="svg" src="<{'icons/icon-file-delete.svg'|theme}>" alt="Delete">-->
            </a>
            <{/if}>
            <{/if}>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
</table>

<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>

<hr>

<h3 class="admintitle"><{$smarty.const._AD_LEGACYRENDER_LANG_RECENT_MODIFY_FILES}></h3>

<table class="outer">
    <thead>
    <tr>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_ID}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_MODULE}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_TPLSET}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_FILE}></th>
        <th class="list_center"><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_LASTMODIFIED}></th>
        <th class="list_center"><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_LASTIMPORTED}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_TPL_TYPE}></th>
        <th><{$smarty.const._AD_LEGACYRENDER_LANG_CONTROL}></th>
    </tr>
    </thead>
    <tbody>
    <{foreach item=obj from=$recentObjects}>
    <{if $activeTemplateSet == $obj->getShow('tpl_tplset') }>
    <{if $obj->get('tpl_type') == "block"}>
    <tr class="active legacyRender_TemplateFile_block">
        <{else}>
    <tr class="active">
        <{/if}>
        <{else}>
        <{if $obj->get('tpl_type') == "block"}>
    <tr class="inactive legacyRender_TemplateFile_block">
        <{else}>
    <tr class="inactive">
        <{/if}>
        <{/if}>
        <td class="list_id"><{$obj->getShow('tpl_id')}></td>
        <td class="list_text"><{$obj->getShow('tpl_module')}></td>
        <td class="list_text"><{$obj->getShow('tpl_tplset')}></td>
        <td class="list_title"><{$obj->getShow('tpl_file')}>
            <{if $obj->getShow('tpl_desc')}>
            <div class="list_description"><{$obj->getShow('tpl_desc')}></div>
            <{/if}>
        </td>
        <td class="list_date"><{$obj->get('tpl_lastmodified')|xoops_formattimestamp:l}></td>
        <td class="list_date"><{$obj->get('tpl_lastimported')|xoops_formattimestamp:l}></td>
        <td class="list_type"><{$obj->getShow('tpl_type')}></td>
        <td class="list_control">
            <{if $obj->get('tpl_tplset') == "default"}>
            <a href="index.php?action=TplfileView&amp;tpl_id=<{$obj->get('tpl_id')}>" title="<{$smarty.const._AD_LEGACYRENDER_LANG_VIEW}>">
                <img class="svg" src="<{'icons/icon-file-view.svg'|theme}>" alt="View">
            </a>
            <{else}>
            <a href="index.php?action=TplfileEdit&amp;tpl_id=<{$obj->get('tpl_id')}>" title="<{$smarty.const._EDIT}>">
                <img class="svg" src="<{'icons/icon-file-edit.svg'|theme}>" alt="Edit">
            </a>
            <{/if}>
        </td>
    </tr>
    <{/foreach}>
    </tbody>
    <tfoot>
    <tr>
        <td class="foot" colspan="8">
            <a class="button" href="index.php?action=TplfileList&amp;sort=-7"><{$smarty.const._MORE}></a>
        </td>
    </tr>
    </tfoot>
</table>

<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
