<{* ---------- Block-Right *}>
<{foreach item=block from=$xoops_rblocks}>
<div class="block-right b-<{$block.weight}>" id="b<{$block.id}>">
    <h4 data-layout="row center-justify" class="block-title">
        <{if $xoops_isadmin}>
        <{$block.title}>
        <{include file="$theme_name/component/_inc_block_edit.html"}>
        <{else}>
        <{if !$block.title|strstr:"none"}><{$block.title}><{/if}>
        <{/if}>
    </h4>
    <div class="block-content"><{$block.content}></div>
</div>
<{/foreach}>
