<div class="ui-dev-mode"><{$smarty.template}></div>

<nav class="ui-breadcrumbs" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_USER_NAME}></a>
    &raquo;&raquo; <span class="page-title" aria-current="page"><a href="./index.php?action=AvatarList"><{$smarty.const._MI_USER_ADMENU_AVATAR_MANAGE}></a></span>
</nav>


<{* ////—  Avatars - Overview  —\\\\ *}>
<div class="ui-card-overview">

    <div class="ui-card-small">
        <div class="ui-card-small-icon ui-icon-blue">
            <img src="<{'icons/icon-smilies-active.svg'|theme}>" class="svg" aria-label="<{$smarty.const._AD_USER_LANG_AVATAR_TOTAL}>">
        </div>
        <div class="ui-card-small-info">
            <h4 class="ui-card-small-title"><{$smarty.const._AD_USER_LANG_AVATAR_TOTAL}>: <strong><{$avatarTotal}></strong></h4>
            <p class="ui-card-small-subtitle"></p>
        </div>
    </div>

    <div class="ui-card-small">
        <div class="ui-card-small-icon ui-icon-green">
            <img src="<{'icons/icon-smilies-active.svg'|theme}>" class="svg" aria-label="<{$smarty.const._AD_USER_LANG_AVATAR_TYPE_S}>">
        </div>
        <div class="ui-card-small-info">
            <h4 class="ui-card-small-title"><{$smarty.const._AD_USER_LANG_AVATAR_TYPE_S}>: <strong><{$savatarTotal}></strong></h4>
            <p class="ui-card-small-subtitle"></p>
        </div>
    </div>

    <div class="ui-card-small">
        <div class="ui-card-small-icon ui-icon-orange">
            <img src="<{'icons/icon-smilies.svg'|theme}>" class="svg" aria-label="<{$smarty.const._AD_USER_LANG_AVATAR_TYPE_C}>">
        </div>
        <div class="ui-card-small-info">
            <h4 class="ui-card-small-title"><{$smarty.const._AD_USER_LANG_AVATAR_TYPE_C}> <strong><{$cavatarTotal}></strong></h4>
            <p class="ui-card-small-subtitle"></p>
        </div>
    </div>

</div>


<h2><{$smarty.const._MI_USER_ADMENU_AVATAR_MANAGE}></h2>


<div class="help-tips">
    <{$smarty.const._AD_USER_TIPS_AVATAR}><br>
    <{$smarty.const._MD_USER_LANG_AVATAR_WIDTH_HEIGHT}> <span class="badge"><{$avatar_width}> x <{$avatar_height}></span>
    <{$smarty.const._MD_USER_LANG_AVATAR_MAXFILESIZE}> <span class="badge"><{$avatar_maxsize}></span>
</div>


<{if $actionForm->hasError()}>
<div class="error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>




<{* ////— ACTION-CONTROL —\\\\ *}>
<section data-layout="rows center-justify sm-column" class="action-control">

    <div>
        <a class="button" href="index.php?action=AvatarEdit"><i class="i-add"></i><{$smarty.const._AD_USER_LANG_AVATAR_NEW}></a>
        <a class="button" href="index.php?action=AvatarUpload"><i class="i-upload"></i><{$smarty.const._AD_USER_LANG_AVATAR_UPLOAD}></a>
    </div>

    <div class="control-view">

        <{* ////— DROPDOWN FILTER-SORT —\\\\ *}>
        <div class="dropdown button-icon" id="drop-filter">
            <a href="#" class="dropdown-toggle button" aria-label="filter sort">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="filter" role="img"><path d="M18 21l-4-4h3V7h-3l4-4l4 4h-3v10h3M2 19v-2h10v2M2 13v-2h7v2M2 7V5h4v2H2z" fill="currentColor"></path></svg>
            </a>
            <div class="dropdown-content drop-top">
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._MD_USER_LANG_AVATAR_ID}></h6>
                    <div>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.AVATAR_SORT_KEY_AVATAR_ID}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.AVATAR_SORT_KEY_AVATAR_ID}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_USER_LANG_AVATAR_FILE}> <{$smarty.const._AD_USER_LANG_AVATAR_NAME}></h6>
                    <div>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.AVATAR_SORT_KEY_AVATAR_NAME}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.AVATAR_SORT_KEY_AVATAR_NAME}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_USER_LANG_AVATAR_MIMETYPE}></h6>
                    <div>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.AVATAR_SORT_KEY_AVATAR_MIMETYPE}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.AVATAR_SORT_KEY_AVATAR_MIMETYPE}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_USER_LANG_AVATAR_CREATED}></h6>
                    <div>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.AVATAR_SORT_KEY_AVATAR_CREATED}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.AVATAR_SORT_KEY_AVATAR_CREATED}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_USER_LANG_AVATAR_DISPLAY}></h6>
                    <div>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.AVATAR_SORT_KEY_AVATAR_DISPLAY}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.AVATAR_SORT_KEY_AVATAR_DISPLAY}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_USER_LANG_AVATAR_WEIGHT}></h6>
                    <div>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.AVATAR_SORT_KEY_AVATAR_WEIGHT}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.AVATAR_SORT_KEY_AVATAR_WEIGHT}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
                <div data-layout="row center-justify inline">
                    <h6><{$smarty.const._AD_USER_LANG_AVATAR_TYPE}></h6>
                    <div>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.AVATAR_SORT_KEY_AVATAR_TYPE}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                        <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.AVATAR_SORT_KEY_AVATAR_TYPE}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                    </div>
                </div>
            </div><{* ----- /Dropdown-content *}>
        </div><{* ----- /Dropdown *}>

        <{* ////— DROPDOWN SEARCH —\\\\ *}>
        <div class="dropdown button-icon" id="drop-search">
            <a href="#" class="dropdown-toggle button" aria-label="search">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path d="M19.31 18.9l3.08 3.1L21 23.39l-3.12-3.07c-.69.43-1.51.68-2.38.68c-2.5 0-4.5-2-4.5-4.5s2-4.5 4.5-4.5s4.5 2 4.5 4.5c0 .88-.25 1.71-.69 2.4m-3.81.1a2.5 2.5 0 0 0 0-5a2.5 2.5 0 0 0 0 5M21 4v2H3V4h18M3 16v-2h6v2H3m0-5V9h18v2h-2.03c-1.01-.63-2.2-1-3.47-1s-2.46.37-3.47 1H3z" fill="currentColor"/></svg>
            </a>
            <div class="dropdown-content drop-top">
                <form action="./index.php" method="get">
                    <input type="hidden" name="action" value="AvatarList">
                    <div data-layout="rows">
                        <label><{$smarty.const._SEARCH}></label>
                        <input type="text" name="search" value="<{$filterForm->mKeyword}>">
                    </div>
                    <div data-layout="rows">
                        <label for="option_field"><{$smarty.const._AD_USER_LANG_AVATAR_TYPE}></label>
                        <select id="option_field">
                            <option value="all" <{if $filterForm->mOptionField == 'all'}>selected="selected"<{/if}>><{$smarty.const._ALL}></option>
                            <option value="system" <{if $filterForm->mOptionField == 'system'}>selected="selected"<{/if}>><{$smarty.const._AD_USER_LANG_AVATAR_TYPE_S}></option>
                            <option value="custom" <{if $filterForm->mOptionField == 'custom'}>selected="selected"<{/if}>><{$smarty.const._AD_USER_LANG_AVATAR_TYPE_C}></option>
                        </select>
                    </div>
                    <div data-layout="rows">
                        <label for="option_field2"><{$smarty.const._AD_USER_LANG_AVATAR_DISPLAY}></label>
                        <select id="option_field2">
                            <option value="all" <{if $filterForm->mOptionField2 == 'all'}>selected="selected"<{/if}>><{$smarty.const._ALL}></option>
                            <option value="visible" <{if $filterForm->mOptionField2 == 'visible'}>selected="selected"<{/if}>><{$smarty.const._YES}></option>
                            <option value="invisible" <{if $filterForm->mOptionField2 == 'invisible'}>selected="selected"<{/if}>><{$smarty.const._NO}></option>
                        </select>
                    </div>
                    <div data-layout="rows">
                        <label for="option_field3"><{$smarty.const._AD_USER_LANG_AVATAR_MIMETYPE}></label>
                        <select id="option_field3">
                            <option value="all" <{if $filterForm->mOptionField3 == 'all'}>selected="selected"<{/if}>><{$smarty.const._ALL}></option>
                            <option value="gif" <{if $filterForm->mOptionField3 == 'gif'}>selected="selected"<{/if}>>image/gif</option>
                            <option value="png" <{if $filterForm->mOptionField3 == 'png'}>selected="selected"<{/if}>>image/png</option>
                            <option value="jpeg" <{if $filterForm->mOptionField3 == 'jpeg'}>selected="selected"<{/if}>>image/jpeg</option>
                        </select>
                    </div>
                    <div data-layout="rows">
                        <label for="perpage"><{$smarty.const._VIEW}></label>
                        <select id="perpage">
                            <option value="<{$smarty.const.XCUBE_PAGENAVI_DEFAULT_PERPAGE}>"><{$smarty.const._SELECT}></option>
                            <{foreach item=page from=$pageArr}>
                            <{if $pageNavi->mPerpage == $page && $page != 0}>
                            <option value="<{$page}>" selected="selected"><{$page}></option>
                            <{elseif $pageNavi->mPerpage == $page && $page == 0}>
                            <option value="<{$page}>" selected="selected"><{$smarty.const._ALL}></option>
                            <{elseif $pageNavi->mPerpage != $page && $page == 0}>
                            <option value="<{$page}>"><{$smarty.const._ALL}></option>
                            <{else}>
                            <option value="<{$page}>"><{$page}></option>
                            <{/if}>
                            <{/foreach}>
                        </select>
                    </div>
                    <div data-layout="rows">
                        <input class="button submit" type="submit" value="<{$smarty.const._SUBMIT}>">
                    </div>
                </form><{* Form Search includes filters and view! *}>
            </div><{* ----- /Dropdown-content *}>
        </div><{* ----- /Dropdown *}>

        <button class="help-admin button-icon" type='button' data-id='4' data-module='user' data-help-article='#help-avatars' aria-label="<{$smarty.const._HELP}>"><b>?</b></button>
    </div>
</section>
<{* ----- / CONTROL-ACTION *}>


<form name="avatarlistform" method="post" action="./index.php?action=AvatarList">
    <{xoops_token form=$actionForm}>
    <table class="outer">
        <thead>
        <tr>
            <th><{$smarty.const._MD_USER_LANG_AVATAR_ID}></th>
            <th><{$smarty.const._AD_USER_LANG_AVATAR_FILE}> <{$smarty.const._AD_USER_LANG_AVATAR_NAME}></th>
            <th><{$smarty.const._AD_USER_LANG_AVATAR_MIMETYPE}></th>
            <th><{$smarty.const._AD_USER_LANG_AVATAR_CREATED}></th>
            <th><{$smarty.const._AD_USER_LANG_AVATAR_DISPLAY}></th>
            <th><{$smarty.const._AD_USER_LANG_AVATAR_WEIGHT}></th>
            <th><{$smarty.const._AD_USER_LANG_AVATAR_TYPE}></th>
            <th><{$smarty.const._AD_USER_LANG_AVATAR_USING_COUNT}></th>
            <th class="list_control"><{$smarty.const._DELETE}><br>
                <input name="allbox" id="allbox" onclick="with(document.avatarlistform){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].disabled==false&&elements[i].name.indexOf('delete')>=0){elements[i].checked=this.checked;}}}" type="checkbox" value="Check All">
            </th>
            <th class="list_control"><{$smarty.const._AD_USER_LANG_CONTROL}></th>
        </tr>
        </thead>
        <tbody>
        <{foreach item=obj from=$objects}>
        <{if $obj->getShow('avatar_display') == 1}>
        <tr class="active">
            <{else}>
        <tr class="inactive">
        <{/if}>
            <td class="list_id"><{$obj->getShow('avatar_id')}></td>
            <td class="list_image">
                <img src="<{$smarty.const.XOOPS_UPLOAD_URL}>/<{$obj->getShow('avatar_file')}>"
                     alt="<{$obj->getShow('avatar_name')}>"
                     aria-label="<{$obj->getShow('avatar_name')}>"
                     style="max-width:240px">
                <div class="list_imagetitle">
                    <input type="text" size="12" name="name[<{$obj->getShow('avatar_id')}>]" value="<{$obj->getShow('avatar_name')}>">
                </div>
            <td class="list_type"><{$obj->getShow('avatar_mimetype')}></td>
            <td class="list_date"><{$obj->get('avatar_created')|xoops_formattimestamp:l}></td>
            <td class="list_select">
                <input type="checkbox" name="display[<{$obj->getShow('avatar_id')}>]" value="1" <{if $obj->getShow('avatar_display')}>checked="checked"<{/if}>>
            </td>
            <td class="list_number">
                <input type="text" size="4" maxlength="6" name="weight[<{$obj->getShow('avatar_id')}>]" value="<{$obj->getShow('avatar_weight')}>" class=list_number>
            </td>
            <td class="list_type">
                <{if $obj->getShow('avatar_type') == "C"}>
                <{$smarty.const._AD_USER_LANG_AVATAR_TYPE_C}>
                <{elseif $obj->getShow('avatar_type') == "S"}>
                <{$smarty.const._AD_USER_LANG_AVATAR_TYPE_S}>
                <{/if}>
            </td>
            <td class="list_order"><{$obj->getUsingCount()|xoops_escape}></td>
            <td class="list_select">
                <input type="checkbox" name="delete[<{$obj->getShow('avatar_id')}>]" value="1">
            </td>
            <td class="list_control">
                <a class="action-edit" href="index.php?action=AvatarEdit&amp;avatar_id=<{$obj->getShow('avatar_id')}>" aria-label="<{$smarty.const._EDIT}>">
                    <img class="svg" src="<{'icons/icon-edit.svg'|theme}>" width="1em" alt="edit">
                </a>
                <a class="action-delete" href="index.php?action=AvatarDelete&amp;avatar_id=<{$obj->getShow('avatar_id')}>" aria-label="<{$smarty.const._DELETE}>">
                    <img class="svg" src="<{'icons/icon-delete.svg'|theme}>" width="1em" alt="delete">
                </a>
            </td>
        </tr>
        <{/foreach}>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="9">
                <input class="button submit" type="submit" value="<{$smarty.const._SUBMIT}>">
            </td>
            <td><{include file="./components/pagenavi.html"}></td>
        </tr>
        </tfoot>
    </table>
</form>
