<div class="ui-dev-mode"><{$smarty.template}></div>

<nav class="ui-breadcrumbs" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_USER_NAME}></a>
    &raquo;&raquo; <a href="./index.php?action=GroupList"><{$smarty.const._AD_USER_LANG_GROUP_LIST}></a>
    &raquo;&raquo; <span class="page-title"><{$smarty.const._AD_USER_LANG_GROUP_ASSIGN}></span>
</nav>


<h2><{$smarty.const._AD_USER_LANG_GROUP_ASSIGN}> &raquo; <{$group->getShow('name')}></h2>


<table class="outer">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th class="list_id"><{$smarty.const._AD_USER_LANG_GROUP_GID}></th>
        <th><{$smarty.const._AD_USER_LANG_GROUP_NAME}></th>
        <th><{$smarty.const._AD_USER_LANG_GROUP_DESC}></th>
        <th><{$smarty.const._AD_USER_LANG_GROUP_TYPE}></th>
        <th><{$smarty.const._AD_USER_LANG_GROUP_AMMO}></th>
        <th class="list_control"><{$smarty.const._AD_USER_LANG_CONTROL}></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="list_image"><i aria-label="<{$smarty.const._AD_USER_LANG_GROUP}>"><img class="svg" src="<{'icons/icon-user-group.svg'|theme}>" width="1em" alt="group"></i></td>
        <td class="list_id"><{$group->getShow('groupid')}></td>
        <td class="list_title"><{$group->getShow('name')}></td>
        <td class="list_description"><{$group->getShow('description')}></td>
        <td class="list_type"><{$group->getShow('group_type')}></td>
        <td class="list_number"><{$group->getUserCount()|xoops_escape}></td>
        <td class="list_control">
            <a class="action-add" href="index.php?action=GroupMember&amp;groupid=<{$group->getShow('groupid')}>" aria-label="<{$smarty.const._AD_USER_LANG_GROUP_ASSIGN}>">
                <img class="svg" src="<{'icons/icon-add.svg'|theme}>" width="1em" height="1em" alt="add">
            </a>
            <a class="action-edit" href="index.php?action=GroupEdit&amp;groupid=<{$group->getShow('groupid')}>" aria-label="<{$smarty.const._EDIT}>">
                <img class="svg" src="<{'icons/icon-edit.svg'|theme}>" width="1em" height="1em" alt="edit">
            </a>

            <a class="action-view" href="index.php?action=GroupProperty&amp;groupid=<{$group->getShow('groupid')}>" aria-label="<{$smarty.const._AD_USER_LANG_GROUP_PROPERTY}>">
                <img class="svg" src="<{'icons/icon-view.svg'|theme}>" width="1em" height="1em" alt="view">
            </a>
            <a class="action-lock" href="index.php?action=GroupPerm&amp;groupid=<{$group->getShow('groupid')}>" aria-label="<{$smarty.const._AD_USER_LANG_GROUP_PERMISSION}>">
                <img class="svg" src="<{'icons/icon-lock.svg'|theme}>" width="1em" height="1em" alt="lock">
            </a>

            <{if $group->get('groupid') > $smarty.const.XOOPS_GROUP_ANONYMOUS }>
            <a class="action-delete" href="index.php?action=GroupDelete&amp;groupid=<{$group->getShow('groupid')}>" aria-label="<{$smarty.const._DELETE}>">
                <img class="svg" src="<{'icons/icon-delete.svg'|theme}>" width="1em" height="1em" alt="delete">
            </a>
            <{/if}>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="7"><{include file="./components/pagenavi.html"}></td>
    </tr>
    </tfoot>
</table>


<h3><{$smarty.const._AD_USER_LANG_GROUP_NOASSIN_MEMBERS}></h3>

<{if $actionForm->hasError()}>
<div class="error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>

<{assign var=tokenName value=$actionForm->getTokenName()}>
<{assign var=tokenValue value=$actionForm->getToken()}>

<form method="post" action="">
    <{xoops_token name=$tokenName value=$tokenValue}>
    <input type="hidden" name="perpage" value="<{$pageNavi->getPerpage()}>">
    <input type="hidden" name="start" value="<{$pageNavi->getStart()}>">
    <input type="hidden" name="noperpage" value="<{$noPageNavi->getPerpage()}>">
    <input type="hidden" name="nostart" value="<{$noPageNavi->getStart()}>">
    <table class="outer">
        <thead>
        <tr>
            <th><{$smarty.const._MD_USER_LANG_ASSIGN}></th>
            <th>&nbsp;</th>
            <th class="list_id"><{$smarty.const._MD_USER_LANG_UID}></th>
            <th><{$smarty.const._MD_USER_LANG_UNAME}></th>
            <th><{$smarty.const._MD_USER_LANG_NAME}></th>
            <th><{$smarty.const._AD_USER_LANG_REGDATE}></th>
            <th><{$smarty.const._AD_USER_LANG_LASTLOGIN}></th>
            <th><{$smarty.const._MD_USER_LANG_POSTS}></th>
            <th><{$smarty.const._MD_USER_LANG_LEVEL}></th>
            <th class="list_control"><{$smarty.const._AD_USER_LANG_CONTROL}></th>
        </tr>
        </thead>
        <tbody>
        <{foreach from=$noUsers item=user }>
        <tr>
        <td class="list_select">
            <input type="checkbox" name="uid[<{$user->getShow('uid')}>]" value="1">
        </td>
        <td class="list_image"><i aria-label="<{$smarty.const._AD_USER_LANG_USER}>"> <img class="svg" src="<{'icons/icon-user-group.svg'|theme}>" width="1em" height="1em" alt="group"></i></td>
        <td class="list_id"><{$user->getShow('uid')}></td>
        <td class="list_title"><{$user->getShow('uname')}></td>
        <td class="list_name"><{$user->getShow('name')}></td>
        <td class="list_date"><{$user->get('user_regdate')|xoops_formattimestamp}></td>
        <td class="list_date"><{$user->get('last_login')|xoops_formattimestamp:l}></td>
        <td class="list_number"><{$user->getShow('posts')}></td>
        <td class="list_order"><{$user->getShow('level')}></td>
        <td class="list_control">
            <a class="action-edit" href="./index.php?action=UserEdit&amp;uid=<{$user->getShow('uid')}>" aria-label="<{$smarty.const._EDIT}>">
                <img class="svg" src="<{'icons/icon-edit.svg'|theme}>" width="1em" height="1em" alt="edit">
            </a>
            <{if $user->get('uid') != 1 }>
            <a class="action-delete" href="index.php?action=UserDelete&amp;uid=<{$user->getShow('uid')}>" aria-label="<{$smarty.const._DELETE}>">
                <img class="svg" src="<{'icons/icon-delete.svg'|theme}>" width="1em" height="1em" alt="delete">
            </a>
            <{/if}>
        </td>
        </tr>
        <{/foreach}>
        </tbody>
        <tbody>
        <tr>
            <td colspan="9">
                <input class="button" type="submit" value="<{$smarty.const._MD_USER_LANG_ASSIGN}>">
            </td>
            <td><{include file="./components/pagenavi.html"}></td>
        </tr>
        </tbody>
    </table>
</form>


<h3><{$smarty.const._AD_USER_LANG_GROUP_ASSIN_MEMBERS}></h3>

<form  method="post" action="">
    <{xoops_token name=$tokenName value=$tokenValue}>
    <input type="hidden" name="perpage" value="<{$pageNavi->getPerpage()}>">
    <input type="hidden" name="start" value="<{$pageNavi->getStart()}>">
    <input type="hidden" name="noperpage" value="<{$noPageNavi->getPerpage()}>">
    <input type="hidden" name="nostart" value="<{$noPageNavi->getStart()}>">
    <table class="outer">
        <thead>
        <tr>
            <th><{$smarty.const._MD_USER_LANG_UNASSIGN}></th>
            <th>&nbsp;</th>
            <th><{$smarty.const._MD_USER_LANG_UID}></th>
            <th><{$smarty.const._MD_USER_LANG_UNAME}></th>
            <th><{$smarty.const._MD_USER_LANG_NAME}></th>
            <th><{$smarty.const._AD_USER_LANG_REGDATE}></th>
            <th><{$smarty.const._AD_USER_LANG_LASTLOGIN}></th>
            <th><{$smarty.const._MD_USER_LANG_POSTS}></th>
            <th><{$smarty.const._MD_USER_LANG_LEVEL}></th>
            <th class="list_control"><{$smarty.const._AD_USER_LANG_CONTROL}></th>
        </tr>
        </thead>
        <tbody>
        <{foreach from=$users item=user }>
        <tr>
        <td class="list_select">
            <input type="checkbox" name="uid[<{$user->getShow('uid')}>]" value="2">
        </td>
        <td class="list_image"><i aria-label="<{$smarty.const._AD_USER_LANG_USER}>"> <img class="svg" src="<{'icons/icon-user-group.svg'|theme}>" width="1em" height="1em" alt="group"></i></td>
        <td class="list_id"><{$user->getShow('uid')}></td>
        <td class="list_title"><{$user->getShow('uname')}></td>
        <td class="list_name"><{$user->getShow('name')}></td>
        <td class="list_date"><{$user->get('user_regdate')|xoops_formattimestamp}></td>
        <td class="list_date"><{$user->get('last_login')|xoops_formattimestamp:l}></td>
        <td class="list_number"><{$user->getShow('posts')}></td>
        <td class="list_order"><{$user->getShow('level')}></td>
        <td class="list_control">
            <a class="action-edit" href="index.php?action=UserEdit&amp;uid=<{$user->getShow('uid')}>&amp;op=modifyUser" aria-label="<{$smarty.const._EDIT}>">
                <img class="svg" src="<{'icons/icon-edit.svg'|theme}>" width="1em" height="1em" alt="edit">
            </a>
            <{if $user->get('uid') != 1}>
            <a class="action-delete" href="index.php?action=UserDelete&amp;uid=<{$user->getShow('uid')}>" aria-label="<{$smarty.const._DELETE}>">
                <img class="svg" src="<{'icons/icon-delete.svg'|theme}>" width="1em" height="1em" alt="delete">
            </a>
            <{/if}>
        </td>
        </tr>
        <{/foreach}>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="9">
                <input class="button" type="submit" value="<{$smarty.const._MD_USER_LANG_UNASSIGN}>">
            </td>
            <td><{include file="./components/pagenavi.html"}></td>
        </tr>
        </tfoot>
    </table>
</form>
