<div class="ui-dev-mode"><{$smarty.template}></div>


<div class="adminnavi">
    <a href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_USER_NAME}></a>
    &raquo;&raquo; <a href="./index.php?action=GroupList"><{$smarty.const._AD_USER_LANG_GROUP_LIST}></a>
    &raquo;&raquo; <span class="adminnaviTitle"><{$smarty.const._AD_USER_LANG_GROUP_PERMISSION}></span>
</div>


<h2 class="admintitle"><{$smarty.const._AD_USER_LANG_GROUP_PERMISSION}> &raquo; <{$group->getShow('name')}></h2>


<table class="outer">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th class="list_id"><{$smarty.const._AD_USER_LANG_GROUP_GID}></th>
        <th><{$smarty.const._AD_USER_LANG_GROUP_NAME}></th>
        <th><{$smarty.const._AD_USER_LANG_GROUP_DESC}></th>
        <th><{$smarty.const._AD_USER_LANG_GROUP_TYPE}></th>
        <th><{$smarty.const._AD_USER_LANG_GROUP_AMMO}></th>
        <th class="list_control"><{$smarty.const._AD_USER_LANG_CONTROL}></th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd">
        <td class="list_image"><i aria-label="<{$smarty.const._AD_USER_LANG_GROUP}>"><img src="<{'icons/icon-user-group.svg'|theme}>" class="svg"></i></td>
        <td class="list_id"><{$group->getShow('groupid')}></td>
        <td class="list_title"><{$group->getShow('name')}></td>
        <td class="list_description"><{$group->getShow('description')}></td>
        <td class="list_type"><{$group->getShow('group_type')}></td>
        <td class="list_number"><{$group->getUserCount()|xoops_escape}></td>
        <td class="list_control">
            <a href="index.php?action=GroupEdit&amp;groupid=<{$group->getShow('groupid')}>" aria-label="<{$smarty.const._EDIT}>">
                <img src="<{'icons/icon-user-edit.svg'|theme}>" class="svg">
            </a>
            <{if $group->get('groupid') > $smarty.const.XOOPS_GROUP_ANONYMOUS }>
            <a href="index.php?action=GroupDelete&amp;groupid=<{$group->getShow('groupid')}>" aria-label="<{$smarty.const._DELETE}>" class="bg-red">
                <img class="svg" src="<{'icons/icon-user-delete.svg'|theme}>">
            </a>
            <{/if}>
            <a href="index.php?action=GroupProperty&amp;groupid=<{$group->getShow('groupid')}>" aria-label="<{$smarty.const._AD_USER_LANG_GROUP_PROPERTY}>">
                <img class="svg" src="<{'icons/icon-user-check.svg'|theme}>">
            </a>
            <a href="index.php?action=GroupPerm&amp;groupid=<{$group->getShow('groupid')}>" aria-label="<{$smarty.const._AD_USER_LANG_GROUP_PERMISSION}>">
                <img class="svg" src="<{'icons/icon-user-permission.svg'|theme}>">
            </a>
            <a href="index.php?action=GroupMember&amp;groupid=<{$group->getShow('groupid')}>" aria-label="<{$smarty.const._AD_USER_LANG_GROUP_ASSIGN}>">
                <img class="svg" src="<{'icons/icon-user-assign.svg'|theme}>">
            </a>
        </td>
    </tr>
    </tbody>
</table>

<h3 class="admintitle"><{$smarty.const._AD_USER_LANG_PERM_ACCESS_ADMIN}></h3>

<h4 class="admintitle"><{$smarty.const._AD_USER_LANG_PERM_MODULE_ACCESS}></h4>

<{if $actionForm->hasError()}>
<div class="error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>

<form method="post" action="index.php?action=GroupPerm">
    <{xoops_token form=$actionForm}>
    <{if $systemPermissions }>
    <table class="outer">
        <thead>
        <tr>
            <th colspan="4"><{$smarty.const._AD_USER_LANG_PERM_SYSTEM_PERM_MODULE}></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <{foreach item=perm from=$systemPermissions key="perm_key" name="SysPer"}>
            <td class="head" style="width:35%;">&nbsp;<{$perm->mItem->getName()|xoops_escape}></td>
            <td class="even"><{assign var="getId" value=$perm->getId() }>
                <label><{$smarty.const._AD_USER_LANG_PERM_ADMIN}></label>
                <input type="checkbox" name="system[<{$getId}>]" value="2" <{if $perm->mValue==2}>checked="checked"<{/if}>>
            </td>
            <{if $smarty.foreach.SysPer.last}>
            </tr>
            <{else}>
                <{cycle values=",</tr><tr>" name="SysPer"}>
            <{/if}>
            <{/foreach}>
        </tbody>
    </table>
    <br>
    <{/if}>


    <table class="outer">
        <thead>
        <tr>
            <th colspan="4"><{$smarty.const._AD_USER_LANG_PERM_GROUP_PERM_MODULE}></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <{foreach item=perm from=$modulePermissions name="ModPer"}>
            <td class="head" style="width:25%;">&nbsp;<{$perm->mItem->getName()|xoops_escape}></td>
            <td class="even"><{assign var="getId" value=$perm->getId() }>

                <{$smarty.const._AD_USER_LANG_PERM_ACCESS}>

                <input type="checkbox" name="module[<{$getId}>]" value="1" <{if $perm->mValue & 1}>checked="checked"<{/if}>>

                <{$smarty.const._AD_USER_LANG_PERM_ADMIN}>


                <input type="checkbox" name="module_admin[<{$getId}>]" value="2" <{if $perm->mValue & 2}>checked="checked"<{/if}>>

            </td>
            <{if $smarty.foreach.ModPer.last}>
            </tr>
            <{else}>
                <{cycle values=",</tr><tr>" name="ModPer"}>
            <{/if}>
            <{/foreach}>
        </tbody>
    </table>

<br>

    <h3 class="admintitle"><{$smarty.const._AD_USER_LANG_PERM_BLOCK_ACCESS}></h3>

    <{foreach key=i item=permissions from=$blockPermissions}>
    <table class="outer">
        <thead>
        <tr>
            <th colspan="4">
                <{$smarty.const._AD_USER_LANG_PERM_GROUP_PERM_BLOCK}>
                <{if $i == 0}>
                [ <{$smarty.const._LEFT}> ]
                <{elseif $i == 1}>[ <{$smarty.const._RIGHT}> ]
                <{elseif $i == 4}>[ <{$smarty.const._CENTER}> ]
                <{elseif $i == 2}>[ <{$smarty.const._CENTER}>-<{$smarty.const._LEFT}> ]
                <{elseif $i == 3}>[ <{$smarty.const._CENTER}>-<{$smarty.const._RIGHT}> ]
                <{/if}>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <{foreach item=perm from=$permissions name=$i}>
            <td class="head" style="width:35%;">&nbsp;
                <{if $perm->mItem->isActive()}>
                <{if $perm->mItem->mBlock->get('block_type') == 'C'}>
                <a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=CustomBlockEdit&amp;bid=<{$perm->mItem->mBlock->getShow('bid')}>"><{$perm->mItem->getName()|xoops_escape}></a>
                <{else}>
                <a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=BlockEdit&amp;bid=<{$perm->mItem->mBlock->getShow('bid')}>"><{$perm->mItem->getName()|xoops_escape}></a>
                <{/if}>
                <{else}>
                <span class="inactive"><{$perm->mItem->getName()|xoops_escape}></span>
                <{/if}>
            </td>
            <td class="even">
                <{assign var="getId" value=$perm->getId()}>
                <{$smarty.const._AD_USER_LANG_PERM_ACCESS}>
                <input type="checkbox" name="block[<{$getId}>]" value="1" <{if $perm->mValue==1}>checked="checked"<{/if}>>
            </td>
            <{cycle values=",</tr><tr>" name=$i}>
            <{/foreach}>
        </tr>
        </tbody>

    </table>
    <{/foreach}>

    <div data-layout="row centered" class="adminnavi">
        <{xoops_input type=hidden name=groupid value=$group->get('groupid')}>
        <input class="button cancel" type="reset" value="<{$smarty.const._AD_USER_LANG_RESET}>">
        <input class="button submit" type="submit" value="<{$smarty.const._SUBMIT}>">
    </div>

</form>
