<div class="ui-dev-mode"><{$smarty.template}></div>

<nav class="ui-breadcrumbs" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
    &raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_USER_NAME}></a>
    &raquo;&raquo; <a href="./index.php?action=MailjobList"><{$smarty.const._AD_USER_LANG_MAILJOB_LIST}></a>
    &raquo;&raquo; <span class="page-title"><a href="./index.php?action=Mailjob_linkList"><{$smarty.const._AD_USER_LANG_MAILJOB_LINK_LIST}></a></span>
</nav>


<h2><{$smarty.const._AD_USER_LANG_MAILJOB_LINK_LIST}></h2>

<div class="tips">
    <{$smarty.const._AD_USER_TIPS_MAILJOB_LINK}>
</div>

<{if $actionForm->hasError()}>
<div class="error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>


<form action="#" method="post">
    <{xoops_token form=$actionForm}>
    <{xoops_input type=hidden name=mailjob_id value=$actionForm->get('mailjob_id')}>
    <table class="outer">
        <thead>
        <tr>
        <th>
            <{* ////— DROPDOWN SORT —\\\\ *}>
            <div class="dropdown" id="filter-sort">

                <a href="#" class="dropdown-toggle button" aria-label="sort filter">
                    <img class="svg" src="<{'icons/icon-list-order.svg'|theme}>" width="1em" height="1em" alt="options">
                </a>

                <div class="dropdown-content drop-left" style="min-width: 280px; padding:.5em">
                    <div data-layout="row center-justify inline">
                        <h6><{$smarty.const._MD_USER_LANG_UID}></h6>
                        <div>
                            <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.MAILJOB_LINK_SORT_KEY_UID}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                            <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.MAILJOB_LINK_SORT_KEY_UID}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                        </div>
                    </div>
                    <div data-layout="row center-justify inline">
                        <h6><{$smarty.const._AD_USER_LANG_RETRY}></h6>
                        <div>
                            <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.MAILJOB_LINK_SORT_KEY_RETRY}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                            <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.MAILJOB_LINK_SORT_KEY_RETRY}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                        </div>
                    </div>
                    <div data-layout="row center-justify inline">
                        <h6><{$smarty.const._AD_USER_LANG_MESSAGE}></h6>
                        <div>
                            <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.MAILJOB_LINK_SORT_KEY_MESSAGE}>" aria-label="<{$smarty.const._ASCENDING}>">&uarr;</a>
                            <a class="btn" href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.MAILJOB_LINK_SORT_KEY_MESSAGE}>" aria-label="<{$smarty.const._DESCENDING}>">&darr;</a>
                        </div>
                    </div>
                </div><{* ----- /Dropdown-content *}>
            </div><{* ----- /Dropdown *}>
        </th>
        <th><{$smarty.const._MD_USER_LANG_UNAME}></th>
        <th><{$smarty.const._AD_USER_LANG_RETRY}></th>
        <th><{$smarty.const._AD_USER_LANG_MESSAGE}></th>
        <th class="list_control"><{$smarty.const._DELETE}></th>
        </tr>
        </thead>
        <tbody>
        <{foreach item=obj from=$objects}>
        <tr>
            <td style="text-align: center" aria-label="<{$smarty.const._MD_USER_LANG_UID}>"><{$obj->getShow('uid')}></td>
            <td class="list_name"><{$obj->get('uid')|xoops_user:user_name}></td>
            <td class="list_number"><{$obj->getShow('retry')}></td>
            <td class="list_description"><{$obj->getShow('message')}></td>
            <td class="list_control">
                <{xoops_input type=checkbox name=uid key=$obj->get('uid')}>
            </td>
        </tr>
        <{/foreach}>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" class="foot">
                <input class="button cancel" type="submit" name="confirm_back" value="<{$smarty.const._CANCEL}>" onclick="javascript:history.go(-1);">
                <input class="button submit" type="submit" value="<{$smarty.const._SUBMIT}>">
            </td>
            <td><nav class="pagination"><{xoops_pagenavi pagenavi=$pageNavi}></nav></td>
        </tr>
        </tfoot>
    </table>
</form>


