<div class="adminnavi">
  <a href="./index.php"><{$smarty.const._MI_USER_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=UserSearch"><{$smarty.const._MI_USER_ADMENU_USER_SEARCH}></a></span>
</div>

<h3 class="admintitle"><{$smarty.const._MI_USER_ADMENU_USER_SEARCH}></h3>

<div class="tips">
<ul>
<li>
<{$smarty.const._AD_USER_LANG_USER_TOTAL}>: <{$UserTotal}>&nbsp;&nbsp;<br />
<{$smarty.const._AD_USER_LANG_LEVEL_ACTIVE}>: <{$activeUserTotal}>&nbsp;&nbsp;|&nbsp; <{$smarty.const._AD_USER_LANG_LEVEL_PENDING}>: <{$inactiveUserTotal}>
</li>
<li>
<{$smarty.const._AD_USER_TIPS_USER_SEARCH}>
</li>
<li><a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=Help&amp;dirname=user"><{$smarty.const._HELP}></a></li>
</ul>
</div>


<{if $actionForm->hasError()}>
<div class="error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>

<form action="./index.php?action=UserSearchList" method="post">
  <{xoops_token form=$actionForm}>
  <table class="outer">
    <tr>
      <th colspan="2"><{$smarty.const._MI_USER_ADMENU_USER_SEARCH}></th>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_USER_LANG_UNAME}></td>
      <td class="<{cycle values="odd,even"}>">
        <select size="1" id="user_uname_match" name="user_uname_match">
          <{html_options options=$matchOptions selected=$actionForm->get('user_uname_match')}>
        </select>&nbsp;
        <{xoops_input type=text name=uname value=$actionForm->get('uname') size=25 maxlength=25}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_USER_LANG_NAME}></td>
      <td class="<{cycle values="odd,even"}>">
        <select size="1" id="user_name_match" name="user_name_match">
          <{html_options options=$matchOptions selected=$actionForm->get('user_name_match')}>
        </select>&nbsp;
        <{xoops_input type=text name=name value=$actionForm->get('name') size=30 maxlength=60}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_USER_LANG_EMAIL}></td>
      <td class="<{cycle values="odd,even"}>">
        <select size="1" id="user_email_match" name="user_email_match">
          <{html_options options=$matchOptions selected=$actionForm->get('user_email_match')}>
        </select>&nbsp;
        <{xoops_input type=text name=email value=$actionForm->get('email') size=30 maxlength=60}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_USER_LANG_USER_ICQ}></td>
      <td class="<{cycle values="odd,even"}>">
        <select size="1" id="user_icq_match" name="user_icq_match">
          <{html_options options=$matchOptions selected=$actionForm->get('user_icq_match')}>
        </select>&nbsp;
        <{xoops_input type=text name=user_icq value=$actionForm->get('user_icq') size=15 maxlength=15}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_USER_LANG_USER_AIM}></td>
      <td class="<{cycle values="odd,even"}>">
        <select size="1" id="user_aim_match" name="user_aim_match">
          <{html_options options=$matchOptions selected=$actionForm->get('user_aim_match')}>
        </select>&nbsp;
        <{xoops_input type=text name=user_aim value=$actionForm->get('user_aim') size=18 maxlength=18}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_USER_LANG_USER_YIM}></td>
      <td class="<{cycle values="odd,even"}>">
        <select size="1" id="user_yim_match" name="user_yim_match">
          <{html_options options=$matchOptions selected=$actionForm->get('user_yim_match')}>
        </select>&nbsp;
        <{xoops_input type=text name=user_yim value=$actionForm->get('user_yim') size=25 maxlength=25}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_USER_LANG_USER_MSNM}></td>
      <td class="<{cycle values="odd,even"}>">
        <select size="1" id="user_msnm_match" name="user_msnm_match">
          <{html_options options=$matchOptions selected=$actionForm->get('user_msnm_match')}>
        </select>&nbsp;
        <{xoops_input type=text name=user_msnm value=$actionForm->get('user_msnm') size=25 maxlength=100}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_USER_LANG_URL}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text name=url value=$actionForm->get('url') size=50 maxlength=100}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_USER_LANG_USER_FROM}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text name=user_from value=$actionForm->get('user_from') size=50 maxlength=100}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_USER_LANG_USER_OCC}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text name=user_occ value=$actionForm->get('user_occ') size=50 maxlength=100}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_USER_LANG_USER_INTREST}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text name=user_intrest value=$actionForm->get('user_intrest') size=50 maxlength=150}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_USER_LANG_LASTLOG_MORE}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text name=lastlog_more value=$actionForm->get('lastlog_more') size=4 maxlength=5}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_USER_LANG_LASTLOG_LESS}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text name=lastlog_less value=$actionForm->get('lastlog_less') size=4 maxlength=5}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_USER_LANG_REGDATE_MORE}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text name=regdate_more value=$actionForm->get('regdate_more') size=4 maxlength=5}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_USER_LANG_REGDATE_LESS}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text name=regdate_less value=$actionForm->get('regdate_less') size=4 maxlength=5}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_USER_LANG_OVER_POSTS}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text name=over_posts value=$actionForm->get('over_posts') size=4 maxlength=5}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_USER_LANG_GROUP}></td>
      <td class="<{cycle values="odd,even"}>">
        <select size="5" name="groups[]" multiple="multiple">
          <{html_options options=$groupOptions selected=$actionForm->get('groups')}>
        </select>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_USER_LANG_UNDER_POSTS}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text name=under_posts value=$actionForm->get('under_posts') size=4 maxlength=5}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_USER_LANG_DISPLAY_USER_MAIL_CONDITION}></td>
      <td class="<{cycle values="odd,even"}>">
        <label><{xoops_input type=radio name=mail_condition value=1}><{$smarty.const._AD_USER_LANG_MAIL_OK_USERS_ONLY}></label><br />
        <label><{xoops_input type=radio name=mail_condition value=2}><{$smarty.const._AD_USER_LANG_MAIL_NG_USERS_ONLY}></label><br />
        <label><{xoops_input type=radio name=mail_condition value=3 default=3}><{$smarty.const._AD_USER_LANG_ALL_OF_USERS}></label>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._AD_USER_LANG_DISPLAY_USER_LEVEL}></td>
      <td class="<{cycle values="odd,even"}>">
        <label><{xoops_input type=radio name=user_level value=1}><{$smarty.const._AD_USER_LANG_APPROVE_USERS_ONLY}></label><br />
        <label><{xoops_input type=radio name=user_level value=2}><{$smarty.const._AD_USER_LANG_PENDING_USERS_ONLY}></label><br />
        <label><{xoops_input type=radio name=user_level value=3 default=3}><{$smarty.const._AD_USER_LANG_ALL_OF_USERS}></label>
      </td>
    </tr>
    <tr>
      <td colspan="2"  class="foot">
        <input class="formButton" type="submit" value="<{$smarty.const._SUBMIT}>" />
      </td>
    </tr>
  </table>
</form>
