<div class="ui-dev-mode"><{$smarty.template}></div>

<nav class="ui-breadcrumbs" aria-label="breadcrumb">
	<a href="<{$xoops_url}>/admin.php"><{$smarty.const._CPHOME}></a>
	&raquo;&raquo; <a href="./index.php"><{$smarty.const._MI_USER_NAME}></a>
  &raquo;&raquo; <span class="page-title"><a href="./index.php?action=UserDataDownload"><{$smarty.const._MI_USER_ADMENU_USER_DATA_DOWNLOAD}></a></span>
</nav>


<h2><{$smarty.const._MI_USER_ADMENU_USER_DATA_DOWNLOAD}></h2>


<div class="tips">
	<{$smarty.const._AD_USER_TIPS_DATA_DOWNLOAD}>
</div>


<div style="text-align:center; line-height:2em;">
	<{$smarty.const._AD_USER_DATA_NUM|sprintf:$user_count}><br>
	<form action="./index.php?action=UserDataDownload" method="post">
		<input class="button download" type="submit" value="<{$smarty.const._AD_USER_DATA_DOWNLOAD_DO}>"><br>
	</form>
</div>
