<{if $plugin_params.order != 'asc'}>
<!-- begin simple comment form -->
<{if $forum.can_post && ! $plugin_params.no_form}>
	<{include file="db:`$mydirname`_inc_post_form_quick.html" h2_title=$smarty.const._MD_D3FORUM_POSTASCOMMENTTOP quick_form_mode="sametopic"}>
<{/if}>
<!-- end simple comment form -->
	<!-- link to comment input form -->
	<div><a href="<{$mod_url}>/index.php?page=newtopic&amp;forum_id=<{$forum.id}>&amp;external_link_id=<{$external_link_id|escape:"url"}>&amp;subject=<{$subject|escape:"url"}>"><{if $plugin_params.link_to_form}><{$plugin_params.link_to_form}><{else}><{$smarty.const._MD_D3FORUM_POSTASCOMMENTTOP}><{/if}></a></div>

<{/if}>

<{if $pagenav}>
<div class="boxNavi" style="background-color:#66cdaa">
PAGE:
<{foreach from=$pagenav item=nav_}>
	<{if $nav_.url}><a href="<{$nav_.url}>" title="go to page <{$nav_.txt}>"><{$nav_.txt}></a>
	<{else}>
		<{$nav_.txt}>
	<{/if}>
<{/foreach}>
</div>
<{/if}>

<!-- top of posts -->
<a name="comment"><h3 class="head"><{if $plugin_params.h2_comments}><{$plugin_params.h2_comments}><{else}><{$smarty.const._MD_D3FORUM_COMMENTSLIST}><{/if}></h3>
</a>

<div class="d3f_wrap" id="d3comment_listposts_flat">
<{foreach item=post from=$posts}>

<div class="head d3f_head">
	<a href="<{$mod_url}>/index.php?post_id=<{$post.id}>" id="post_path<{$post.unique_path}>" name="post_path<{$post.unique_path}>"><{$post.subject}></a>
</div>
<div class="d3f_info_ctrl" style="float:right;">
	<{if $post.can_edit}>
	<a href="<{$mod_url}>/index.php?page=edit&amp;post_id=<{$post.id}>"><{$smarty.const._MD_D3FORUM_POSTEDIT}></a> |
	<{/if}>
	
	<{if $post.can_delete}>
	<a href="<{$mod_url}>/index.php?page=delete&amp;post_id=<{$post.id}>"><{$smarty.const._MD_D3FORUM_POSTDELETE}></a> |
	<{/if}>
	
	<{if $post.can_reply}>
	<a href="<{$mod_url}>/index.php?page=reply&amp;post_id=<{$post.id}>"><{$smarty.const._MD_D3FORUM_POSTREPLY}></a>
	<{/if}>
</div>
<div class="d3f_info even">
	<{if $post.poster_uid != 0}><a href="<{$xoops_url}>/userinfo.php?uid=<{$post.poster_uid}>"><{$post.poster_uname}></a>
	<{else}>
	  <{if $post.guest_url}><a href="<{$post.guest_url}>"><{/if}><{$post.poster_uname}><{if $post.guest_url}></a><{/if}> <span class="d3f_trip"><{$post.guest_trip}></trip>
	<{/if}> 

	<{$smarty.const._MD_D3FORUM_ON}> <{$post.post_time_formatted}> <{if $post.post_time < $post.modified_time}> | <span title="<{$post.modified_time_formatted}>"><{$smarty.const._MD_D3FORUM_LASTMODIFIED}></span><{/if}>
</div>
<div class="d3f_body" style="padding: 2px 2px 16px 16px; clear: both;">
	<{$post.post_text}>
</div>
<hr />

<{/foreach}>
</div>
<!-- bottom of posts -->

<div class="d3f_link">
<{$posts|@count|string_format:$smarty.const._MD_D3FORUM_FMT_POSTDISPLAYSINFO}>
(<{$post_hits|string_format:$smarty.const._MD_D3FORUM_FMT_POSTHITSINFO}>)<br />
<a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>&amp;external_link_id=<{$external_link_id|escape:"url"}>"><{$smarty.const._MD_D3FORUM_LINK_LISTALLCOMMENTS}></a></div>

<{if $pagenav}>
<div class="boxNavi" style="background-color:#66cdaa">
PAGE:
<{foreach from=$pagenav item=nav_}>
	<{if $nav_.url}><a href="<{$nav_.url}>" title="go to page <{$nav_.txt}>"><{$nav_.txt}></a>
	<{else}>
		<{$nav_.txt}>
	<{/if}>
<{/foreach}>
</div>
<{/if}>

<{if $plugin_params.order == 'asc'}>
<!-- link to comment input form -->
	<div><a href="<{$mod_url}>/index.php?page=newtopic&amp;forum_id=<{$forum.id}>&amp;external_link_id=<{$external_link_id|escape:"url"}>&amp;subject=<{$subject|escape:"url"}>"><{if $plugin_params.link_to_form}><{$plugin_params.link_to_form}><{else}><{$smarty.const._MD_D3FORUM_POSTASCOMMENTTOP}><{/if}></a></div>

<!-- begin simple comment form -->
<{if $forum.can_post && ! $plugin_params.no_form}>
	<{include file="db:`$mydirname`_inc_post_form_quick.html" h2_title=$smarty.const._MD_D3FORUM_POSTASCOMMENTTOP quick_form_mode="sametopic"}><br />
<{/if}>
<!-- end simple comment form -->
<{/if}>

<{if $forum.can_post && $plugin_params.no_form}>

<{/if}>


