#xupdate{
    line-height:   1.3em;
}

#xupdate h1{
    border: none;
    margin-bottom:  15px;
    font-size:  1.5em
}

#xupdate h2{
    border: none;
    margin-bottom:  15px;
    font-size:  1.3em
}

#xupdate h3{
    border: none;
    margin: 0px 0px 0px 0px;
    font-size:  1.1em
}

#xupdate .desc{
    border: 1px solid #DDDDDD;
    margin: 10px 20px 10px 20px;
    padding:    10px;
}

#xupdate .clear{
    clear:  both;
}

#xupdateMenu ul li{
    width:  50px;
    float:  left;
    margin-left:    25px;
    margin-bottom:  25px;
    list-style-type: none;
}


/* 2 column table */

#xupdate .viewDetail dt{
clear:both;
width:140px;
float:left;
margin-top:10px;
}

#xupdate .viewDetail dd{
float:left;
margin-top:10px;
}

/* Form */

#xupdate form{
    
}

#xupdate form dt{
clear:both;
width:140px;
float:left;
margin-top:10px;
}

#xupdate form dd{
float:left;
margin-top:10px;
}

#xupdate form dd.description{

}

/* admin_module_view.html */
#xupdate div.storelist {
	width: 99%;
}

#xupdate div.eachstore {
	width: 33%;
	float: left;
	padding: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#xupdate div.eachstore dt {
	font-size: 130%;
	font-weight: bold;
}

#xupdate div.eachstore dt a {
	font-weight: bold;
}

#xupdate div.eachstore div.module_count {
	text-align: right;
	font-size: 80%;
}
