<{* App Body Layout *}>

<header data-layout="row center-justify" id="topage">

    <div data-self="left">
        <a href="<{$xoops_url}>/" title="<{$xoops_sitename}> - <{$xoops_slogan}>" class="sitelogo">
            <img src="<{$xoops_url}>/images/logo.svg" width="auto" height="40" alt="<{$xoops_sitename}>">
        </a>
    </div>

    <div data-self="center sm-hide">
        <h1 class="sitename"><{$xoops_sitename}> <span class="slogan"><{$xoops_slogan}></span></h1>

    </div>

    <div data-self="right-center" class="search">
        <form action="<{$xoops_url}>/search.php" method="get" role="search">
            <input type="hidden" name="action" value="results" aria-label="Search">
            <label><input type="search" name="query" accesskey="S"></label>
            <button type="submit" class="ui-button" name="submit" value="search"><img class="svg search" src="<{$xoops_url}>/images/icons/search.svg" alt="Search"></button>
        </form>
    </div>

</header>


<main data-layout="column" data-self="size-x1" id="top">


    <section class="render-view" data-layout="md-column">

        <{if $xoops_showlblock==1}>
            <aside class="side-left" data-self="size-xsmall sm-full">
                <{include file="$xoops_theme/component/block_left.html"}>
            </aside>
        <{/if}>


        <div class="content" data-self="size-x1">
        <{if !empty($xoops_contents)}>


            <{$xoops_contents}>


            <{else}>

                <{if $xoops_isadmin}>
                <div data-layout="row center-right">
                <a class="ui-button" href="<{$xoops_url}>/modules/legacy/admin/index.php?action=PreferenceEdit&confcat_id=1">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <path d="M3 17v2h6v-2H3M3 5v2h10V5H3m10 16v-2h8v-2h-8v-2h-2v6h2M7 9v2H3v2h4v2h2V9H7m14 4v-2H11v2h10m-6-4h2V7h4V5h-4V3h-2v6z" fill="currentColor"/>
                    <rect x="0" y="0" width="1em" height="1em" fill="rgba(0, 0, 0, 0)" /></svg> Start Module</a>
                <a class="ui-button" href="<{$xoops_url}>/modules/altsys/admin/index.php?mode=admin&lib=altsys&page=mytplsform&tpl_file=legacy_app_front_page.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <path d="M12.89 3l1.96.4L11.11 21l-1.96-.4L12.89 3m6.7 9L16 8.41V5.58L22.42 12L16 18.41v-2.83L19.59 12M1.58 12L8 5.58v2.83L4.41 12L8 15.58v2.83L1.58 12z" fill="currentColor"/>
                    <rect x="0" y="0" width="1em" height="1em" fill="rgba(0, 0, 0, 0)" />
                </svg> Edit Template</a>
                </div>
                <{/if}>

                <{include file='db:legacy_app_front_page.html'}>

        <{/if}>
        </div>

        <{if $xoops_showrblock==1}>
            <aside class="side-right" data-self="size-xsmall sm-full">
                <{include file="$xoops_theme/component/block_right.html"}>
            </aside>
        <{/if}>

    </section>


    <{if $xoops_showcblock==1}>
    <section class="full-width">

        <div data-layout="row center md-column" data-self="center size-xlarge">

            <{if $xoops_clblocks}>
            <div data-self="size-x1 sm-first">
                <{include file="$xoops_theme/component/block_center_left.html"}>
            </div>
            <{/if}>

            <{if $xoops_ccblocks}>
            <div data-self="size-x1 sm-full" data-tooltip="(first on small screen)">
                <{include file="$xoops_theme/component/block_center_center.html"}>
            </div>
            <{/if}>

            <{if $xoops_crblocks}>
            <div data-self="size-x1 sm-full">
                <{include file="$xoops_theme/component/block_center_right.html"}>
            </div>
            <{/if}>

        </div>

    </section>
    <{/if}>


</main>
