
<footer layout="column stretch-justify sm-column">
    <!-- BANNER -->
    <{if $xoops_banner and $xoops_banner!=""}><{$xoops_banner}><{/if}>
    <p><kbd>Alt</kbd>+<kbd>⇧ Shift</kbd>+<kbd>S</kbd> search <kbd>tab</kbd> next link : <{$xoops_sitename}> - <{$xoops_slogan}>

        <br>
        <small><{$xoops_footer}> | <a href="https://github.com/xoopscube/documentation">Documentation</a></small></p>
</footer>
<!-- FOOTER END -->




<!-- Scroll to top -->
<div class="ntop-wrap">
    <a href="#" role="button" aria-label="Scroll to top">
        <svg width="48px" height="48px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
            <path id="ntop-bg" d="M0 0h48v48h-48z"></path>
            <path id="ntop-arrow" d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
        </svg>
    </a>
</div>
<{* ---------- Theme Plugins *}>

<script defer src="<{$xoops_imageurl}>js/plugins.js"></script>

<{* ---------- XCL Utils *}>
<!--<script defer src="<{$xoops_url}>/common/prismjs/prism.js"></script>-->
<!-- Load the UMD version of the "base" bundle.
<script defer src="<{$xoops_imageurl}>js/xrender-bundle.js"></script>-->

<!--<script type="module">-->
<!--    import devtools from '<{$xoops_imageurl}>js/xrender-devtools/index.js';-->
<!--</script>-->
