<{* Hero + Nav + User Menu *}>
<style>
    .hero nav {
        /* background-color: #e5e5f7;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #444cf755, #444cf7 ); */

background-color: #e5e5f71f;
opacity: 0.8;
background: linear-gradient(135deg, var(--pico-primary-hover-underline) 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, var(--pico-primary-underline) 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, var(--pico-primary-focus) 25%, var(--pico-background-color) 25%) 0px 0/ 20px 20px;
padding         : var(--pico-nav-element-spacing-vertical) var(--pico-nav-element-spacing-horizontal); /* @todo */
border-radius: var(--pico-border-radius);
background-color: #e5e5f71f;
opacity: 0.8;
background-size: 10px 10px;
background-image: repeating-linear-gradient(45deg, var(--pico-primary-underline) 0, var(--pico-primary-underline) 1px, var(--pico-muted-border-color) 0, var(--pico-background-color) 50%);

    }
</style>
<section class="container hero">

    <nav aria-label="breadcrumb"><ul><li><a class="secondary" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon-menu"><path d="M4 6l16 0"></path><path d="M4 12l16 0"></path><path d="M4 18l16 0"></path></svg>Documentation</a></li><li>Getting started</li></ul></nav>

    <hgroup><p class="chapter">Getting started</p><h1>Color schemes</h1><p>Pico CSS comes with both Light and Dark color schemes, automatically enabled based on user preferences.</p></hgroup>

    <p>The default color scheme is Light. The Dark scheme is automatically enabled if the user has dark mode enabled </p>

</section>