<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<style>
    <{if $xoops_dirname}>body.<{$xoops_dirname}> #main-menu a.<{$xoops_dirname}>
    <{else}>#main-menu a.menu-top<{/if}> {
    color: var(--bs-list-group-active-color);
    background-color: var(--bs-list-group-active-bg);
    border-color: var(--bs-list-group-active-border-color);
    color: #fff;
    background: #0d6efd;
    border-color: #0d6efd;
    }
</style>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarMain" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <{if $block.icon == true}>
        <i class="icon"><img class="svg" src="<{$xoops_url}>/images/icons/home.svg" width="1em" height="1em" alt="home"></i>
        <{/if}>
        <{$smarty.const._MB_LEGACY_HOME}>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarMain">



            <li><a class="dropdown-item" href="<{$xoops_theme}>/blog-post.html">Blog Post</a></li>



    <{foreach item=module from=$block.modules}>

        <li><a class="dropdown-item <{$module.directory}>" href="<{$xoops_url}>/modules/<{$module.directory}>/">
        <{if $module.icon}><span class="icon"><img class="svg" src="<{$xoops_url}>/modules/<{$module.directory}>/<{$module.icon}>" width="1em" height="1em" alt="module"></span><{/if}>
            <{* |ucfirst - Modifier makes a string's first character uppercase *}>
            <{$module.name|ucfirst}>
        </a></li>

        <{foreach item=sublink from=$module.sublinks}>
            <{* Smarty Truncate for Modules sub-menu eg: D3Forum and Pico
            This truncates a variable to a character length, the default is 80.
            As an optional second parameter, you can specify a string of text
            to display at the end if the variable was truncated eg: '...' *}>
        <li><a class="dropdown-item" href="<{$sublink.url}>"><{$sublink.name|truncate:27:'...'}></li>
        <{/foreach}>

    <{/foreach}>
</ul>
</li>
