<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<{if $block.isEnableChanger == false}>
    <{$smarty.const._MB_LEGACY_MESSAGE_CAN_NOT_THEME_CHANGE}>
<{else}>
<div data-layout="column center-center" class="block-content block-themes">

    <form action="#" method="post">
        <{if $block.mode==1}>
        <img id="xoops_theme_img"
             src="<{$xoops_imageurl}><{$block.theme_selected_screenshot}>"
             alt="<{$block.theme_selected_name}>"
             aria-label="<{$block.theme_selected_name}>"
             width="<{$block.width}>"
             style="width: 100%;">

        <div class="p-3">
            <{'<span class="badge text-bg-secondary">'|cat:$block.count|cat:'</span>'|string_format:$smarty.const._MB_LEGACY_LANG_NUMTHEME}>

             <div class="input-group">
                <select id="xoops_theme_select" class="form-select" name="xoops_theme_select" onchange="showThemeScreenshot('xoops_theme_img','xoops_theme_select', '<{$xoops_url}>');">
                <{else}>
                <select id="xoops_theme_select" class="form-select" name="xoops_theme_select" onchange="submit();" size="3">
                <{/if}>
                <{foreach item=theme_option from=$block.theme_options}>
                <option value="<{$theme_option.name}>!-!<{$theme_option.screenshot}>" <{$theme_option.selected}> label="<{$theme_option.name}>"><{$theme_option.name}></option>
                <{/foreach}>
                </select>
                <{if $block.mode==1}>
                <input type="submit" role="button" class="btn btn-primary btn-sm" id="theme_change" value="<{$smarty.const._GO}>">
                <{/if}>
            </div>
        </div>

    </form>
</div>
<{/if}>
