<!DOCTYPE html>
<html lang="<{$xoops_langcode}>">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=<{$xoops_charset}>">
    <meta http-equiv="content-language" content="<{$xoops_langcode}>">
    <title><{$xoops_sitename}></title>

    <!-- XCL-Theme -->
    <link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/themes/xcl_default/css/pico.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_themecss}>">

    <style type="text/css">
        body {
            max-width: 1024px;
            margin:1em auto;
        }
        :is(article) h3 {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom:0;
        }
    </style>

</head>

<body>

<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<main class="container">

    <article data-theme="dark">
    <header>
        <h3><a href="<{$xoops_url}>/"><img src="<{$xoops_url}>/images/logo.png" alt="<{$xoops_sitename}>" aria-label="<{$xoops_sitename}>"></a> <{$xoops_sitename}></h3>
    </header>
        <h1><{$theme_url}></h1>
        <h2><{$theme_css}></h2>
    <{* ----- INSTALL COMPLETE ----- *}>
    <div class="alert success"><{$install_confirm}></div>

    <{* ----- MAINFILE PERMISSIONS ----- *}>
    <{if $is_chmod > 0}>
    <div class="alert error">Main file is writable <span class="badge red"><{$fperm}></span></div>
    <{else}>
    <div class="alert success">Main file is read-only <span class="badge"><{$fperm}></span></div>
    <{/if}>

    <{* ----- DIRECTORY /INSTALL ----- *}>
    <{if !empty($install_warning_dir)}>
    <div id="installCompletedWarning" class="alert error"><{$install_warning_dir}></div>
    <{/if}>

    <{* ----- WARNING DEV ONLY ----- *}>
    <div class="alert tips"><{$install_warning_tip}></div>

    <hr>

        <form method="post" action="">
    <{* ----- ACTION CONTROLS ----- *}>
    <footer>

<div  class="action-control">
            <{if $is_chmod > 0}>
            <!-- <input class="ui-button" type="submit" name="chmod" value="<{$btn_chmod}>"> -->
            <button type="submit" role="button" class="primary" name="chmod" value="<{$btn_chmod}>">
                <img class="svg" src="<{$xoops_url}>/images/icons/file-lock.svg" width="24px" height="24px" alt="file-lock"> <{$smarty.const._EDIT}> mainfile
            </button>
            <{/if}>

            <{if !empty($install_warning_dir)}>
            <!-- <input class="ui-button" type="submit" name="install_delete" value="<{$btn_delete}>"> -->
            <button type="submit" role="button" class="outline delete" name="Delete" value="<{$btn_delete}>">
                <img class="svg" src="<{$xoops_url}>/images/icons/delete.svg" width="24px" height="24px" alt=""> <{$smarty.const._DELETE}> install</button>
            <{/if}>

            <!-- <input class="ui-button" type="submit" name="preload_active" value="<{$btn_preload}>"> -->
            <button type="submit" role="button" class="outline"  name="Activate" value="<{$btn_preload}>">
                <img class="svg" src="<{$xoops_url}>/images/icons/tools.svg" width="24px" height="24px" alt="activate-preload"> <{$smarty.const._INSTALL}> Preload</button>
</div>

    </footer>
        </form>
    </article>

</main>
<!-- x-utils -->
<script src="<{$xoops_url}>/common/js/jquery.min.js"></script>
<script src="<{$xoops_url}>/common/js/x-utils.js"></script>

<script>
    $(function () {
        // Inline SVG icons
        $('.svg').renderClassSvg();
    });
</script>

</body>
</html>
