<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<h1>Welcome to <{$xoops_sitename}></h1>
<p><{$xoops_meta_description}></p>
<p>Select a Module for the front page or edit this Template.</p>



<div data-layout="column" class="dashboard">

    <div data-layout="row mb-4">

        <div data-layout="column stretch-center mr-3 sm-mr-1" data-self="size-1of3">
            <h3 data-self="center" class="icon">
                <a href="#theme">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path d="M10 30H4a2 2 0 0 1-2-2V16a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zM4 16v12h6V16z" fill="currentColor"></path><path d="M28 4H6a2 2 0 0 0-2 2v6h2V6h22v14H14v2h2v4h-2v2h9v-2h-5v-4h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z" fill="currentColor"></path></svg></a>
            </h3>
            <h4><a href="#theme">Responsive</a></h4>
        </div>

        <div data-layout="column stretch-center mr-3 sm-mr-1" data-self="size-1of3">
            <h3 data-self="center" class="icon">
                <a href="#flexbox"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path d="M26 6v4H6V6h20m0-2H6a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h20a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z" fill="currentColor"></path><path d="M10 16v10H6V16h4m0-2H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V16a2 2 0 0 0-2-2z" fill="currentColor"></path><path d="M26 16v10H16V16h10m0-2H16a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V16a2 2 0 0 0-2-2z" fill="currentColor"></path></svg></a>
            </h3>
            <h4><a href="#flexbox">Flexbox</a></h4>
        </div>

        <div data-layout="column stretch-center" data-self="size-1of3">
            <h3 data-self="center" class="icon">
                <a href="#components"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path d="M28 19H14.83l2.58-2.59L16 15l-5 5l5 5l1.41-1.41L14.83 21H28v-2z" fill="currentColor"></path><path d="M24 14v-4a1 1 0 0 0-.29-.71l-7-7A1 1 0 0 0 16 2H6a2 2 0 0 0-2 2v24a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-2h-2v2H6V4h8v6a2 2 0 0 0 2 2h6v2zm-8-4V4.41L21.59 10z" fill="currentColor"></path></svg></a>
            </h3>
            <h4><a href="#components">Components</a></h4>
        </div>

    </div>

    <div data-layout="row">

        <div data-layout="column stretch-center mr-3 sm-mr-1" data-self="size-1of3">
            <h3 data-self="center" class="icon">
                <a href="#color"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path d="M26 4H6a2.002 2.002 0 0 0-2 2v20a2.002 2.002 0 0 0 2 2h20a2.002 2.002 0 0 0 2-2V6a2.002 2.002 0 0 0-2-2zM6 26L26 6v20z" fill="currentColor"></path></svg></a>
            </h3>
            <h4><a href="#customize">Customization</a></h4>
        </div>

        <div data-layout="column stretch-center mr-3 sm-mr-1" data-self="size-1of3">
            <h3 data-self="center" class="icon">
                <a href="#localstorage"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path d="M24 3H8a2 2 0 0 0-2 2v22a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zm0 2v6H8V5zM8 19v-6h16v6zm0 8v-6h16v6z" fill="currentColor"></path><circle cx="11" cy="8" r="1" fill="#626262"></circle><circle cx="11" cy="16" r="1" fill="currentColor"></circle><circle cx="11" cy="24" r="1" fill="currentColor"></circle></svg></a>
            </h3>
            <h4><a href="#localstorage">LocalStorage</a></h4>
        </div>

        <div data-layout="column stretch-center" data-self="size-1of3">
            <h3 data-self="center" class="icon">
                <a href="#translation"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path d="M27.85 29H30l-6-15h-2.35l-6 15h2.15l1.6-4h6.85zm-7.65-6l2.62-6.56L25.45 23z" fill="currentColor"></path><path d="M18 7V5h-7V2H9v3H2v2h10.74a14.71 14.71 0 0 1-3.19 6.18A13.5 13.5 0 0 1 7.26 9h-2.1a16.47 16.47 0 0 0 3 5.58A16.84 16.84 0 0 1 3 18l.75 1.86A18.47 18.47 0 0 0 9.53 16a16.92 16.92 0 0 0 5.76 3.84L16 18a14.48 14.48 0 0 1-5.12-3.37A17.64 17.64 0 0 0 14.8 7z" fill="currentColor"></path></svg></a>
            </h3>
            <h4><a href="#translation">Translation</a></h4>
        </div>

    </div>

</div>

<hr>
<!-- Xoopscube.xyz -->
<h2 id="docs">Documentation</h2>

<div class="dashboard" data-layout="column mb-7">
    
<div data-layout="row sm-column mb-7">
    
<div data-layout="column stretch-center pb-6" data-self="size-1of3 sm-full" style="background-color: #5E35B1;border-radius:var(--border-radius)">
<div data-self="mt-n6"><img alt="" src="https://support.xoopscube.xyz/modules/xelfinder/index.php/view/7/xcl-dev-env.png" style="width: 100%; height:auto;"></div>

<h4><a href="https://support.xoopscube.xyz/modules/docs/index.php?cat_id=1">Getting Started</a></h4>

<p>Requirements, Installation Wizard</p>
</div>

<div data-layout="column stretch-center mx-4 pb-6" data-self="size-1of3 sm-full" style="background-color: #3949ab;border-radius:var(--border-radius)">
<div data-self="mt-n6"><img alt="" src="https://support.xoopscube.xyz/modules/xelfinder/index.php/view/6/xcl-design.png" style="width: 100%; height:auto;"></div>

<h4><a href="https://support.xoopscube.xyz/modules/docs/index.php?cat_id=2">Knowledge Base</a></h4>

<p>Documentation, Guides, Tutorials</p>
</div>

<div data-layout="column stretch-center pb-6" data-self="size-1of3 sm-full" style="background-color: #1976d2;border-radius:var(--border-radius)">
<div data-self="mt-n6"><img alt="" src="https://support.xoopscube.xyz/modules/xelfinder/index.php/view/5/xcl-deploy.png" style="width: 100%; height:auto;"></div>

<h4><a href="https://support.xoopscube.xyz/modules/docs/index.php?cat_id=3">Development</a></h4>

<p>Integration, Deployment, Delivery</p>
</div>
</div>

<div data-layout="column mb-7">
<p>The XOOPSCube Project documentation is organized into categories, which are displayed in a tree-like navigation menu.<br>
The search function can be used to perform basic and advanced searches.</p>
</div>

<hr>
<h2 id="opensource">Open Source License</h2>

<p>The XCube core, modules and themes are “Free software” by definition and many others, although not all, are released under one or more open source licenses.</p>

<hr></div>