<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<{if $xoops_notification.show}>

<h5 id="notification-options">
    <label for='notification-select'>
        <input id="notification-select" class="switch" role="switch" type="checkbox" onclick="slideToggle('.notification-select', this)" value="0">
        <img class="svg bell" src="<{$xoops_url}>/images/icons/bell.svg" width="1em" height="1em" alt="Notification"> <{$smarty.const._NOT_NOTIFICATIONOPTIONS}>
    </label>
</h5>

<form name="notification_select" action="<{$xoops_notification.target_page}>" method="post">
    <input type="hidden" name="not_redirect" value="<{$xoops_notification.redirect_script}>">

<article class="notification-select" style="display:none">

    <h4><{$smarty.const._NOT_ACTIVENOTIFICATIONS}></h4>
    
    <table class="outer">
        <thead>
        <tr>
            <th><{$smarty.const._NOT_CATEGORY}></th>
            <th><input name="allbox" id="allbox" onclick="checkAll('notification_select','allbox');" type="checkbox" value="<{$smarty.const._NOT_CHECKALL}>"></th>
            <th><{$smarty.const._NOT_EVENT}></th>
        </tr>
        </thead>
        <tbody>
        <{foreach name=outer item=category from=$xoops_notification.categories}>
        <{foreach name=inner item=event from=$category.events}>

        <{if $smarty.foreach.inner.first}>
        <tr>

            <td><{$category.title}></td>
            <td align="center">select</td>
            <td>event</td>
        </tr>
        <{/if}>
        <tr>
            <td></td>
            <td align="center">
                <{counter assign=index}>
                <input type="hidden" name="not_list[<{$index}>][params]" value="<{$category.name}>,<{$category.itemid}>,<{$event.name}>">
                <input type="checkbox" id="not_list_<{$category.itemid}>_<{$index}>" name="not_list[<{$index}>][status]" value="1" <{if $event.subscribed}>checked="checked"<{/if}>>
            </td>

            <td><{$event.caption}></td>

        </tr>
        <{/foreach}>
        <{/foreach}>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <button type="submit" role="button" class="primary" name="not_submit" value="<{$smarty.const._NOT_UPDATENOW}>"><{$smarty.const._NOT_UPDATENOW}></button>
                </td>
                <td></td>
                <td>
                    <{$smarty.const._NOT_NOTIFICATIONMETHODIS}>&nbsp;<span class="badge"> <{$user_method}></span> 
                    <a class="button" href="<{$editprofile_url|xoops_escape:link}>"><{$smarty.const._NOT_CHANGE}></a>
                </td>
            </tr>
        </tfoot>
    </table>
</article>
</form>

<script>
    function checkAll(formname, switchid) {
        var ele = document.forms[formname].elements;
        var switch_cbox = document.getElementById(switchid);
        for (var i = 0; i < ele.length; i++) {
            var e = ele[i];
            if ( (e.name != switch_cbox.name) && (e.type == 'checkbox') ) {
                e.checked = switch_cbox.checked;
            }
        }
    }
</script>
<{/if}>
