<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<{$xoops_url}>/"><img class="svg" src="<{$xoops_url}>/images/icons/home.svg" width="1em" alt="home"></a></li>
        <li class="breadcrumb-item"><a href="index.php"><{$smarty.const._MI_MESSAGE_NAME}></a></li>
        <li class="breadcrumb-item active" aria-current="page"><{$smarty.const._MD_USER_LANG_ALLABOUT|replace:"%s":$thisUser->getShow('uname')}></li>
    </ol>
</nav>


<{if $user_ownpage == true && $enableSelfDelete == true && $xoops_isadmin == false}>
  <div class=" mt-sm-5" style="text-align:right;">
      <a href="<{$xoops_url}>/user.php?op=delete"><{$smarty.const._MD_USER_LANG_DELACCOUNT}></a>
  </div>
<{elseif $xoops_isadmin == true}>
  <div style="text-align:right;">
    <a href="<{$xoops_url}>/edituser.php?uid=<{$thisUser->getShow('uid')}>"><{$smarty.const._MD_USER_LANG_EDITPROFILE}></a> -
    <a href="<{$xoops_url}>/edituser.php?op=avatarform&amp;uid=<{$thisUser->getShow('uid')}>"><{$smarty.const._MD_USER_LANG_AVATAR_EDIT}></a> -
    <a href="<{$xoops_url}>/modules/user/admin/index.php?action=UserDelete&amp;uid=<{$thisUser->getShow('uid')}>"><{$smarty.const._MD_USER_LANG_DELACCOUNT}></a>
  </div>
<{/if}>



<table class="outer">
  <tr>
    <td style="width:50%">

    <table class="outer">
      <tr>
        <th colspan="2" style="text-align:center;">
          <{$smarty.const._MD_USER_LANG_ALLABOUT|replace:"%s":$thisUser->getShow('uname')}>
        </th>
      </tr>
      <{if $user_ownpage == true}>
      <tr>
        <td colspan="2" style="text-align:center;">
          <a href="<{$xoops_url}>/edituser.php?uid=<{$thisUser->getShow('uid')}>"><{$smarty.const._MD_USER_LANG_EDITPROFILE}></a>
        </td>
      </tr>
      <{/if}>
      <tr valign="top">
        <td><{$smarty.const._MD_USER_LANG_AVATAR}></td>
        <td class="<{cycle values='odd,even'}>" style="text-align:center;">
          <{if $thisUser->get('user_avatar') != "blank.gif" }>
            <img src="<{$smarty.const.XOOPS_UPLOAD_URL}>/<{$thisUser->getShow('user_avatar')}>" alt="Avatar" title="Avatar" />
          <{else}>
            <img src="<{$smarty.const.XOOPS_URL}>/modules/user/images/no_avatar.gif" alt="No Avatar" title="No Avatar" />
          <{/if}>
          <{if $user_ownpage == true}>
            <br><a href="<{$xoops_url}>/edituser.php?op=avatarform&amp;uid=<{$thisUser->getShow('uid')}>"><{$smarty.const._MD_USER_LANG_AVATAR_EDIT}></a>
          <{/if}>
        </td>
      </tr>
      <tr>
        <td><{$smarty.const._MD_USER_LANG_NAME}></td>
        <td class="<{cycle values='odd,even'}>" style="text-align:center;"><{$thisUser->getShow('name')}></td>
      </tr>
      <tr>
        <td><{$smarty.const._MD_USER_LANG_WEBSITE}></td>
        <td class="<{cycle values='odd,even'}>"><a href="<{$thisUser->getShow('url')}>" rel="external"><{$thisUser->getShow('url')}></a></td>
      </tr>
      <{if $thisUser->get('user_viewemail') == 1 || $user_ownpage == true || $xoops_isadmin == true }>
        <tr valign="top">
          <td><{$smarty.const._MD_USER_LANG_EMAIL}></td>
          <td class="<{cycle values='odd,even'}>">
            <{mailto address=$thisUser->get('email') encode="javascript"}>
          </td>
        </tr>
      <{/if}>
      <{if $xoops_isuser == true && $pmliteUrl != ''}>
        <tr valign="top">
          <td><{$smarty.const._MD_USER_LANG_PM}></td>
          <td class="<{cycle values='odd,even'}>">
            <a href="<{$pmliteUrl|xoops_escape:link}>">
            <img src="<{$smarty.const.XOOPS_URL}>/images/icons/email.svg" alt="<{$smarty.const._SENDPMTO|replace:"%s":$thisUser->getShow('uname')}>" title="<{$smarty.const._SENDPMTO|replace:"%s":$thisUser->getShow('uname')}>" /></a>
          </td>
        </tr>
      <{/if}>

      <{legacy_profile uid=$thisUser->getShow('uid')}>

    </table>
    </td>
    <td width="50%">
    <table class="outer">
      <tr valign="top">
        <th colspan="2" style="text-align:center;"><{$smarty.const._MD_USER_LANG_STATISTICS}></th>
      </tr>
      <tr valign="top">
        <td><{$smarty.const._MD_USER_LANG_USER_REGDATE}></td>
        <td class="<{cycle values='odd,even'}>" style="text-align:center;"><{$thisUser->get('user_regdate')|xoops_formattimestamp:l}></td>
      </tr>
      <{if $rank != null}>
        <tr valign="top">
          <td><{$smarty.const._MD_USER_LANG_RANK}></td>
          <td class="<{cycle values='odd,even'}>" style="text-align:center;">
            <img src="<{$smarty.const.XOOPS_UPLOAD_URL}>/<{$rank->getShow('rank_image')}>" alt="<{$rank->getShow('rank_title')}>" title="<{$rank->getShow('rank_title')}>" /><br>
            <{$rank->getShow('rank_title')}>
          </td>
        </tr>
      <{/if}>
      <tr valign="top">
        <td><{$smarty.const._MD_USER_LANG_POSTS}></td>
        <td class="<{cycle values='odd,even'}>" style="text-align:center;"><{$thisUser->getShow('posts')}></td>
      </tr>
      <tr valign="top">
        <td><{$smarty.const._MD_USER_LANG_LAST_LOGIN}></td>
        <td class="<{cycle values='odd,even'}>" style="text-align:center;"><{$thisUser->get('last_login')|xoops_formattimestamp:l}></td>
      </tr>
    </table>
    <br>
    <table class="outer" cellpadding="4" cellspacing="1" width="100%">
      <tr valign="top">
        <th colspan="2" style="text-align:center;"><{$smarty.const._MD_USER_LANG_USER_SIG}></th>
      </tr>
      <tr valign="top">
        <td class="<{cycle values='odd,even'}>"><{$thisUser->getShow('user_sig')}></td>
      </tr>
    </table>
    </td>
  </tr>
</table>

<!-- start module search results loop -->
<{foreach item=module from=$searchResults}>

  <h4><{$module.name}></h4>
<p>
  <!-- start results item loop -->
  <{foreach item=result from=$module.results}>
    <img src="<{$result.image}>" alt="<{$module.name}>" title="<{$module.name}>" /><b><a href="<{$result.link}>"><{$result.title}></a></b><br><small>(<{$result.time|xoops_formattimestampGMT:l}>)</small><br>
  <{/foreach}>
  <!-- end results item loop -->

  <{if $module.has_more}>
    <a href="<{$smarty.const.XOOPS_URL}>/search.php?action=showallbyuser&amp;mid=<{$module.mid|xoops_escape}>&amp;uid=<{$thisUser->getShow('uid')}>"><{$smarty.const._MD_USER_LANG_SHOWALL}></a>
  <{/if}>
  </p>
<{/foreach}>
<!-- end module search results loop -->

