<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<{* set tab inbox to current active *}>
<{if $smarty.template == 'db:message_inboxview.html'}>
<{assign var="tab" value="active"}>
<{/if}>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <li class="breadcrumb-item"><a href="<{$xoops_url}>/"><img class="svg" src="<{$xoops_url}>/images/icons/home.svg" width="1em" alt="home"></a></li>
        <li class="breadcrumb-item"><a href="index.php"><{$smarty.const._MI_MESSAGE_NAME}></a></li>
        <li class="breadcrumb-item"><a href="index.php"><{$smarty.const._MD_MESSAGE_TEMPLATE15}></a></li>
        <li class="breadcrumb-item active" aria-current="page"><{$smarty.const._MD_MESSAGE_TEMPLATE11}></li>
    </ol>
</nav>

<!--<div class="card g-0 mt-sm-3">-->
<div class="card my-4">
    <{include file="$xoops_theme/templates/message/inc_compo_nav.html"}>

    <{* ------- /card-header *}>

    <div class="card-body my-4" id="printhis">

        <div class="d-flex p-2 mb-4">
            <img class="d-flex me-3 rounded-circle avatar-sm" src="<{$msgdata.from_uid|xoops_user_avatarize}>" width="48px" alt="<{$smarty.const._MD_MESSAGE_TEMPLATE12}>">
            <div class="flex-1 align-self-center">
                <h5 class="font-size-14 m-0"><{$msgdata.fromname}></h5>
                <small class="text-muted"><{$msgdata.utime|xoops_formattimestamp:l}></small>
            </div>
        </div>

        <h4 class="p-2 my-4" title="<{$smarty.const._MD_MESSAGE_TEMPLATE3}>">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="mail-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z"/>
            </svg>
            <{$msgdata.title}></h4>

        <div class="card-text p-2 mb-4" title="<{$smarty.const._MD_MESSAGE_TEMPLATE4}>">
            <{$msgdata.message}>
        </div>

    </div>


    <div class="card-footer d-inline-flex align-items-center justify-content-between py-3">

        <div class="d-inline-flex" aria-label="Delete and Lock Message">

        <form method="post" id="msgDelete" action="index.php?action=delete&amp;inout=in">
            <input type="hidden" name="inbox" value="<{$msgdata.inbox_id}>">
            <{if $msgdata.is_read==2}>
            <button type="submit" class="btn btn-danger btn-sm" name="subbtn" value="<{$smarty.const._DELETE}>" title="<{$smarty.const._MD_MESSAGE_TEMPLATE14}> <{$smarty.const._MD_MESSAGE_TEMPLATE19}>" disabled>
                <svg class="trash-lock me-2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                </svg> <{$smarty.const._MD_MESSAGE_TEMPLATE19}></button>
            <{else}>
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteMailModal">
                <svg class="trash-fill me-2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                </svg> <{$smarty.const._DELETE}>
            </button>
            <{/if}>

            <{* MODAL MUST BE WITHIN FORM *}>
            <div class="modal fade" id="deleteMailModal" tabindex="-1" aria-labelledby="deleteMailModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteMailModalLabel"><{$smarty.const._DELETE}></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <{$smarty.const._MD_MESSAGE_DELETE_CONFIRM}>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger" name="subbtn"><{$smarty.const._DELETE}></button>
                        </div>
                    </div>
                </div>
            </div>
            <{* /MODAL MUST BE WITHIN FORM *}>

        </form>

        <form method="post" id="msgLock" action="index.php" class="mx-2">
            <input type="hidden" name="inbox" value="<{$msgdata.inbox_id}>">
            <input type="hidden" name="inout" value="in">
            <input type="hidden" name="cmd" value="lock">
            <input type="hidden" name="action" value="view">
            <{if $msgdata.is_read==1}>
            <input type="hidden" name="lock" value="1">
            <button type="submit" class="btn btn-outline-danger btn-sm" value="<{$smarty.const._MD_MESSAGE_TEMPLATE19}>">
                <svg class="shield-lock me-2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"/>
                    <path d="M8 2.25c.909 0 3.188.685 4.254 1.022a.94.94 0 0 1 .656.773c.814 6.424-4.13 9.452-4.91 9.452V2.25z"/>
                </svg> <{$smarty.const._MD_MESSAGE_TEMPLATE19}></button>
            <{else}>
            <input type="hidden" name="lock" value="0">
            <button type="submit" class="btn btn-outline-danger btn-sm" value="<{$smarty.const._MD_MESSAGE_TEMPLATE20}>">
                <svg class="shield-unlock me-2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.357 3.478c-.42 3.969.87 6.928 2.423 8.911a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586.466-.32.983-.74 1.502-1.263L1.357 3.478zm11.787 7.545c1.145-1.984 1.902-4.644 1.444-8a1.454 1.454 0 0 0-1.003-1.183 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5c-.662 0-1.77.249-2.813.525-.548.145-1.1.303-1.59.45l9.547 9.548z"/>
                    <path fill-rule="evenodd" d="M14.646 15.354l-14-14 .708-.708 14 14-.707.707z"/>
                </svg> <{$smarty.const._MD_MESSAGE_TEMPLATE20}></button>
            <{/if}>
        </form>

        </div>


        <div class="d-inline-flex" aria-label="Forward and Reply">

        <form method="post" action="index.php" class="mx-2">
            <input type="hidden" name="inbox" value="<{$msgdata.inbox_id}>">
            <input type="hidden" name="inout" value="in">
            <input type="hidden" name="cmd" value="mail">
            <input type="hidden" name="action" value="view">
            <button type="submit" class="btn btn-outline-primary btn-sm">
                <svg class="forward me-2" width="1em" height="1em" viewBox="0 0 16 16"fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.77 12.11l4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557z"/>
                </svg> <{$smarty.const._MD_MESSAGE_TEMPLATE21}></button>
        </form>

        <button type="button" class="btn btn-primary btn-sm" value="<{$smarty.const._MD_MESSAGE_TEMPLATE13}>" onclick="location.href='index.php?action=new&amp;res=<{$msgdata.inbox_id}>'">
            <svg class="reply me-2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M9.502 5.013a.144.144 0 0 0-.202.134V6.3a.5.5 0 0 1-.5.5c-.667 0-2.013.005-3.3.822-.984.624-1.99 1.76-2.595 3.876C3.925 10.515 5.09 9.982 6.11 9.7a8.741 8.741 0 0 1 1.921-.306 7.403 7.403 0 0 1 .798.008h.013l.005.001h.001L8.8 9.9l.05-.498a.5.5 0 0 1 .45.498v1.153c0 .108.11.176.202.134l3.984-2.933a.494.494 0 0 1 .042-.028.147.147 0 0 0 0-.252.494.494 0 0 1-.042-.028L9.502 5.013zM8.3 10.386a7.745 7.745 0 0 0-1.923.277c-1.326.368-2.896 1.201-3.94 3.08a.5.5 0 0 1-.933-.305c.464-3.71 1.886-5.662 3.46-6.66 1.245-.79 2.527-.942 3.336-.971v-.66a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.667z"/>
            </svg> <{$smarty.const._MD_MESSAGE_TEMPLATE13}> </button>

        </div>

    </div>

</div>
