<ul>
    <li class="<{$inboxView}>">
        <a href="index.php" target="_self">
        <img class="svg inbox-in" src="<{$xoops_url}>/images/icons/inbox-in.svg">
        <span data-self="sm-hide"><{$smarty.const._MD_MESSAGE_TEMPLATE15}></span></a>
    </li>

    <li class="<{$outboxView}>">
        <a href="index.php?action=send" target="_self">
        <img class="svg inbox-out" src="<{$xoops_url}>/images/icons/inbox-out.svg">
        <span data-self="sm-hide"><{$smarty.const._MD_MESSAGE_TEMPLATE7}></span></a>
    </li>

    <li>
        <a href="index.php?action=new" target="_self">
        <img class="svg mail-edit" src="<{$xoops_url}>/images/icons/mail-edit.svg">
        <span data-self="sm-hide"><{$smarty.const._MD_MESSAGE_TEMPLATE8}></span></a>
    </li>

    <{* ------- dropdown *}>
    <li class="settings">

        <div class="dropdown">

            <a id="#settings" href="#!" class="dropdown-toggle" aria-label="<{$smarty.const._MI_MESSAGE_SUB_SETTINGS}>">
            <img class="svg dropdown" src="<{$xoops_url}>/images/icons/dropdown.svg" alt="control"></a>

            <div class="dropdown-content p-2 rounded-3 mx-0 shadow">
                <ul>
                    <{if $msgdata.inbox_id}>
                    <li>
                        <a class="dropdown-item rounded-2" href="#" onclick="location.href='index.php?action=new&amp;res=<{$msgdata.inbox_id}>'">
                        <img class="svg reply" src="<{$xoops_url}>/images/icons/reply.svg" width="1em" height="1em" alt="reply"> <{$smarty.const._MD_MESSAGE_TEMPLATE13}></a>
                    </li>
                    <li>
                        <form method="post" id="forwardEmail" action="index.php">
                            <input type="hidden" name="inbox" value="<{$msgdata.inbox_id}>">
                            <input type="hidden" name="inout" value="in">
                            <input type="hidden" name="cmd" value="mail">
                            <input type="hidden" name="action" value="view">
                            <a class="dropdown-item" href="javascript:document.getElementById('forwardEmail').submit();">
                                <img class="svg mail-forward" src="<{$xoops_url}>/images/icons/mail-send.svg" width="1em" height="1em" alt="Forward"> <{$smarty.const._MD_MESSAGE_TEMPLATE21}></a>
                        </form>
                    </li>
                    <{elseif $msgdata.outbox_id}>
                    <li>
                        <a class="dropdown-item rounded-2" onclick="document.getElementById('message-delete').submit();">
                            <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" width="1em" height="1em" alt="delete"> <{$smarty.const._MD_MESSAGE_TEMPLATE14}></a>
                    </li>
                    <li>
                        <form method="post" action="index.php?action=view&amp;inout=out&amp;outbox=<{$msgdata.outbox_id}>" id="forward_mail_message">
                            <input type="hidden" name="outbox" value="<{$msgdata.outbox_id}>">
                            <input type="hidden" name="inout" value="out">
                            <input type="hidden" name="cmd" value="mail">
                            <input type="hidden" name="action" value="view">
                            <a href="#" onclick="mailForm()"><img class="svg mail-send" src="<{$xoops_url}>/images/icons/mail-send.svg" width="1em" alt="Forward"> <{$smarty.const._MD_MESSAGE_TEMPLATE21}></a>
                            <script type="text/javascript">function mailForm() { let form = document.getElementById("forward_mail_message"); form.submit(); }</script>
                        </form>
                    </li>
                    <{/if}>
                    <li>
                        <a class="dropdown-item" href="#" onclick="xPrintag('printhis');">
                        <img class="svg print" src="<{$xoops_url}>/images/icons/print.svg" width="1em" height="1em" alt="Print"> Print</a>
                    </li>

                    <{if $msgdata.inbox_id && $msgdata.from_uid !=1}>
                    <li>
                        <a class="dropdown-item" href="#" onclick="location.href='index.php?action=blacklist&amp;uid=<{$msgdata.from_uid}>'">
                        <img class="svg user" src="<{$xoops_url}>/images/icons/user.svg" width="1em" height="1em" alt="user"> <{$smarty.const._MD_MESSAGE_SETTINGS_MSG10}> this user</a>
                    </li>
                    <{/if}>

                    <li>
                        <a class="dropdown-item" href="index.php?action=blacklist">
                        <img class="svg user-block" src="<{$xoops_url}>/images/icons/user-lock.svg" width="1em" height="1em" alt="user block"> <{$smarty.const._MD_MESSAGE_SETTINGS_MSG10}></a>
                    </li>

                    <{if $UserSearch}>
                    <li>
                        <a class="dropdown-item" href="<{$message_url}>?action=search">
                        <img class="svg user-search" src="<{$xoops_url}>/images/icons/search-adv.svg" width="1em" height="1em" alt="user search">
                        <{$smarty.const._MI_MESSAGE_SUB_SEARCH}></a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="<{$message_url}>?action=favorites">
                        <img class="svg user-search" src="<{$xoops_url}>/images/icons/topic_status_marked1.svg" width="1em" height="1em" alt="favorites">
                        <{$smarty.const._MI_MESSAGE_SUB_FAVORITES}></a>
                    </li>
                    <{/if}>

                    <li>
                        <a class="dropdown-item" href="<{$message_url}>?action=settings">
                        <img class="svg mail-settings" src="<{$xoops_url}>/images/icons/mail-settings.svg" width="1em" height="1em" alt="Message Settings"> <{$smarty.const._MI_MESSAGE_SUB_SETTINGS}></a>
                    </li>
                </ul>
            </div>

        </div>

    </li>
    <{* ------- dropdown *}>
</ul>
