<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<{* set tab inbox to current active *}>
<{if $smarty.template == 'db:message_blaclist.html'}>
<{assign var="tabOptions" value="active"}>
<{/if}>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<{$xoops_url}>/"><img class="svg" src="<{$xoops_url}>/images/icons/home.svg" width="1em" alt="home"></a></li>
        <li class="breadcrumb-item"><a href="index.php"><{$smarty.const._MI_MESSAGE_NAME}></a></li>
        <li class="breadcrumb-item active" aria-current="page"><{$smarty.const._MD_MESSAGE_SETTINGS_MSG15}></li>
    </ol>
</nav>


<div class="card my-4">

    <{include file="$xoops_theme/templates/message/inc_compo_nav.html"}>

    <{* ------- /card-header *}>

    <div class="card-body my-4" id="printhis">

        <form action="index.php?action=blacklist" method="post" name="adduser">
            <input type="hidden" name="cmd" value="add">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control form-control-sm" id="uname" name="uname" value="" placeholder="<{$smarty.const._MD_MESSAGE_TEMPLATE2}>" aria-label="<{$smarty.const._MD_MESSAGE_TEMPLATE2}>">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-danger btn-sm">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="person-dash-fill mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5-.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                        </svg> <{$smarty.const._MD_MESSAGE_ADDBLACKLIST}></button>
                </div>
            </div>
        </form>


        <form action="index.php?action=blacklist" method="post" name="listform">

        <input type="hidden" name="cmd" value="del">

        <table class="table table-hover">
            <thead>
            <tr class="small">
                <th><{$smarty.const._MD_MESSAGE_TEMPLATE14}></th>
                <th><{$smarty.const._MD_MESSAGE_TEMPLATE2}></th>
            </tr>
            </thead>

            <{foreach item=uname key=uid from=$blackuser}>
            <tr>
                <td>
                    <div class="form-control form-checkbox my-1 mr-sm-2">
                        <input type="checkbox" class="form-check-input" id="<{$uid}>" name="deluid[]" value="<{$uid}>">
                        <label class="form-control-label" for="<{$uid}>"></label>
                    </div>
                </td>
                <td>

                    <img src="<{$uid|xoops_user_avatarize}>" width="24px" class="rounded-circle mr-3"> <{$uname}></td>
            </tr>
            <{/foreach}>

        </table>

            <hr class="my-4">

            <button id="Submit" class="btn btn-primary btn-sm">
                <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="person-check-fill mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                </svg> <{$smarty.const._SUBMIT}></button>
        </form>

    </div>



</div>



