body {
	background: #efefef url(images/bg.gif);
	color: #444444;
	font-size: 93%;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

td {
	margin : 0;
	padding: 0;
	vertical-align: top;
	border: 0;
}

th {
	background: #778899;
	color: #ffffff;
	padding: 2px;
	vertical-align: middle;
}

p {
	margin: 0;
	padding: 5px;
	line-height: 1.4;
}

a {
	background: transparent;
	color: #000080;
	font-weight:bold;
	text-decoration: none;
}

a:visited {
	color: #708090;
}

a:hover {
	color: #dc143c;
	text-decoration: underline;
}

th a {
	color: #ffffff;
}

h1, h2, h3, h4, h5 {
	color:#000070;
}

ul {
	text-align: left;
	margin: 2px 2px 2px 15px;
	padding: 2px;
	list-style: square outside;
}

input{
	font-size: 0.9em;
}

select{
	font-size: 0.9em;
}

textarea{
	font-size: 0.9em;
}

.outline {
	background: #ffffff;
	width: 96%;
	margin:auto;
	border-right: solid 1px #7a7acc;
	border-left: solid 1px #7a7acc;
}

.headerlogo {
	background: url(images/base.gif) left no-repeat #000080;
	width: 200px;
	height: 100px;
	margin: 0;
	padding: 0;
}

.headerbanner {
	background: url(images/cube.gif) right no-repeat #000080;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.headerbar {
	background: url(images/nav.gif) repeat-x;
	font-size: 10pt;
	text-align: right;
	margin: 0;
	padding: 3px 5px;
	border-bottom: solid 1px #dddddd;
}

.leftcolumn {
	background: url(images/lb.gif) left repeat-y;
	width: 190px;
	font-size: 0.9em;
	border-right: solid 1px #dddddd;
}

.leftcolumn th {
	background: #778899;
	color: #ffffff;
	font-size: 0.9em;
	vertical-align: middle;
}

.leftblockTitle {
	background: url(images/hbar.gif) repeat-x ;
	color: #4d4d80;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
	padding: 4px 3px 3px 3px;
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
}

.leftblockContent {
	margin: 5px 2px 10px 2px;
	padding: 3px;
	line-height: 1.2;
}

.centeroutline {
	margin-bottom: 10px;
	padding: 1px;
	border: solid 1px #cccccc;
}

.centercolumn {
	font-size: 0.9em;
	margin: 0;
	padding: 10px;
}

.centercolumn th {
	background: #778899;
	color: #ffffff;
	vertical-align: middle;
}

.centerCcolumn {
	margin: 0;
	padding: 10px;
}

.centerCblockTitle {
	background: url(images/bg.gif);
	color: #4d4d80;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
	padding: 4px 3px 3px 3px;
	border: solid 1px #7a7acc;
}

.centerCblockContent {
	margin: 0;
	padding: 8px;
	line-height: 1.4;
	border-right: solid 1px #7a7acc;
	border-bottom: solid 1px #7a7acc;
	border-left: solid 1px #7a7acc;
}

.centerLcolumn {
	width: 50%;
	margin: 0;
	padding: 0 3px 0 0;
}

.centerLblockTitle {
	background: url(images/bg.gif);
	color: #4d4d80;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
	padding: 4px 3px 3px 3px;
	border: solid 1px #7a7acc;
}

.centerLblockContent {
	padding: 8px;
	line-height: 1.4;
	border-right: solid 1px #7a7acc;
	border-bottom: solid 1px #7a7acc;
	border-left: solid 1px #7a7acc;
}

.centerRcolumn {
	width: 50%;
}

.centerRblockTitle {
	background: url(images/bg.gif);
	color: #4d4d80;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
	padding: 4px 3px 3px 3px;
	border: solid 1px #7a7acc;
}

.centerRblockContent {
	margin: 0;
	padding: 8px;
	line-height: 1.4;
	border-right: solid 1px #7a7acc;
	border-bottom: solid 1px #7a7acc;
	border-left: solid 1px #7a7acc;
}

.content {
	text-align: left;
	margin: 0;
	padding: 8px;
}

.rightcolumn {
	background: url(images/rb.gif) right repeat-y;
	width: 180px;
	font-size: 0.9em;
	border-left: solid 1px #dddddd;
}

.rightcolumn th {
	background: #778899;
	color: #ffffff;
	font-size: 0.9em;
	vertical-align: middle;
}

.rightblockTitle {
	background: url(images/hbar.gif) repeat-x #ffffff;
	color: #4d4d80;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
	padding: 4px 3px 3px 3px;
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
}

.rightblockContent {
	margin: 5px 2px 7px 2px;
	padding: 3px;
	line-height: 1.2;
}

.footerbar {
	background: #000080;
	color: #ffffff;
	font-size: 9pt;
	text-align: center;
	margin: 0;
	padding: 3px;
}

.footerbar a {
	color: #ffffff;
}

.footerbar a:visited {
	color: #ffffff;
}

.footerbar a:hover {
	color: #ff8c00;
	text-decoration:underline overline;
}

input.formButton {}

.item {
	border: solid 1px #7a7acc;
}

.itemHead {
	background: #778899;
	color: #ffffff;
	margin: 0;
	padding: 3px;
}

.itemInfo {
	background: #efefef;
	text-align: right;
	margin: 0;
	padding: 3px;
}

.itemTitle a {
	background: transparent;
	color: #ffffff;
	font-size: 120%;
	font-weight: bold;
}

.itemTitle a:visited {
	color: #e6e6e6;
}

.itemPoster {
	font-size: 0.9em;
}

.itemPostDate {
	font-size: 0.9em;
}

.itemStats {
	font-size: 0.9em;
}

.itemBody {
	margin: 0;
	padding-left: 5px;
}

.itemText {
	margin: 6px;
	line-height: 1.5;
}

.itemFoot {
	background: #efefef;
	text-align: right;
	margin: 0;
	padding: 3px;
}

.itemAdminLink {
	font-size: 0.9em;
}

.itemPermaLink {
	font-size: 0.9em;
}

td#mainmenu a {
	text-decoration: none;
	margin: 0;
	padding: 2px;
	display: block;
}

td#mainmenu a:visited{
	color:#000080;
}


td#mainmenu a:hover {
	background: #e6e6e6;
	text-decoration: none;
}

td#mainmenu a.menuTop {
	margin: 0;
	padding-left: 3px;
	border-bottom: dotted 1px #7a7acc;
}

td#mainmenu a.menuMain {
	margin: 0;
	padding-left: 3px;
	border-bottom: dotted 1px #7a7acc;
}

td#mainmenu a.menuSub {
	margin: 0;
	padding-left: 9px;
	border-bottom: dotted 1px #7a7acc;
}

td#usermenu a {
	background: #ffffff;
	text-decoration: none;
	margin: 0;
	padding: 2px;
	border-bottom: dotted 1px #7a7acc;
	display: block;
}

td#usermenu a:visited {
	color:#000080;
}

td#usermenu a:hover {
	background: #e6e6e6;
	text-decoration: none;
}
td#usermenu a.menuTop {}

td#usermenu a.highlight {
	background: #ffcccc;
}

.outer {
	border: solid 1px #c0c0c0;
}

.head {
	background: #c2cdd6;
	font-weight: bold;
	margin: 0;
	padding: 5px;
}

.even {
	background: #efefef;
	margin: 0;
	padding: 5px;
}

.odd {
	background: #e6e6e6;
	margin: 0;
	padding: 5px;
}

.foot {
	background: #c2cdd6;
	font-weight: bold;
	margin: 0;
	padding: 5px;
}

tr.even td {
	background: #efefef;
	margin: 0;
	padding: 5px;
}

tr.odd td {
	background: #e6e6e6;
	margin: 0;
	padding: 5px;
}

div.errorMsg {
	background: #ffcccc;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 10px;
	border-top: solid 1px #ddddff;
	border-right: solid 1px #aaaaaa;
	border-bottom: solid 1px #aaaaaa;
	border-left: solid 1px #ddddff;
}

div.confirmMsg {
	background: #ddffdf;
	color: #136c99;
	font-weight: bold;
	text-align: center;
	margin: 10px;
	padding: 10px;
	border-top: solid 1px #ddddff;
	border-right: solid 1px #aaaaaa;
	border-bottom: solid 1px #aaaaaa;
	border-left: solid 1px #ddddff;
}

div.resultMsg {
	background: #ddddff;
	color: #333333;
	font-weight: bold;
	text-align: center;
	margin: 10px;
	padding: 10px;
	border-top: solid 1px #cccccc;
	border-right: solid 1px #9999cc;
	border-bottom: solid 1px #9999cc;
	border-left: solid 1px #cccccc;
}

div.xoopsCode, div.xoopsQuote { 
	width:98%;
	height: 100%;
	padding: 0;
}

div.xoopsCode pre {
	border: solid 1px #c0c0c0;
	margin:0;
	overflow:auto;
	padding:0 1em;
	min-height:4em;
	height:auto;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background-color:#ffffff;
}
/* for IExplorer */
* html div.xoopsCode pre {
	height:4em;
	height:auto;	/* IE 6.x */
	width:40em;
}

div.xoopsQuote blockquote {
	margin: 0;
	padding: 0 6px 6px 6px;
	border: solid 1px #c0c0c0;
    background-color:#ffffff;
}

.comTitle {
	font-weight: bold;
	margin-bottom: 2px;
}

.comText {
	margin: 0;
	padding: 2px;
	line-height: 1.4;
}

.comUserStat {
	background: #f5f5f5;
	color: #2f5376;
	font-size: 0.8em;
	font-weight:bold;
	margin: 2px;
	padding: 4px 2px 1px 4px;
	border: solid 1px #c0c0c0;
}

.comUserStatCaption {
	font-weight: normal;
}

.comUserRank {
	margin: 2px;
}

.comUserRankText {
	font-size: 0.8em;
}

.comUserRankImg {
	border: 0;
}

.comUserName {}

.comUserImg {
	margin: 2px;
}

.comDate {
	font-size: smaller;
	font-weight: normal;
}

.comDateCaption {
	font-weight: normal;
}

.comUserStatus {
	background: #f5f5f5;
	color: #2f5376;
	font-size: 0.8em;
	font-weight: bold;
	margin: 2px;
	padding: 4px 2px 1px 3px;
	border: solid 1px #c0c0c0;
}
